<!-- Run the profiler -->
<div class="card w-full bg-base-100 shadow-xl">
  <div class="card-body">

    <!-- Header -->
    <div class="flex items-center mb-3">
      <h2 class="card-title mb-0">Profiler</h2>
    </div>

    <app-table
      [id]="'status'"
      [classList]="'mb-5'"
      [headers]="[
        {label: 'Last run', align: 'middle'},
        {label: 'Status', align: 'middle'}
      ]"
      [data]="[[
        {type: TableDataType.DATETIME, content: {datetime: lastRun}},
        {type: TableDataType.COLOR, content: {color: profilerIsRunning ? '#36D399' : '#EF6060'}}
      ]]"
      [options]="{
        searching: false,
        lengthChange: false,
        paging: false,
        info: false,
        columnDefs: [{orderable: false, targets: [0, 1]}]
      }"
      [hasColumnFiltering]="false"
      [hasFooters]="false">
    </app-table>

    <div class="flex flex-wrap md:flex-nowrap -mx-3">
      <!-- Input number -->
      <div class="w-full md:w-1/3 mx-3">
        <app-input-number
          [id]="'nr-clusters'"
          [placeholder]="'Number of clusters'"
          [topLabel]="'Number of clusters'"
          [btnText]="'Predict'"
          [helperText]="'TODO'"
          [helperPosition]="'right'"
          [required]="true"
          [minValue]="4"
          (btnClicked)="doAction('choose prediction method')">
        </app-input-number>
      </div>

      <div class="w-full md:w-1/3 mx-3 mt-3 md:mt-0">
        <app-input-number
          [id]="'min-cluster-size'"
          [placeholder]="'Minimum cluster size'"
          [topLabel]="'Min. cluster size'"
          [helperText]="'TODO'"
          [helperPosition]="'top'"
          [required]="true"
          [minValue]="4">
        </app-input-number>
      </div>

      <div class="w-full md:w-1/3 mx-3 mt-3 md:mt-0">
        <app-input-datetime
          [id]="'end-date'"
          [topLabel]="'Run until'"
          [helperText]="'TODO'"
          [helperPosition]="'left'"
          [required]="true">
        </app-input-datetime>
      </div>
    </div>

    <!-- Action button -->
    <div class="flex items-center justify-end mt-4">
      <button type="submit" class="btn btn-primary" (click)="runProfiler()">Run profiler</button>
    </div>

  </div>
</div>

<!-- Overview -->
<!-- *ngIf="data?.length > 0" -->
<div class="card w-full bg-base-100 shadow-xl mt-5">
  <div class="card-body">

    <!-- Header -->
    <div class="flex items-center mb-3">
      <h2 class="card-title mb-0">Overview</h2>
    </div>

    <app-top-actions
      [leftActions]="[
        {action: Action.IMPORT, icon:'jam-download'},
        {action: Action.EXPORT, icon:'jam-upload'}]"
      (btnClicked)="doAction($event)">
    </app-top-actions>

    <!-- Results Graph -->
    <figure class="highcharts-figure">
      <div id="overview" class="w-full"></div>
    </figure>


    <!-- Results Table -->
    <app-table
      [id]="'clusters'"
      [classList]="'mt-5'"
      [headers]="table.headers"
      [data]="table.data"
      [options]="table.options"
      [loading]="table.loading">
    </app-table>

  </div>
</div>

<!-- Prediction method modal -->
<app-modal *ngIf="isPredictModalOpen"
           [id]="'prediction-method'"
           [templateRef]="PREDICTION_METHOD"
           [size]="'sm'"
           [header]="'Prediction method'"
           [closeBtnText]="'Cancel'"
           [submitBtnText]="'Predict'"
           [actionInProgress]="loadingAction"
           (submitBtnClicked)="doAction('run predictor')"
           (onClose)="resetPredictionMethod()">
</app-modal>

<ng-template #PREDICTION_METHOD>
  <form #fPrediction="ngForm">
    <div class="w-full flex flex-wrap mb-3">
      <span class="font-semibold w-full">Choose one of the following prediction methods<span class="text-secondary ml-1">*</span>
      </span>
      <div class="md:w-1/2">
        <app-input-radio
          [id]="'elbow-method'"
          [group] = "'prediction-method'"
          [form] = "fPrediction"
          [optionValue] = "methods[0].char"
          [color]="'secondary'"
          [classList]="'mt-2'"
          [label]="'Elbow method'"
          [labelPosition]="'right'"
          [(value)]="methodSelected"
        ></app-input-radio>
      </div>
      <div class="md:w-1/2">
        <app-input-radio
          [id]="'silhouette-method'"
          [group] = "'prediction-method'"
          [form] = "fPrediction"
          [optionValue] = "methods[1].char"
          [color]="'secondary'"
          [classList]="'mt-2'"
          [label]="'Silhouette method'"
          [labelPosition]="'right'"
          [(value)]="methodSelected"
        ></app-input-radio>
      </div>
    </div>
  </form>
</ng-template>

<!-- Import modal -->
<app-modal *ngIf="isImportModalOpen"
           [id]="'import-modal'"
           [templateRef]="IMPORT_MODAL"
           [size]="'md'"
           [header]="'Import'"
           [closeBtnText]="'Cancel'"
           [submitBtnText]="Action.IMPORT"
           [actionInProgress]="loadingAction"
           (submitBtnClicked)="doAction('submit import')"
           (onClose)="doAction('close import modal')">
</app-modal>

<ng-template #IMPORT_MODAL>
  <app-input-file
    [id]="'import'"
    [form]="fImport"
    [accept]="['.cvs', '.txt']"
    [size]="'xs'"
    [color]="'accent'"
    [classList]="''"
    [label]="'Import profiling results'"
    [helperPosition]="'right'"
    [helperText]="'Students\' profiling results'"
    (valueChange)="onFileSelected($event)">
  </app-input-file>
</ng-template>

<!--&lt;!&ndash; Loader &ndash;&gt;-->
<!--<div class="w-full flex justify-center">-->
<!--  <app-spinner *ngIf="loading" [size]="'md'" [color]="'primary'"></app-spinner>-->
<!--</div>-->

<!--&lt;!&ndash; Run the profiler &ndash;&gt;-->
<!--<div class="section profiler">-->
<!--  <div class="divider">-->
<!--    <div class="title"><span>Profiler</span></div>-->
<!--  </div>-->

<!--  <div class="success_box">-->
<!--    <div id="action_completed" class="success_msg"></div>-->
<!--  </div>-->

<!--  <div *ngIf="!loading" class="content">-->

<!--    &lt;!&ndash; Cluster inputs &ndash;&gt;-->
<!--    <div class="cluster_inputs">-->
<!--      <div class="row">-->
<!--        <div class="input-wrapper">-->
<!--          <span class="label">Number of clusters:</span>-->
<!--          <input type="number" [min]="3" [max]="10" id="'nr-clusters'" name="'nr-clusters'" class="input" [(ngModel)]="nrClusters">-->
<!--          <button *ngIf="!predictorIsRunning" style="margin-left: 10px" (click)="isPredictModalOpen = true">Predict</button>-->
<!--          <button *ngIf="predictorIsRunning" style="margin-left: 10px" style="background-color: tomato" (click)="checkPredictorStatus()">Refresh</button>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="input-wrapper">-->
<!--          <span class="label">End Date:</span>-->
<!--          <input type="datetime-local" id="end-date" name="end-date" class="input" [(ngModel)]="endDate">-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="input-wrapper">-->
<!--          <span class="label">Minimum cluster size:</span>-->
<!--          <input type="number" [min]="0" id="'min-cluster-size'" name="'min-cluster-size'" class="input" [(ngModel)]="minClusterSize">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Time &ndash;&gt;-->
<!--    <div id="time">-->
<!--      <p><b>Last run: </b>{{lastRun ? lastRun.format('DD/MM/YYYY HH:mm:ss') : 'Never'}}</p>-->
<!--    </div>-->

<!--    &lt;!&ndash; Status &ndash;&gt;-->
<!--    <div id="running-tag">-->
<!--      <p><b>Status: </b><span [ngStyle]="{'color': profilerIsRunning ? 'green' : 'red'}">{{profilerIsRunning ? 'Running' : 'Not Running'}}</span></p>-->
<!--    </div>-->

<!--    &lt;!&ndash; Results &ndash;&gt;-->
<!--    <div *ngIf="data?.length > 0" id="results">-->

<!--      &lt;!&ndash; Committed results &ndash;&gt;-->
<!--      <p><b>Profiling Results:</b></p>-->
<!--      <div style="margin-top: 30px;">-->
<!--&lt;!&ndash;        <app-datatable&ndash;&gt;-->
<!--&lt;!&ndash;          [id]="'cluster-table'"&ndash;&gt;-->
<!--&lt;!&ndash;          [headers]="table.headers"&ndash;&gt;-->
<!--&lt;!&ndash;          [data]="table.data"&ndash;&gt;-->
<!--&lt;!&ndash;          [loading]="table.loading">&ndash;&gt;-->
<!--&lt;!&ndash;        </app-datatable>&ndash;&gt;-->
<!--      </div>-->

<!--      &lt;!&ndash; Editable results &ndash;&gt;-->
<!--      <ng-container *ngIf="clusters">-->
<!--        <p><b>Newest Profiling:</b></p>-->
<!--        <div class="data-table">-->
<!--          <table>-->
<!--            <thead>-->
<!--            <th>Student</th>-->
<!--            <th>{{lastRun}}</th>-->
<!--            </thead>-->

<!--            <tbody>-->
<!--            <tr *ngFor="let result of getEditableResults()">-->
<!--              <td>{{result.name}}</td>-->
<!--              <td class="modal_content">-->
<!--                <select id="roles" class="form__input" [(ngModel)]="result.cluster">-->
<!--                  <option *ngFor="let name of clusterNames" [ngValue]="name">{{name}}</option>-->
<!--                </select>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </ng-container>-->
<!--    </div>-->

<!--    <div class="action-buttons">-->
<!--      <button *ngIf="!clusters" id="export_button" class="icon export_icon profiling_button other" (click)="exportItem()"></button>-->
<!--      <button *ngIf="!clusters" id="import_button" class="icon import_icon profiling_button other" (click)="isImportModalOpen = true"></button>-->
<!--      <button *ngIf="!clusters && !profilerIsRunning" id="run-button" class="button small" (click)="runProfiler()">Run</button>-->
<!--      <button *ngIf="!clusters && profilerIsRunning" id="refresh-button" class="button small" style="background-color: tomato" (click)="checkProfilerStatus()">Refresh</button>-->
<!--      <button *ngIf="clusters" id="save-button" class="button small" (click)="saveClusters()">Save</button>-->
<!--      <button *ngIf="clusters" id="commit-button" class="button small" (click)="commitClusters()">Commit</button>-->
<!--      <button *ngIf="clusters" id="cancel-button" class="button small" style="background-color: tomato" (click)="deleteSavedClusters()">Cancel</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Loader &ndash;&gt;-->
<!--<div *ngIf="loading || loadingAction" id="page-loading">-->
<!--  <img src="../../../../../../../../../../assets/loader/loader.gif" alt="loader">-->
<!--</div>-->


<!--&lt;!&ndash; Predict Nr. Clusters Modal &ndash;&gt;-->
<!--<ng-container *ngIf="isPredictModalOpen">-->
<!--&lt;!&ndash;  <app-modal&ndash;&gt;-->
<!--&lt;!&ndash;    [isOpen]="isPredictModalOpen"&ndash;&gt;-->
<!--&lt;!&ndash;    [id]="'predictor-modal'"&ndash;&gt;-->
<!--&lt;!&ndash;    [templateRef]="predictModal"&ndash;&gt;-->
<!--&lt;!&ndash;    (closeBtnClicked)="isPredictModalOpen = false"&ndash;&gt;-->
<!--&lt;!&ndash;    [actionInProgress]="loading"&ndash;&gt;-->
<!--&lt;!&ndash;    [innerClickEvents]="false"&ndash;&gt;-->
<!--&lt;!&ndash;    [classList]="'verification'">&ndash;&gt;-->
<!--&lt;!&ndash;  </app-modal>&ndash;&gt;-->
<!--</ng-container>-->

<!--<ng-template #predictModal>-->
<!--  <div class="warning" style="margin-bottom: 20px">Please select a method to be used to predict the number of clusters:</div>-->

<!--  <label *ngFor="let method of methods; let first = first" [ngStyle]="{'margin-right': first ? '20px' : 0}">-->
<!--    {{method.name}}-->
<!--    <input type="radio" [checked]="first" name="radio" [id]="method.name" (click)="methodSelected = method.char">-->
<!--    <span class="checkmark"></span>-->
<!--  </label>-->

<!--  <div class="confirmation_btns" style="margin-top: 30px">-->
<!--    <button (click)="isPredictModalOpen = false; runPredictor()">Predict</button>-->
<!--    <button style="background-color: tomato" (click)="isPredictModalOpen = false">Cancel</button>-->
<!--  </div>-->
<!--</ng-template>-->


<!--&lt;!&ndash; Import Modal &ndash;&gt;-->
<!--<ng-container *ngIf="isImportModalOpen">-->
<!--&lt;!&ndash;  <app-modal&ndash;&gt;-->
<!--&lt;!&ndash;    [isOpen]="isImportModalOpen"&ndash;&gt;-->
<!--&lt;!&ndash;    [id]="'import-item'"&ndash;&gt;-->
<!--&lt;!&ndash;    [templateRef]="importModal"&ndash;&gt;-->
<!--&lt;!&ndash;    (closeBtnClicked)="isImportModalOpen = false"&ndash;&gt;-->
<!--&lt;!&ndash;    [actionInProgress]="loading"&ndash;&gt;-->
<!--&lt;!&ndash;    [innerClickEvents]="false"&ndash;&gt;-->
<!--&lt;!&ndash;    [classList]="'verification'">&ndash;&gt;-->
<!--&lt;!&ndash;  </app-modal>&ndash;&gt;-->
<!--</ng-container>-->

<!--<ng-template #importModal>-->

<!--  <div class="warning">Please select a .csv or .txt file to be imported</div>-->
<!--  <div class="target">The separator must be comma <br>The encoding must be UTF-8</div>-->
<!--  <app-input-file-->
<!--    [id]="'import_item'"-->
<!--    [accept]="'.csv, .txt'"-->
<!--    [classList]="'config_input'"-->
<!--    (valueChange)="onFileSelected($event)">-->
<!--  </app-input-file>-->

<!--  <div class="confirmation_btns">-->
<!--    <button (click)="importItems(false)">Import</button>-->
<!--  </div>-->

<!--</ng-template>-->
