body {
    font-family: "Montserrat";
    margin: 0px;
    height: auto;
    font-size: 14px;
    color: #484848;
    margin: 0;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 11px;
    border-radius: 5px;
    background-color: gray;
    border: none;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

button:disabled {
    opacity: 0.3 !important;
    cursor: not-allowed;
}

input:focus,
select:focus {
    outline: none;
}

.centered {
    text-align: center;
}

.clickable {
    cursor: pointer;
}


/* search bar and button*/

.search {
    display: flex;
    justify-content: center;
}

.search input[type=text] {
    padding: 6px;
    font-size: 14px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 150px;
}

.search .magnifying-glass {
    background: url(/gamecourse/images/search_icon.svg);
    height: 35px;
    width: 35px;
    border: none;
    padding: 0;
    cursor: pointer;
}


/* where the content is shown*/

#mainContent {
    margin-left: 200px;
    padding: 80px 55px 35px 70px;
    position: relative;
}

#wrapper #content-wrapper {
    background-color: white;
}


/* error messages*/

.error_box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

.error_msg {
    color: red;
    padding-top: 20px;
}


/* success messages*/

.success_box {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 35px;
}

.success_msg {
    color: green;
}


/*used on both versions of the page*/

.box {
    width: 100%;
    height: 100%;
    /*background-color: red; - filled by course color*/
    border: 1px solid white;
    opacity: 0.5;
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*border: 2px solid red; - filled by course color*/
}

#allUsers,
#modules,
#allCourses {
    position: relative;
}


/*tables structure*/

.data-table {
    width: 100%;
    position: relative;
    /* height: 70%; */
    margin-bottom: 80px;
    overflow: auto;
}

.data-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.data-table table th {
    font-size: 11px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.data-table table th.name-column {
    padding-left: 10px;
}

.data-table table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.data-table table td span {
    margin-right: 10px;
}

.data-table table td .profile-icon {
    width: 27px;
    height: 27px;
    position: relative;
}

.data-table table tr:hover {
    background-color: #f5f5f5;
}

.data-table table .first-column {
    width: 30px;
}

.data-table table .name-column {
    text-align: left;
    max-width: 200px;
    cursor: pointer;
}

#allUsers table .name-column {
    max-width: 150px;
    cursor: auto;
}

.data-table table .check-column {
    min-width: 50px;
}

.data-table table .check-column span {
    margin-right: 0;
}

.data-table table .action-column {
    width: 20px;
}

.data-table table .icon {
    height: 23px;
    width: 23px;
    opacity: 0.8;
}


/*icons*/

.duplicate_icon {
    background-image: url(/gamecourse/images/duplicate_icon.svg);
}

.edit_icon {
    background-image: url(/gamecourse/images/edit_icon.svg);
}

.delete_icon {
    background-image: url(/gamecourse/images/delete_icon.svg);
}

.config_icon {
    background-image: url(/gamecourse/images/config_icon.svg);
}

.globalize_icon {
    background-image: url(/gamecourse/images/globalize_icon.svg);
}

.de_globalize_icon {
    background-image: url(/gamecourse/images/de_globalize_icon.svg);
}

.add_icon {
    background-image: url(/gamecourse/images/add_icon.svg);
}

.add_icon_no_outline {
    background-image: url(/gamecourse/images/add_icon_no_outline.svg);
}

.import_icon {
    background-image: url(/gamecourse/images/import_icon.svg);
}

.export_icon {
    background-image: url(/gamecourse/images/export_icon.svg);
}

.export_icon_no_outline {
    background-image: url(/gamecourse/images/export_icon_no_outline.svg);
}

.undo_icon {
    background-image: url(/gamecourse/images/undo_icon.svg);
}

.redo_icon {
    background-image: url(/gamecourse/images/redo_icon.svg);
}

.up_icon {
    background-image: url(/gamecourse/images/arrow_top_icon.svg);
}

.down_icon {
    background-image: url(/gamecourse/images/arrow_bottom_icon.svg);
}


/*line of cards structure*/

#myCourses {
    margin-top: -30px;
}

#not_active_courses,
#active_courses {
    margin-left: -20px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, 219px);
    width: calc(100% + 15px);
    justify-content: space-between;
}

.section .content {
    margin-bottom: 20px;
}

.section .content .card {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 200px;
    margin: 10px 21px;
    cursor: pointer;
    font-size: 14px;
}

.section .content .card .color_box {
    flex-grow: 500;
    position: relative;
}

.section .content .card .color_box .box {
    border: 0;
}

.section .content .card .footer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid grey;
    background-color: white;
}


/*courses page - non admin version*/

.section .content .card .color_box .frame-course {
    width: calc(100% - 2px);
    height: calc(100% - 1px);
    text-align: center;
}

.section .content .card .color_box .frame-course span {
    opacity: 0.2;
    height: 70%;
    display: inline-block;
    padding: 40px 0;
    width: 95%;
}

.section .content .card .color_box .frame-course span:hover {
    opacity: 1;
}

.section .content .error_box .error_msg {
    padding-top: 30px;
}

.section .content .error_box {
    margin-left: 20px;
}


/* add, import and export buttons*/

.action-buttons {
    display: flex;
    width: 115px;
    align-content: end;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    right: 55px;
}

.action-buttons .icon {
    height: 30px;
    width: 30px;
    opacity: 0.8;
}

.action-buttons :only-child {
    width: 100%;
}

.action-buttons.database {
    width: auto;
}

.action-buttons.database :only-child{
    width: 30px;
}


/* all buttons using images*/

.icon {
    cursor: pointer;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}


/*on-off buttons*/

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 6px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Disabled slider*/

.switch.disabled {
    cursor: not-allowed;
}

.switch.disabled .slider {
    background-color: #e9e9e9;
    pointer-events: none;
}


/*tags for user role (on course) or course on user list(system)*/

.role_tag,
.course_tag,
.user_tag,
.skill_tag {
    text-transform: uppercase;
    font-size: 10px;
    background-color: grey;
    font-family: "Jost", verdana, sans-serif;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
}


/*Text Dividers*/

.section {
    margin-bottom: 40px;
    background-color: white !important;
    position: relative;
}

.divider {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}

.divider .title {
    position: relative;
    z-index: 1;
}

.divider .title span {
    background-color: white;
    padding-right: 20px;
    height: auto;
    width: auto;
}

.divider .title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid grey;
    z-index: -1;
}


/* Loading symbol*/

#page-loading {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#page-loading img {
    display: block;
    margin: 20% auto;
}

.page-block {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.page-block .header {
    display: flex;
    align-items: center;
}

.page-block .header span {
    margin-left: 10px;
}

/* Image picker */

/* Style the tab */
#image-picker .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 25%;
    height: 300px;
}

/* Style the buttons inside the tab */
#image-picker .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 12px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    text-transform: none;
    border-radius: 0;
}


/* Change background color of buttons on hover */
#image-picker .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
#image-picker .tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
#image-picker .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

#image-picker .picker {
    margin-top: 20px;
}

#image-picker #img-upload-picker {
    cursor: pointer;
    height: 100px;
    width: 100px;
}

#image-picker .grid {
    display: grid;
    grid-template-columns: auto auto auto; 
    padding: 20px 0px;
    overflow-y: scroll;
    max-height: 70%;
    grid-row-gap: 15px;
    grid-column-gap: 5px;
}

#image-picker .top_browser {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

#image-picker #delete {
    position: absolute;
}

#image-picker #back {
    background-image: url(/gamecourse/images/arrow_back.svg);
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 5px;
}

#image-picker .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 30px;
    height: 30px; */
}

#image-picker .file {
    border: 2px solid;
    border-color: white;
}

#image-picker .folder {
    cursor: pointer;
}
#image-picker .square span {
    padding-top: 5px;
    font-size: 12px;
}

#image-picker .path {
    width: 90%;
    border: 2px solid lightgray;
    border-radius: 5px;
}

#image-picker #browse-path {
    padding: 5px 10px;
    font-size: 12px;
}

#image-picker .modal_content .cancel_btn {
    position: absolute;
    bottom: 0px;
    right: 80;
    background-color: tomato;
}

#delete-verification-file .continue {
    opacity: 0.7;
    background: red;
}

#delete-verification-file .cancel {
    opacity: 0.7;
    background: green;
}