body{
    font-family: "Jost", Verdana, sans-serif;
    margin: 0px;
    height: auto;
}

/* search bar and button*/
.search {
    display: flex;
    justify-content: center;
}
.search input[type=text] {
    padding: 6px;
    font-size: 16px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 150px;
}
.sidebar .search .magnifying-glass {
    background: url(/gamecourse/images/search_icon.svg);
    height: 35px;
    width: 35px;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* where the content is shown*/
#mainContent{
    margin-left: 220px;
    padding: 80px 80px 20px 80px;
}

/* error messages*/
.error_box {
    width: 100%;
    text-align: center;
}
.error_msg {
    color: red;
    padding-top: 30px;
}
/* success messages*/
.success_box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -35px;
}
.success_msg {
    color: green;
}

/*used on both versions of the page*/
.box{
    width: 100%;
    height: 100%;
    /*background-color: red; - filled by course color*/
    border: 2px solid white; 
    opacity: 0.5;
}
.frame{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*border: 2px solid red; - filled by course color*/
}

/*tables structure*/
.data-table {
    width: 100%;
    position: relative;
    margin-right: 80px;
    font-size: 16px;
}
.data-table table {
    width: 100%;
    border-collapse: collapse;
}
.data-table table th {
    font-size: 18px;
    padding-bottom: 15px;
}
.data-table table th.name-column {
    padding-left: 10px;
}
.data-table table td {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}
.data-table table td span {
    margin-right: 10px;
}
.data-table table td .profile-icon {
    width: 30px;
    height: 30px;
    position: relative;
}
.data-table table .first-column {
    width: 30px;
}
.data-table table .name-column {
    text-align: left;
    max-width: 200px;
    cursor: pointer;
}
.data-table table .check-column {
    min-width: 50px;
}
.data-table table .check-column span {
    margin-right: 0;
}
.data-table table .action-column {
    width: 20px;
}
.data-table table .icon {
    height: 26px;
    width: 25px;
}
.data-table table .duplicate_icon{
    background-image: url(/gamecourse/images/duplicate_icon.svg);
}
.data-table table .edit_icon{
    background-image: url(/gamecourse/images/edit_icon.svg);
}
.data-table table .delete_icon{
    background-image: url(/gamecourse/images/delete_icon.svg);
}

/*line of cards structure*/
#myCourses{
    margin-top: -30px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .error_msg{
    padding-top: 0;
    padding-bottom: 30px;
}
.container .course_box {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 200px;
    margin: 10px 21px;
    cursor: pointer;
}
.container .course_box .color_box {
    flex-grow: 500;
    position: relative;
}
.container .course_box .color_box .box{
    border: 0;
}
.container .course_box .color_box .frame-course{
    width: calc(100% - 4px);
    height: calc(100% - 2px);
    text-align: center;
 }
.container .course_box .color_box .frame-course span {
    opacity: 0.2;
    height: 70%;
    display: inline-block;
    padding: 40px 0;
    width: 95%;
}
.container .course_box .color_box .frame-course span:hover {
    opacity: 1;
}
.container .course_box .footer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border: 2px solid grey;
    background-color: white;
}
  


/* add, import and export buttons*/
.action-buttons {
    display: flex;
    width: 150px;
    align-content: end;
    justify-content: space-between;
    position: absolute;
    top: -50px;
    right: -55px;
}
.action-buttons .icon{
    height: 45px;
    width: 45px;
}
.action-buttons .add_icon{
    background-image: url(/gamecourse/images/add_icon.svg);
}
.action-buttons .import_icon{
    background-image: url(/gamecourse/images/import_icon.svg);
}
.action-buttons .export_icon{
    background-image: url(/gamecourse/images/export_icon.svg);
}

/* all buttons using images*/
.icon{
    cursor: pointer;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

/*on-off buttons*/
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*tags for user role on course*/
.role_tag {
    text-transform: uppercase;
    font-size: 10px;
    background-color: lightgrey;
    color: white;
    padding: 5px;
    font-family: "Jost", verdana, sans-serif;
    display: inline-block;
}

/*Text Dividers*/
.divider {
    font-size: 20px;
    margin: 15px 0;
}
.divider .title {
    position: relative;
}
.divider .title span {
    background-color: white;
    padding-right: 20px;
    height: auto;
    width: auto;
}
.divider .title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 2px solid grey;
    z-index: -1;
}
  