#myInfo{
    margin-top: 80px;
}
#myInfo .title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
#myInfo .warning{
    font-size: 12.5px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

#myInfo .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    font-size: 14px;
}
#myInfo .info .not_set{
    opacity: 0.5;
}

#myInfo .information_box {
    position: relative;
    margin: auto;
    padding: 0 40px;
    font-size: 16px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#myInfo .profile_image {
    height: 230px;
    background-color: lightgrey;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px dashed gray;
    display: flex;
    position: relative;
    max-width: 190px;
    max-height: 230px;
    justify-content: center;
    align-items: center;
    width: 190px;
}
#myInfo .profile_image span {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#myInfo .profile_image  img{
    max-width: inherit;
    max-height: inherit;
}