.sidebar {
  width: 200px;
  margin-left: 20px;
  margin-top: 30px;
  float: left;
}
.sidebar .search {
  margin-bottom: 30px;
}

.sidebar .filter {
  margin-bottom: 20px;
  height: 250px;
}
.sidebar .filter .container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidebar .order-by {
  position: relative;
}
.sidebar .order-by .container .checkmark {
  border-radius: 50%;
}
.sidebar .order-by .container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.sidebar .order-by .sort {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.sidebar .order-by .sort .triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  cursor: pointer;
  position: relative;
}
.sidebar .order-by .sort .triangle::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 8px;
  background-color: lightgrey;
  display: block;
}
.sidebar .order-by .sort #triangle-up {
  border-bottom: 13px solid lightgrey;
}
.sidebar .order-by .sort #triangle-up.checked {
  border-bottom: 13px solid black;
}
.sidebar .order-by .sort #triangle-up.checked::after {
  background-color: black;
}
.sidebar .order-by .sort #triangle-up::after {
  top: 11px;
  left: -4px;
}
.sidebar .order-by .sort #triangle-down {
  margin-top: 9px;
  border-top: 12px solid lightgrey;
  margin-left: 5px;
}
.sidebar .order-by .sort #triangle-down.checked {
  border-top: 12px solid black;
}
.sidebar .order-by .sort #triangle-down.checked::after {
  background-color: black;
}
.sidebar .order-by .sort #triangle-down::after {
  top: -21px;
  left: -4px;
}
.sidebar .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 20px;
}
.sidebar .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.sidebar .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.sidebar .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.sidebar .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.sidebar .container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.sidebar .container input:checked ~ .checkmark:after {
  display: block;
}
.sidebar .title {
  font-size: 18px;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}
.sidebar .subtitle {
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 5px;
}
