.sidebar {
  width: 180px;
  margin-left: 20px;
  margin-top: 30px;
  float: left;
}
.sidebar .search {
  margin-bottom: 22px;
}

.sidebar .filter {
  margin-bottom: 20px;
  height: 250px;
}
.sidebar .filter .container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidebar .order-by {
  position: relative;
}
.sidebar .order-by .container .checkmark {
  border-radius: 50%;
}
.sidebar .order-by .container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.sidebar .order-by .sort {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 44px;
  justify-content: space-between;
}
.sidebar .order-by .sort .triangle {
  width: 20px;
  height: 20px;
}

.sidebar .order-by .sort #triangle-up {
  background-image: url(/gamecourse/images/arrow_top_icon.svg);
  opacity: 0.5;
}
.sidebar .order-by .sort #triangle-up.checked,
.sidebar .order-by .sort #triangle-down.checked {
  opacity: 1;
}

.sidebar .order-by .sort #triangle-down {
  background-image: url(/gamecourse/images/arrow_bottom_icon.svg);
  opacity: 0.5;
}


.sidebar .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 20px;
}
.sidebar .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.sidebar .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}
.sidebar .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.sidebar .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.sidebar .container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.sidebar .container input:checked ~ .checkmark:after {
  display: block;
}
.sidebar .title {
  font-size: 16px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.sidebar .subtitle {
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 5px;
}
