<ng-container>
  <ng-container *ngIf="view.chartType === ChartType.BAR" [ngTemplateOutlet]="DISPLAY_BAR"></ng-container>
  <ng-container *ngIf="view.chartType === ChartType.COMBO" [ngTemplateOutlet]="DISPLAY_COMBO"></ng-container>
  <ng-container *ngIf="view.chartType === ChartType.LINE" [ngTemplateOutlet]="DISPLAY_LINE"></ng-container>
  <ng-container *ngIf="view.chartType === ChartType.PROGRESS" [ngTemplateOutlet]="DISPLAY_PROGRESS"></ng-container>
  <ng-container *ngIf="view.chartType === ChartType.RADAR" [ngTemplateOutlet]="DISPLAY_RADAR"></ng-container>
  <ng-container *ngIf="view.chartType === ChartType.PIE" [ngTemplateOutlet]="DISPLAY_PIE"></ng-container>
</ng-container>


<!------------------------------------------------>
<!-------------- DISPLAY VARIATIONS -------------->
<!------------------------------------------------>

<ng-template #DISPLAY_BAR>
  <div [attr.id]="view.cssId"
       [classList]="classes"
       [attr.style]="view.styles">

    <app-bar-chart
      [id]="'v' + view.uniqueId.toString()"
      [series]="edit ? seriesToPreview : view.data"
      [classList]="view.classList"
      [annotations]="view.options?.annotations || undefined"
      [height]="view.options?.height || 'auto'"
      [width]="view.options?.width || '100%'"
      [colors]="view.options?.colors || undefined"
      [dataLabels]="view.options?.dataLabels || undefined"
      [dataLabelsOnSeries]="view.options?.dataLabelsOnSeries || undefined"
      [dataLabelsFormatter]="view.options?.dataLabelsFormatter || undefined"
      [highlight]="view.options?.highlight || undefined"
      [XAxisGrid]="view.options?.XAxisGrid || undefined"
      [YAxisGrid]="view.options?.YAxisGrid || undefined"
      [stripedGrid]="view.options?.stripedGrid || undefined"
      [legend]="view.options?.legend || undefined"
      [legendPosition]="view.options?.legendPosition || 'bottom'"
      [title]="view.options?.title || undefined"
      [subtitle]="view.options?.subtitle || undefined"
      [align]="view.options?.align || 'left'"
      [tooltip]="exists(view.options?.tooltip) ? view.options?.tooltip : true"
      [tooltipXFormatter]="view.options?.tooltipXFormatter || undefined"
      [tooltipYFormatter]="view.options?.tooltipYFormatter || undefined"
      [XAxisType]="view.options?.XAxisType || undefined"
      [XAxisCategories]="view.options?.XAxisCategories || undefined"
      [XAxisLabel]="view.options?.XAxisLabel || undefined"
      [XAxisTickAmount]="view.options?.XAxisTickAmount || undefined"
      [YAxisLabel]="view.options?.YAxisLabel || undefined"
      [YAxisMin]="view.options?.YAxisMin || undefined"
      [YAxisMax]="view.options?.YAxisMax || undefined"
      [YAxisTickAmount]="view.options?.YAxisTickAmount || undefined"
      [YAxisReversed]="view.options?.YAxisReversed || undefined"
      [orientation]="view.options?.orientation || undefined"
      [borderRadius]="view.options?.borderRadius || 6"
      [sparkline]="view.options?.sparkline || undefined"
      [toolbar]="view.options?.toolbar || undefined"
      [toolbarActions]="view.options?.toolbarActions || []">
    </app-bar-chart>
  </div>
</ng-template>

<ng-template #DISPLAY_COMBO>
  <div [attr.id]="view.cssId"
       [classList]="classes"
       [attr.style]="view.styles">

    <app-combo-chart
      [id]="'v' + view.uniqueId.toString()"
      [series]="edit ? seriesToPreview : view.data"
      [classList]="view.classList"
      [annotations]="view.options?.annotations || undefined"
      [height]="view.options?.height || 'auto'"
      [width]="view.options?.width || '100%'"
      [colors]="view.options?.colors || undefined"
      [dataLabels]="view.options?.dataLabels || undefined"
      [dataLabelsOnSeries]="view.options?.dataLabelsOnSeries || undefined"
      [dataLabelsFormatter]="view.options?.dataLabelsFormatter || undefined"
      [highlightBars]="view.options?.highlightBars || undefined"
      [XAxisGrid]="view.options?.XAxisGrid || undefined"
      [YAxisGrid]="view.options?.YAxisGrid || undefined"
      [stripedGrid]="view.options?.stripedGrid || undefined"
      [legend]="view.options?.legend || undefined"
      [legendPosition]="view.options?.legendPosition || 'bottom'"
      [markersSize]="view.options?.markersSize || 0"
      [strokeCurve]="view.options?.strokeCurve || 'smooth'"
      [strokeLineCap]="view.options?.strokeLineCap || 'round'"
      [strokeWidth]="view.options?.strokeWidth || 4"
      [title]="view.options?.title || undefined"
      [subtitle]="view.options?.subtitle || undefined"
      [align]="view.options?.align || 'left'"
      [tooltip]="exists(view.options?.tooltip) ? view.options?.tooltip : true"
      [tooltipXFormatter]="view.options?.tooltipXFormatter || undefined"
      [tooltipYFormatter]="view.options?.tooltipYFormatter || undefined"
      [XAxisType]="view.options?.XAxisType || undefined"
      [XAxisCategories]="view.options?.XAxisCategories || undefined"
      [XAxisLabel]="view.options?.XAxisLabel || undefined"
      [XAxisTickAmount]="view.options?.XAxisTickAmount || undefined"
      [YAxisLabels]="view.options?.YAxisLabels || undefined"
      [YAxisMin]="view.options?.YAxisMin || undefined"
      [YAxisMax]="view.options?.YAxisMax || undefined"
      [YAxisTickAmount]="view.options?.YAxisTickAmount || undefined"
      [YAxisReversed]="view.options?.YAxisReversed || undefined"
      [YAxisOpposite]="view.options?.YAxisOpposite || undefined"
      [barsOrientation]="view.options?.barsOrientation || undefined"
      [barsBorderRadius]="view.options?.barsBorderRadius || 6"
      [sparkline]="view.options?.sparkline || undefined"
      [toolbar]="view.options?.toolbar || undefined"
      [toolbarActions]="view.options?.toolbarActions || []">
    </app-combo-chart>
  </div>
</ng-template>

<ng-template #DISPLAY_LINE>
  <div [attr.id]="view.cssId"
       [classList]="classes"
       [attr.style]="view.styles">

    <app-line-chart
      [id]="'v' + view.uniqueId.toString()"
      [series]="edit ? seriesToPreview : view.data"
      [classList]="view.classList"
      [annotations]="view.options?.annotations || undefined"
      [height]="view.options?.height || 'auto'"
      [width]="view.options?.width || '100%'"
      [colors]="view.options?.colors || undefined"
      [dataLabels]="view.options?.dataLabels || undefined"
      [XAxisGrid]="view.options?.XAxisGrid || undefined"
      [YAxisGrid]="view.options?.YAxisGrid || undefined"
      [stripedGrid]="view.options?.stripedGrid || undefined"
      [legend]="view.options?.legend || undefined"
      [legendPosition]="view.options?.legendPosition || 'bottom'"
      [markersSize]="view.options?.markersSize || 0"
      [strokeCurve]="view.options?.strokeCurve || 'smooth'"
      [strokeLineCap]="view.options?.strokeLineCap || 'round'"
      [strokeWidth]="view.options?.strokeWidth || 4"
      [title]="view.options?.title || undefined"
      [subtitle]="view.options?.subtitle || undefined"
      [align]="view.options?.align || 'left'"
      [tooltip]="exists(view.options?.tooltip) ? view.options?.tooltip : true"
      [tooltipXFormatter]="view.options?.tooltipXFormatter || undefined"
      [tooltipYFormatter]="view.options?.tooltipYFormatter || undefined"
      [XAxisType]="view.options?.XAxisType || undefined"
      [XAxisCategories]="view.options?.XAxisCategories || undefined"
      [XAxisLabel]="view.options?.XAxisLabel || undefined"
      [XAxisTickAmount]="view.options?.XAxisTickAmount || undefined"
      [YAxisLabel]="view.options?.YAxisLabel || undefined"
      [YAxisMin]="view.options?.YAxisMin || undefined"
      [YAxisMax]="view.options?.YAxisMax || undefined"
      [YAxisTickAmount]="view.options?.YAxisTickAmount || undefined"
      [YAxisReversed]="view.options?.YAxisReversed || undefined"
      [sparkline]="view.options?.sparkline || undefined"
      [toolbar]="view.options?.toolbar || undefined"
      [toolbarActions]="view.options?.toolbarActions || []">
    </app-line-chart>
  </div>
</ng-template>

<ng-template #DISPLAY_PROGRESS>
  <div [attr.id]="view.cssId"
       [classList]="classes"
       [attr.style]="view.styles">

    <app-progress-chart
      [id]="'v' + view.uniqueId.toString()"
      [value]="edit ? 0 : view.data.value"
      [max]="edit ? 100 : view.data.max"
      [size]="view.options?.size || 'sm'"
      [classList]="view.classList"
      [tooltip]="view.options?.tooltip || undefined"
      [labelInside]="view.options?.labelInside || undefined"
      [labelLeft]="view.options?.labelLeft || undefined"
      [labelMiddle]="view.options?.labelMiddle || undefined"
      [labelRight]="view.options?.labelRight || undefined"
      [progressColor]="view.options?.progressColor || 'neutral'"
      [trackColor]="view.options?.trackColor || 'neutral'">
    </app-progress-chart>
  </div>
</ng-template>

<ng-template #DISPLAY_RADAR>
  <div [attr.id]="view.cssId"
       [classList]="classes"
       [attr.style]="view.styles">

    <app-radar-chart
      [id]="'v' + view.uniqueId.toString()"
      [series]="edit ? seriesToPreview : view.data"
      [normalized]="view.options?.normalized"
      [classList]="view.classList"
      [height]="view.options?.height || 'auto'"
      [width]="view.options?.width || '100%'"
      [colors]="view.options?.colors || undefined"
      [dataLabels]="view.options?.dataLabels || undefined"
      [stripedGrid]="view.options?.stripedGrid || undefined"
      [legend]="view.options?.legend || undefined"
      [legendPosition]="view.options?.legendPosition || 'bottom'"
      [markersSize]="view.options?.markersSize || 6"
      [strokeWidth]="view.options?.strokeWidth || 3"
      [title]="view.options?.title || undefined"
      [subtitle]="view.options?.subtitle || undefined"
      [align]="view.options?.align || 'left'"
      [tooltip]="exists(view.options?.tooltip) ? view.options?.tooltip : true"
      [tooltipXFormatter]="view.options?.tooltipXFormatter || undefined"
      [tooltipYFormatter]="view.options?.tooltipYFormatter || undefined"
      [XAxisType]="view.options?.XAxisType || undefined"
      [XAxisCategories]="view.options?.XAxisCategories || undefined"
      [YAxisMax]="view.options?.YAxisMax || undefined"
      [sparkline]="view.options?.sparkline || undefined"
      [toolbar]="view.options?.toolbar || undefined"
      [toolbarActions]="view.options?.toolbarActions || []">
    </app-radar-chart>
  </div>
</ng-template>

<ng-template #DISPLAY_PIE>
  <div [attr.id]="view.cssId"
       [classList]="classes"
       [attr.style]="view.styles">

    <app-pie-chart
      [id]="'v' + view.uniqueId.toString()"
      [series]="edit ? seriesToPreview : view.data"
      [classList]="view.classList"
      [height]="view.options?.height || 'auto'"
      [width]="view.options?.width || '100%'"
      [colors]="view.options?.colors || undefined"
      [labels]="view.options?.labels || undefined"
      [legend]="view.options?.legend || undefined"
      [legendPosition]="view.options?.legendPosition || 'bottom'"
      [title]="view.options?.title || undefined"
      [subtitle]="view.options?.subtitle || undefined"
      [align]="view.options?.align || 'left'"
      [startAngle]="view.options?.startAngle || 0"
      [endAngle]="view.options?.endAngle || 360"
      [customScale]="view.options?.customScale || 1"
      [offsetX]="view.options?.offsetX || 0"
      [offsetY]="view.options?.offsetY || 0"
      [expandOnClick]="view.options?.expandOnClick || true"
      [dataLabels]="view.options?.dataLabels || undefined"
      [sparkline]="view.options?.sparkline || undefined"
      [toolbar]="view.options?.toolbar || undefined"
      [toolbarActions]="view.options?.toolbarActions || []">
    </app-pie-chart>
  </div>
</ng-template>
