<div id="wrapper">
  <!-- conteudo da página -->
  <div id="content-wrapper">
    <div *ngIf="!loading" id="settings" class="page">
      <div class="tabs">
        <app-course-settings-sidebar></app-course-settings-sidebar>

        <div class="tab-content-wrapper">
          <div class="tab-content">

            <div id="configPage">

              <!-- Info -->
              <div class="section">
                <div class="divider">
                  <div class="title"><span>Info</span></div>
                </div>

                <div class="content">
                  <div>
                    <p><b>Course Name: </b>{{info.name}}</p>
                    <p><b>Course ID: </b>{{info.id}}</p>
                    <p><b>Active Users: </b>{{info.activeUsers}}</p>
                    <p><b>Awards: </b>{{info.awards}}</p>
                    <p><b>Participations: </b>{{info.participations}}</p>
                  </div>

                  <div><button id="edit_db_button" class="button" (click)="isViewDBModalOpen = true">View Database</button></div>
                </div>
              </div>

              <!-- Navigation -->
              <div class="section">
                <div class="divider">
                  <div class="title"><span>Navigation</span></div>
                </div>

                <div class="content ng-scope" id="navigation-config">
                  <div class="data-table">
                    <table id="nav-table">
                      <tbody>
                      <tr>
                        <th>Position</th>
                        <th>Page</th>
                        <th class="action-column"></th>
                        <th class="action-column"></th>
                      </tr>
                      <tr *ngFor="let nav of orderBySeqId()">
                        <td>{{nav.seqId}}</td>
                        <td>{{nav.name}}</td>
                        <td class="action-column">
                          <div class="icon up_icon" title="Move up" (click)="move(nav, 1)"></div>
                        </td>
                        <td class="action-column">
                          <div class="icon down_icon" title="Move down" (click)="move(nav, -1)"></div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Styling -->
              <div *ngIf="viewsModuleEnabled" class="section">
                <div class="divider">
                  <div class="title"><span>Styling</span></div>
                </div>

                <div class="content">
                  <div *ngIf="!hasStyleFile">
                    <button id="create_style_button" class="button" (click)="createStyleFile()">Create Style File</button>
                  </div>

                  <div *ngIf="hasStyleFile" id="save-change-css" class="action-buttons" style="width:140px;">
                    <button class="button" title="Save" (click)="saveStyleFile()"> Save Changes </button>
                  </div>

                  <div *ngIf="hasStyleFile" id="edit-css-file">
                    <app-input-code
                      [id]="'style-file'"
                      [classList]="'form__input'"
                      [placeholder]="'Write your style here...'"
                      [mode]="'css'"
                      [init]="style.contents"
                      [canInit]="styleLoaded"
                      (valueChange)="this.styleInput = $event">
                    </app-input-code>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Loader -->
  <div *ngIf="loading" id="page-loading">
    <img src="../../../../../../assets/loader/loader.gif" alt="loader">
  </div>
</div>


<!-- View DB Modal -->
<ng-container *ngIf="isViewDBModalOpen">
  <app-modal
    [isModalOpen]="isViewDBModalOpen"
    [id]="'edit-db'"
    [templateRef]="viewDbModal"
    (closeBtnClicked)="isViewDBModalOpen = false"
    [actionInProgress]="saving"
    [classList]="'verification'">
  </app-modal>
</ng-container>

<ng-template #viewDbModal>

  <div class="warning">Please select a table:</div>

  <div class="confirmation_btns">
    <button (click)="showDatabase('award')">Award</button>
    <button (click)="showDatabase('participation')">Participation</button>
  </div>

</ng-template>


<!-- Success Modal -->
<app-modal
  [isModalOpen]="isSuccessModalOpen"
  [id]="'message-api-box'"
  [classList]="'verification'"
  [templateRef]="successModal"
  (closeBtnClicked)="isSuccessModalOpen = false"
  [actionInProgress]="saving">
</app-modal>

<ng-template #successModal>
  <div class="message_warning warning">Saved!</div>
  <div class="confirmation_btns">
    <button (click)="isSuccessModalOpen = false">Confirm</button>
  </div>
</ng-template>
