#viewEditor {
  /* styles for inside view editor*/
  position: relative;
  display: block;
  margin: 0;
  padding: 80px 55px 35px;
}
.preview {
  margin-top: 4px;
}
.value-filtered-fields {
  max-height: 300px;
  overflow-y: auto;
}
.value-filtered-fields > div {
  position: relative;
  padding: 1px 2px;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.value-filtered-fields > div:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.value-filtered-fields > div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.value-filtered-fields > div .field {
  font-size: 14px;
  font-weight: bold;
}
.value-filtered-fields > div .description {
  font-size: 10px;
}
.value-filtered-fields > div .example {
  font-size: 10px;
  position: absolute;
  bottom: 1px;
  right: 0;
}
#viewEditor .view {
  border: 2px solid lightgray;
}
.view {
  position: relative;
  margin-bottom: 16px;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
}
.view.editing {
  margin-bottom: 50px;
}
.view .block,
.view .image,
.view .value {
  position: relative;
}
.view .image {
  display: inline-block;
}

#viewEditor .view .block,
#viewEditor .view .image,
#viewEditor .view .value,
#viewEditor .view .table {
  border: 2px solid lightgray;
}

.view .table {
  border-radius: 5px;
  position: relative;
  overflow: auto;
  width: calc(100% - 24px); /*24px = margin and borders size*/
}

.view .table table{
  width: 100%;
  font-size: 12px;
  border-spacing: 15px;
  padding: 5px;
}

.view .table table th{
  font-size: 14px;
}
.view .table table td{
  padding: 0;
}

.view .table table .value {
  display: block;
  padding: 10px;
}
.view .table table .right_tools {
  width: 160px;
}
.view .table table .block .value{
  display: unset;
}
.view .table table .table {
  width: calc(100% - 4px);
}

.view .table:only-of-type .filter-box {
  position: absolute;
  top: -24px;
  right: 8px;
}
.view .table.tidy {
  width: inherit;
}
.view .table.tidy table {
  width: inherit;
}

.view .content .value {
  padding: 10px 20px;
  display: inline-block;
}

.view .content .block {
  border-radius: 5px;
  padding: 20px;
  display: block;
  background-color: unset;
  flex-grow: 1;
}

#viewEditor .view .content .block .header {
  border-bottom: 2px solid lightgray;
}
.view .content .block .header {
  line-height: 40px;
  font-size: 14px;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: unset;
}
.view .content .block .header .image {
  width: 40px;
  height: 60px;
}
.view .content .block .header .image .img {
  width: 100%;
  height: 100%;
}
.view .content .block .header .title {
  vertical-align: middle;
  margin-left: 8px;
}
.view .content .block .content {
  margin: -10px;
  padding: 0;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.view .content > * {
  margin: 10px;
}


.view.highlight,
.view .highlight {
  border: 2px solid grey !important;
}
.edit-toolbar{
  position: fixed;
  bottom: 0px;
  right: 40%;
  right: 0;
  width: 100vw;
  display: flex;
  z-index: 5;
  justify-content: center;
}
#page_history {
  position: absolute;
  top: 0;
  top: 30px;
  left: 55px;
  line-height: 35px;
  display: flex;
  align-items: center;
}
#page_history span {
  font-size: 16px;
  text-transform: capitalize;
}

#page_history span.role_type {
  font-size: 12px;
  position: relative;
  font-weight: bold;
  color: lightgray;
  align-self: end;
  margin-left: 10px;
  line-height: 32px;
}
#page_history .go_back{
  height: 18px;
  background-image: url(/gamecourse/images/arrow_back.svg);
  width: 18px;
  cursor: auto;
  margin: 0 5px;
}

.view .edit-toolbar .tool.btn {
  width: 50px;
  height: 45px;
  border: 1px solid #868686;
  border-right: none;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.view .edit-toolbar .tool.btn img {
  height: 100%;
}
.view .edit-toolbar .tool.btn:last-child {
  border-right: 1px solid #868686 
}
.view .edit-toolbar .tool.btn:hover {
  background-color: #cbcbcb ;
}
.view .edit-toolbar .tool.btn:hover.red {
  background-color: rgba(128, 0, 0, 0.28) ;
}
.view .edit-toolbar .tool.btn.red {
  background-color: rgba(255, 0, 0, 0.2) ;
}

.view .edit-toolbar.table-toolbar {
  position: inherit;
  width: auto;
}
.view .table-toolbar.edit-toolbar .tool.btn {
  width: 20px;
  height: 20px;
  padding: 3px;
}

.view .red {
  color: red !important;
  font-weight: bold !important;
}
.view .red.placeholder {
  background-color: red !important;
}
.view > .content {
  display: block;
}

.view .img.placeholder {
  vertical-align: middle;
  display: inline-block;
  background-color: lightskyblue;
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

#viewEditor .add_new_part {
  height: 40px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-image: url(/gamecourse/images/add_icon_no_outline.svg);
  background-size: 25px;
  background-position: center;
}


.block-edit-overlay{
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  background-color: rgba(128, 128, 128, 0.1); 
  z-index: 2;
  cursor: move;
}
#add_part .content > * {
  margin: unset;
}
#add_part #parts_selection {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-transform: capitalize;
  align-items: baseline;
  margin-bottom: 25px;
}
#add_part .part_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}
#add_part .part_option.focus {
  opacity: 1;
}
#add_part .part_option img {
  height: 50px;
  margin-bottom: 10px;
}
#add_part .add-parts {
  min-height: 33px;
  padding-bottom: 7px;
}

.specializations-selection > div {
  display: inline-block;
  vertical-align: top;
}
.specializations-selection > div ul {
  margin: 0;
  padding: 0px;
  background-color: white;
  list-style-type: none;
}
.specializations-selection > div ul li {
  cursor: pointer;
  padding: 2px;
  border-bottom: 1px solid #f2f2f2;
}
.specializations-selection > div ul li:last-child {
  border: none;
}
.settings-overlay {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.settings-overlay .settings-overlay-center {
  background-color: #b6b6b6;
  margin: 0px 12px;
  max-width: 600px;
  min-height: 400px;
}
@media all and (min-width: 700px) {
  .settings-overlay .settings-overlay-center {
    margin: 0 auto;
  }
}
.settings-overlay .settings-overlay-center > div > .part-sysinfo {
  padding: 6px;
  font-size: 12px;
}
.settings-overlay .settings-overlay-center > div > .part-sysinfo:before {
  content: 'Part System Info:';
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}
.settings-overlay .settings-overlay-center > div > .title {
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.settings-overlay .settings-overlay-center > div > .title > span {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  font-size: 120%;
}
.settings-overlay .settings-overlay-center > div > .title > a {
  float: right;
}
.settings-overlay .settings-overlay-center > div > .title img {
  float: right;
  width: 28px;
  height: 28px;
  margin-top: 2px;
  margin-right: 2px;
  cursor: pointer;
}
select:disabled {
  cursor: no-drop;
}
.templates-list {
  padding-left: 0px;
  margin-left: 0px;
  list-style: none;
}
.templates-list li {
  margin-left: 16px;
}
.sb-menu > .header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px;
}
.sb-menu > .header > img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.sb-menu > .header > span {
  margin-left: 4px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
}
.sb-menu > .content {
  padding: 4px;
}
.sb-component {
  margin-top: 4px;
}
.sb-input,
.sb-checkbox,
.sb-expression {
  margin-top: 4px;
}
.sb-input input,
.sb-checkbox input,
.sb-expression input,
.sb-input textarea,
.sb-checkbox textarea,
.sb-expression textarea,
.sb-input label,
.sb-checkbox label,
.sb-expression label,
.sb-input select,
.sb-checkbox select,
.sb-expression select,
.sb-input button,
.sb-checkbox button,
.sb-expression button {
  margin-right: 4px;
  vertical-align: middle;
}
.sb-input label,
.sb-checkbox label,
.sb-expression label {
  min-width: 80px;
  display: inline-block;
}
.sb-checkbox > .content {
  margin-left: 14px;
}
.sb-checkbox > label {
  min-width: inherit;
}
.sb-checkbox > a > .info,
.sb-checkbox > .info {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  opacity: 0.5;
}
.sb-checkbox > a > .info:hover,
.sb-checkbox > .info:hover {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0.8;
}
.sb-input > input[type='text'] {
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.sb-input > .content {
  display: inline-block;
}
.sb-expression {
  position: relative;
}
.sb-expression > textarea {
  max-width: 250px;
  height: 20px;
  line-height: 20px;
  resize: none;
  overflow: hidden;
  font-size: 13px;
  font-family: monospace;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-right: 18px;
  background-position: right top;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAABlBMVEUA/wD///9vvVhRAAAAFklEQVQY02NgxAAMjAxoYFQIvxAGAAAuwgBFVY3c5wAAAABJRU5ErkJggg==);
}
.sb-expression > textarea.err {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAABlBMVEX/AAD///9BHTQRAAAAFklEQVQY02NgxAAMjAxoYFQIvxAGAAAuwgBFVY3c5wAAAABJRU5ErkJggg==);
}
@media all and (min-width: 700px) {
  .sb-expression > textarea {
    min-width: 300px;
  }
}
.sb-expression > .expression-field-search {
  background: rgba(0, 0, 0, 0.05);
  margin: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.sb-expression > .expression-field-search img {
  width: 16px;
  float: right;
}
.sb-expression > .suggestions {
  margin-top: 1px;
  background-color: #aaaaaa;
  border: 1px solid rgba(0, 0, 0, 0.7);
  z-index: 99999;
  /*max-height: 300px;
    overflow-y: auto;
    overflow-y: auto;*/
}
.sb-expression > .suggestions > div {
  min-width: 250px;
  position: relative;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.sb-expression > .suggestions > div:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sb-expression > .suggestions > div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.sb-expression > .suggestions > div .field {
  font-size: 14px;
  font-weight: bold;
}
.sb-expression > .suggestions > div .description {
  font-size: 10px;
}
.sb-expression > .suggestions > div .example {
  font-size: 10px;
  position: absolute;
  bottom: 1px;
  right: 0;
}
.sb-expression > .content {
  display: inline-block;
}
