<div class="color_picker" [ngClass]="classList">
  <!-- Input -->
  <input
    type="text"
    id="{{id}}"
    name="{{id}}"
    class="form__input pickr"
    role="button"
    aria-label="toggle color picker dialog"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [disabled]="disabled"
    [required]="required"
    #inputColor="ngModel"
    [ngClass]="{'is-invalid': form && form.submitted && inputColor.invalid}">

  <!-- Label -->
  <label [for]="id" class="form__label">Color</label>

  <!-- Sample -->
  <div class="color-sample">
    <div class="box" [ngStyle]="{'backgroundColor': value || default}"></div>
    <div class="frame" [ngStyle]="{'borderColor': isWhite(value) ? 'lightgrey' : value}"></div>
  </div>

  <!-- Error Messages -->
  <div *ngIf="form && form.submitted && inputColor.invalid" class="invalid-feedback d-block">
    <span *ngIf="inputColor.errors.required">{{requiredErrorMessage}}</span>
  </div>
</div>
