/**
 * ----------------------------
 * DISPLAY VERSION
 * ----------------------------
 */

.gc-view.gc-header {
  width: fit-content;
  margin-bottom: 20px;

  .gc-header_image {
    width: 45px;
    height: 45px;
    vertical-align: middle;
  }

  .gc-header_title {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 16px;
    padding: 10px 20px;
  }
}


/**
 * ----------------------------
 * EDITOR VERSION
 * ----------------------------
 */

.editor {
  .gc-view.gc-header {
    border-radius: 5px;

    .gc-header_title {
      padding: 10px;
      font-weight: 600;
    }
  }
}
