/**
 * ----------------------------
 * DISPLAY VERSION
 * ----------------------------
 */

.block {
 .block_children {
   display: flex;
   align-items: center;

   & > * {
     margin-right: 20px;
   }

   & > *:last-child {
     margin-right: 0;
   }
 }
}


/**
 * ----------------------------
 * EDITOR VERSION
 * ----------------------------
 */

.editor {
  .block {
    border-radius: 5px;

    .block_children {
      & > * {
        margin-right: initial !important;
      }
    }

    &.block_empty {
      padding: 20px;
    }

    .add-child {
      height: 40px;
      border: 2px solid gray;
      border-radius: 5px;
      margin: 15px;
      display: flex;
      justify-content: center;
      background-image: url("~src/assets/icons/add_icon_no_outline.svg");
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
