<nav class="navbar sticky flex flex-col justify-center w-full bg-primary z-40 pl-2 pr-3 shadow-lg {{!isInCourse() ? 'h-20' : 'h-[7rem] lg:h-20'}}"
     [ngStyle]="{'background-color': course?.color ? course.color : ''}">

  <div class="flex justify-between w-full">
    <!-- Left -->
    <div class="flex justify-start gap-2 lg:ml-72">

      <!-- Hamburger Menu -->
      <label class="btn btn-ghost btn-circle swap swap-rotate text-primary-content lg:hidden">
        <!-- this hidden checkbox controls the state -->
        <input id="sidebar-toggler" type="checkbox" (click)="sidebar.toggle()"/>

        <!-- hamburger icon -->
        <ng-icon name="feather-menu" size="1.5rem" color="fillCurrent" class="swap-off"></ng-icon>

        <!-- close icon -->
        <ng-icon name="feather-x" size="1.5rem" color="fillCurrent" class="swap-on"></ng-icon>
      </label>

    </div>

    <div class="flex justify-between w-full">
      <!-- Middle -->
      <div>
        <ng-container *ngIf="course">
          <!-- Breadcrumbs -->
          <div class="text-sm text-primary-content text-opacity-50 breadcrumbs pt-0 hidden lg:block">
            <ul>
              <li *ngFor="let part of getURLParts()">{{part.capitalize()}}</li>
            </ul>
          </div>

          <!-- Course Name -->
          <h6 class="mb-0 font-bold text-primary-content hidden lg:block">{{course.name}}</h6>
        </ng-container>

        <!-- Course Skeleton -->
        <ng-container *ngIf="!course && isInCourse()">
          <div class="hidden lg:block w-40 h-4 bg-indigo-300 opacity-40 rounded-md mt-6 animate-pulse"></div>
        </ng-container>
      </div>

      <!-- Right -->
      <div class="flex justify-end items-center gap-1.5">

        <!-- Home -->
        <div class="btn btn-ghost btn-circle text-primary-content" [routerLink]="'/'">
          <ng-icon name="feather-home" size="1.7rem" color="fillCurrent"></ng-icon>
        </div>

        <!-- Theme Toggler -->
        <ng-container>
          <app-theme-toggler></app-theme-toggler>
        </ng-container>

        <!-- Notification -->
        <div class="dropdown dropdown-end">
          <div class="indicator">
            <span *ngIf="this.mode === 'new'" class="indicator-item badge badge-secondary">{{getCount()}}</span>
            <label tabindex="0" class="btn btn-ghost btn-circle text-primary-content">
              <ng-icon *ngIf="this.mode === 'notNew'" name="tabler-bell" size="1.7rem" color="fillCurrent"></ng-icon>
              <ng-icon *ngIf="this.mode === 'new'" name="tabler-bell-ringing" size="1.7rem" color="#EF6060"></ng-icon>
            </label>
          </div>

          <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-gray-800 rounded-box w-80 !z-50">
              <div class="rounded-t-box">
                <div class="text-lg text-white content-start px-3.5 pt-2"><strong>Notifications</strong></div>
                <li class="text-gray-200 text-xs content-end px-2 pb-2 -mt-5 w-34 font-extralight"
                    style="cursor:pointer" (click)="setAllNotificationsShowed()">
                  Mark all as read
                </li>
              </div>
            <div class="max-h-50 overflow-y-auto">
              <li class="{{bgColor()}}" *ngIf="notifications.length === 0">You don't have notifications!</li>
              <li *ngFor="let notification of notifications">
              <span class="mb-0.5 pb-3 {{bgColor(notification)}}"
                    (click)="notificationSetShowed(notification)">
                <span class="text-black"><strong *ngIf="!isShowed(notification)" class="text-xl text-rose-600 mr-1">•</strong>{{notification.message}}</span></span>
              </li>
            </div>
          </ul>
        </div>

        <ng-container *ngIf="user">
          <!-- Greet -->
          <p class="text-white align-middle ml-2 hidden sm:block">Hey, {{user.nickname?.split(' ')[0] ?? user.name.split(' ')[0] ?? user.username}}!</p>

          <!-- Avatar -->
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img class="object-cover" [src]="photo.get()" alt="user profile image" />
              </div>
            </label>
            <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-48 !z-50">
              <li><a [routerLink]="'/profile/' + user.id">
                <ng-icon name="feather-user" size="1rem" color="fillCurrent"></ng-icon>
                Profile
              </a></li>
              <li><a (click)="logout()">
                <ng-icon name="feather-log-out" size="1rem" color="fillCurrent"></ng-icon>
                Logout
              </a></li>
            </ul>
          </div>
        </ng-container>

        <!-- User Skeleton -->
        <ng-container *ngIf="!user">
          <div class="w-24 h-4 bg-indigo-300 opacity-40 rounded-md animate-pulse"></div>
          <div class="w-10 h-10 bg-indigo-300 opacity-40 rounded-full animate-pulse"></div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Course Name on mobile -->
  <div *ngIf="isInCourse()" class="lg:hidden sticky top-20 w-full flex flex-col justify-center items-center h-8 pl-5 pr-3">

    <!-- Course Name -->
    <h6 *ngIf="course" class="mb-0 font-bold text-white text-center">{{course.name}}</h6>

    <!-- Course Skeleton -->
    <ng-container *ngIf="!course">
      <div class="lg:hidden w-40 h-4 bg-indigo-300 opacity-40 rounded-md animate-pulse"></div>
    </ng-container>
  </div>
</nav>
