.page {
  padding: 30px;
  margin-bottom: 16px;
}

.skill-page {
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 45px;
      height: 45px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      margin-left: 8px;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
    }
  }
}

.participation-page {
  .input-wrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;

    .label {
      margin-right: 20px;
      white-space: nowrap;
      min-width: 100px;
    }

    .input {
      width: 100%;
      padding: 10px;
      color: #333;
      background-color: white;
      border-radius: 5px;
      border: 2px solid lightgray;
    }
  }

  .form__input {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-size: 14px;
    padding: 10px;
    background-color: white;
    display: inline-block;
    transition: all 0.3s;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 22px;
    border: 2px solid lightgray;
    box-sizing: border-box;
  }

  .success_msg {
    color: green;
  }
}
