<ng-container *ngIf="!loading">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="loading">
  <div class="relative overflow-hidden h-screen bg-base-100">
    <div class="h-screen flex justify-center items-center">
      <app-spinner [size]="'lg'"></app-spinner>
    </div>
  </div>
</ng-container>

<!-- Alerts -->
<div class="fixed top-3 right-auto sm:right-3 h-auto w-full sm:w-[26rem] z-[60] flex flex-col items-center sm:block">
  <app-alert [type]="AlertType.INFO"></app-alert>
  <app-alert [type]="AlertType.WARNING"></app-alert>
  <app-alert [type]="AlertType.SUCCESS"></app-alert>
  <app-alert [type]="AlertType.ERROR"></app-alert>
</div>

<!-- Error Modal -->
<app-error-modal [error]="ErrorService.error"></app-error-modal>
