<div class="relative -left-3 w-[calc(100%+0.75rem)] text-neutral/75 flex mt-2 {{align === 'center' ? 'items-center' : 'items-end'}}"
     [ngClass]="{'justify-between': leftActions?.length > 0 && rightActions?.length > 0,
                 'justify-end': !leftActions || leftActions.length === 0,
                 'justify-start': !rightActions || rightActions.length === 0}">

  <!-- Left -->
  <div *ngIf="leftActions?.length > 0" class="flex flex-wrap items-center">

    <!-- Actions -->
    <div class="hidden sm:block">
      <button *ngFor="let action of leftActions.slice(0, 2)" class="btn btn-sm btn-ghost gap-2 {{action.disable ? 'hover:pointer-events-none text-base-content/30' : ''}}"
        (click)="btnClicked.emit(action.action)">

        <ng-icon *ngIf="action.icon" [name]="action.icon" size="1.5rem" color="fillCurrent"></ng-icon>
        {{action.action.capitalize()}}
      </button>
    </div>

    <!-- More Actions -->
    <div class="dropdown dropdown-hover" [ngClass]="{'hidden': (!mobile && leftActions.length <= 2) || (mobile && leftActions.length === 0)}">
      <button class="btn btn-sm btn-ghost" tabindex="0">
        More actions
        <ng-icon name="tabler-caret-down" size="1rem" color="fillCurrent"></ng-icon>
      </button>

      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li *ngFor="let action of (mobile ? leftActions : leftActions.slice(2))">
          <a (click)="btnClicked.emit(action.action)">
            <ng-icon *ngIf="action.icon" [name]="action.icon" size="1rem" color="fillCurrent"></ng-icon>
            {{action.action.capitalize()}}
          </a>
        </li>
      </ul>
    </div>

  </div>

  <!-- Right -->
  <div *ngIf="rightActions?.length > 0" class="flex flex-wrap items-center gap-2">
    <ng-container *ngFor="let action of rightActions">

      <!-- Simple button -->
      <button *ngIf="!action.dropdown" class="btn gap-2 {{action.disable ? 'btn-disabled' : buttonColors[action.color]}}"
              [ngClass]="{'btn-outline': action.outline}" (click)="btnClicked.emit(action.action)">

        {{action.action.capitalize()}}
        <ng-icon *ngIf="action.icon" [name]="action.icon" size="1.2rem" color="fillCurrent"></ng-icon>
      </button>

      <!-- Button w/ dropdown -->
      <div *ngIf="action.dropdown" class="dropdown dropdown-hover dropdown-end">
        <label tabindex="0" class="btn {{buttonColors[action.color]}} gap-2 m-1" [ngClass]="{'btn-outline': action.outline}">
          {{action.action.capitalize()}}
          <ng-icon *ngIf="action.icon" [name]="action.icon" size="1.2rem" color="fillCurrent"></ng-icon>
        </label>

        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box min-w-max">
          <li *ngFor="let item of action.dropdown" (click)="btnClicked.emit(item.action)" class="{{item.disable ? 'disabled' : ''}}"><a>
            <ng-icon *ngIf="item.icon" [name]="item.icon" size="1rem" color="fillCurrent"></ng-icon>
            {{item.action.capitalize()}}
          </a></li>
        </ul>
      </div>

    </ng-container>
  </div>

</div>
