<div class="form-control w-full {{classList}}">

  <!-- Label -->
  <label *ngIf="label" class="label cursor-pointer justify-start gap-2" [ngClass]="{'pl-0': helperText}">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <span class="label-text" [ngClass]="{'opacity-50': disabled}">{{label}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <!-- Textarea -->
  <textarea
    id="{{id}}"
    name="{{id}}"
    class="textarea textarea-bordered {{TextareaSize[size]}} {{TextareaColor[color]}} w-full"
    placeholder="{{placeholder}}"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value)"
    [pattern]="pattern"
    [required]="required"
    [minlength]="minLength"
    [maxlength]="maxLength"
    [disabled]="disabled"
    #inputTextarea="ngModel"
    [ngClass]="{'textarea-error': form && form.submitted && inputTextarea.invalid}">
  </textarea>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && inputTextarea.invalid" class="label">
    <span *ngIf="inputTextarea.errors.pattern" class="label-text-alt">{{patternErrorMessage}}</span>
    <span *ngIf="inputTextarea.errors.required" class="label-text-alt">{{requiredErrorMessage}}</span>
    <span *ngIf="inputTextarea.errors.minlength" class="label-text-alt">{{minLengthErrorMessage}}</span>
    <span *ngIf="inputTextarea.errors.maxlength" class="label-text-alt">{{maxLengthErrorMessage}}</span>
    <span *ngIf="inputTextarea.errors.incorrect" class="label-text-alt">{{incorrectErrorMessage}}</span>
  </label>

</div>
