<app-navbar></app-navbar>

<div id="wrapper">
  <!-- conteudo da página -->
  <div id="content-wrapper" *ngIf="!loading">

    <!-- Sidebar -->
    <app-sidebar
      [filters]="user.isAdmin ? filters.admin : filters.nonAdmin"
      [orderBy]="user.isAdmin ? orderBy.admin : orderBy.nonAdmin"
      (onSearch)="onSearch($event)"
      (onFilterChange)="onFilterChanged($event)"
      (onOrderChange)="onOrderByChanged($event)">
    </app-sidebar>

    <!-- Main Content -->
    <div id="mainContent">
      <ng-container *ngIf="user.isAdmin" [ngTemplateOutlet]="adminTemplate"></ng-container>
      <ng-container *ngIf="!user.isAdmin" [ngTemplateOutlet]="nonAdminTemplate"></ng-container>
    </div>

  </div>

  <!-- Loader -->
  <div *ngIf="loading || loadingAction" id="page-loading">
    <img src="../../../../assets/loader/loader.gif" alt="loader">
  </div>
</div>


<!-- Admin Template -->
<ng-template #adminTemplate>

  <!-- Action buttons TODO -->
  <div class="action-buttons ">
    <div class="icon add_icon" (click)="isNewCourseModalOpen = true; initColorPicker()"></div>
    <div class="icon import_icon" title="Import" value="#import-course" onclick="openModal(this)"></div>
    <div class="icon export_icon" title="Export all" ng-click="exportCourses()"></div>
  </div>

  <!-- Courses Table -->
  <div id="allCourses">
    <div class="data-table">

      <table *ngIf="this.filteredCourses.length > 0" id="courses-table">
        <!-- Header -->
        <thead>
        <tr>
          <th class="first-column"></th>
          <th class="name-column">Name</th>
          <th >Short</th>
          <th ># Students</th>
          <th >Year</th>
          <th class="check-column">Active</th>
          <th class="check-column">Visible</th>
          <th class="action-column"></th>
          <th class="action-column"></th>
          <th class="action-column"></th>
          <th class="action-column"></th>
        </tr>
        </thead>

        <!-- Body -->
        <tbody>
        <tr *ngFor="let course of filteredCourses">
          <td class="first-column">
            <div class="profile-icon">
              <div class="box" [ngStyle]="{'backgroundColor': course.color}"></div>
              <div class="frame" [ngStyle]="{'borderColor': course.color}" style="border: 1px solid"></div>
            </div>
          </td>
          <td class="name-column" [routerLink]=""><span>{{course.name}}</span></td>
          <td class="ng-binding">{{course.short}}</td>
          <td class="ng-binding">{{course.nrStudents}}</td>
          <td class="ng-binding">{{course.year}}</td>
          <td class="check-column">
            <label class="switch">
              <input type="checkbox" [checked]="course.isActive" (change)="toggleActive(course.id)">
              <span class="slider round"></span>
            </label>
          </td>
          <td class="check-column">
            <label class="switch">
              <input type="checkbox" [checked]="course.isVisible" (change)="toggleVisible(course.id)">
              <span ng-click="makeVisible(course.id)" class="slider round"></span>
            </label>
          </td>
          <td class="action-column">
            <div class="icon duplicate_icon" title="Duplicate" (click)="duplicateCourse(course)"></div>
          </td>
          <td class="action-column">
            <div class="icon edit_icon" title="Edit" onclick="openModal(this)" ng-click="modifyCourse(course)"></div>
          </td>
          <td class="action-column">
            <div class="icon delete_icon" title="Remove" (click)="courseToDelete = course; isDeleteVerificationModalOpen = true"></div>
          </td>
          <td class="action-column">
            <div class="icon export_icon_no_outline" title="Export" (click)="courseToExport = course; isIndividualExportModalOpen = true"></div>
          </td>
        </tr>
        </tbody>
      </table>

      <p *ngIf="this.filteredCourses.length === 0" class="centered">No matches found</p>
    </div>
  </div>
</ng-template>


<!-- Non-Admin Template -->
<ng-template #nonAdminTemplate>

</ng-template>


<!-- New Course Modal -->
<ng-container *ngIf="isNewCourseModalOpen">
  <app-modal
    [isModalOpen]="isNewCourseModalOpen"
    [id]="'new-course'"
    [templateRef]="newCourseModal"
    (closeBtnClicked)="isNewCourseModalOpen = false"
    [actionInProgress]="saving"
    [innerClickEvents]="false">
  </app-modal>
</ng-container>

<ng-template #newCourseModal>
  <!-- Title -->
  <div class="title">New Course:</div>

  <div class="content">
    <div class="inputs">

      <!-- Name -->
      <div class="name full">
        <input type="text" class="form__input" id="name" placeholder="Name *" [(ngModel)]="newCourse.name" [required]="true">
        <label for="name" class="form__label">Name</label>
      </div>

      <div class="row_inputs">
        <div class="short_name half">
          <input type="text" class="form__input" id="short_name" placeholder="Short Name *" [(ngModel)]="newCourse.short" [required]="true">
          <label for="short_name" class="form__label">Short Name</label>
        </div>

        <div class="year half right">
          <input list="years" class="form__input" id="year" placeholder="Year *" [(ngModel)]="newCourse.year" [required]="true">
          <label for="year" class="form__label">Year</label>
          <datalist id="years">
            <option *ngFor="let year of yearsOptions" value="{{year}}"></option>
          </datalist>
        </div>

        <div class="color_picker half">
          <input type="text" class="form__input pickr" id="new_pickr" placeholder="Color *" [(ngModel)]="newCourse.color" role="button" aria-label="toggle color picker dialog">
          <label for="new_pickr" class="form__label">Color</label>
          <div id="color-sample">
            <div class="box" [ngStyle]="{'backgroundColor': newCourse.color || 'white'}"></div>
            <div class="frame" [ngStyle]="{'borderColor': newCourse.color !== 'white' && newCourse.color !== '#ffffff' ? newCourse.color : 'lightgray'}"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="on_off"><span>Active </span><label class="switch"><input id="active" type="checkbox" [(ngModel)]="newCourse.isActive"><span class="slider round"></span></label></div>
        <div class="on_off"><span>Visible </span><label class="switch"><input id="visible" type="checkbox" [(ngModel)]="newCourse.isVisible"><span class="slider round"></span></label></div>
      </div>
    </div>

    <button class="save_btn" [disabled]="!isReadyToSubmit()" (click)="createCourse()">Save</button>
  </div>
</ng-template>


<!-- Delete Verification Modal -->
<ng-container *ngIf="isDeleteVerificationModalOpen">
  <app-verification-modal
    [isModalOpen]="isDeleteVerificationModalOpen"
    [id]="'delete-verification-' + courseToDelete.id"
    [text]="'Are you sure you want to delete the Course?'"
    [target]="courseToDelete.name"
    [positiveBtnText]="'Delete'"
    (positiveBtnClicked)="deleteCourse(courseToDelete.id)"
    (negativeBtnClicked)="courseToDelete = null; isDeleteVerificationModalOpen = false"
    (closeBtnClicked)="isDeleteVerificationModalOpen = false"
    [actionInProgress]="saving">
  </app-verification-modal>
</ng-container>


<!-- Individual Export Modal -->
<ng-container *ngIf="isIndividualExportModalOpen">
  <app-modal
    [isModalOpen]="isIndividualExportModalOpen"
    [id]="'export-verification-' + courseToExport.id"
    [templateRef]="individualExportModal"
    (closeBtnClicked)="isIndividualExportModalOpen = false"
    [actionInProgress]="saving"
    [innerClickEvents]="false"
    [classList]="'export'">
  </app-modal>
</ng-container>

<ng-template #individualExportModal>

  <!-- Title -->
  <div class="title">Export Test Course</div>

  <div class="warning">Select what to export:</div>

  <div class="content">
    <div id="new_box_tier" class="inputs">

      <div class="row_inputs">
        <div class="details full config_item">

          <!-- Users -->
          <div><label class="container">
            <input type="checkbox" [(ngModel)]="exportOptions[courseToExport.id].users" [disabled]="exportOptions[courseToExport.id].awards" [checked]="exportOptions[courseToExport.id].awards" title="Users have to be exported if &quot;Awards and Participations&quot; is selected.">
            <span class="checkmark">Users</span>
          </label></div>

          <!-- Awards & Participations -->
          <div><label class="container">
            <input type="checkbox" [(ngModel)]="exportOptions[courseToExport.id].awards">
            <span class="checkmark">Awards and Participations</span>
          </label></div>

          <!-- Modules -->
          <div><label class="container">
            <input type="checkbox" [(ngModel)]="exportOptions[courseToExport.id].modules">
            <span class="checkmark">Modules</span>
          </label></div>
        </div>
      </div>
    </div>

    <button class="cancel" (click)="isIndividualExportModalOpen = false">Cancel</button>
    <button class="save_btn" (click)="exportCourse(courseToExport, exportOptions[courseToExport.id])">Export</button>
  </div>

</ng-template>

<!-- TODO: boxes -->
