<ng-container
  [ngTemplateOutlet]="view.link ? LINK : BARE">
</ng-container>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>
<!-- TODO: missing view commom settings -->
<!-- TODO: missing aspect & editing -->

<ng-template #BARE>
  <div [classList]="view.class">
    <bb-image [view]="view.image"></bb-image>
    <bb-text [view]="view.title"></bb-text>
  </div>
</ng-template>

<ng-template #LINK>
  <a [classList]="view.class" href="{{view.link}}">
    <bb-image [view]="view.image"></bb-image>
    <bb-text [view]="view.title"></bb-text>
  </a>
</ng-template>
