<ng-container
  [ngTemplateOutlet]="SIMPLE">
</ng-container>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <div [attr.id]="view.cssId"
       [classList]="view.class"
       [attr.style]="view.style"
       [attr.data-viewId]="view.viewId"
       [attr.data-role]="edit ? view.role : null">
    <bb-image [view]="view.image"></bb-image>
    <bb-text [view]="view.title"></bb-text>
  </div>
</ng-template>
