# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/nbproject

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
npm-debug.log
yarn-error.log
logs/
config.php
config.production.php

# System Files
.DS_Store
Thumbs.db

# GameCourse
!/course_data/
/course_data/**
!/course_data/defaultData/
!/course_data/defaultData/**

autogame/imported-functions/*/

!/autogame/config/
/autogame/config/**
!/autogame/config/samples
!/autogame/config/samples/**

photos/**
!/photos/no-photo.png
!/photos/no-image.png

modules/skills/resources/
modules/quest/resources/

cache/
/nbproject/private/
/setup.done
/crontab.txt
courses.zip
badges.zip
/qr-code.png
