<div class="w-full relative">

  <div class="card w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <!-- Header -->
      <app-header
        [classList]="'text-md'"
        [title]="'Pages'"
        [icon]="'feather-layout'"
        [loading]="loading.action">
      </app-header>

      <!-- Pages table actions -->
      <app-top-actions
        [classList]="'-mt-6'"
        [rightActions]="[{action: 'Create new Page', icon: 'feather-layout', color: 'primary', outline: true},
                       {action: 'Import / Export', icon: 'tabler-arrows-up-down', color: 'primary', outline: true,  dropdown: [
                        {action: Action.IMPORT + ' page(s)', icon:'jam-download'},
                        {action: Action.EXPORT + ' all pages', icon:'jam-upload'}
                      ]}]"
        (btnClicked)="prepareModal('pages', $event)">
      </app-top-actions>

      <!-- Pages table -->
      <app-table
        *ngIf="pagesTable.showTable"
        [id]="'page-table'"
        [classList]="'mt-5'"
        [headers] = "pagesTable.headers"
        [data]="pagesTable.data"
        [options]="pagesTable.options"
        [loading]="pagesTable.loading"
        (btnClicked)="doActionOnTable('pages', $event.type, $event.row, $event.col)"></app-table>
    </div>
  </div>


  <!-- Search
  <div class="w-[55%] mx-auto mt-5">
    <app-input-search
      [id] = "'pages-search'"
      [items] = "pages"
      [placeholder]="'Search for a specific page...'"
      (valueChange)="filterPages($event)">
    </app-input-search>
  </div>

  <span *ngIf="false && pages.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing to show yet.</span>
  <span *ngIf="pages.length !== 0 && pagesToShow.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing found.</span>

  <div class="-ml-35 inline-grid justify-between mt-4 mb-4" style="grid-template-columns: repeat(auto-fill, 219px); width: calc(100% + 35px)">
    <div *ngFor="let page of pagesToShow">
      <div class="card card-compact w-60 bg-base-100 shadow-xl border border-4 border-{{page.isVisible ? 'success' : 'error'}} mx-2 my-2">
        <div class="card-body">
          <div class="card-actions justify-start">
            <button class="btn btn-xs btn-ghost btn-circle h-10 w-10 -mt-4 -ml-4">
              <ng-icon name="feather-x" size="1.2rem" class="text-error"></ng-icon>
            </button>
          </div>
          <span class="flex justify-center font-semibold">{{page.name}}</span>
          <div class="card-actions justify-end flex -mr-4 -mb-4">
            <button class="btn btn-sm btn-ghost btn-circle h-10 w-10">
              <ng-icon name="{{page.isVisible ? 'tabler-eye' : 'tabler-eye-off'}}" size="1.5rem" class="text-primary"></ng-icon>
            </button>

            <button class="btn btn-sm btn-ghost btn-circle h-10 w-10 -ml-3">
              <ng-icon name="jam-pencil-f" size="1.5rem" class="text-warning"></ng-icon>
            </button>
          </div>
        </div>
      </div>
   </div>

  </div>-->


  <div class="card w-full bg-base-100 shadow-xl mt-6">
    <div class="card-body">

      <!-- Header -->
      <app-header
        [classList]="'text-md'"
        [title]="'Views'"
        [icon]="'tabler-eye'"
        [loading]="loading.action">
      </app-header>

      <!-- Views table actions -->
      <app-top-actions
        [classList]="'-mt-6'"
        [rightActions]="[{action: 'Create new View', icon: 'tabler-eye', color: 'primary', outline: true},
                       {action: 'Import / Export', icon: 'tabler-arrows-up-down', color: 'primary', outline: true,  dropdown: [
                        {action: Action.IMPORT + ' view(s) from PC', icon:'tabler-device-desktop'},
                        {action: Action.IMPORT + ' view(s) from GameCourse', icon:'jam-download'},
                        {action: Action.EXPORT + ' all views', icon:'jam-upload'}
                      ]}]"
        (btnClicked)="prepareModal('views', $event)">
      </app-top-actions>

      <!-- Views table -->
      <app-table
        *ngIf="viewsTable.showTable"
        [id]="'view-table'"
        [classList]="'mt-5'"
        [headers] = "viewsTable.headers"
        [data]="viewsTable.data"
        [options]="viewsTable.options"
        [loading]="viewsTable.loading"
        (btnClicked)="doActionOnTable('views', $event.type, $event.row, $event.col)"></app-table>

    </div>
  </div>

</div>


<ng-container *ngIf="!loading.page">



</ng-container>
