<div class="w-full relative">

  <!-- Header -->
  <app-header
    [classList]="'text-md'"
    [title]="'Pages'"
    [icon]="'feather-file'"
    [loading]="loading.action">
  </app-header>

  <!-- Pages top actions -->
  <app-top-actions
    [classList]="'-mt-6'"
    [leftActions]="[{action: 'Arrange Pages', icon: 'feather-move'}]"
    [rightActions]="[{action: 'Create new Page', icon: 'feather-file', color: 'primary', outline: true},
                       {action: 'Import / Export', icon: 'tabler-arrows-up-down', color: 'primary', outline: true,  dropdown: [
                        {action: Action.IMPORT + ' page(s) from PC', icon:'tabler-device-desktop'},
                        {action: Action.IMPORT + ' page from GameCourse', icon:'jam-download'},
                        {action: Action.EXPORT + ' all pages', icon:'jam-upload'}
                      ]}]"
    (btnClicked)="prepareModal($event)">
  </app-top-actions>

  <!-- Search-->
  <div class="w-[40%] mx-auto my-5">
    <app-input-search
      [id] = "'pages-search'"
      [items] = "pages"
      [placeholder]="'Search for a specific page...'"
      (valueChange)="filterPages($event)">
    </app-input-search>
  </div>

  <span *ngIf="pages.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing to show yet.</span>
  <span *ngIf="pages.length !== 0 && pagesToShow.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing found.</span>

  <!-- Pages cards -->
  <div *ngIf="!loading.page" class="inline-grid justify-between" style="grid-template-columns: repeat(auto-fill, 240px); width: 100%">
    <div *ngFor="let page of pagesToShow">
      <div class="card card-compact w-60 bg-base-100 shadow-xl my-4">
        <figure class="relative w-full aspect-square">
          <img class="absolute w-full h-full object-cover top-0 left-0" src="assets/imgs/img-dark.png" alt="{{page.name}} page">
          <div class="badge badge-sm badge-{{page.isVisible ? 'success' : 'error'}} absolute bottom-1 left-1 -z-999">
            <ng-icon name="jam-circle-f" size="0.5rem" class="{{page.isVisible ? 'text-green-700' : 'text-red-700'}} fill-green-900 mr-0.5"></ng-icon>
            <span class="font-semibold my-0.5">{{page.isVisible ? 'Active' : 'Inactive'}}</span>
          </div>
        </figure>

        <div class="card-body -mt-4">
          <div class="flex justify-between items-center">
            <span class="text-lg font-semibold -mb-2">{{page.name}}</span>
            <div class="dropdown dropdown-right">
              <button class="btn btn-xs btn-ghost btn-circle h-10 w-10 -mr-4">
                <ng-icon name="feather-more-vertical" size="1.2rem"></ng-icon>
              </button>

              <ul tabindex="0" class="dropdown-content z-[1] menu bg-base-300 shadow rounded-box w-52">
                <li *ngFor="let action of actions; let i = index" (click)="doAction(action.description)">
                  <div class="flex items-center {{i >= 0 && i < actions.length-1 && action.type !== actions[i+1].type ? 'border-b-base-content border-b-2' : '' }}">
                    <ng-icon [name]="action.icon" size="1.3rem"></ng-icon>
                    <span class="font-semibold">{{action.description}}</span>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <p class="text-sm"><strong>Last edited:</strong> {{calculateDate(page.updateTimestamp)}}</p>
        </div>

      </div>
    </div>

  </div>

  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>
</div>


<!-- Arrange Pages Modal -->
<app-modal *ngIf="mode"
           [id]="'arrange-pages'"
           [templateRef]="ARRANGE"
           [header]="mode?.capitalize() + ' order of pages'"
           [closeBtnText]="'Discard'"
           [submitBtnText]="'Save'"
           [actionInProgress]="loading.action"
           (submitBtnClicked)="arrangePages()"
           (onClose)="resetChanges()">
</app-modal>

<ng-template #ARRANGE>

</ng-template>
