<div class="w-full relative">

  <!-- Header -->
  <app-header
    [classList]="'text-md'"
    [title]="'Pages'"
    [icon]="'feather-file'"
    [loading]="loading.action">
  </app-header>

  <!-- Pages top actions -->
  <app-top-actions
    [classList]="'-mt-6'"
    [leftActions]="[{action: 'Arrange Pages', icon: 'feather-move'}]"
    [rightActions]="[{action: 'Create new Page', icon: 'feather-file', color: 'primary', outline: true},
                       {action: 'Import / Export', icon: 'tabler-arrows-up-down', color: 'primary', outline: true,  dropdown: [
                        {action: Action.IMPORT + ' page(s) from PC', icon:'tabler-device-desktop'},
                        {action: Action.IMPORT + ' page from GameCourse', icon:'jam-download'},
                        {action: Action.EXPORT + ' all pages', icon:'jam-upload'}
                      ]}]"
    (btnClicked)="prepareModal($event)">
  </app-top-actions>

  <!-- Search-->
  <div class="w-[40%] mx-auto my-5">
    <app-input-search
      [id] = "'pages-search'"
      [items] = "pages"
      [placeholder]="'Search for a specific page...'"
      (valueChange)="filterPages($event)">
    </app-input-search>
  </div>

  <span *ngIf="!loading.page && pages.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing to show yet.</span>
  <span *ngIf="pages.length !== 0 && pagesToShow.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing found.</span>

  <!-- Pages cards -->
  <div *ngIf="!loading.page" class="inline-grid justify-between" style="grid-template-columns: repeat(auto-fill, 240px); width: 100%">
    <div *ngFor="let page of pagesToShow">
      <div class="card card-compact w-60 bg-base-100 shadow-xl my-4">
        <figure class="relative w-full aspect-square">
          <img class="absolute w-full h-full object-cover top-0 left-0" src="assets/imgs/img-dark.png" alt="{{page.name}} page">
          <div class="absolute top-1 right-1 -z-999">
            <button class="btn btn-sm btn-secondary btn-circle hover:text-base-content tooltip tooltip-left"
                    data-tip="Make public/private" (click)="doAction('make public/private', page)">
              <ng-icon name="{{page.isPublic ? 'jam-padlock-open-f' : 'jam-padlock-f'}}" size="1.3rem"
                       class="text-white"></ng-icon>
            </button>
          </div>
          <div class="badge badge-sm badge-{{page.isVisible ? 'success' : 'error'}} absolute bottom-1 left-1 -z-999 hover:cursor-pointer">
            <ng-icon name="jam-circle-f" size="0.5rem" class="{{page.isVisible ? 'text-green-700' : 'text-red-700'}} fill-green-900 mr-0.5"></ng-icon>
            <span class="font-semibold my-0.5">{{page.isVisible ? 'Active' : 'Inactive'}}</span>
          </div>
        </figure>

        <div class="card-body -mt-4">
          <div class="flex justify-between items-center">
            <span class="text-lg font-semibold -mb-2">{{page.name}}</span>
            <div class="dropdown dropdown-right">
              <button class="btn btn-xs btn-ghost btn-circle h-10 w-10 -mr-4">
                <ng-icon name="feather-more-vertical" size="1.2rem"></ng-icon>
              </button>

              <ul tabindex="0" class="dropdown-content z-[1] menu bg-base-300 shadow rounded-box w-52">
                <li *ngFor="let action of actions; let i = index" (click)="doAction(action.description, page)">
                  <div class="flex items-center {{i >= 0 && i < actions.length-1 && action.type !== actions[i+1].type ? 'border-b-base-content border-b-2' : '' }}">
                    <ng-icon [name]="action.icon" size="1.3rem"></ng-icon>
                    <span class="font-semibold">{{action.description}}</span>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <p class="text-sm"><strong>Last edited:</strong> {{calculateDate(page.updateTimestamp)}}</p>
        </div>

      </div>
    </div>

  </div>

  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>
</div>


<!-- Arrange Pages Modal -->
<app-modal *ngIf="mode === 'arrange'"
           [id]="'arrange-pages'"
           [templateRef]="ARRANGE"
           [header]="mode?.capitalize() + ' order of pages'"
           [closeBtnText]="'Discard'"
           [submitBtnText]="'Save'"
           [size]="'md'"
           [actionInProgress]="loading.action"
           (submitBtnClicked)="arrangePages()"
           (onClose)="resetChanges()">
</app-modal>
<ng-template #ARRANGE>
  <div class="w-full flex flex-wrap -mt-1">
    <span>The order here defined will be the order in which pages will <strong>appear in the sidebar</strong> once visible</span>
  </div>

  <div cdkDropList [id]="'pages-list'" class="dd max-w-none mt-4" (cdkDropListDropped)="drop($event)">
    <div class="dd-item" *ngFor="let page of arrangingPages" cdkDrag>
      <div class="justify-center flex">
        <!-- Move -->
        <div *ngIf="arrangingPages.length > 1" class="tooltip absolute -ml-[45%] mt-2" data-tip="Move">
          <button class="dd-handle btn btn-sm btn-ghost btn-circle hover:text-base-content m-0 relative cursor-grab">
            <ng-icon name="tabler-arrows-vertical" size="1.2rem"></ng-icon>
            <div class="dd-handle overlay h-[1.2rem] w-[1.2rem]"></div>
          </button>
        </div>

        <!-- Card -->
        <div class="dd-content border-primary border-opacity-75 card w-[40%] bg-base-100 shadow-xl mt-2">
          <div class="card-body py-1">
            <span class="self-center font-semibold text-md">{{page.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Delete Modal -->
<app-modal *ngIf="mode === 'delete' && pageToManage"
           [id]="'delete-page'"
           [templateRef]="DELETE"
           [header]="mode?.capitalize() + ' page \'' + pageToManage.name + '\'?'"
           [closeBtnText]="'Cancel'"
           [submitBtnText]="'Delete'"
           [submitBtnColor]="'error'"
           [actionInProgress]="loading.action"
           (submitBtnClicked)="deletePage()"
           (onClose)="resetChanges()">
</app-modal>
<ng-template #DELETE>
  <div class="w-full flex flex-wrap -mt-1">
    <span>Are your sure you want to delete '<strong>{{pageToManage.name}}</strong>' page? This action <strong>cannot be undone</strong>.</span>
  </div>
</ng-template>

<!-- Make public / private modal -->
<app-modal *ngIf="mode === 'make public-private' && pageToManage"
           [id]="'make-public-private-page'"
           [templateRef]="MAKE_PUBLIC_PRIVATE"
           [header]="'Make \'' + pageToManage.name + '\' ' + (pageToManage.isPublic ? 'private' : 'public') + '?'"
           [closeBtnText]="'Cancel'"
           [submitBtnText]="'Yes'"
           [submitBtnColor]="'error'"
           [actionInProgress]="loading.action"
           (submitBtnClicked)="makePublicAndPrivate()"
           (onClose)="resetChanges()">
</app-modal>
<ng-template #MAKE_PUBLIC_PRIVATE>
  <div class="flex flex-wrap -mt-1">
    <span class="w-full" *ngIf="pageToManage.isPublic">This page will <strong>stop being available</strong>
      for other courses. Do you wish to proceed?</span>
    <span class="w-full" *ngIf="!pageToManage.isPublic">This page will be <strong>available for other courses to
      use and modify.</strong> Do you wish to proceed?</span>
  </div>
</ng-template>

<!-- TODO: Configure visibility modal -->
<app-modal *ngIf="mode === 'visibility' && pageToManage"
           [id]="'configure-visibility'"
           [templateRef]="VISIBILITY"
           [header]="'Make \'' + pageToManage.name + '\' ' + (pageToManage.isVisible ? 'private' : 'public') + '?'"
           [closeBtnText]="'Cancel'"
           [submitBtnText]="'Yes'"
           [submitBtnColor]="'error'"
           [actionInProgress]="loading.action"
           (submitBtnClicked)="makePublicAndPrivate()"
           (onClose)="resetChanges()">
</app-modal>
<ng-template #VISIBILITY>
  <div class="w-full flex flex-wrap -mt-1">
    <span>{{pageToManage.isVisible ? 'This page will stop being available for other courses.' :
      'This page will be available for other courses to use.'}}</span>
  </div>
</ng-template>
