.btn.btn-fenix.btn-outline {
  color: #0095D5;
  border-color: #0095D5;

  &:hover {
    color: white;
    background-color: #0095D5;
  }
}

.btn.btn-google.btn-outline {
  color: #DB4437;
  border-color: #DB4437;

  &:hover {
    color: white;
    background-color: #DB4437;
  }
}

.btn.btn-facebook.btn-outline {
  color: #4267B2;
  border-color: #4267B2;

  &:hover {
    color: white;
    background-color: #4267B2;
  }
}

.btn.btn-linkedin.btn-outline {
  color: #0077B5;
  border-color: #0077B5;

  &:hover {
    color: white;
    background-color: #0077B5;
  }
}
