/* Extra styles
.CodeMirror {
  width: 93%;
  height: 10.4em;
  margin: 0.7em;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 0;
  color: #333;
  font-size: 15px;
  font-family: 'Courier New', monospace;
  flex: 3;
  resize: vertical;
  line-height: 1.4em;
  max-height: 25vh;
}

.cm-animate-fat-cursor {
  border: 0;
}

.cm-s-mdn-like.CodeMirror {
  background-image: none;
}
*/
