.dataTables_wrapper .dataTables_length select {
  padding: 6px;
  font-size: 14px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.dataTables_wrapper .dataTables_filter input {
  padding: 6px;
  font-size: 14px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

table.dataTable thead th,
table.dataTable thead td {
  font-size: 11px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 2px solid gray;
  padding-bottom: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

table.dataTable tbody th,
table.dataTable tbody td {
  text-align: center;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

input.database_search {
  padding: 6px;
  font-size: 14px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 100%;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  margin-bottom: 1rem;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  margin-top: 1rem;
}
