<ng-container *ngIf="!loading">

  <!-- Info -->
  <div class="section">
    <div class="divider">
      <div class="title"><span>Info</span></div>
    </div>

    <div class="content">
      <div>
        <p><b>Course Name: </b>{{course.name}}</p>
        <p><b>Course ID: </b>{{course.id}}</p>
        <p><b>Nº. Students: </b>{{course.nrStudents}} <span>({{activeStudents.length}} active)</span></p>
<!--        <p><b>Awards: </b>{{info.awards}}</p>-->
<!--        <p><b>Participations: </b>{{info.participations}}</p>-->
      </div>

<!--      <div><button id="edit_db_button" class="button" (click)="isViewDBModalOpen = true">View Database</button></div>-->
    </div>
  </div>

  <!-- Navigation -->
  <div class="section">
    <div class="divider">
      <div class="title"><span>Navigation</span></div>
    </div>

    <div class="content ng-scope" id="navigation-config">
      <div class="data-table">
        <table id="nav-table">
          <tbody>
          <tr>
            <th>Position</th>
            <th>Page</th>
            <th class="action-column"></th>
            <th class="action-column"></th>
          </tr>
          <tr *ngFor="let page of orderBySeqId()">
            <td>{{page.seqId}}</td>
            <td>{{page.name}}</td>
            <td class="action-column">
              <div class="icon up_icon" title="Move up" (click)="move(page, 1)"></div>
            </td>
            <td class="action-column">
              <div class="icon down_icon" title="Move down" (click)="move(page, -1)"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Styling -->
  <div class="section">
    <div class="divider">
      <div class="title"><span>Styling</span></div>
    </div>

    <div class="content">
      <ng-container>
        <div id="save-change-css" class="action-buttons" style="width:140px;">
          <button class="button" title="Save" [disabled]="styles.contents === originalStyles" (click)="updateCourseStyles(course.id)"> Save Changes </button>
        </div>

        <div id="edit-css-file">
          <app-input-code
            [id]="'style-file'"
            [classList]="'form__input'"
            [placeholder]="'Write your style here...'"
            [mode]="'css'"
            [init]="styles.contents"
            [canInit]="stylesLoaded"
            (valueChange)="styles.contents = $event">
          </app-input-code>
        </div>
      </ng-container>
    </div>
  </div>

</ng-container>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>


<!-- View DB Modal -->
<ng-container *ngIf="isViewDBModalOpen">
<!--  <app-modal-->
<!--    [isOpen]="isViewDBModalOpen"-->
<!--    [id]="'edit-db'"-->
<!--    [templateRef]="viewDbModal"-->
<!--    (closeBtnClicked)="isViewDBModalOpen = false"-->
<!--    [actionInProgress]="saving"-->
<!--    [classList]="'verification'">-->
<!--  </app-modal>-->
</ng-container>

<ng-template #viewDbModal>

  <div class="warning">Please select a table:</div>

  <div class="confirmation_btns">
    <button (click)="showDatabase('award')">Award</button>
    <button (click)="showDatabase('participation')">Participation</button>
  </div>

</ng-template>


<!-- Success Modal -->
<!--<app-modal-->
<!--  [isOpen]="isSuccessModalOpen"-->
<!--  [id]="'message-api-box'"-->
<!--  [classList]="'verification'"-->
<!--  [templateRef]="successModal"-->
<!--  (closeBtnClicked)="isSuccessModalOpen = false"-->
<!--  [actionInProgress]="saving">-->
<!--</app-modal>-->

<ng-template #successModal>
  <div class="message_warning warning">Saved!</div>
  <div class="confirmation_btns">
    <button (click)="isSuccessModalOpen = false">Confirm</button>
  </div>
</ng-template>
