<div [id]="id" [classList]="classList">
  <!-- Top Label -->
  <div *ngIf="labelLeft || labelMiddle || labelRight" class="flex mb-1"
       [ngClass]="{'justify-between': labelLeft && labelRight, 'justify-end': !labelLeft && labelRight, 'justify-center': labelMiddle}">

    <span *ngIf="labelLeft" class="text-sm font-semibold">{{labelLeft}}</span>
    <span *ngIf="labelMiddle" class="text-sm font-medium">{{labelMiddle}}</span>
    <span *ngIf="labelRight" class="text-sm font-semibold">{{labelRight}}</span>
  </div>

  <!-- Progress Bar -->
  <div class="progress-track w-full rounded-full {{ProgressSize[size]}}">
    <div class="progress-bar rounded-full flex items-center justify-center text-xs font-medium p-0.5 {{ProgressSize[size]}}"
         [ngStyle]="{'width': progress + '%'}">

      <!-- Inside Label -->
      {{labelInside && (size == 'md' || size == 'lg') ? labelInside : ''}}
    </div>
  </div>
</div>

