<app-input-text
  [id]="id"
  [form]="form"
  [(value)]="value"
  [placeholder]="placeholder"

  [size]="size"
  [color]="color"
  [classList]="classList"
  [disabled]="disabled"

  [topLabel]="topLabel"
  [leftLabel]="leftLabel"

  [helperText]="helperText"
  [helperPosition]="helperPosition"

  [pattern]="pattern"
  [required]="required"
  [minLength]="minLength"
  [maxLength]="maxLength"

  [patternErrorMessage]="patternErrorMessage"
  [requiredErrorMessage]="requiredErrorMessage"
  [minLengthErrorMessage]="minLengthErrorMessage"
  [maxLengthErrorMessage]="maxLengthErrorMessage"
  [incorrectErrorMessage]="incorrectErrorMessage"

  (valueChange)="valueChange.emit(leftLabel && leftLabel.containsWord('http') ? leftLabel + $event : $event)">
</app-input-text>
