<ng-container *ngIf="!isViewEditor">
  <div id="wrapper">

    <!-- conteudo da página -->
    <div id="content-wrapper">
      <div id="settings" class="page">
        <div class="tabs">
          <app-course-settings-sidebar></app-course-settings-sidebar>

          <div class="tab-content-wrapper">
            <div class="tab-content">
              <router-outlet></router-outlet>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</ng-container>

<router-outlet *ngIf="isViewEditor"></router-outlet>
