<div class="w-full">

    <!-- Text -->
    <div class="prose text-center max-w-full w-full">
      <h1>Welcome to GameCourse!</h1>
      <h3 class="font-normal">Choose a course to play</h3>

      <!-- No Active Courses -->
      <div *ngIf="activeCourses?.length == 0" class="flex items-center justify-center gap-2 mt-8">
        <ng-icon name="feather-info" size="1.3rem" class="text-info"></ng-icon>
        <h4 class="font-semibold my-0">Oops... No courses to play yet</h4>
      </div>
    </div>

    <!-- Courses -->
    <div class="flex flex-wrap -m-4 mt-5">

      <ng-container *ngIf="!loading">
        <div *ngFor="let course of activeCourses" class="sm:w-1/2 xl:w-1/3 2xl:w-1/4 w-full p-4">
          <app-course-card [course]="course" [user]="user"></app-course-card>
        </div>
      </ng-container>

      <!-- Courses Skeleton -->
      <ng-container *ngIf="loading">
        <div *ngFor="let placeholder of [1, 2, 3, 4, 5]" class="lg:w-1/3 sm:w-1/2 w-full p-4">
          <app-course-skeleton></app-course-skeleton>
        </div>
      </ng-container>

    </div>

</div>
