<div class="form-control w-full {{classList}}">

  <!-- Label -->
  <label *ngIf="label" class="label">
    <span class="label-text">{{label}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <!-- Dropzone -->
  <div class="dropzone flex justify-center items-center w-full">
    <label [for]="id" class="flex flex-col justify-center items-center w-full rounded-lg border-2 border-dashed
           {{labelColors[color]}} btn btn-ghost {{InputGroupBtnColor[color]}} {{heights[size]}}"
           [ngClass]="{'border-error text-error btn-error': form && form.submitted && inputFile.invalid}">

      <!-- Dropzone Text -->
      <div class="flex flex-col justify-center items-center pt-5 pb-6">
        <ng-icon name="tabler-cloud-upload" size="2.5rem" color="fillCurrent"></ng-icon>
        <p class="mb-2 text-sm"><span class="font-semibold">Click to upload</span> or drag and drop</p>
        <p class="text-xs">{{getFileTypes()}} (MAX. 300 KB)</p>
      </div>

      <!-- Hidden input -->
      <ng-container [ngTemplateOutlet]="FILE"></ng-container>

    </label>
  </div>

  <!-- Files Selected -->
  <div *ngIf="files" class="flex flex-wrap items-center w-full mt-3">
    <button *ngFor="let file of getFiles(); let i = index; let last = last" class="btn btn-sm btn-ghost gap-2 {{!last ? 'mr-2' : ''}}" (click)="removeFile(i)">
      <ng-icon name="feather-x" class="w-4 h-4 cursor-pointer" color="fillCurrent"></ng-icon>
      {{file.name}}
    </button>
  </div>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && inputFile.invalid" class="label">
    <span *ngIf="inputFile.errors.required" class="label-text-alt">{{requiredErrorMessage}}</span>
  </label>

</div>

<ng-template #FILE>
  <input
    type="file"
    id="{{id}}"
    name="{{id}}"
    [accept]="accept"
    class="hidden"
    [multiple]="multiple"
    [(ngModel)]="value"
    (change)="onFilesSelected($event)"
    [required]="required"
    [disabled]="disabled"
    #inputFile="ngModel"
  />
</ng-template>
