<app-navbar></app-navbar>

<div id="wrapper">
  <!-- conteudo da página -->
  <div id="content-wrapper">
    <div *ngIf="!loading" id="myInfo">

      <!-- Title -->
      <div class="title_container">
        <div class="title">My Information</div>
        <span class="edit_icon icon" title="Edit" (click)="isEditModalOpen = true"></span>
      </div>

      <!-- Information box -->
      <div class="information_box">

        <!-- Image -->

        <div class="profile_img"><img src="{{user.photoUrl}}"></div>

        <!-- Info -->
        <div class="info">
          <span *ngFor="let att of attributes" class="label">{{att}}</span>
        </div>
        <div class="info">
          <span *ngFor="let val of values" [ngClass]="{'not_set': !user[val]}">{{user[val] || NOT_SET}}</span>
      </div>
    </div>
  </div>
</div>

  <!-- Loader -->
  <div *ngIf="loading" id="page-loading">
    <img src="../../../../assets/loader/loader.gif" alt="loader">
  </div>
</div>

<ng-container *ngIf="isEditModalOpen">
  <app-modal
    [isModalOpen]="isEditModalOpen"
    [id]="'edit-info'"
    [templateRef]="editInfo"
    (closeBtnClicked)="isEditModalOpen = false"
    [actionInProgress]="saving">
  </app-modal>
</ng-container>

<ng-template #editInfo>
  <!-- Title -->
  <div class="title">Edit Info:</div>

  <div class="content">
    <div id="edit_box" class="inputs">
      <div class="row_inputs">

        <!-- Image -->
        <div class="image smaller">
          <div style="height:300px;">
            <div class="profile_image">
              <div id="edit_display_profile_image"><img src="{{user.photoUrl}}"></div>
            </div>
            <input type="file" class="form__input" id="edit_profile_image" required="" accept=".png, .jpeg, .jpg">
          </div>
        </div>

        <!-- Details -->
        <div class="details bigger right">
          <div class="container">
            <input type="text" class="form__input" id="name" placeholder="Name" [(ngModel)]="editUser.name" [disabled]="true">
            <label for="name" class="form__label">Name</label>
          </div>

          <div class="container">
            <input type="text" class="form__input" id="nickname" placeholder="Nickname" [(ngModel)]="editUser.nickname">
            <label for="nickname" class="form__label">Nickname</label>
          </div>

          <div class="container">
            <div class="container">
              <input type="text" class="form__input" id="studentNumber" placeholder="Student Number" [(ngModel)]="editUser.studentNumber" [disabled]="true">
              <label for="studentNumber" class="form__label">Number</label>
            </div>
          </div>

          <div class="container">
            <input type="text" class="form__input" id="email" placeholder="Email *" [(ngModel)]="editUser.email">
            <label for="email" class="form__label">Email</label>
          </div>

          <div class="container">
            <div class="details half">
              <div class="container">
                <input type="text" class="form__input" id="authService" placeholder="Auth service" [(ngModel)]="editUser.auth" [disabled]="true">
                <label for="authService" class="form__label">Auth</label>
              </div>
            </div>

            <div class="details half right">
              <div class="container">
                <input type="text" class="form__input" id="username" placeholder="Username" [(ngModel)]="editUser.username" disabled="disabled">
                <label for="username" class="form__label">Username</label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <button class="save_btn" [disabled]="!isReadyToEdit()" (click)="submitEditUser()">Save</button>
  </div>
</ng-template>

