.profile .profile-summary,
.profile .profile-summary .profile-summary-blocks .profile-summary-block {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px;
}

.profile .profile-summary .profile-summary-blocks > * {
  flex-direction: row !important;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.profile .profile-summary .profile-summary-blocks > * > * {
  flex-grow: 1;
}

.profile .profile-summary .profile-summary-blocks .profile-summary-block {
  height: 350px;
  margin: 10px
}

.profile .profile-summary .profile-summary-blocks .profile-details table,
.profile .profile-summary .profile-summary-blocks .profile-latest-awards table {
  background-color: unset !important;
}

/*** ------------- Details ------------- ***/

.profile .profile-summary .profile-summary-blocks .profile-details .profile-details-header > * {
  flex-direction: row !important;
  align-items: center;
}

.profile .profile-summary .profile-summary-blocks .profile-details .profile-details-header .profile-details-header-img {
  width: 100px;
  height: 100px;
}

.profile .profile-summary .profile-summary-blocks .profile-details .profile-details-header .profile-details-header-img img {
  object-fit: cover;
}

.profile .profile-summary .profile-summary-blocks .profile-details .profile-details-header .profile-details-header-info {
  margin-left: 20px;
  font-size: 14px;
}

.profile .profile-summary .profile-summary-blocks .profile-details .profile-details-header .profile-details-header-info .profile-details-header-info-name {
  font-size: 16px;
  font-weight: bold;
}

.profile .profile-summary .profile-summary-blocks .profile-details .profile-details-tokens > * {
  flex-direction: row !important;
}

.profile .profile-summary .profile-summary-blocks .profile-details .profile-details-tokens .profile-details-tokens-img {
  width: 15px;
  height: 15px;
}

.profile .profile-summary .profile-summary-blocks .profile-details table tr td {
  padding: 10px !important;
}

/*** ---------- Latest Awards ---------- ***/

.profile .profile-summary .profile-summary-blocks .profile-latest-awards table .gc-row .gc-row_child:first-child {
  padding-left: 0 !important;
}

.profile .profile-summary .profile-summary-blocks .profile-latest-awards table .gc-row .gc-row_child:last-child {
  padding-right: 0 !important;
}

.profile .profile-summary .profile-summary-blocks .profile-latest-awards .profile-latest-award-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

/*** ------------- Charts ------------- ***/

.profile .profile-summary .profile-summary-blocks .gc-chart {
  display: flex;
  justify-content: center;
}

.profile .badges-list,
.profile .awards-list {
  margin-top: 20px;
}