<div id="input-rich-text-header" class="form-control w-full">

  <!-- Label -->
  <label *ngIf="title" class="label cursor-pointer justify-start gap-2" [ngClass]="{'pl-0': helperText}">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <span class="label-text" [ngClass]="{'opacity-50': disabled}">{{title}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <div [id]="id"
       [ngClass]="classList">
  </div>

  <app-file-picker-modal
    [id]="'rich-text-image-picker'"
    [type]="'image/*, video/*, audio/*'"
    [courseFolder]="courseFolder"
    [subfolderToOpen]="subfolderToOpen"
    [moduleId]="moduleId"
    [positiveBtnText]="'Add'"
    (positiveBtnClicked)="addFile($event)"
    [innerClickEvents]="true">
  </app-file-picker-modal>

</div>
