<!-- Teams -->

<div class="section teams-section">
  <div class="divider">
    <div class="title"><span>Teams</span></div>
  </div>

  <div class="teams content">

    <!-- Teams List -->
    <div id="teams-list">
      <div class="data-table">
        <table *ngIf="teams?.length > 0" id="listing-table-teams">
          <!-- Header -->
          <thead>
          <tr>
            <th>#</th>
            <th *ngIf="isTeamNameActive" >Team</th>
            <!--<th>Photo</th> -->
            <th>Member</th>
            <th>Experience</th>
            <th>Level</th>
            <th class="action-column"></th>
            <th class="action-column"></th>
          </tr>
          </thead>

          <!-- Body -->
          <tbody>
            <tr *ngFor="let team of teams" >
              <td><span>{{team.id}}</span></td>
              <td *ngIf="isTeamNameActive"><span>{{team.teamName}}</span></td>

              <table id="listing-table-teams-members">
                <tr *ngFor="let member of team.teamMembers">
                  <td>
                    <span>{{member['studentNumber']}}</span>
                  </td>
                  <td>
                    <span>{{member['name']}}</span>
                  </td>
                  <td>
                    <span>{{member['major']}}</span>
                  </td>
                </tr>
              </table>


              <td><span>{{team.xp}}</span></td>
              <td><span>{{0}}</span></td>


              <td class="action-column">
                <div class="icon edit_icon" title="Edit" (click)="mode = 'edit'; initItem('team', team); isTeamModalOpen = true;"></div>
              </td>
              <td class="action-column">
                <div class="icon delete_icon" title="Remove" (click)="teamToDelete = team; isDeleteVerificationModalOpen = true"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="teams.length === 0" class='error_box'>
          <div id='empty_table_teams' class='error_msg'>No teams found</div>
        </div>

      </div>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <div class="icon add_icon" title="New" (click)="mode = 'add'; isTeamModalOpen = true; initItem('team'); "></div>
      <div class="icon import_icon" title="Import" (click)="this.isImportModalOpen = true"></div>
      <div class="icon export_icon" title="Export All" (click)="exportAllTeams()"></div>
    </div>

  </div>

</div>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>

<!-- New / Edit Team Modal -->
<ng-container *ngIf="isTeamModalOpen">
  <app-modal
    [isModalOpen]="isTeamModalOpen"
    [id]="mode === 'add' ? 'new-team' : 'edit-team'"
    [templateRef]="teamModal"
    [width]="'calc(100% - 200px)'"
    (closeBtnClicked)="isTeamModalOpen = false; clearObject(newTeam);"
    [actionInProgress]="saving"
    [innerClickEvents]="false">
  </app-modal>
</ng-container>


<ng-template #teamModal>
  <div class="title">{{mode === 'add' ? 'New Team:' : 'Edit Team:'}}</div>

  <div class="content">

    <div class="row_inputs">
      <!-- Team Name -->
      <!-- <div *ngIf="isTeamNameActive" class="third" > -->
      <!-- <div class="third" > -->

      <div *ngIf="isTeamNameActive" class="third" >
        <input type="text" class="form__input" id="team-name" placeholder="Name" [(ngModel)]="newTeam.teamName" [required]="false">
        <label for="team-name" class="form__label">Name</label>
      </div>

      <!-- Select Team Members -->
      <div class="sub_title">Select Members: </div>
      <div class="content">
        <div id="new_box" class="inputs">

          <!-- Search -->
          <div class="search_box" id="selected_users">
            <div *ngIf="selectedMembers.length != 0">
              <div *ngFor="let user of selectedMembers" class="role_tag"
                   (click)="removeTeamMember(user.id)">
                {{user.name}}
              </div>
            </div>
            <div *ngIf="selectedMembers.length == 0">
              <div *ngFor="let user of newTeam.teamMembers" class="role_tag"
                   (click)="removeTeamMember(user.id)">
                {{user.name}}
              </div>
            </div>

            <input id="select_system_user" type="text" placeholder="Search.." [(ngModel)]="selectUserQuery" (ngModelChange)="reduceListUsers($event)">
          </div>

          <!-- Users -->
          <div class="select_box" id="system_users">
            <div *ngFor="let user of reduceUsers.items" class="line">
              <div>{{user.name + ' - ' + user.studentNumber}}</div>
              <div class="add_icon_no_outline icon" (click)="addTeamMember(user)"></div>
            </div>
          </div>


        </div>
        <div> Save Team </div>
        <button class="save_btn" [disabled]="!isReadyToSubmit('team')" (click)="mode === 'add' ? createTeam() : editTeam()">Save</button>

      </div>
      <!-- <button class="save_btn" (click)="createTeam()" [disabled]="selectedMembers?.length === 0 ">Save</button> -->


    </div>

  </div>

</ng-template>


<!-- Delete Verification Modal -->
<ng-container *ngIf="isDeleteVerificationModalOpen">
  <app-verification-modal
    [isModalOpen]="isDeleteVerificationModalOpen"
    [id]="'delete-verification-' + teamToDelete.id"
    [text]="'Are you sure you want to delete this Team?'"
    [target]="teamToDelete.id + ' - ' + teamToDelete.teamName"
    [positiveBtnText]="'Delete'"
    (positiveBtnClicked)="deleteTeam()"
    (negativeBtnClicked)="teamToDelete = null; isDeleteVerificationModalOpen = false"
    (closeBtnClicked)="isDeleteVerificationModalOpen = false"
    [actionInProgress]="saving">
  </app-verification-modal>
</ng-container>




