<!-- Teams -->

<div class="section teams-section">
  <div class="divider">
    <div class="title"><span>Teams</span></div>
  </div>

  <div class="teams content">

    <!-- Teams List -->
    <div id="teams-list">
      <div class="data-table">
        <table *ngIf="teams?.length > 0" id="listing-table-teams">
          <!-- <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 60%;">

          </colgroup> -->
          <!-- Header -->
          <thead>
          <tr>
            <th class = "index-column">#</th>
            <th class = "group-column">Fénix Group</th>
            <th *ngIf="isTeamNameActive" class="team-name-column" >Team</th>

            <!--<th>Photo</th> -->
            <th class = "members-column">Members</th>
            <!--
            <th>Experience</th>
            <th>Level</th>
            -->
            <th class = "blank"></th>

            <th class="action-column"></th>
            <th class="action-column"></th>
          </tr>
          </thead>

          <!-- Body -->
          <tbody>
            <tr *ngFor="let team of teams;  let i = index" >
              <!--<td><span>{{team.id}}</span></td>-->
              <td class = "index-column"><span> {{(i + 1)}}</span></td>
              <td class = "group-column"><span>{{team.teamNumber || "---"}}</span></td>

              <td *ngIf="isTeamNameActive" class="team-name-column"><span>{{team.teamName}}</span></td>

              <table id="listing-table-teams-members" style="border-collapse: collapse">
                <tr class = "members-column" *ngFor="let member of team.teamMembers">
                  <td class= "members-detail-column" style = "border-top: none">
                    <span>{{member['name']}}</span>
                  </td>
                  <td class= "members-detail-column"  style = "border-top: none" >
                    <span>{{member['major']}}</span>
                  </td>
                  <td class= "members-detail-column" style = "border-top: none">
                    <span>{{member['studentNumber']}}</span>
                  </td>

                </tr>
              </table>
              <!--
              <td><span>{{team.xp}}</span></td>
              <td><span>{{team.level}}</span></td>
              -->
              <td class = "blank">  </td>
              <td class="action-column" style="right: 0px">
                <div class="icon edit_icon" title="Edit" (click)="mode = 'edit'; initItem('team', team); isTeamModalOpen = true;"></div>
              </td>
              <td class="action-column">
                <div class="icon delete_icon" title="Remove" (click)="teamToDelete = team; isDeleteVerificationModalOpen = true"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="teams.length === 0" class='error_box'>
          <div id='empty_table_teams' class='error_msg'>No teams found</div>
        </div>

      </div>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <div class="icon add_icon" title="New" (click)="mode = 'add'; isTeamModalOpen = true; initItem('team'); "></div>
      <div class="icon import_icon" title="Import" (click)="this.isImportModalOpen = true"></div>
      <div class="icon export_icon" title="Export All" (click)="exportAllTeams()"></div>
    </div>

  </div>

</div>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>

<!-- New / Edit Team Modal -->
<ng-container *ngIf="isTeamModalOpen">
  <app-modal
    [isModalOpen]="isTeamModalOpen"
    [id]="mode === 'add' ? 'new-team' : 'edit-team'"
    [templateRef]="teamModal"
    [width]="'calc(100% - 200px)'"
    (closeBtnClicked)="isTeamModalOpen = false; clearObject(newTeam);"
    [actionInProgress]="saving"
    [innerClickEvents]="false">
  </app-modal>
</ng-container>


<ng-template #teamModal>
  <div class="title">{{mode === 'add' ? 'New Team:' : 'Edit Team:'}}</div>

  <div class="content">

    <div class="row_inputs">
      <!-- Team Name -->
      <div *ngIf="isTeamNameActive" class="third" >
        <input type="text" class="form__input" id="team-name" placeholder="Name" [(ngModel)]="newTeam.teamName" [required]="false">
        <label for="team-name" class="form__label">Name</label>
      </div>
      <!--
      <div class="third" >
        <input type="text" class="form__input" id="team-number" style="width: 200px" placeholder="Number (Optional)" [(ngModel)]="newTeam.teamNumber" [required]="false">
        <label for="team-number" class="form__label">Number</label>
      </div>
      -->

      <!-- Select Team Members -->
      <div class="sub_title">Select Members: </div>

      <div *ngIf="newTeam.teamMembers != null && newTeam.teamMembers.length == nrTeamMembers" class = "info_message"> Team is complete! You'll need to remove existent members to add new ones.</div>
      <div class="content">
        <div id="new_box" class="inputs">

          <!-- Search -->
          <div class="search_box" id="selected_users">
            <div *ngFor="let user of newTeam.teamMembers" class="role_tag"
                 (click)="removeMember(user)">
              {{user.name}}
            </div>
            <input id="select_system_user" type="text" placeholder="Search..">
          </div>

          <!-- Users -->
          <div class="select_box" id="system_users">
            <div *ngFor="let user of allNonMembers" class="line">
              <div>{{user.name + ' - ' + user.studentNumber}}</div>
              <div *ngIf="newTeam.teamMembers == null || newTeam.teamMembers.length < nrTeamMembers " class="add_icon_no_outline icon" (click)="addTeamMember(user)"></div>
            </div>
          </div>


        </div>
        <div> Save Team </div>

        <button class="save_btn" [disabled]="!isReadyToSubmit('team')" (click)="mode === 'add' ? createTeam() : editTeam()">Save</button>

      </div>
      <!-- <button class="save_btn" (click)="createTeam()" [disabled]="selectedMembers?.length === 0 ">Save</button> -->


    </div>

  </div>

</ng-template>


<!-- Delete Verification Modal -->
<ng-container *ngIf="isDeleteVerificationModalOpen">
  <app-verification-modal
    [isModalOpen]="isDeleteVerificationModalOpen"
    [id]="'delete-verification-' + teamToDelete.id"
    [text]="'Are you sure you want to delete this Team?'"
    [target]="teamToDelete.id + ' - ' + teamToDelete.teamName"
    [positiveBtnText]="'Delete'"
    (positiveBtnClicked)="deleteTeam()"
    (negativeBtnClicked)="teamToDelete = null; isDeleteVerificationModalOpen = false"
    (closeBtnClicked)="isDeleteVerificationModalOpen = false"
    [actionInProgress]="saving">
  </app-verification-modal>
</ng-container>

<!-- Import Modal -->
<ng-container *ngIf="isImportModalOpen">
  <app-modal
    [isModalOpen]="isImportModalOpen"
    [id]="'import-teams'"
    [templateRef]="importModal"
    (closeBtnClicked)="isImportModalOpen = false"
    [actionInProgress]="saving"
    [innerClickEvents]="false"
    [classList]="'verification'">
  </app-modal>
</ng-container>

<ng-template #importModal>

  <div class="warning">Please select a .csv file to be imported</div>
  <div class="target"> The header must be: username;group <br> The separator must be semicolon <br> The encoding must be UTF-8</div>

  <app-input-file
    [id]="'import_teams'"
    [accept]="'.csv'"
    [classList]="'config_input'"
    (valueChange)="onCSVFileSelected($event)">
  </app-input-file>

  <div class="confirmation_btns">
    <button (click)="importTeams(true)">Import Teams (Update If Needed)</button>
    <button (click)="importTeams(false)">Import Teams (Ignore Changes)</button>
  </div>

</ng-template>

<!-- Import Modal -->
<ng-container *ngIf="isTestModalOpen">
  <app-modal
    [isModalOpen]="isTestModalOpen"
    [id]="'test-import-teams'"
    [templateRef]="testModal"
    (closeBtnClicked)="isTestModalOpen = false"
    [actionInProgress]="saving"
    [innerClickEvents]="false"
    [classList]="'verification'">
  </app-modal>
</ng-container>


<ng-template #testModal>

  <div class="warning">{{content}}</div>

</ng-template>


