<div class="card bg-base-200 shadow-md flex flex-row items-end gap-2 {{new || edit ? 'py-2 px-5' : 'py-3.5 px-6'}}">
  <div class="w-fit">
    <app-input-select
      *ngIf="(edit || new) && !refresh"
      [id]="'event-when'"
      [(value)]="eventToAdd.type"
      [options]="getEventTypes()"
      [placeholder]="'Event'"
      [topLabel]="'When:'"
      [search]="false"
      [classList]="'-mt-2'"
      [size]="'sm'"
      [required]="true"
    ></app-input-select>
    <div *ngIf="!edit && !new" class="mr-4">
      <span class="block font-semibold text-md">When:</span>{{event.type.capitalize()}}
    </div>
  </div>
  <div class="w-full flex flex-row items-end">
    <ng-container *ngIf="edit || new">
      <span class="text-xl mb-0.5 text-info pr-1">{{"{"}}</span>
      <div class="w-48">
        <app-input-select
          *ngIf="(edit || new) && !refresh"
          [id]="'event-action'"
          [(value)]="eventToAdd.action"
          [options]="getActionTypes()"
          [placeholder]="'Action'"
          [search]="false"
          [classList]="'-mt-2'"
          [size]="'sm'"
          [topLabel]="'Do:'"
          [required]="true"
        ></app-input-select>
      </div>
      <div class="gap-1 pl-1 flex flex-row items-end" *ngIf="eventToAdd.action">
        <ng-container *ngFor="let arg of EventActionHelper[eventToAdd.action].args; let i = index; let first = first; let last = last">
          <span *ngIf="first" class="text-xl mb-0.5">(</span>
          <app-input-text
            [id]="'event-arg-' + i"
            [(value)]="eventToAdd.args[i]"
            [placeholder]="EventActionHelper[eventToAdd.action].args[i]"
            [classList]="'-mt-2'"
            [size]="'sm'"
          ></app-input-text>
          <span *ngIf="!last" class="text-xl mb-0.5">, </span>
          <span *ngIf="last" class="text-xl mb-0.5">)</span>
        </ng-container>
      </div>
      <span class="text-xl mb-0.5 text-info pl-1">{{"}"}}</span>
    </ng-container>
    <div *ngIf="!edit && !new">
      <span class="block font-semibold text-md">Do:</span>{{event.expression}}
    </div>
  </div>
  <button *ngIf="new" class="btn btn-secondary" (click)="addNewAction()" [disabled]="!eventToAdd.type || !eventToAdd.action">Add</button>
  <div *ngIf="edit" class="flex flex-col">
    <button class="btn btn-xs btn-ghost" (click)="cancelAction()">Cancel</button>
    <button class="btn btn-xs btn-secondary" (click)="saveAction()">Save</button>
  </div>
  <div *ngIf="!edit && !new" class="ml-auto flex flex-row gap-2">
    <button class="btn btn-ghost p-0 m-0"><ng-icon name="jam-pencil" size="1.5rem" (click)="editAction()"/></button>
    <button class="btn btn-ghost p-0 m-0"><ng-icon name="feather-X" size="1.5rem" class="text-error" (click)="deleteAction()"/></button>
  </div>
</div>
