.badges-list {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px 20px 0;
}

.badges-list .badge {
  border-top: 2px solid #e6e6e6;
  padding: 20px 40px 10px 10px;
}


/*** ------------- Top ------------- ***/

.badges-list .badge .badge-top > * {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

/*** ---------- Top Left ---------- ***/

.badges-list .badge .badge-top .badge-top-left > * {
  flex-direction: row !important;
}

.badges-list .badge .badge-top .badge-top-left .badge-imgs-all {
  min-width: 240px;
}

.badges-list .badge .badge-top .badge-top-left .badge-imgs-all > * {
  flex-direction: row !important;
  align-items: center;
}

.badges-list .badge .badge-top .badge-top-left .badge-imgs-all .badge-imgs .badge-img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

.badges-list .badge .badge-top .badge-top-left .badge-info {
  margin-left: 40px;
  margin-top: 10px;
}

.badges-list .badge .badge-top .badge-top-left .badge-info .badge-title {
  font-size: 16px;
  font-weight: bold;
}

.badges-list .badge .badge-top .badge-top-left .badge-info .badge-description {
  font-size: 14px;
}

.badges-list .badge .badge-top .badge-top-left .badge-info .badge-level-info > * {
  flex-direction: row !important;
  align-items: center;
}

.badges-list .badge .badge-top .badge-top-left .badge-info .badge-level-info .level-description {
  margin-right: 5px;
  font-size: 12px;
}

.badges-list .badge .badge-top .badge-top-left .badge-info .badge-level-info .level-count {
  font-size: 12px;
  font-weight: bold;
}

/*** ---------- Top Right ---------- ***/

.badges-list .badge .badge-top .badge-top-right > * {
  align-items: center;
}

.badges-list .badge .badge-top .badge-top-right .badge-reward {
  font-size: 22px;
  font-weight: bold;
}

.badges-list .badge .badge-top .badge-top-right .badge-extra-credit {
  color: #E00;
  font-size: 10px;
  font-weight: bold;
}

.badges-list .badge .badge-top .badge-top-right .badge-bragging-rights {
  color: #070;
  font-size: 10px;
  font-weight: bold;
}

/*** ---------- Bottom ---------- ***/

.badges-list .badge .badge-bottom {
  border-top: 1px solid #e6e6e6;
  margin-top: 10px;
  padding-top: 15px;
}

.badges-list .badge .badge-bottom .badge-indicators > * {
  flex-direction: row !important;
  align-items: center;
  flex-wrap: wrap;
}

.badges-list .badge .badge-bottom .badge-indicators .badge-indicator {
  margin-right: 4px;
  font-size: 12px !important;
}

.badges-list .badge .badge-bottom .badge-levels {
  margin-bottom: 10px;
}

.badges-list .badge .badge-bottom .badge-levels .badge-level {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.badges-list .badge .badge-bottom .badge-levels .badge-level-student-imgs > * {
  flex-direction: row !important;
  align-items: center;
  flex-wrap: wrap;
}

.badges-list .badge .badge-bottom .badge-levels .badge-level-student-img {
  width: 30px;
  object-fit: cover;
  height: 30px;
  margin-right: 5px;
}