.leaderboard .leaderboard-table tr.gc-clickable:hover {
    background-color: #c9c9c9;
}

.leaderboard .leaderboard-table tr th,
.leaderboard .leaderboard-table tr td {
    text-align: center !important;
}

.leaderboard .leaderboard-table tr th:nth-child(4),
.leaderboard .leaderboard-table tr th:nth-child(5),
.leaderboard .leaderboard-table tr th:nth-child(6),
.leaderboard .leaderboard-table tr td:nth-child(4) {
    text-align: left !important;
}

.leaderboard .leaderboard-table .leaderboard-img {
    width: 48px;
    height: 48px;
}

.leaderboard .leaderboard-table .leaderboard-img img {
    object-fit: cover;
}

.leaderboard .leaderboard-table .leaderboard-experience > *,
.leaderboard .leaderboard-table .leaderboard-level > * {
    flex-direction: row !important;
    align-items: center;
}

.leaderboard .leaderboard-table .leaderboard-level .leaderboard-level-detailed {
    font-size: 10px;
    margin-left: 30px;
}

.leaderboard .leaderboard-table .leaderboard-experience #chart-xpEvolution {
    margin-left: 20px;
}