<div *ngIf="!qrCodes">
  <div class="section generator" style="margin-bottom: 70px">
    <div class="divider">
      <div class="title"><span>QR Code Generator</span></div>
    </div>

    <div class="content">
      <div class="input-wrapper" style="max-width: 250px">
        <span class="label">How many QR codes?</span>
        <input type="number" id="qr-quantity" name="qr-quantity" class="input" [(ngModel)]="quantity">
      </div>

      <div class="action-buttons">
        <button id="generate-button" class="button" [disabled]="!quantity" (click)="generateQRCodes()">Generate</button>
      </div>
    </div>
  </div>

  <div class="section participation">
    <div class="divider">
      <div class="title"><span>Participation List</span></div>
    </div>

    <div style="margin-top: 30px;">
      <app-datatable
        [id]="'participation-table'"
        [headers]="tables.participation.headers"
        [data]="tables.participation.data"
        [loading]="tables.participation.loading">
      </app-datatable>
    </div>

    <div class="action-buttons">
      <div class="icon add_icon" title="New" (click)="getExtraInfo(); isNewParticipationModalOpen = true"></div>
    </div>
  </div>

  <div class="section">
    <div class="divider">
      <div class="title"><span>Failed Attempts</span></div>
    </div>

    <div style="margin-top: 30px;">
      <app-datatable
        [id]="'qr-error-table'"
        [headers]="tables.qrError.headers"
        [data]="tables.qrError.data"
        [loading]="tables.qrError.loading">
      </app-datatable>
    </div>
  </div>
</div>

<div *ngIf="qrCodes">
  <div class="qr-codes-btns">
    <button id="back-button" class="button" style="margin-right: 10px" (click)="qrCodes = null; quantity = null">Go back</button>
    <button id="print-button" class="button" style="background-color: tomato" (click)="printQRCodes()">Print</button>
  </div>

  <div class="qr-codes" id="print-qr-codes">
    <div *ngFor="let QR of qrCodes" class="code">
      <img [src]="QR.qr" alt="{{QR.url}}">
      <a href="{{QR.url}}" target="_blank">{{QR.url}}</a>
    </div>
  </div>
</div>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="../../../../../../../../../../assets/loader/loader.gif" alt="loader">
</div>


<!-- New Participation Modal -->
<ng-container *ngIf="isNewParticipationModalOpen">
  <app-modal
    [isModalOpen]="isNewParticipationModalOpen"
    [id]="'new-qr-participation-modal'"
    [templateRef]="newModal"
    (closeBtnClicked)="isNewParticipationModalOpen = false; clearObject(newParticipation)"
    [actionInProgress]="loading"
    [innerClickEvents]="false">
  </app-modal>
</ng-container>

<ng-template #newModal>
  <!-- Title -->
  <div class="title">New Participation:</div>

  <div *ngIf="students && typesOfClass" class="content multiple_inputs">
    <div class="row">
      <!-- Student -->
      <select class="form__input" id="student-id" [(ngModel)]="newParticipation.studentId">
        <option disabled [value]="null">Select a student</option>
        <option *ngFor="let student of students" [label]="student.nickname ?? student.name" [value]="student.id">{{student.nickname ?? student.name}}</option>
      </select>
    </div>

    <div class="row">
      <!-- Lecture Nr. -->
      <div>
        <input type="number" id="lecture-nr" name="lecture-nr" placeholder="Lecture number" class="form__input" [(ngModel)]="newParticipation.lectureNr">
        <label [for]="'lecture-nr'" class="form__label">Lecture Nr.</label>
      </div>

      <!-- Class Type -->
      <select class="form__input" id="type-of-class" [(ngModel)]="newParticipation.typeOfClass">
        <option disabled [value]="null">Select a type of class</option>
        <option *ngFor="let type of typesOfClass" [label]="type" [value]="type">{{type}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="students && typesOfClass" class="action_buttons" style="display: flex; justify-content: flex-end">
    <button class="cancel" (click)="isNewParticipationModalOpen = false; clearObject(newParticipation)">Cancel</button>
    <button class="save_btn" style="position: relative; margin-left: 15px" [disabled]="!isReadyToSubmit()" (click)="submitNewParticipation()">Save</button>
  </div>
</ng-template>
