<div class="form-control w-full {{classList}}">

  <!-- Label -->
  <label *ngIf="topLabel" class="label cursor-pointer justify-start gap-2" [ngClass]="{'pl-0': helperText}">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <span class="label-text" [ngClass]="{'opacity-50': disabled}">{{topLabel}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <!-- Simple Input -->
  <ng-container *ngIf="!leftLabel && !rightLabel && !btnText && !btnIcon" [ngTemplateOutlet]="SIMPLE"></ng-container>

  <!-- Group Input -->
  <ng-container *ngIf="leftLabel || rightLabel || btnText || btnIcon" [ngTemplateOutlet]="GROUP"></ng-container>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && inputText.invalid" class="label">
    <span *ngIf="inputText.errors.pattern" class="label-text-alt">{{patternErrorMessage}}</span>
    <span *ngIf="inputText.errors.required" class="label-text-alt">{{requiredErrorMessage}}</span>
    <span *ngIf="inputText.errors.minlength" class="label-text-alt">{{minLengthErrorMessage}}</span>
    <span *ngIf="inputText.errors.maxlength" class="label-text-alt">{{maxLengthErrorMessage}}</span>
    <span *ngIf="inputText.errors.incorrect" class="label-text-alt">{{incorrectErrorMessage}}</span>
  </label>

</div>

<ng-template #TEXT>
  <input
    type="text"
    id="{{id}}"
    name="{{id}}"
    class="input input-bordered {{InputSize[size]}} {{InputColor[color]}} w-full"
    placeholder="{{placeholder}}"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value)"
    [pattern]="pattern"
    [required]="required"
    [minlength]="minLength"
    [maxlength]="maxLength"
    [disabled]="disabled"
    #inputText="ngModel"
    [ngClass]="{'input-error': form && form.submitted && inputText.invalid}"
  />
</ng-template>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <ng-container [ngTemplateOutlet]="TEXT"></ng-container>
</ng-template>

<ng-template #GROUP>
  <label class="input-group {{InputGroupSize[size]}}">
    <!-- Left label -->
    <span *ngIf="leftLabel" class="min-w-fit {{InputGroupLabelColor[color]}}">{{leftLabel}}</span>

    <!-- Number -->
    <ng-container [ngTemplateOutlet]="TEXT"></ng-container>

    <!-- Right label -->
    <span *ngIf="rightLabel" class="min-w-fit {{InputGroupLabelColor[color]}}">{{rightLabel}}</span>

    <!-- Button -->
    <button *ngIf="btnText || btnIcon" class="btn {{btnIcon ? 'btn-square' : ''}} {{InputGroupBtnColor[color]}}" (click)="btnClicked.emit()">
      <span *ngIf="btnText" class="bg-transparent">{{btnText}}</span>
      <ng-icon *ngIf="btnIcon" [name]="btnIcon" size="1.5rem"></ng-icon>
    </button>
  </label>
</ng-template>
