<aside id="sidebar" class="fixed w-64 inset-y-0 flex flex-col items-center justify-between p-0 mt-20 lg:my-4 antialiased
              transition-transform duration-200 -translate-x-full bg-base-100 border-0 z-50 lg:ml-6 rounded-tr-box lg:rounded-box lg:rounded-tr-none
              lg:left-0 lg:translate-x-0 shadow-xl lg:h-auto bottom-0 pb-4">

  <!-- Collapse - PC -->
  <label class="absolute -right-[28px] py-3.5 px-1 bg-base-100 hover:bg-base-200 transition rounded-r-full rounded-l-none swap swap-rotate text-primary-content hidden lg:inline-grid">
    <!-- this hidden checkbox controls the state -->
    <input id="sidebar-toggler" type="checkbox" (click)="sidebar.togglePC()"/>

    <!-- open icon -->
    <ng-icon name="feather-chevron-right" size="1.3rem" class="swap-on text-base-content"></ng-icon>

    <!-- close icon -->
    <ng-icon name="feather-chevron-left" size="1.3rem" class="swap-off text-base-content"></ng-icon>
  </label>

  <!-- Logo -->
  <div class="h-25 px-6 py-6 pb-3">
    <a [routerLink]="'/'">
      <img class="max-h-full"
           [src]="getDefaultLogoImg()"
           alt="">
    </a>
  </div>

  <!-- Navigation -->
  <ul *ngIf="navigation?.length > 0" class="menu block bg-base-100 p-2 rounded-box w-full h-full overflow-y-auto">
      <ng-container *ngFor="let nav of navigation; let i = index">

        <!-- Category -->
        <ng-container *ngIf="nav.category && nav.children?.length > 0">
          <li class="menu-title uppercase"><span>{{nav.category}}</span></li>
        </ng-container>

        <!-- Nav. Item(s) -->
        <li *ngFor="let item of (nav.children ?? [nav])">
          <a class="py-3 pl-5 hover:bg-primary hover:bg-opacity-10" [routerLink]="item.link" [routerLinkActive]="'bg-primary bg-opacity-30 hover:bg-primary hover:bg-opacity-30'" [routerLinkActiveOptions]="{exact: item.name == 'Course Settings'}"
              (click)="sidebar.close()">
            <ng-icon *ngIf="item.icon" [name]="item.icon" size="1.5rem" color="fillCurrent"></ng-icon>
            {{item.name}}
          </a>
        </li>

        <!-- Divider -->
        <ng-container *ngIf="showDivider(i, navigation)">
          <div class="divider rounded before:bg-base-200 after:bg-base-200 m-0"></div>
        </ng-container>

      </ng-container>
    </ul>

  <!-- Docs -->
  <div *ngIf="isCourseAdmin" class="relative flex flex-col px-4 w-full break-words bg-transparent border-0 shadow-none rounded-2xl bg-clip-border mx-3 mt-4">
    <button class="btn btn-primary btn-sm w-full normal-case" [routerLink]="'/docs'">Documentation</button>
  </div>

</aside>
