<div *ngIf="!loading.page" class="w-full relative">

  <!-- Header -->
  <app-header [classList]="'text-md'"
              [title]="'Rule Editor'"
              [icon]="'tabler-clipboard-list'"
              [loading]="loading.action">
  </app-header>

  <ng-container>
    <div class="flex flex-wrap items-center">
      <!-- NOTE: Because we are going to previous page it doesnt matter if rule is completed or not.
      We make it true so the uncompleted warning is not triggered -->
      <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="isCompleted = true; doAction('prepare closing')">
        <ng-icon name="tabler-arrow-narrow-left" size="1.2rem" class="mr-0.5 text-base-content text-opacity-60"></ng-icon>
      </button>
      <span class="text-base-content mt-0.5 text-xs text-opacity-60">Back to <i>'{{section.name}}' section</i></span>
    </div>

    <div class="divider -mt-2">
      <div class="flex justify-center mx-2">
        <ng-icon name="tabler-clipboard-list" size="1.5rem" class="text-primary mr-2"></ng-icon>
        <span class="text-base-content text-xl font-semibold">{{rule ? 'Rule \'' + rule.name + '\'' : 'Create new rule'}}</span>
      </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl mt-10">
      <div class="card-body">
        <div class="card-title flex flex-wrap">
          <span class="w-full">{{rule ? 'Edit rule: \'' + rule.name + '\'' : 'Create new rule'}}</span>
          <div class="border-b border-gray-200 w-full -mt-3">
            <span class="text-sm">Section: <strong>{{section.name}}</strong></span>
          </div>
        </div>
        <form #r="ngForm">
          <div class="w-full">
            <!-- Name -->
            <app-input-text
              [id] = "'rule-name'"
              [form] = "r"
              [classList]="'mt-4'"
              [(value)] = "ruleToManage.name"
              [placeholder]="'e.g. Amphitheatre Lover, Lab Master ...'"
              [topLabel]="'Rule Name'"
              [pattern]="'(?!^\\d+$)^.+$'"
              [patternErrorMessage]="'Rule name can\'t be composed of only numbers'"
              [helperText]="'Name of the rule'"
              [helperPosition]="'right'"
              [required]="true"
              [maxLength]="60"
              [maxLengthErrorMessage]="'Rule name is too long: maximum of 60 characters'">
            </app-input-text>

            <app-input-textarea
              [id] = "'rule-description'"
              [classList]="'mt-4'"
              [form] = "r"
              [(value)] = "ruleToManage.description"
              [placeholder]="'Write here a small description for this rule ...'"
              [helperText]="'Small description of what the rule does'"
              [helperPosition]="'right'"
              [label] = "'Rule Description'"
              [required]="false"
              [maxLength]="65535"
              [maxLengthErrorMessage]="'Rule description is too long: maximum of 65 535 characters'">
            </app-input-textarea>

            <app-input-select *ngIf="nameTags"
                              [id]="'tag-rules'"
                              [form]="r"
                              [classList]="'mt-4'"
                              [(value)]="ruleToManage.tags"
                              [options]="nameTags"
                              [multiple] = "true"
                              [closeOnSelect]="false"
                              [placeholder]="'Select tags to assign this rule to'"
                              [helperText]="'Tags that will be assigned this rule'"
                              [helperPosition]="'right'"
                              [topLabel]="'Rule tags'"
                              (valueChange)="ruleToManage.tags = $event ?? []; updateTags(ruleToManage.tags)"
                              [setData]="setTags">
            </app-input-select>
            <span class="text-xs pl-1">Tags' colors will only appear in table</span>

            <div class="flex flex-wrap">
              <div class="w-1/2 pr-1">
                <app-input-code
                  [id]="'rule-when'"
                  [classList]="'mt-4'"
                  [title]="'When'"
                  [helperText]="'Preconditions that will trigger the rule'"
                  [helperPosition]="'right'"
                  [showTabs]="false"
                  [tabs]="whenTabs"
                  [required]="true"
                  (debugSelection)="debugSelection = $event"
                  (isCompleted)="isCompleted = $event"
                  (valueChange)="ruleToManage.whenClause = $event"
                ></app-input-code>

                <app-input-code
                  [id]="'rule-then'"
                  [classList]="'mt-4'"
                  [title]="'Then'"
                  [helperText]="'Code that will be ran once the rule preconditions have met'"
                  [helperPosition]="'right'"
                  [showTabs]="false"
                  [tabs]="thenTabs"
                  [required]="true"
                  (isCompleted)="isCompleted = $event"
                  (valueChange)="ruleToManage.thenClause = $event"
                ></app-input-code>
              </div>

              <div class="w-1/2 pl-1">
                <!-- Alert for metadata changes -->
                <div *ngIf="showAlert" class="justify-center flex flex-wrap mt-8">
                  <div class="alert alert-warning shadow-md">
                    <ng-icon name="tabler-alert-triangle" size="2rem"></ng-icon>
                    <div><span>Keep in mind that <strong>metadata is global</strong>. Changing it will <strong>change metadata for the entire course</strong>,
                    which includes <strong>others rules</strong> as well.</span></div>
                  </div>
                </div>

                <app-input-code
                  [id]="'rule-tools'"
                  [classList]="'mt-4'"
                  [title]="'Additional Tools'"
                  [helperText]="'Extra tools to help with the rule edition'"
                  [helperPosition]="'right'"
                  [size]="'lg'"
                  [tabs]="additionalToolsTabs"
                  (valueChange)="changeMetadata($event)"
                  (runOutput)="preview($event)"
                  (refreshOutput)="getPreviewOutput($event)"
                ></app-input-code>
              </div>
            </div>

            <div class="w-full flex flex-wrap items-end" *ngIf="!loading.refreshing && nameTags">
              <!--<div class="w-4/5 pr-1">
                <app-input-select
                  [id]="'section-' + section.id + 'rule-tags'"
                  [form]="r"
                  [classList]="'mt-4'"
                  [(value)]="ruleToManage.tags"
                  [options]="nameTags"
                  [multiple] = "true"
                  [closeOnSelect]="false"
                  [placeholder]="'Select tags to assign this rule to'"
                  [topLabel]="'Rule tags'"
                  (valueChange)="ruleToManage.tags = $event ?? []; updateTags(ruleToManage.tags)"
                  [setData]="setTags">
                </app-input-select>
              </div>
              <div class="w-1/5 pl-1">
                <button class="w-full items-center btn btn-secondary rounded rounded-lg gap-2" (click)="prepareModal('add tag')">
                  <ng-icon name="feather-plus-circle" size="1.2rem"></ng-icon> Add new tag
                </button>
              </div>-->

              <div *ngIf="loading.refreshing" class="flex justify-center items-center">
                <app-spinner></app-spinner>
              </div>

            </div>
          </div>
        </form>

        <!-- Actions -->
        <div class="card-actions justify-end mt-4">

          <!-- NOTE: Because we are going to previous page it doesnt matter if rule is completed or not.
               We make it true so the uncompleted warning is not triggered -->
          <button type="submit" class="btn btn-primary" (click)="isCompleted = true; doAction('prepare closing')">
            <!-- Spinner -->
            <ng-container *ngIf="loading.discard">
              <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
            </ng-container>
            Discard changes
          </button>

          <button type="submit" class="btn btn-primary"
                  (click)="r.onSubmit(null); !isCompleted ? doAction('prepare closing') : (rule ? doAction('edit rule') : doAction('add rule'))">
            <!-- Spinner -->
            <ng-container *ngIf="loading.action">
              <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
            </ng-container>
            Save and Close
          </button>
        </div>

      </div>
    </div>

    <!-- Loader -->
    <app-loader [loading]="loading.page"></app-loader>
  </ng-container>

</div>

<!-- Getting Started Modal -->
<app-modal *ngIf="gettingStarted"
  [id]="'getting-started'"
  [templateRef]="GETTING_STARTED"
  [header]="'Getting Started'"
  [submitBtnText]="'Ok, got it!'"
  [closeBtn]="false"
  [xButton]="false"
  [headerMarginBottom]="false"
  (submitBtnClicked)="closeTutorial()"
  [actionInProgress] = "loading.action"
  [static]="true">
</app-modal>
<ng-template #GETTING_STARTED>
  <div class="w-full flex flex-wrap mb-3">
    <div class="w-full flex flex-wrap border-t border-gray-200">
      <span class="text-sm mt-2">First time writing a rule? Let's get started!</span>
    </div>
  </div>

  <div class="w-full carousel">
    <div *ngIf="gettingStartedIndex === 1" class="card p-4 w-full bg-base-content shadow-xl">
      <div class="card-title">
        <span class="{{getTheme() === 'light' ? 'text-white' : 'text-gray-950'}} font-semibold ml-3">What are rules?</span>
      </div>
      <div class="card-body -ml-5 {{getTheme() === 'light' ? 'text-white' : 'text-gray-950'}}">
        <p>
          Rule are a ser of statements that determine the behavior of the course.
          With them, we are able to define how to calculate the courses' awards and deliver them to students.</p><br>
        <p>They are composed by a <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}"><i>name</i></strong>,
          <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}"><i>description</i></strong>,
          <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}"><i>tags</i></strong>, and
          <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}"><i>when</i></strong> and
          <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}"><i>then</i></strong> clause.</p>
      </div>
    </div>
    <div *ngIf="gettingStartedIndex === 2" class="card w-full p-4 bg-base-content shadow-xl">
      <div class="card-title">
        <span class="{{getTheme() === 'light' ? 'text-white' : 'text-gray-950'}} font-semibold ml-3">When Clause</span>
      </div>
      <div class="card-body -ml-5 {{getTheme() === 'light' ? 'text-white' : 'text-gray-950'}}">
        <p>The <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}"><i>when</i></strong> clause contains
          the requisites that need to be fulfilled in order to trigger the rule.</p><br>
        <p><strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}">Usually, rules get logs in the <i>when</i> clause</strong>,
          which represent information with all the students' participations in the course.</p><br>
        <p>For instance, to get all participations of students in lab nº2 we would write:<p>
        <p class="flex justify-center"><strong><i>get_lab_logs(target, 2)</i></strong></p>
      </div>
    </div>
    <div *ngIf="gettingStartedIndex === 3" class="card w-full p-4 bg-base-content shadow-xl">
      <div class="card-title">
        <span class="{{getTheme() === 'light' ? 'text-white' : 'text-gray-950'}} font-semibold ml-3">Then Clause</span>
      </div>
      <div class="card-body -ml-5 {{getTheme() === 'light' ? 'text-white' : 'text-gray-950'}}">
        <p>The <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}"><i>then</i></strong> clause contains
          the effects of what will happen if the preconditions of the <i>When</i> clause are met.</p><br>
        <p><strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}">Usually, rules define what will be
          rewarded to students in the <i>then</i> clause</strong>.</p><br>
        <p>For instance, in order to award a grade of 18 points in exam '<i>Exam</i>' to a student defined as <i>target</i>, we would write:<p>
        <p class="flex justify-center"><strong><i>award_exam_grade(target, "Exam", logs, 18)</i></strong></p>
      </div>
    </div>
    <div *ngIf="gettingStartedIndex === 4" class="card w-full p-4 bg-base-content shadow-xl">
      <div class="card-title">
        <span class="{{getTheme() === 'light' ? 'text-white' : 'text-gray-950'}} font-semibold ml-3">Use the extra help!</span>
      </div>
      <div class="card-body -ml-5 {{getTheme() === 'light' ? 'text-white' : 'text-gray-950'}}">
        <p>The Rule Editor counts with <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}"><i>additional tools</i></strong>
          where supplementary help is displayed if needed.</p><br>
        <p>This includes a <strong class="{{getTheme() === 'light' ? 'text-secondary' : ''}}">
          reference manual</strong>, where all functions are defined and explained, as well as their parameters.</p>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full py-2 gap-2">
    <a class="btn btn-xs {{gettingStartedIndex === 1 ? 'btn-active' : 'btn-ghost hover:cursor-pointer' }}" (click)="gettingStartedIndex = 1">1</a>
    <a class="btn btn-xs {{gettingStartedIndex === 2 ? 'btn-active' : 'btn-ghost hover:cursor-pointer' }}" (click)="gettingStartedIndex = 2">2</a>
    <a class="btn btn-xs {{gettingStartedIndex === 3 ? 'btn-active' : 'btn-ghost hover:cursor-pointer' }}" (click)="gettingStartedIndex = 3">3</a>
    <a class="btn btn-xs {{gettingStartedIndex === 4 ? 'btn-active' : 'btn-ghost hover:cursor-pointer' }}" (click)="gettingStartedIndex = 4">4</a>
  </div>
</ng-template>

<!-- Discard changed Modal -->
<app-modal
  [id]="'exit-management'"
  [templateRef]="EXIT_MANAGEMENT"
  [size]="'md'"
  [header]=" !isCompleted ? 'Incomplete lines!' : 'Discard changes?'"
  [submitBtnText]="!isCompleted ? 'Save anyway' : 'Discard'"
  [closeBtnText]="'Cancel'"
  [actionInProgress] = "loading.discard"
  (submitBtnClicked)="!isCompleted ? doAction('saving incomplete') : doAction('exit page') "
  [xButton]="false"
  [static]="true">
</app-modal>
<ng-template #EXIT_MANAGEMENT>
  <div *ngIf="isCompleted" class="w-full flex flex-wrap">
    <span class="w-full">There are currently <strong>unsaved changes</strong>. This action <strong>cannot be undone</strong>.</span>
    <span class="w-full">Do you want to proceed?</span>
  </div>

  <div *ngIf="!isCompleted" class="w-full flex flex-wrap">
    <span class="w-full">There are currently <strong>incomplete lines</strong>. Saving this will make the rule defective.</span>
    <span class="w-full">Do you want to proceed?</span>
  </div>
</ng-template>
