<div class="w-full relative">
  <!-- Header -->
  <app-header [title] = "'Hexad Profile'" [icon] = "'feather-user'"
              [loading] = "loading.action" ></app-header>

  <ng-container *ngIf="!loading.page">
    <form #f="ngForm">
      This will make your experience on GameCourse more customized.<br>
      Take the test <a class="link link-primary" href="https://www.gamified.uk/UserTypeTest2023/user-type-test.php">here</a> 
      and fill this with your results! 
    </form>
  </ng-container>
</div>
