<!-- Display versions -->
<ng-container *ngIf="view.mode === ViewMode.DISPLAY">
  <ng-container [ngTemplateOutlet]="DISPLAY_DEFAULT"></ng-container>
</ng-container>

<!-- Preview version -->
<ng-container *ngIf="view.mode === ViewMode.PREVIEW">
  <ng-container [ngTemplateOutlet]="PREVIEW_DEFAULT"></ng-container>
</ng-container>

<!-- Edit versions -->
<ng-container *ngIf="view.mode === ViewMode.EDIT">
  <ng-container [ngTemplateOutlet]="EDIT_DEFAULT"></ng-container>
</ng-container>


<!------------------------------------------------>
<!-------------- DISPLAY VARIATIONS -------------->
<!------------------------------------------------>

<ng-template #DISPLAY_DEFAULT>
  <div [attr.id]="view.cssId"
       [classList]="classes + ' ' + view.classList"
       [attr.style]="view.styles">

    <!-- Title -->
    <input type="checkbox" />
    <div class="collapse-title">
      <bb-any [view]="view.header"></bb-any>
    </div>

    <!-- Content -->
    <div class="collapse-content">
      <bb-any [view]="view.content"></bb-any>
    </div>
  </div>
</ng-template>


<!------------------------------------------------>
<!-------------- PREVIEW VARIATIONS -------------->
<!------------------------------------------------>

<ng-template #PREVIEW_DEFAULT>
  <div [attr.id]="view.cssId"
       [classList]="classes + ' ' + view.classList"
       [attr.style]="view.styles">

    <!-- Title -->
    <input type="checkbox" />
    <div class="collapse-title">
      {{view.header.type}}
    </div>
    
    <!-- Content -->
    <div class="collapse-content">
      {{view.content.type}}
    </div>
  </div>
</ng-template>


<!------------------------------------------------>
<!---------------- EDIT VARIATIONS --------------->
<!------------------------------------------------>

<ng-template #EDIT_DEFAULT>
  <div tabindex="0" 
       [attr.id]="view.cssId"
       [classList]="classes + ' ' + view.classList + ' collapse-open'"
       [attr.style]="view.styles">

    <!-- Title -->
    <div class="collapse-title">
      <bb-any [view]="view.header"></bb-any>
    </div>

    <!-- Content -->
    <div class="collapse-content">
      <bb-any [view]="view.content"></bb-any>
    </div>
  </div>
</ng-template>
