<div id="wrapper">
  <!-- conteudo da página -->
  <div id="content-wrapper">
    <div *ngIf="!loading" id="settings" class="page">
      <div class="tabs">
        <app-course-settings-sidebar></app-course-settings-sidebar>

            <div class="tab-content-wrapper">
              <div class="tab-content">

                <!-- Search -->
                <div class="search">
                  <input type="text" id="seach_input" placeholder="Search.." name="search" [(ngModel)]="searchQuery" (ngModelChange)="reduceList(searchQuery)">
                  <button class="magnifying-glass" id="search-btn" (click)="reduceList(searchQuery)"></button>
                </div>

                <div *ngIf="reduce.items.length > 0" class="modules">
                  <div *ngFor="let module of reduce.items" class="module_card" (click)="moduleOpen = module; isEnabled = module.enabled; isModuleDetailsModalOpen = true;">
                    <div class="icon" [style.backgroundImage]="'url('+ API_ENDPOINT + '/' + module.directory + 'icon.svg)'"></div>
                    <div class="header">{{module.name}}</div>
                    <div class="text">{{module.description}}</div>
                    <div class="status" [ngClass]="{'enable': module.enabled, 'disable': !module.enabled}">
                      {{module.enabled ? 'Enabled' : 'Disabled'}}
                      <div class="background"></div>
                    </div>
                  </div>
                </div>

                <div *ngIf="reduce.items.length === 0" class='error_box'>
                  <div id='empty_search' class='error_msg'>No matches found</div>
                </div>

              </div>
            </div>

      </div>
    </div>
  </div>

  <!-- Loader -->
  <div *ngIf="loading" id="page-loading">
    <img src="../../../../../../assets/loader/loader.gif" alt="loader">
  </div>
</div>


<!-- Module Details Modal -->
<ng-container *ngIf="isModuleDetailsModalOpen">
  <app-modal
    [isModalOpen]="isModuleDetailsModalOpen"
    [id]="'view-module'"
    [templateRef]="moduleDetailsModal"
    (closeBtnClicked)="isModuleDetailsModalOpen = false"
    [actionInProgress]="saving">
  </app-modal>
</ng-container>

<ng-template #moduleDetailsModal>

  <div class="header">
    <div class="icon" [style.backgroundImage]="'url('+ API_ENDPOINT + '/' + moduleOpen.directory + 'icon.svg)'"></div>
    <div class="title">{{moduleOpen.name}}</div>
    <div class="on_off">
      <label class="switch" [ngClass]="{'disabled': !moduleOpen.canBeEnabled}">
        <input type="checkbox" [checked]="moduleOpen.enabled" [disabled]="!moduleOpen.canBeEnabled" (change)="isEnabled = !isEnabled">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="content">
    <div class="inputs">
      <div class="full" id="description">{{moduleOpen.description}}</div>
      <div class="row">
        <div>
          <span class="label">Dependencies: </span>
          <span *ngFor="let dependency of moduleOpen.dependencies; let last = last" class="details">
            <span [ngStyle]="{'color': dependency.enabled ? 'green' : 'red'}">{{dependency.id}}</span>
            <span *ngIf="!last"> | </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div><span class="label">Version: </span><span class="details ng-binding">{{moduleOpen.version}}</span></div>
      </div>
      <div class="row">
        <div><span class="label">Path: </span><span class="details ng-binding">{{moduleOpen.directory}}</span></div>
      </div>
    </div>
    <button class="save_btn" [disabled]="isEnabled === moduleOpen.enabled" (click)="toggleEnabled(moduleOpen)">Save</button>
    <button *ngIf="moduleOpen.hasConfiguration" class="config_btn">Configure</button>
  </div>

</ng-template>
