<app-modal
  [id]="'error-modal'"
  [templateRef]="errorModal"
  [size]="'md'"
  [static]="true"
  [responsive]="false"
  [header]="error.message"
  [headerColor]="'error'"
  [closeBtnText]="'Close'"
  [submitBtnText]="'Take screenshot'"
  [submitBtnColor]="'error'"
  [submitBtnOutline]="true"
  (submitBtnClicked)="takeScreenshot()"
  [actionInProgress]="loading"
  (onClose)="onClose.emit()">
</app-modal>

<ng-template #errorModal>
  <div class="prose break-all" [innerHTML]="error.stack"></div>
</ng-template>
