.section.generator .divider .title:after {
  width: calc(100% - 120px);
}

.content {
  margin-top: 40px;

  .action-buttons {
    width: fit-content;
    position: absolute;
    top: -5px;
    right: 0;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 100%;

  .label {
    margin-right: 20px;
    white-space: nowrap;
  }

  .input {
    width: 100%;
    padding: 7px;
    color: #333;
    background-color: white;
    border-radius: 5px;
    border: 2px solid lightgray;
  }
}

.qr-codes-btns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.qr-codes {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  .code {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-bottom: 30px;
    margin-left: 35px;
    margin-right: 36px;
    word-break: break-all;

    img {
      width: 150px;
      height: 150px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .qr-codes {
    grid-template-columns: 33% 34% 33%;
  }
}

@media only screen and (min-width: 1200px) {
  .qr-codes {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media only screen and (min-width: 1500px) {
  .qr-codes {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
