#side-view {
  display: none;
}
#wrapper.sv-visible #side-view {
  display: block;
}
@media all and (min-width: 700px) {
  #side-view {
    position: absolute;
  }
  #side-view.stick {
    position: fixed;
    top: 16px;
  }
  #wrapper.sv-visible #content-wrapper {
    margin-left: 300px;
  }
}
#side-view {
  /*.side-info {
    display: inline-block;
    padding-left: 8px;
    text-align: left;
    tr td:first-child {
      @media (min-width: @device-sm) {
        padding-right: 30px;
      }
      padding-right: 16px;
      font-weight: bold;
    }
  }*/
}
#side-view > .view {
  width: 100%;
}
@media all and (min-width: 700px) {
  #side-view > .view {
    width: 310px;
  }
}
#side-view > .view > .content > .block > .content > .block > .content {
  display: block;
  text-align: center;
}
#side-view .image.student-photo img {
  vertical-align: top;
  border: 1px solid #666666;
}
#side-view .table.tidy table {
  margin: 0 auto;
}
#side-view .table.tidy table td {
  padding: 2px 2px 0px;
  text-align: center;
}
.side-links .content {
  display: block;
}
.side-links .content > a {
  margin-top: 1px !important;
  display: block;
  font-weight: bold;
  padding: 8px;
  color: #1a1a1a;
  background-color: #d9d9d9;
  transition: all 0.3s ease;
}
.side-links .content > a:hover {
  text-decoration: none;
  color: #595959;
  background-color: #cccccc;
}
.side-links .content > a:active {
  background-color: #bfbfbf;
  color: #595959;
}
.side-links .content > a:last-child {
  border-bottom: none;
}
.side-links .content > a > img {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}
