<div class="section removeAction-section">
  <div class="divider">
    <div class="title"><span>Participations To Penalize</span></div>
  </div>

  <div class="add content">
    <div id="add-list">
      <div class="data-table">

        <table *ngIf="actionsToRemove.length != 0"  id="listing-add-table">
          <!-- Header -->
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Tokens</th>
            <th>is Active</th>
            <th class="action-column"></th>
            <th class="action-column"></th>
            <th class="action-column"></th>
            <th class="action-column"></th>
          </tr>
          </thead>

          <!-- Body -->
          <tbody>

          <!-- *ngFor="let toRemove of actionsToRemove"-->
          <tr *ngFor="let toRemove of actionsToRemove;  let i = index">
            <td><span>{{toRemove.name}}</span></td>
            <td><span>{{toRemove.description}}</span></td>
            <td><span>{{toRemove.type}}</span></td>
            <td><span>{{toRemove.tokens}}</span></td>
            <td><span>{{toRemove.isActive}}</span></td>
            <td class="action-column">
              <div class="icon duplicate_icon" title="Duplicate" ></div>
            </td>
            <td class="action-column">
              <div class="icon edit_icon" title="Edit" ></div>
            </td>
            <td class="action-column">
              <div class="icon delete_icon" title="Remove" ></div>
            </td>
          </tr>
          </tbody>
        </table>

        <!--- <div *ngIf="actionsToRemove.length === 0" class='error_box'> -->
        <div *ngIf="actionsToRemove.length === 0" class='error_box'>
          <div id='empty_table_add_actions' class='error_msg'>No participations to remove tokens found</div>
        </div>

      </div>
    </div>r

    <!-- Action Buttons -->
    <div class="action-buttons">
      <div class="icon add_icon" title="New" (click)="mode = 'add'; isRemoveActionModalOpen = true; initItem('actionToAward'); "></div>
      <div class="icon import_icon" title="Import" ></div>
      <div class="icon export_icon" title="Export" ></div>

    </div>
  </div>
</div>


<!-- New / Edit Team Modal -->
<ng-container *ngIf="isRemoveActionModalOpen">
  <app-modal
    [isModalOpen]="isRemoveActionModalOpen"
    [id]="mode === 'add' ? 'new-team' : 'edit-team'"
    [templateRef]="ActionToRemoveModal"
    [width]="'calc(100% - 200px)'"
    (closeBtnClicked)="isRemoveActionModalOpen = false; clearObject(newActionToRemove);"
    [actionInProgress]="saving"
    [innerClickEvents]="false">
  </app-modal>
</ng-container>


<ng-template #ActionToRemoveModal style="width: 200px">
  <div class="title">{{mode === 'add' ? 'New Action:' : 'Edit Action:'}}</div>

  <div class="content" >

    <div class="inputs">

        <!-- Name -->
        <div class="third">
          <input type="text" class="form__input" id="action-name" placeholder="Name" [(ngModel)]="newActionToRemove.name" [required]="true">
          <label for="action-name" class="form__label">Name</label>
        </div>

        <!-- Description -->
        <div class="third">
          <input type="text" class="form__input" id="action-description" placeholder="Description" [(ngModel)]="newActionToRemove.description" [required]="true">
          <label for="action-name" class="form__label">Description</label>
        </div>


      <!-- Type -->
      <div class="third">
        <select class="form__input" id="action-type" [(ngModel)]="newActionToRemove.type">
          <option [value]="null" disabled>Select a type</option>
          <option *ngFor="let type of participationTypes" [value]="type">{{type}}</option>
        </select>
      </div>

      <!-- Tokens -->
      <div class="third">
        <input type="text" class="form__input" id="action-tokens" placeholder="Tokens" [(ngModel)]="newActionToRemove.tokens" [required]="true">
        <label for="action-name" class="form__label">Tokens</label>
      </div>

      <button class="save_btn" [disabled]="!isReadyToSubmit('actionToAward')" >Save</button>


    </div>

  </div>

</ng-template>


<div  *ngIf="isSkillModuleEnabled" class="section">
  <div class="divider">
    <div class="title"><span>Skill Related Variables</span></div>

  </div>

  <div class="content">

    <div class="inputs" style="margin-top: 40px">

      <!-- Row #1 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label" style="margin-right: 25px">Min. Rating <br/>for Attempt</span>
            <input type="number" id="attempt-min-rating" name="attempt-min-rating" class="input" [(ngModel)]="skillsVars.attemptRating" (ngModelChange)="hasUnsavedChanges = true">
          </div>
        </div>
      </div>

      <!-- Row #2 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label">Skill Initial Cost</span>
            <input type="number" id="skill-initial-cost" name="skill-initial-cost" class="input" [(ngModel)]="skillsVars.skillCost" (ngModelChange)="hasUnsavedChanges = true">
          </div>
        </div>

        <div class="half">
          <div class="input-wrapper">
            <span class="label">Wildcard Initial Cost</span>
            <input type="number" id="wildcard-initial-cost" name="wildcard-initial-cost" class="input" [(ngModel)]="skillsVars.wildcardCost" (ngModelChange)="hasUnsavedChanges = true">
          </div>
        </div>
      </div>

      <!-- Row #3 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label">Increment Cost</span>
            <input type="number" id="increment-cost" name="increment-cost" class="input" [(ngModel)]="skillsVars.incrementCost" (ngModelChange)="hasUnsavedChanges = true">
          </div>
        </div>

        <div class="half">
          <div class="input-wrapper">
            <span class="label">Increment Formula</span>

            <select id="increment-formula" class="input" style="margin-right: 30px" [(ngModel)]="skillsVars.costFormula" (ngModelChange)="hasUnsavedChanges = true">
              <option [value]="null" disabled selected >Select a formula</option>
              <option [ngValue]="0"> Case 0 - ADD: incrementCost </option>
              <option [ngValue]="1"> Case 1 - MUL: incrementCost * validAttempts </option>
              <option [ngValue]="2"> Case 2 - POW: incrementCost * pow(2, validAttempts - n)</option>
            </select>

          </div>
        </div>
      </div>


    <div class="action-buttons">
      <button id="save-button" class="button" [disabled]="!hasUnsavedChanges || !isSkillVarReadyToSubmit()" (click)="saveCurrencySkillVars()">Save</button>
    </div>
  </div>

  <div class="success_box">
    <div id="action_completed" class="success_msg"></div>
  </div>
</div>

<!-- Loader
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>
-->
</div>
