<div class="section">
  <div class="divider">
    <div class="title"><span>Skill Related Variables</span></div>
  </div>

  <div class="content">

    <div class="inputs" style="margin-top: 40px">

      <!-- Row #1 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label">Min. Rating for Attempt</span>
            <input type="number" id="attempt-min-rating" name="attempt-min-rating" class="input">
          </div>
        </div>
      </div>

      <!-- Row #2 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label">Skill Initial Coost</span>
            <input type="number" id="skill-initial-cost" name="skill-initial-cost" class="input">
          </div>
        </div>

        <div class="half">
          <div class="input-wrapper">
            <span class="label">Wildcard Initial Cost</span>
            <input type="number" id="wildcard-initial-cost" name="wildcard-initial-cost" class="input">
          </div>
        </div>
      </div>

      <!-- Row #3 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label">Increment Cost</span>
            <input type="number" id="increment-cost" name="increment-cost" class="input" >
          </div>
        </div>

        <div class="half">
          <div class="input-wrapper">
            <span class="label">Increment Formula</span>
            <select id="increment-formula" name="increment-formula" >
              <option value="Default">Choose a Formula</option>
              <option value="Case 0"> Case 0 - SUB: incrementCost </option>
              <option value="Case 1"> Case 1 - MUL: incrementCost * validAttempts </option>
              <option value="Case 2"> Case 2 - POW: incrementCost * pow(2, validAttempts - n)</option>
            </select>

          </div>
        </div>
      </div>
    </div>

    <div class="action-buttons">
      <!--- [disabled]="!hasUnsavedChanges || !isReadyToSubmit()" (click)="saveMoodle()" --->
      <button id="save-button" class="button" >Save</button>
    </div>
  </div>

  <div class="success_box">
    <div id="action_completed" class="success_msg"></div>
  </div>
</div>

<!-- Loader
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>
-->
