<div class="section tiers-section">
  <div class="divider">
    <div class="title"><span>Actions To Punish >:D</span></div>
  </div>

  <div class="tiers content">
    <!-- to Remove List -->
    <div id="remove-list">
      <div class="data-table">

        <!-- <table *ngIf="actionsToRemove?.length > 0" id="listing-table">  -->

        <table id="listing-table">
          <!-- Header -->
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Tokens</th>
            <th>is Active</th>
            <th class="action-column"></th>
            <th class="action-column"></th>
            <th class="action-column"></th>
            <th class="action-column"></th>
          </tr>
          </thead>

          <!-- Body -->
          <tbody>

          <!-- *ngFor="let toRemove of actionsToRemove"-->
          <tr >
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <td class="action-column">
              <div class="icon edit_icon" title="Edit" ></div>
            </td>
            <td class="action-column">
              <div class="icon delete_icon" title="Remove" ></div>
            </td>
          </tr>
          </tbody>
        </table>

        <!--- <div *ngIf="actionsToRemove.length === 0" class='error_box'> -->
        <div *ngIf="actionsToRemove.length === 0" class='error_box'>
          <div id='empty_table_tiers' class='error_msg'>No tiers found</div>
        </div>

      </div>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <div class="icon add_icon" title="New"></div>
      <div class="icon import_icon" title="Import" ></div>
      <div class="icon export_icon" title="Export" ></div>

    </div>
  </div>
</div>

<div class="section">
  <div class="divider">
    <div class="title"><span>Skill Related Variables</span></div>
  </div>

  <div class="content">

    <div class="inputs" style="margin-top: 40px">

      <!-- Row #1 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label">Min. Rating for Attempt</span>
            <!-- [(ngModel)]="skillsVars.attemptRating" (ngModelChange)="hasUnsavedChanges = true"-->
            <input type="number" id="attempt-min-rating" name="attempt-min-rating" class="input">
          </div>
        </div>
      </div>

      <!-- Row #2 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label">Skill Initial Cost</span>
            <!-- [(ngModel)]="skillsVars.skillCost" (ngModelChange)="hasUnsavedChanges = true"-->

            <input type="number" id="skill-initial-cost" name="skill-initial-cost" class="input">
          </div>
        </div>

        <div class="half">
          <div class="input-wrapper">
            <span class="label">Wildcard Initial Cost</span>
            <!-- [(ngModel)]="skillsVars.wildcardCost" (ngModelChange)="hasUnsavedChanges = true"-->
            <input type="number" id="wildcard-initial-cost" name="wildcard-initial-cost" class="input">
          </div>
        </div>
      </div>

      <!-- Row #3 -->
      <div class="row">
        <div class="half">
          <div class="input-wrapper">
            <span class="label">Increment Cost</span>
            <!-- [(ngModel)]="skillsVars.incrementCost" (ngModelChange)="hasUnsavedChanges = true"-->
            <input type="number" id="increment-cost" name="increment-cost" class="input" >
          </div>
        </div>

        <div class="half">
          <div class="input-wrapper">
            <span class="label">Increment Formula</span>
            <!-- [(ngModel)]="skillsVars.costFormula" (ngModelChange)="hasUnsavedChanges = true"-->
            <select id="increment-formula" name="increment-formula" >
              <option value="Default">Choose a Formula</option>
              <option value="Case 0"> Case 0 - SUB: incrementCost </option>
              <option value="Case 1"> Case 1 - MUL: incrementCost * validAttempts </option>
              <option value="Case 2"> Case 2 - POW: incrementCost * pow(2, validAttempts - n)</option>
            </select>

          </div>
        </div>
      </div>
    </div>

    <div class="action-buttons">
      <button id="save-button" class="button" [disabled]="!hasUnsavedChanges || !isReadyToSubmit()" (click)="saveCurrencySkillVars()">Save</button>
    </div>
  </div>

  <div class="success_box">
    <div id="action_completed" class="success_msg"></div>
  </div>
</div>

<!-- Loader
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>
-->
