<ng-container *ngIf="view.visibilityType === VisibilityType.VISIBLE">
  <bb-text *ngIf="view.type === ViewType.TEXT" [view]="view | as : ViewText" [viewSelection]="view"></bb-text>
  <bb-image *ngIf="view.type === ViewType.IMAGE" [view]="view | as : ViewImage" [viewSelection]="view"></bb-image>
  <bb-header *ngIf="view.type === ViewType.HEADER" [view]="view | as : ViewHeader" [viewSelection]="view"></bb-header>
  <bb-table *ngIf="view.type === ViewType.TABLE" [view]="view | as : ViewTable" [viewSelection]="view"></bb-table>
  <bb-block *ngIf="view.type === ViewType.BLOCK" [view]="view | as : ViewBlock" [viewSelection]="view"></bb-block>
  <bb-row *ngIf="view.type === ViewType.ROW" [view]="view | as : ViewRow" [viewSelection]="view"></bb-row>
</ng-container>
