<!-- Display version -->
<ng-container *ngIf="view?.mode === ViewMode.DISPLAY">
  <ng-container *ngIf="visible" [ngTemplateOutlet]="anyComponent"></ng-container>
</ng-container>

<!-- Preview version -->
<ng-container *ngIf="view?.mode === ViewMode.PREVIEW">
  <ng-container *ngIf="visible" [ngTemplateOutlet]="anyComponent"></ng-container>
</ng-container>

<!-- Edit version -->
<ng-container *ngIf="!delete && view?.mode === ViewMode.EDIT">
  <div [viewSelection]="view"
       class="relative outline-2 rounded-xl transition hover:cursor-pointer
          {{isError() ? 'outline outline-error' : isSelected() ? 'outline outline-secondary' : 'hover:outline outline-neutral/50'}}"
       (contextmenu)="onRightClick($event)" (mousedown)="selection.close()"
  >
    <div class="{{isSelected() ? 'block' : 'hidden'}} absolute -top-4 left-0 bg-secondary rounded-full py-1 px-2 text-white text-xs z-30">
      {{view.type.capitalize()}}
    </div>
    <!-- Actions -->
    <div class="dropdown dropdown-bottom dropdown-end {{isSelected() ? 'flex' : 'hidden'}} text-base
                absolute -top-4 -right-3 bg-secondary rounded-full h-7 w-7 justify-center items-center z-30
                hover:cursor-pointer hover:bg-secondary-focus transition-all text-secondary-content"
         (click)="onRightClick($event)">
      <ng-icon tabindex="0" name="tabler-dots-vertical"/>
    </div>
    <!-- Repeat Indicator -->
    <div *ngIf="view.loopData" class="z-30 absolute top-3 -right-3 h-7 w-7 rounded-full flex justify-center items-center text-base text-neutral bg-neutral/20
         tooltip {{view.type === ViewType.BLOCK || view.type === ViewType.COLLAPSE || view.type === ViewType.TABLE ? 'tooltip-left' : 'tooltip-bottom before:max-w-[13rem]'}} before:w-fit
         before:content-[attr(data-tip)] before:text-xs before:break-words before:whitespace-normal"
         [attr.data-tip]="view.type.capitalize() + ' repeats for each item in\n' + view.loopData">
      <ng-icon tabindex="0" name="feather-repeat"/>
    </div>
    <!-- Repeat Indicator for Table Rows -->
    <ng-container *ngIf="view.type === ViewType.TABLE">
      <ng-container *ngFor="let row of $any(view).bodyRows">
        <div *ngIf="row.loopData" class="z-30 absolute top-10 -right-3 h-7 w-7 rounded-full flex justify-center items-center text-base text-neutral bg-neutral/20
             tooltip tooltip-left before:content-[attr(data-tip)] before:text-xs before:break-words before:whitespace-normal before:w-fit"
             [attr.data-tip]="'Row repeats for each item in ' + row.loopData">
          <ng-icon tabindex="0" name="feather-repeat"/>
        </div>
      </ng-container>
    </ng-container>
    <!-- Component -->
    <ng-container [ngTemplateOutlet]="anyComponent"></ng-container>
  </div>
</ng-container>

<!-- Views -->
<ng-template #anyComponent>
  <div [classList]="classes"
      [ngClass]="{'opacity-30 grayscale': view.mode === ViewMode.EDIT && !visible}"
      [attr.data-view-id]="view.id"
      [attr.data-view-root]="view.viewRoot"
      [goToPage]="{event: getEvent(EventAction.GO_TO_PAGE) | as : GoToPageEvent, view}"
      [showTooltip]="{event: getEvent(EventAction.SHOW_TOOLTIP) | as : ShowTooltipEvent, view}"
      [exchangeTokens]="{event: getEvent(EventAction.EXCHANGE_TOKENS) | as : ExchangeTokensEvent, view}">

    <bb-block    *ngIf="view.type === ViewType.BLOCK"    [view]="view | as : ViewBlock"    (addComponentEvent)="addComponentEvent.emit()"></bb-block>
    <bb-button   *ngIf="view.type === ViewType.BUTTON"   [view]="view | as : ViewButton"   ></bb-button>
    <bb-chart    *ngIf="view.type === ViewType.CHART"    [view]="view | as : ViewChart"    ></bb-chart>
    <bb-collapse *ngIf="view.type === ViewType.COLLAPSE" [view]="view | as : ViewCollapse" (addComponentEvent)="addComponentEvent.emit()"></bb-collapse>
    <bb-icon     *ngIf="view.type === ViewType.ICON"     [view]="view | as : ViewIcon"     ></bb-icon>
    <bb-image    *ngIf="view.type === ViewType.IMAGE"    [view]="view | as : ViewImage"    ></bb-image>
    <bb-table    *ngIf="view.type === ViewType.TABLE"    [view]="view | as : ViewTable"    ></bb-table>
    <bb-text     *ngIf="view.type === ViewType.TEXT"     [view]="view | as : ViewText"     ></bb-text>
  </div>
</ng-template>

<!-- Context Menu -->
<ul *ngIf="isOpen()" (click)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()"
    (clickedOutside)="selection.close()"
    tabindex="0" [style.left]="contextMenuPos.x" [style.top]="contextMenuPos.y"
    class="fixed z-50 menu shadow bg-base-300 rounded-box text-left w-48 dropdown-animation p-0 m-0"
  >
  <li class="p-0 m-0" (click)="editAction()">
    <a class="no-underline font-normal text-base-content text-sm">
      <ng-icon name="jam-pencil-f" size="1.3rem" class="text-warning"/>Edit
    </a>
  </li>
  <li class="p-0 m-0" (click)="duplicateAction()" *ngIf="view.parent && view.parent.type != ViewType.COLLAPSE">
    <a class="no-underline font-normal text-base-content text-sm">
      <ng-icon name="jam-files-f" size="1.3rem"/>Duplicate
    </a>
  </li>
  <li class="p-0 m-0" (click)="openSaveComponentModal()">
    <a class="no-underline font-normal text-base-content text-sm"><ng-icon name="jam-folder-f" size="1.3rem"/>Save as Custom
    </a>
  </li>
  <li class="p-0 m-0" (click)="$event.stopPropagation(); selectParentAction()" *ngIf="view.parent">
    <a class="no-underline font-normal text-base-content text-sm">
      <ng-icon name="tabler-binary-tree" size="1.3rem"/>Highlight Parent
    </a>
  </li>
  <li class="p-0 m-0" (click)="deleteAction()">
    <a class="no-underline font-normal text-base-content text-sm">
      <ng-icon name="feather-x" size="1.3rem" class="text-error"/>Delete
    </a>
  </li>
</ul>


<!-- Edit Modal -->
<app-modal
  *ngIf="isSelected()"
  [id]="'component-editor'"
  [templateRef]="COMPONENT_EDITOR"
  [header]="'Edit Component'"
  [closeBtnText]="'Cancel'"
  [submitBtnText]="'Save ' + (view.type === ViewType.TABLE ? 'Table' : '')"
  [size]="'lg'"
  [static]="true"
  (submitBtnClicked)="submitEditAction()"
  (closeBtnClicked)="cancelEditAction()"
/>
<ng-template #COMPONENT_EDITOR>
  <app-component-editor
    *ngIf="isSelected()"
    [view]="view"
  ></app-component-editor>
</ng-template>

<!-- Delete Modal -->
<app-simple-modal
  *ngIf="isSelected()"
  [id]="'component-delete-' + view.id"
  [title]="'Delete'"
  [text]="'Are you sure you want to delete this?'"
  [submitBtnColor]="'error'"
  [submitBtnText]="'Delete'"
  (submitBtnClicked)="submitDeleteAction()"
  [actionInProgress]="true"
  [static]="true"
  (click)="$event.stopPropagation()"
></app-simple-modal>
