<div class="w-full relative">

  <ng-container *ngIf="!loading.page">

    <!-- Header -->
    <div class="flex items-center w-full prose mb-4">
      <div class="icon mr-3" [innerHTML]="module.icon.svg | sanitizeHTML"></div>
      <h3 class="font-semibold normal-case text-base-content/75 my-0">{{module.name}}</h3>
    </div>

    <!-- Description -->
    <div class="w-full max-w-none prose mb-7">
      <p class="text-justify normal-case font-normal">{{module.description}}</p>
    </div>

    <!-- Personalized Config : BEFORE -->
    <div *ngIf="personalizedConfig?.position === 'before'" class="personalized-config {{module.id}}">
      <ng-container [ngComponentOutlet]="PersonalizedConfig"></ng-container>
    </div>

    <!-- General Inputs -->
    <ng-container *ngIf="generalInputs?.length > 0" [ngTemplateOutlet]="GENERAL_INPUTS"></ng-container>

    <!-- Lists -->
    <ng-container *ngIf="lists?.length > 0" [ngTemplateOutlet]="LISTS"></ng-container>

    <!-- Personalized Config -->
    <div *ngIf="personalizedConfig?.position === 'after'" class="personalized-config {{module.id}}">
      <ng-container [ngComponentOutlet]="PersonalizedConfig"></ng-container>
    </div>

  </ng-container>

  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>

</div>


<!-- General Inputs -->
<ng-template #GENERAL_INPUTS>
  <div *ngFor="let section of unsavedGeneralInputs; let cIdx = index; let last = last" class="card w-full bg-base-100 shadow-xl"
         [ngClass]="{'mt-5': cIdx !== 0 || (cIdx === 0 && personalizedConfig?.position === 'before'), 'mb-5': last && (lists?.length > 0 || personalizedConfig?.position === 'after')}">

      <form #f="ngForm" class="card-body" (ngSubmit)="saveGeneralInputs(section, f)">

        <!-- Section name -->
        <div class="flex items-center mb-3">
          <h2 class="card-title mb-0">{{section.name}}</h2>
          <app-spinner *ngIf="section.loading" [size]="'sm'" [color]="'primary'" [classList]="'ml-3'"></app-spinner>
        </div>

        <!-- Section contents -->
        <ng-container *ngFor="let artifact of section.contents; let i = index">
          <ng-container
            [ngTemplateOutlet]="ARTIFACT"
            [ngTemplateOutletContext]="{artifact, form: f, index: i}">
          </ng-container>
        </ng-container>

        <!-- Action buttons -->
        <div class="flex items-center justify-end mt-4">
          <button type="button" class="btn btn-ghost mr-2" (click)="discardGeneralInputs(section, f)">Discard changes</button>
          <button type="submit" class="btn btn-primary">

            <!-- Spinner -->
            <ng-container *ngIf="section.loading">
              <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
            </ng-container>

            {{section.btnText ?? 'Save'}}
          </button>
        </div>

      </form>
    </div>
</ng-template>


<!-- Lists -->
<ng-template #LISTS>
  <div *ngFor="let list of lists; let lIdx = index; let last = last" class="card w-full bg-base-100 shadow-xl"
       [ngClass]="{'mt-5': lIdx !== 0 || (lIdx === 0 && !generalInputs && personalizedConfig?.position === 'before'),
                   'mb-5': last && personalizedConfig?.position === 'after'}">

    <div class="card-body">

      <!-- Header -->
      <div class="mb-3">

        <!-- List name -->
        <div class="flex items-center">
          <h2 class="card-title mb-0">{{list.name}}</h2>
          <app-spinner *ngIf="list.loading.action" [size]="'sm'" [color]="'primary'" [classList]="'ml-3'"></app-spinner>
        </div>

        <!-- List description -->
        <p *ngIf="list.description" class="text-[0.95rem] text-justify text-base-content/75 mt-2">{{list.description}}</p>
      </div>

      <!-- Top Actions -->
      <app-top-actions *ngIf="list.topActions"
        [leftActions]="list.topActions.left"
        [rightActions]="list.topActions.right"
        (btnClicked)="doAction(list, $event)">
      </app-top-actions>

      <!-- Table -->
      <app-table
        [id]="'list-' + list.name.replace(' ', '-')"
        [classList]="'mt-5'"
        [headers]="list.headers"
        [hasColumnFiltering]="list.options['hasColumnFiltering'] ?? true"
        [hasFooters]="list.options['hasFooters'] ?? true"
        [data]="list.data"
        [options]="list.options"
        [loading]="list.loading.table"
        (btnClicked)="doActionOnTable(list, $event.type, $event.row, $event.col)"
        (valueChanged)="doActionOnTable(list, 'value changed', $event.row, $event.col, $event.value)">
      </app-table>

    </div>

  </div>
</ng-template>


<!-- New / Edit Modal -->
<app-modal *ngIf="mode && itemToManage"
   [id]="'manage'"
   [templateRef]="MANAGE"
   [size]="itemToManage.list[getConfigKey()]['modalSize'] ?? 'sm'"
   [header]="mode?.capitalize() + ' ' + (itemToManage.list.itemName ?? '')"
   [closeBtnText]="'Discard ' + (mode === 'create' ? itemToManage.list.itemName : 'changes')"
   [submitBtnText]="mode?.capitalize() + ' ' + (itemToManage.list.itemName ?? '')"
   [actionInProgress]="itemToManage.list.loading.action"
   (submitBtnClicked)="fManage.onSubmit(null); doAction(itemToManage.list, getConfigKey())"
   (onClose)="resetManage()">
</app-modal>

<ng-template #MANAGE>
  <form #fManage="ngForm" class="overflow-x-hidden p-1 !-mx-1">

    <ng-container *ngFor="let artifact of itemToManage.list[getConfigKey()]['contents']; let i = index">
      <ng-container
        [ngTemplateOutlet]="ARTIFACT"
        [ngTemplateOutletContext]="{artifact, form: fManage, index: i}">
      </ng-container>
    </ng-container>

  </form>
</ng-template>


<!-- Delete Verification Modal -->
<app-simple-modal *ngIf="mode && itemToManage"
  [id]="'delete-verification'"
  [title]="'Delete ' + itemToManage.list.itemName"
  [text]="'Are you sure you want to delete this ' + itemToManage.list.itemName + '? You won\'t be able to undo this action.'"
  [submitBtnText]="'Delete'"
  [submitBtnColor]="'error'"
  [actionInProgress]="itemToManage.list.loading.action"
  (submitBtnClicked)="doAction(itemToManage.list, Action.DELETE)"
  (onClose)="resetManage()">
</app-simple-modal>


<!-- Import Modal -->
<app-modal *ngIf="itemToManage"
  [id]="'import'"
  [templateRef]="IMPORT"
  [header]="'Import ' + itemToManage.list.itemName + 's'"
  [submitBtnText]="'Import'"
  [actionInProgress]="itemToManage.list.loading.action"
  (submitBtnClicked)="fImport.onSubmit(null); doAction(itemToManage.list, Action.IMPORT)"
  (onClose)="resetImport()">
</app-modal>

<ng-template #IMPORT>
  <div class="prose flex items-center gap-1 mb-3">
    <p class="mb-0">Upload a {{itemToManage.list[Action.IMPORT]?.extensions[0].toUpperCase()}} file containing {{itemToManage.list.itemName}} information</p>
    <app-import-helper
      [id]="'import-helper'"
      [format]="$any(itemToManage.list[Action.IMPORT]?.extensions[0])"
      [requirements]="itemToManage.list[Action.IMPORT]?.extensions[0] === '.csv' ? [
        'The separator must be comma.',
        'The encoding must be UTF-8.'
      ] : []"
      [csvHeaders]="itemToManage.list[Action.IMPORT]?.csvHeaders"
      [csvRows]="itemToManage.list[Action.IMPORT]?.csvRows">
    </app-import-helper>
  </div>

  <form #fImport="ngForm">

    <!-- File -->
    <app-input-file
      [id]="'import-file'"
      [form]="fImport"
      [accept]="itemToManage.list[Action.IMPORT]?.extensions.join(', ')"
      [size]="'sm'"
      [color]="'primary'"
      [required]="true"
      (valueChange)="this.importData.file = $event.item(0)">
    </app-input-file>

    <!-- Replace -->
    <app-input-checkbox
      [id]="'import-replace'"
      [form]="fImport"
      [(value)]="importData.replace"
      [color]="'secondary'"
      [classList]="'mt-2'"
      [label]="'Replace duplicates'"
      [labelPosition]="'right'">
    </app-input-checkbox>

  </form>
</ng-template>


<!-- Artifacts: container or input -->
<ng-template #ARTIFACT let-artifact='artifact' let-form='form' let-index='index'>
  <div *ngIf="scopeAllows(artifact.scope ?? null)"
       class="{{artifact.classList}} {{getWidth(artifact.width ?? 'full')}} {{getMarginTOP(artifact.contentType === 'item', artifact.width ?? 'full', index)}}"
       [ngClass]="{'px-3': artifact.contentType === 'item', '-mx-3': artifact.contentType === 'container'}">

    <!-- Container -->
    <ng-container *ngIf="artifact.contentType === 'container'">
      <ng-container *ngFor="let a of artifact.contents; let i = index">
        <ng-container
          [ngTemplateOutlet]="ARTIFACT"
          [ngTemplateOutletContext]="{artifact: a, form: form, index: i}">
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Input -->
    <ng-container *ngIf="artifact.contentType === 'item'">

      <!-- Checkbox -->
      <ng-container *ngIf="artifact.type === InputType.CHECKBOX">
        <app-input-checkbox
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [size]="$any(artifact.options.size) ?? 'sm'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [label]="$any(artifact.options.label) ?? null"
          [labelPosition]="$any(artifact.options.labelPosition) ?? 'left'"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-checkbox>
      </ng-container>

      <!-- Radio -->
      <ng-container *ngIf="artifact.type === InputType.RADIO">
        <app-input-radio
          [id]="artifact.id"
          [group]="$any(artifact.options.group) ?? null"
          [form]="form"
          [optionValue]="$any(artifact.options.optionValue) ?? null"
          [(value)]="artifact.value"
          [size]="$any(artifact.options.size) ?? 'sm'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [label]="$any(artifact.options.label) ?? null"
          [labelPosition]="$any(artifact.options.labelPosition) ?? 'left'"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-radio>
      </ng-container>

      <!-- Code -->
      <!-- TODO -->

      <!-- Color -->
      <ng-container *ngIf="artifact.type === InputType.COLOR">
        <app-input-color
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [placeholder]="$any(artifact.placeholder) ?? null"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-color>
      </ng-container>

      <!-- Date -->
      <ng-container *ngIf="artifact.type === InputType.DATE">
        <app-input-date
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-date>
      </ng-container>

      <!-- Time -->
      <ng-container *ngIf="artifact.type === InputType.TIME">
        <app-input-time
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-time>
      </ng-container>

      <!-- Datetime -->
      <ng-container *ngIf="artifact.type === InputType.DATETIME">
        <app-input-datetime
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-datetime>
      </ng-container>

      <!-- Text -->
      <ng-container *ngIf="artifact.type === InputType.TEXT">
        <app-input-text
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [placeholder]="$any(artifact.placeholder) ?? null"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [rightLabel]="$any(artifact.options.rightLabel) ?? null"
          [btnText]="$any(artifact.options.btnText) ?? null"
          [btnIcon]="$any(artifact.options.btnIcon) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [pattern]="$any(artifact.options.pattern) ?? null"
          [required]="$any(artifact.options.required) ?? null"
          [minLength]="$any(artifact.options.minLength) ?? null"
          [maxLength]="$any(artifact.options.maxLength) ?? null"
          [patternErrorMessage]="$any(artifact.options.patternErrorMessage) ?? null">
        </app-input-text>
      </ng-container>

      <!-- Textarea -->
      <ng-container *ngIf="artifact.type === InputType.TEXTAREA">
        <app-input-textarea
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [placeholder]="$any(artifact.placeholder) ?? null"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [label]="$any(artifact.options.label) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [pattern]="$any(artifact.options.pattern) ?? null"
          [required]="$any(artifact.options.required) ?? null"
          [minLength]="$any(artifact.options.minLength) ?? null"
          [maxLength]="$any(artifact.options.maxLength) ?? null">
        </app-input-textarea>
      </ng-container>

      <!-- Number -->
      <ng-container *ngIf="artifact.type === InputType.NUMBER">
        <app-input-number
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [placeholder]="$any(artifact.placeholder) ?? null"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [rightLabel]="$any(artifact.options.rightLabel) ?? null"
          [btnText]="$any(artifact.options.btnText) ?? null"
          [btnIcon]="$any(artifact.options.btnIcon) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null"
          [minValue]="$any(artifact.options.minValue) ?? null"
          [maxValue]="$any(artifact.options.maxValue) ?? null">
        </app-input-number>
      </ng-container>

      <!-- URL -->
      <ng-container *ngIf="artifact.type === InputType.URL">
        <app-input-url
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [placeholder]="$any(artifact.placeholder) ?? 'www.website.com'"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null"
          [minLength]="$any(artifact.options.minLength) ?? null"
          [maxLength]="$any(artifact.options.maxLength) ?? null">
        </app-input-url>
      </ng-container>

      <!-- File-->
      <ng-container *ngIf="artifact.type === InputType.FILE">
        <app-input-file
          [id]="artifact.id"
          [form]="form"
          [accept]="$any(artifact.options.accept) ?? null"
          [multiple]="$any(artifact.options.multiple) ?? null"
          [camera]="$any(artifact.options.camera) ?? null"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [label]="$any(artifact.options.label) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null"
          (valueChange)="onFileSelected($event, artifact, artifact.options.accept)">
        </app-input-file>
      </ng-container>

      <!-- Markdown -->
      <!-- TODO -->

      <!-- Email -->
      <ng-container *ngIf="artifact.type === InputType.EMAIL">
        <app-input-email
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [placeholder]="$any(artifact.placeholder) ?? 'email@example.com'"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null"
          [minLength]="$any(artifact.options.minLength) ?? null"
          [maxLength]="$any(artifact.options.maxLength) ?? null">
        </app-input-email>
      </ng-container>

      <!-- Select -->
      <ng-container *ngIf="artifact.type === InputType.SELECT">
        <app-input-select
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [options]="$any(artifact.options.options) ?? null"
          [placeholder]="$any(artifact.placeholder) ?? null"
          [multiple]="$any(artifact.options.multiple) ?? null"
          [limit]="$any(artifact.options.limit) ?? null"
          [search]="$any(artifact.options.search) ?? true"
          [closeOnSelect]="$any(artifact.options.closeOnSelect) ?? true"
          [hideSelectedOption]="$any(artifact.options.hideSelectedOption) ?? false"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [btnText]="$any(artifact.options.btnText) ?? null"
          [btnIcon]="$any(artifact.options.btnIcon) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-select>
      </ng-container>

      <!-- Weekday -->
      <ng-container *ngIf="artifact.type === InputType.WEEKDAY">
        <app-input-select-weekday
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [placeholder]="$any(artifact.placeholder) ?? 'Select a weekday'"
          [multiple]="$any(artifact.options.multiple) ?? null"
          [limit]="$any(artifact.options.limit) ?? null"
          [closeOnSelect]="$any(artifact.options.closeOnSelect) ?? true"
          [hideSelectedOption]="$any(artifact.options.hideSelectedOption) ?? true"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [topLabel]="$any(artifact.options.topLabel) ?? null"
          [leftLabel]="$any(artifact.options.leftLabel) ?? null"
          [btnText]="$any(artifact.options.btnText) ?? null"
          [btnIcon]="$any(artifact.options.btnIcon) ?? null"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-select-weekday>
      </ng-container>

      <!-- Toggle -->
      <ng-container *ngIf="artifact.type === InputType.TOGGLE">
        <app-input-toggle
          [id]="artifact.id"
          [form]="form"
          [(value)]="artifact.value"
          [size]="$any(artifact.options.size) ?? 'md'"
          [color]="$any(artifact.options.color) ?? null"
          [classList]="$any(artifact.options.classList) ?? null"
          [disabled]="$any(artifact.options.disabled) ?? null"
          [label]="$any(artifact.options.label) ?? null"
          [labelPosition]="$any(artifact.options.labelPosition) ?? 'left'"
          [helperText]="$any(artifact.helper) ?? null"
          [helperPosition]="getHelperPosition(artifact.width ?? 'full', index)"
          [required]="$any(artifact.options.required) ?? null">
        </app-input-toggle>
      </ng-container>

    </ng-container>

  </div>
</ng-template>
