<div class="form-control w-full {{classList}}">

  <!-- Label -->
  <label *ngIf="topLabel" class="label cursor-pointer justify-start gap-2" [ngClass]="{'pl-0': helperText}">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <span class="label-text" [ngClass]="{'opacity-50': disabled}">{{topLabel}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <!-- Simple Input -->
  <ng-container *ngIf="!leftLabel" [ngTemplateOutlet]="SIMPLE"></ng-container>

  <!-- Group Input -->
  <ng-container *ngIf="leftLabel" [ngTemplateOutlet]="GROUP"></ng-container>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && inputDateTime.invalid" class="error-messages">
    <span *ngIf="inputDateTime.errors.pattern && patternErrorMessage !== null" class="label-text-alt">{{patternErrorMessage}}</span>
    <span *ngIf="inputDateTime.errors.required && requiredErrorMessage !== null" class="label-text-alt">{{requiredErrorMessage}}</span>
    <span *ngIf="inputDateTime.errors.incorrect && incorrectErrorMessage !== null" class="label-text-alt">{{incorrectErrorMessage}}</span>
  </label>

</div>

<ng-template #DATETIME>
  <input
    type="datetime-local"
    id="{{id}}"
    name="{{id}}"
    class="input input-bordered {{InputSize[size]}} {{InputColor[color]}} w-full"
    placeholder="{{placeholder}}"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value)"
    [pattern]="pattern"
    [required]="required"
    [disabled]="disabled"
    #inputDateTime="ngModel"
    [ngClass]="{'input-error': form && form.submitted && inputDateTime.invalid}"
  />
</ng-template>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <ng-container [ngTemplateOutlet]="DATETIME"></ng-container>
</ng-template>

<ng-template #GROUP>
  <label class="input-group {{InputGroupSize[size]}}">
    <span *ngIf="leftLabel" class="min-w-fit {{InputGroupLabelColor[color]}}">{{leftLabel}}</span>
    <ng-container [ngTemplateOutlet]="DATETIME"></ng-container>
  </label>
</ng-template>
