/* FIXME -> put this in html component */

.editor {
  overflow-y: auto;
  background-color: #282C34;
}

.tabs {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
