<div class="form-control w-full {{classList}}">
  <!-- Label -->
  <label *ngIf="title" class="label cursor-pointer justify-start gap-2" [ngClass]="{'pl-0': helperText}">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <span class="label-text" [ngClass]="{'opacity-50': disabled}">{{title}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <div *ngIf="showOutput" class="tabs tabs-boxed flex flex-wrap bg-base-content rounded-b-none">
    <ng-container *ngFor="let tab of tabNames">
      <a class="tab tab-sm text-base-200 {{tabs[tab] ? 'tab-active' : ''}}" (click)="toggleTabs(tab)">{{tab}}</a>
    </ng-container>
  </div>

  <div class="rounded-xl border-base-content h-64 border-2 overflow-y-auto
        {{getTheme() === 'light' && showOutput ? 'border-t-base-300' : ''}} {{showOutput ? 'rounded-t-none': ''}}"
       style="background-color: #282C34">
    <!-- Editor code tab -->
    <div class="cm {{tabs[tabNames[0]] || !showOutput ? '' : 'hidden'}}">
      <div [id]="id"></div>
    </div>

    <!-- Editor output tab -->
    <div *ngIf="tabs[tabNames[1]]">
      <span class="text-primary-content text-sm text-opacity-50 ml-1.5"><i>Press 'Run' to simulate code output!</i></span>
      <div class="justify-center flex">
        <button type="button" class="btn btn-success text-white mt-1 gap-2 w-[calc(100%-0.5rem)] mb-1" (click)="simulateOutput()">
          <ng-icon name="feather-play-circle" size="1.2rem" class="text-white"></ng-icon>
          Run
        </button>
      </div>
    </div>

  </div>


</div>
