<div class="form-control w-full {{classList}}">

  <div *ngIf="showAlert" class="justify-center flex flex-wrap mt-4">
    <div class="alert alert-warning shadow-md">
      <ng-icon name="tabler-alert-triangle" size="2rem"></ng-icon>
      <div><span>There are <strong>incomplete lines</strong> of code below.
        Check the <strong>highlighted lines</strong> and <strong>change them</strong> to their desired behavior.</span></div>
    </div>
  </div>

  <!-- Label -->
  <label *ngIf="title" class="label cursor-pointer justify-start gap-2" [ngClass]="{'pl-0': helperText}">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <span class="label-text" [ngClass]="{'opacity-50': disabled}">{{title}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <div *ngIf="showTabs" class="tabs tabs-boxed flex flex-wrap bg-base-content rounded-b-none rounded-xl items-center">
    <ng-container *ngFor="let tab of tabs, let i = index">
      <a class="tab tab-sm text-base-200 {{tab.active ? 'tab-active' : ''}} hover:bg-base-100/20 transition" (click)="toggleTabs(i)">{{tab.name}}</a>
    </ng-container>
    <button class="ml-auto text-base-200 hover:text-primary transition flex items-center tooltip tooltip-left mr-1" [attr.data-tip]="'Expand'" (click)="expand()">
      <ng-icon *ngIf="size === 'md'" name="tabler-window-maximize" size="1.3rem" class="text-inherit" />
      <ng-icon *ngIf="size === 'lg'" name="tabler-window-minimize" size="1.3rem" class="text-inherit" />
    </button>
  </div>

  <div class="rounded-xl border-base-content {{size === 'lg' ? 'h-[35rem]' : 'h-64'}} border-2 overflow-y-auto bg-base-200
        {{getTheme() === 'light' && showTabs ? 'border-t-base-300' : ''}} {{showTabs ? 'rounded-t-none': ''}}">

    <ng-container *ngFor="let tab of tabs, let i = index">
      <!-- Editor code tabs  -->
      <div *ngIf="tab.type === 'code'" class="cm {{!showTabs || tab.active ? '' : 'hidden'}}">
        <div [id]="getId(i, tab.name)"></div>
      </div>

      <!-- Preview expression tabs  -->
      <div *ngIf="tab.type === 'preview'" class="cm {{!showTabs || tab.active ? '' : 'hidden'}} h-full hover:cursor-text flex flex-col overflow-y-auto relative">
        <div [id]="getId(i, tab.name)"></div>
        <div class="w-full bg-base-300 flex flex-row items-center gap-2">
          <button type="button" class="ml-2 btn btn-secondary btn-sm text-secondary-content gap-2 {{isRunning(tab) ? 'btn-disabled' : ''}}" (click)="previewExpression(tab)">
            <ng-icon *ngIf="!isRunning(tab)" name="feather-play-circle" size="1.2rem" class="text-inherit"></ng-icon>
            <app-spinner *ngIf="isRunning(tab)" [classList]="'ml-2'" [color]="'neutral-content'" [size]="'sm'"></app-spinner>
            Preview Expression
          </button>
          <div *ngIf="outputPreview" class="font-semibold">Result:</div>
          <div *ngIf="outputPreviewError" class="font-semibold text-error">Error:</div>
        </div>
        <div class="text-xs p-2 bg-base-300 flex flex-col flex-1 w-fit min-w-full">
          <pre *ngIf="outputPreview">{{outputPreview | json}}</pre>
          <div *ngIf="outputPreviewError" [innerHTML]="outputPreviewError" class="text-sm"></div>
        </div>
        <div class="absolute tooltip tooltip-left top-1 right-1" [attr.data-tip]="'Copy'">
          <button class="btn btn-sm btn-ghost btn-circle" (click)="copyPreviewToClipboard()">
            <ng-icon name="jam-files" size="1.3rem" class="text-base-content"/>
          </button>
        </div>
      </div>

      <!-- Editor reference manual tabs -->
      <div *ngIf="tab.type === 'manual' && tab.active" class="h-full overflow-y-clip relative">
        <div class="w-full flex h-full">
          <div class="grow-0 shrink-0 w-64 max-w-[45%] h-full flex flex-col">
            <app-input-search
              [id]="'manual'"
              [size]="'sm'"
              [classList]="'mt-1 mb-1.5'"
              [items]="Object.values(originalFunctions)"
              [placeholder]="'Search for function...'"
              (valueChange)="filterFunctions($event)">
            </app-input-search>
            <div class="bg-base-300 h-full overflow-y-auto overflow-x-auto">

              <!-- Namespaces -->
              <div *ngFor="let entry of filteredFunctions | keyvalue" class="mb-2">
                <button class="pl-2 p-0.5 hover:bg-base-content/10 transition text-sm flex flex-row justify-start items-center w-full font-light gap-1"
                        (click)="selectedFunction = null; selectedNamespace = entry.key">
                  <ng-icon name="tabler-code" size="1rem"/>Namespace<span class="font-semibold">{{entry.key}}</span>
                </button>
                <div class="flex flex-col gap-1 ml-2">

                  <!-- Functions -->
                  <button *ngFor="let fx of entry.value"
                       class="badge badge-secondary
                        {{ isSelected(fx) ? 'badge-outline' : 'hover:badge-outline' }}"
                       (click)="selectedNamespace = null; selectedFunction = fx">
                    {{ fx.keyword }}
                  </button>

                </div>
              </div>

              <span *ngIf="Object.values(filteredFunctions).length === 0" class="text-base-content text-opacity-50 justify-center flex">
                Nothing found.
              </span>

            </div>
          </div>


          <div class="{{size === 'lg' ? 'h-[34rem]' : 'h-64'}} overflow-y-auto overflow-x-auto text-base-content w-full">
            <div *ngIf="!selectedFunction && !selectedNamespace" class="text-base-content text-opacity-50 ml-5 mt-2">
              Select a function or namespace on the left panel
            </div>

            <div *ngIf="selectedNamespace" class="px-4 flex flex-col gap-2 w-full">
              <div class="border-base-content/10 border-b-2 mb-4 mt-2">
                <span class="text-xl font-bold">{{selectedNamespace}}</span>
              </div>
              <div class="mb-8 w-full" [innerHTML]="namespaces[selectedNamespace]"></div>
            </div>

            <div *ngIf="selectedFunction" class="px-4 flex flex-col gap-2 relative">

              <div class="absolute tooltip tooltip-left top-1 right-2" [attr.data-tip]="'Copy Function Formula'">
                <button class="btn btn-sm btn-ghost btn-circle" (click)="copyReferenceToClipboard()">
                  <ng-icon name="jam-files" size="1.3rem" class="text-base-content"/>
                </button>
              </div>

              <div class="border-base-content/10 border-b-2 mb-4 mt-2">
                <span class="text-xl font-bold">{{selectedFunction.keyword}}</span>
              </div>

              <div *ngIf="selectedFunction.args.length > 0" class="mb-4">
                <span class="text-secondary">{{selectedFunction.name}}.{{selectedFunction.keyword}}</span> (
                <div *ngFor="let arg of selectedFunction.args, let i = index" class="inline">
                    <span><span class="text-primary">{{arg.optional ? '?' : ''}}{{arg.type}}</span>{{': ' + arg.name}}{{selectedFunction.args.length - 1 !== i ? ', ' : ''}}</span>
                </div>

                <span> ) -> {{selectedFunction.returnType}}</span>
              </div>

              <div *ngIf="selectedFunction.args.length === 0" class="mb-4">
                <div><span class="text-secondary">{{selectedFunction.keyword}}</span> () -> {{selectedFunction.returnType}}</div>
              </div>

              <div><span><strong>Description: </strong>
                {{selectedFunction.description}}</span>
              </div>

              <div *ngIf="selectedFunction.name !== 'gamerules'">
                <strong>Namespace: </strong>
                <span class="link link-primary" (click)="selectedNamespace = selectedFunction.name; selectedFunction = null">
                  {{selectedFunction.name}}
                </span><br>
              </div>

              <div *ngIf="selectedFunction.name === 'gamerules'">
                <span><strong>Args:</strong></span><br>
                <span *ngFor="let arg of selectedFunction.args, let i = index" class="text-sm">
                  <div class="ml-4"><strong>- {{arg.name}} : </strong>{{arg.description}}</div>
                </span>
              </div>

              <!-- Replace later when argument's descriptions are added (in backend) -->
              <ng-container *ngIf="selectedFunction.name !== 'gamerules' && selectedFunction.args.length > 0">
                <div><strong>Args:</strong>
                  <ng-container *ngFor="let arg of selectedFunction.args, let i = index">
                    <span> {{arg.name}}{{selectedFunction.args.length - 1 !== i ? ',' : ''}}</span>
                  </ng-container>
                </div>
              </ng-container>

              <div><strong>Return type:</strong> {{selectedFunction.returnType}}</div>

              <div *ngIf="selectedFunction.example" class="mb-8 mt-4"><strong>Usage Example: </strong>
                <pre style="white-space: pre-wrap;"><code>{{selectedFunction.example}}</code></pre></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cookbook -->
      <div *ngIf="tab.type === 'cookbook' && tab.active" class="h-full overflow-y-clip">
        <div class="w-full flex h-full">
          <div class="grow-0 shrink-0 w-64 max-w-[45%] h-full flex flex-col">
            <app-input-search
              [id]="'manual'"
              [size]="'sm'"
              [classList]="'mt-1 mb-1.5'"
              [items]="originalRecipes"
              [placeholder]="'Search for recipe...'"
              (valueChange)="filterRecipes($event)">
            </app-input-search>
            <div class="bg-base-300 h-full overflow-y-auto overflow-x-auto flex flex-col gap-1 ml-2">
              <button *ngFor="let recipe of filteredRecipes"
                   class="badge badge-secondary
                        {{ recipe == selectedRecipe ? 'badge-outline' : 'hover:badge-outline' }}"
                   (click)="selectedRecipe = recipe">
                {{ recipe.name }}
              </button>

              <span *ngIf="filteredRecipes.length === 0" class="text-base-content text-opacity-50 justify-center flex">
                Nothing found.
              </span>

            </div>
          </div>


          <div class="{{size === 'lg' ? 'h-[34rem]' : 'h-64'}} overflow-y-auto overflow-x-auto mt-2 text-base-content w-full">
            <span *ngIf="!selectedRecipe" class="text-base-content text-opacity-50 ml-5">
              Select a recipe on the left panel
            </span>

            <div *ngIf="selectedRecipe" class="px-4 flex flex-col gap-2 w-full">
              <div class="border-base-content/10 border-b-2 mb-4">
                <span class="text-xl font-bold">{{selectedRecipe.name}}</span>
              </div>
              <div class="mb-8 w-full" [innerHTML]="selectedRecipe.content"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Editor output tabs -->
      <div *ngIf="tab.type === 'output' && tab.active">
        <app-coming-soon></app-coming-soon>
        <!-- TODO: UNCOMMENT THIS PART LATTER -->
        <!-- Warning message -->
        <!--
        <div class="justify-center flex">
          <div *ngIf="isRunning(tab)" class="alert alert-warning shadow-lg rounded-lg w-[calc(90%-0.5rem)] mt-4">
            <div>
              <ng-icon [name]="'feather-alert-triangle'" size="1.2rem"></ng-icon>
              <div class="ml-2.5">
                <span><strong>Running...</strong></span><br>
                <span>
                  Hold on! Results might take a while to appear (click refresh to check for new results).
                </span>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="tab.tutorialMessage" class="mt-4 justify-center flex">
          <span [innerHTML]="tab.tutorialMessage"></span>
        </div>

        <div class="justify-center flex align-middle mt-4">
          <div class="tooltip tooltip-bottom w-[calc(80%-0.5rem)]" [attr.data-tip]="getTooltip(tab)">
            <button type="button" class="btn btn-success text-white w-full gap-2 {{isRunning(tab) ? 'btn-disabled' : ''}}" (click)="simulateOutput(i, tab)">
              <ng-icon *ngIf="!isRunning(tab)" name="feather-play-circle" size="1.2rem" class="text-white"></ng-icon>
              <app-spinner *ngIf="isRunning(tab)" [classList]="'ml-2'" [color]="'neutral-content'" [size]="'sm'"></app-spinner>
              {{tab.runMessage ?? 'Run'}}
            </button>
          </div>

          <div *ngIf="isRunning(tab)" class="tooltip tooltip-bottom" [attr.data-tip]="'Refresh'">
            <button type="button" class="btn btn-ghost mt-1 gap-2 w-[calc(10%-0.5rem)] mb-1" (click)="refreshingOutput(i, tab)">
              <ng-icon name="feather-refresh-ccw" size="1.2rem" [color]="getTheme() === 'light' ? 'text-base-content' : 'text-white'"></ng-icon>
            </button>
          </div>
        </div>

        <div *ngIf="!isRunning(tab) && isRunning(tab) !== null && tab.value !== null" class="justify-center flex">
          <textarea class="textarea textarea-bordered textarea-md w-[calc(80%-0.5rem)] h-full
          bg-transparent {{getTheme() === 'light' ? 'text-base-content' : 'text-white'}} border-base-300 mt-4">{{tab.value}}
          </textarea>

          <div *ngIf="tab.debugOutput" class="mt-4">
            <span><strong>Variables:</strong></span>
            TODO: Show each variable here
          </div>
        </div>-->
      </div>

    </ng-container>

  </div>


</div>



















<!--<div *ngIf="tab.specificFunction" class="mt-4">
          <div class="ml-14 mr-14">
            <span>{{getTooltip(tab)}}</span><br>
            <span class="text-sm">e.g. <span class="font-semibold">
              <i class="text-error">badges</i>.
              <i class="text-secondary">getUserBadgeNextLevel</i>(<i class="text-primary">44</i>,
              <i class="text-primary">7</i>)
            </span></span><br><br>
            <span>Your selection:</span><br>
            <span class="text-sm">(If existing, don't forget the namespace)</span><br>
            <span class="mt-4">"<i class="font-semibold">{{receiveFunctionSelection.selection ?? '' }}</i>"</span>
          </div>

          <div class="justify-center flex align-middle mt-4">
            <div class="w-[calc(80%-0.5rem)]">
              <button type="button" class="btn btn-success text-white w-full gap-2
                {{receiveFunctionSelection.library === null || isRunning(tab) ? 'btn-disabled' : ''}}" (click)="simulateOutput(i, tab)">
                <ng-icon *ngIf="!isRunning(tab)" name="feather-play-circle" size="1.2rem"
                         class="{{receiveFunctionSelection.library !== null ? 'text-white' : 'text-base-content text-opacity-50'}}">
                </ng-icon>
                <app-spinner *ngIf="isRunning(tab)" [classList]="'ml-2'" [color]="'neutral-content'" [size]="'sm'"></app-spinner>
                <span class="{{receiveFunctionSelection.library !== null ? '' : 'text-base-content text-opacity-50'}}">
                  {{tab.runMessage ?? 'Preview Function'}}
                </span>
              </button>
            </div>

            <div *ngIf="isRunning(tab)" class="tooltip tooltip-bottom" [attr.data-tip]="'Refresh'">
              <button type="button" class="btn btn-ghost mt-1 gap-2 w-[calc(10%-0.5rem)] mb-1" (click)="refreshingOutput(i, tab)">
                <ng-icon name="feather-refresh-ccw" size="1.2rem" [color]="getTheme() === 'light' ? 'text-base-content' : 'text-white'"></ng-icon>
              </button>
            </div>
          </div>

        </div>-->
