<!-- this hidden checkbox controls the state -->
<input type="checkbox" [id]="id" [(ngModel)]="isOpen" (ngModelChange)="!isOpen ? onClose.emit() : ''" class="modal-toggle" />

<label [for]="!static ? id : ''" class="modal {{classList}}"
       [ngClass]="{'cursor-pointer': !static, 'modal-bottom sm:modal-middle': responsive}">

  <label [for]="id + '-box'" class="modal-box relative overflow-hidden"
         [ngClass]="{'w-11/12': !responsive, '!max-w-[42rem]': size === 'md', '!max-w-5xl': size === 'lg', '!max-w-full': size === 'xl'}"
         [ngStyle]="size !== 'sm' && size !== 'md' && size !== 'lg' && size !== 'xl' ? {'max-width': '42rem'} : {}">

    <!-- Close X button -->
    <label *ngIf="xButton" [for]="id" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
           (click)="btnClicked = 'close'; closeBtnClicked.emit()">
      <ng-icon name="feather-x" size="1rem"></ng-icon>
    </label>

    <!-- Header -->
    <div *ngIf="header" class="prose px-1" [ngClass]="{'mb-3': headerMarginBottom}">
      <h3 class="{{headerColor ? colors[headerColor].text : ''}}">{{header}}</h3>
    </div>

    <!-- Body -->
    <div class="max-h-[calc(100vh-15rem)] overflow-y-auto p-1">
      <!-- Spinner -->
      <div *ngIf="loading" class="flex justify-center items-center">
        <app-spinner></app-spinner>
      </div>

      <!-- Custom template -->
      <ng-container *ngIf="!loading" [ngTemplateOutlet]="templateRef"></ng-container>
    </div>

    <!-- Footer -->
    <div class="modal-action px-1">

      <!-- Close button (left) -->
      <label *ngIf="closeBtn" [for]="id" class="btn btn-ghost {{closeBtnColor ? colors[closeBtnColor].btn : ''}}"
             (click)="btnClicked = 'close'; closeBtnClicked.emit()">
        {{closeBtnText}}
      </label>

      <!-- Extra button (middle) -->
      <button *ngIf="extraBtnText" class="btn {{extraBtnOutline ? 'btn-outline' : ''}} {{extraBtnColor ? colors[extraBtnColor].btn : ''}}"
              [disabled]="extraBtnDisabled" type="button" (click)="btnClicked = 'extra'; extraBtnClicked.emit();">

        <!-- Spinner -->
        <ng-container *ngIf="actionInProgress && btnClicked == 'extra'">
          <app-spinner [size]="'sm'" [color]="extraBtnOutline ? extraBtnColor : colors[extraBtnColor].btnText" [classList]="'mr-3'"></app-spinner>
        </ng-container>

        {{extraBtnText}}
      </button>

      <!-- Submit button (right) -->
      <button *ngIf="submitBtnText" class="btn {{submitBtnOutline ? 'btn-outline' : ''}} {{submitBtnColor ? colors[submitBtnColor].btn : ''}}"
              [disabled]="submitBtnDisabled" type="button" (click)="btnClicked = 'submit'; submitBtnClicked.emit()">
        <!-- Spinner -->
        <ng-container *ngIf="actionInProgress && btnClicked == 'submit'">
          <app-spinner [size]="'sm'" [color]="submitBtnOutline ? submitBtnColor : colors[submitBtnColor].btnText" [classList]="'mr-3'"></app-spinner>
        </ng-container>

        {{submitBtnText}}
        <ng-icon class="ml-3" *ngIf="submitBtnIcon" [name]="submitBtnIcon" size="1.5rem"></ng-icon>
      </button>
    </div>

  </label>
</label>
