<!-- this hidden checkbox controls the state -->
<input type="checkbox" [id]="id" class="modal-toggle" />

<label [for]="!static ? id : ''" class="modal {{classList}}"
       [ngClass]="{'cursor-pointer': !static, 'modal-bottom sm:modal-middle': responsive}">

  <label class="modal-box relative" [for]="id + '-box'"
         [ngClass]="{'w-11/12': !responsive, 'max-w-[42rem]': size === 'md', 'max-w-5xl': size === 'lg'}">

    <!-- Close X button -->
    <label [for]="id" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
           (click)="btnClicked = 'close'; closeBtnClicked.emit(); this.onClose.emit()">
      <ng-icon name="feather-x" size="1rem"></ng-icon>
    </label>

    <!-- Header -->
    <div *ngIf="header" class="prose" [ngClass]="{'mb-6': headerMarginBottom}">
      <h3 class="{{headerColor ? colors[headerColor].text : ''}}">{{header}}</h3>
    </div>

    <!-- Body -->
    <ng-container>
      <!-- Spinner -->
      <div *ngIf="loading" class="flex justify-center items-center">
        <app-spinner></app-spinner>
      </div>

      <!-- Custom template -->
      <ng-container *ngIf="!loading" [ngTemplateOutlet]="templateRef"></ng-container>
    </ng-container>

    <!-- Footer -->
    <div class="modal-action">

      <!-- Close button (left) -->
      <label [for]="id" class="btn btn-ghost {{closeBtnColor ? colors[closeBtnColor].btn : ''}}"
             (click)="btnClicked = 'close'; closeBtnClicked.emit(); this.onClose.emit()">
        {{closeBtnText}}
      </label>

      <!-- Extra button (middle) -->
      <button *ngIf="extraBtnText" class="btn {{extraBtnOutline ? 'btn-outline' : ''}} {{extraBtnColor ? colors[extraBtnColor].btn : ''}}"
              (click)="btnClicked = 'extra'; extraBtnClicked.emit();">

        <!-- Spinner -->
        <ng-container *ngIf="actionInProgress && btnClicked == 'extra'">
          <app-spinner [size]="'sm'" [color]="extraBtnColor" [classList]="'mr-3'"></app-spinner>
        </ng-container>

        {{extraBtnText}}
      </button>

      <!-- Submit button (right) -->
      <button *ngIf="submitBtnText" class="btn {{submitBtnOutline ? 'btn-outline' : ''}} {{submitBtnColor ? colors[submitBtnColor].btn : ''}}"
              (click)="btnClicked = 'submit'; submitBtnClicked.emit()">

        <!-- Spinner -->
        <ng-container *ngIf="actionInProgress && btnClicked == 'submit'">
          <app-spinner [size]="'sm'" [color]="submitBtnColor" [classList]="'mr-3'"></app-spinner>
        </ng-container>

        {{submitBtnText}}
      </button>
    </div>

  </label>
</label>
