<div class="w-full relative">

  <!-- Header -->
  <app-header [title]="'Installed Modules'" [icon]="'tabler-plug'" [loading]="loading"></app-header>

  <!-- Search -->
  <app-input-search
    [id]="'module-search'"
    [items]="modules"
    [classList]="'lg:w-1/2 mx-auto'"
    (onSearch)="filteredModules = $event">
  </app-input-search>

  <!-- Modules -->
  <div *ngFor="let type of objectKeys(modulesTypes)">
    <app-header [subHeader]="true" [title]="modulesTypes[type]" [classList]="'mt-10'"></app-header>

    <div class="flex flex-wrap -mx-4">

      <ng-container *ngIf="!loading">
        <div *ngFor="let module of filterModules(type | as : $any(ModuleType))"
             class="sm:w-1/2 xl:w-1/3 2xl:w-1/4 w-full p-4">
          <app-installed-module-card [module]="module"></app-installed-module-card>
        </div>
        <span *ngIf="filterModules(type | as : $any(ModuleType)).length === 0" class="text-error px-4">No modules of type</span>
      </ng-container>

      <!-- Modules Skeleton -->
      <ng-container *ngIf="loading">
        <div *ngFor="let placeholder of [1, 2, 3, 4, 5]" class="lg:w-1/3 sm:w-1/2 w-full p-4">
          <app-course-skeleton></app-course-skeleton>
        </div>
      </ng-container>

    </div>
  </div>

</div>
