.streaks-list {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px 20px 0;
}

.streaks-list .streak {
  border-top: 2px solid #e6e6e6;
  padding: 20px 40px 20px 10px;
}

/*** ------------- Top ------------- ***/

.streaks-list .streak .streak-top > * {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

/*** ---------- Top Left ---------- ***/

.streaks-list .streak .streak-top .streak-top-left > * {
  flex-direction: row !important;
}

.streaks-list .streak .streak-top .streak-top-left .streak-info {
  width: 350px;
  margin-right: 40px;
  margin-top: 10px;
}

.streaks-list .streak .streak-top .streak-top-left .streak-info .streak-title {
  font-size: 16px;
  font-weight: bold;
}

.streaks-list .streak .streak-top .streak-top-left .streak-info .streak-description {
  font-size: 14px;
  margin-top: 5px;
}

.streaks-list .streak .streak-top .streak-top-left .streak-info .streak-done {
  font-size: 12px;
  font-weight: bold;
}

.streaks-list .streak .streak-top .streak-top-left .streak-imgs-all {
  margin-top: 7px;
}

.streaks-list .streak .streak-top .streak-top-left .streak-imgs-all > * {
  flex-direction: row !important;
  align-items: center;
}

.streaks-list .streak .streak-top .streak-top-left .streak-imgs-all .streak-imgs > * {
  position: relative;
}

.streaks-list .streak .streak-top .streak-top-left .streak-imgs-all .streak-imgs .streak-img {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.streaks-list .streak .streak-top .streak-top-left .streak-imgs-all .streak-imgs .streak-img img {
  object-fit: contain;
}

.streaks-list .streak .streak-top .streak-top-left .streak-imgs-all .streak-imgs .streak-number {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

/*** ---------- Top Right ---------- ***/

.streaks-list .streak .streak-top .streak-top-right > *,
.streaks-list .streak .streak-top .streak-top-right .streak-reward-token > * {
  flex-direction: row !important;
  justify-content: center;
}

.streaks-list .streak .streak-top .streak-top-right .streak-reward-xp {
  width: 80px;
}

.streaks-list .streak .streak-top .streak-top-right .streak-reward-xp > * {
  align-items: center;
}

.streaks-list .streak .streak-top .streak-top-right .streak-reward-xp .streak-reward-xp-extra-credit {
  color: #E00;
  font-size: 10px;
  font-weight: bold;
}

.streaks-list .streak .streak-top .streak-top-right .streak-reward-xp .streak-reward-xp-xp,
.streaks-list .streak .streak-top .streak-top-right .streak-reward-token span {
  font-size: 22px !important;
  font-weight: bold;
}

.streaks-list .streak .streak-top .streak-top-right .streak-reward-token {
  border-left: 2px solid #CFCFCF;
  margin-left: 20px;
  padding-left: 20px;
  width: 70px;
}

.streaks-list .streak .streak-top .streak-top-right .streak-reward-token .gc-image {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-left: 5px;
}