<div class="section">
  <div class="divider">
    <div class="title"><span>ClassCheck Variables</span></div>
  </div>

  <div class="content">
    <div class="input-wrapper" style="max-width: 500px">
      <span class="label">TSV Code</span>
      <input type="text" id="tsv-code" name="tsv-code" class="input" [(ngModel)]="TSVCode" (ngModelChange)="hasUnsavedChanges = true">
    </div>

    <div class="action-buttons">
      <button id="save-button" class="button" [disabled]="!hasUnsavedChanges || TSVCode.isEmpty()" (click)="saveClassCheck()">Save</button>
    </div>
  </div>

  <div class="success_box">
    <div id="action_completed" class="success_msg"></div>
  </div>
</div>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>
