<div class="w-full relative">
  <!-- Header -->
  <app-header [classList]="'text-md'"
    [title]="'Rule Editor'"
    [icon]="'tabler-clipboard-list'"
    [loading]="loading.action">
  </app-header>

  <ng-container *ngIf="sectionMode !== 'see section'">

    <div class="flex flex-wrap justify-center">
      <span class="text-base-content text-xl font-semibold">Existing Sections</span>
    </div>

    <!-- Search -->
    <app-input-search
      [id] = "'sections-search'"
      [items] = "originalSections"
      [classList]="'w-[55%] mx-auto mt-5'"
      [placeholder]="'Search for specific section...'"
      (onSearch)="filteredSections = $event">
    </app-input-search>

    <!-- Actions
    <div class="border-b border-gray-200 mb-4">
      <div class="mt-5 mb-5">
        <app-top-actions
          [rightActions]="sectionActions"
          (btnClicked)="prepareManagement($event)">
        </app-top-actions>
      </div>
    </div>-->


    <span *ngIf="originalSections.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing to show yet.</span>

    <!-- Sections and Rules -->
    <div *ngFor="let section of originalSections">
      <div class="justify-center flex">
        <div class="card w-[55%] bg-base-100 shadow-xl mt-5">
          <div class="card-body">
            <ng-container *ngIf="!loading.page">

              <div class="flex items-start mt-2 justify-between">
                <app-header [subHeader]="true" [classList]="'flex flex-wrap items-start'" [title]="section.name" [icon] ="'jam-box'"></app-header>

                <div>
                  <div class="tooltip align-middle mx-1.5" data-tip="Edit">
                    <button class="btn btn-sm btn-ghost btn-circle" (click)="prepareManagement('edit section', section)">
                      <ng-icon name="jam-pencil-f" size="1.5rem" class="text-warning"></ng-icon>
                    </button>
                  </div>

                  <div class="tooltip align-middle mx-1.5" data-tip="Delete">
                    <button class="btn btn-sm btn-ghost btn-circle" (click)="prepareManagement('remove section', section)">
                      <ng-icon name="jam-trash-f" size="1.5rem" class="text-error"></ng-icon>
                    </button>
                  </div>

                  <div class="tooltip align-middle mx-1.5" data-tip="See more details">
                    <button class="btn btn-sm btn-ghost btn-circle" (click)="prepareManagement('see section', section)">
                      <ng-icon name="feather-arrow-right-circle" size="1.5rem" class="text-primary"></ng-icon>
                    </button>
                  </div>
                </div>

              </div>

              <!-- Loader -->
              <app-loader [loading]="loading.page"></app-loader>

            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="justify-center flex flex-wrap">
      <div *ngFor="let action of sectionActions" class="flex flex-wrap items-center justify-center">
        <button class="flex items-center btn btn-{{action.color}} rounded rounded-lg mx-1.5 mt-5 {{action.disable ? 'btn-disabled' : ''}}"
                (click)="prepareManagement(action.action)">
          <ng-icon name="{{action.icon}}" size="{{ action.action === 'add section' ? '1.2rem' : '1.5rem' }}" class="mr-0.5"></ng-icon>
          {{action.action}}
        </button>
      </div>
    </div>

    <!--<div class="mb-5">
      <app-top-actions
        [rightActions]="sectionActions"
        (btnClicked)="prepareManagement($event)">
      </app-top-actions>
    </div>-->
  </ng-container>

  <!-- Sections Management -->
  <app-rule-sections-management
    *ngIf = "sectionMode"
    [course] = "course"
    [courseRules]="courseRules"
    [mode] = "sectionMode"
    [sections] = "sections"
    [sectionActions]="sectionActions"
    [section]="section"
    [sectionToManage]="sectionToManage"
    (newSections)="closeSectionManagement($event)"
    (newSectionActions)="sectionActions = $event"
    (newCourseRules)="courseRules = $event">
  </app-rule-sections-management>

</div>

<!-- Tags Management -->
<app-rule-tags-management
  *ngIf="tagMode"
  [course] = "course"
  [mode] = "tagMode"
  [tags] = "tags"
  (newTags)="this.tags = $event; tagMode = null;"
  [rules] = "courseRules"
  (newRules) = "assignRules($event)"
></app-rule-tags-management>
