<div class="w-full relative">
  <!-- Header -->
  <app-header [title]="'Rules'"
    [icon]="'tabler-clipboard-list'"
    [loading]="loading.action">
  </app-header>

  <!-- Search -->
  <div class="border-b border-gray-200 mb-4">
    <app-input-search
      [id] = "'sections-search'"
      [items] = "originalSections"
      [classList]="'lg:w-1/2 mx-auto mb-4'"
      [placeholder]="'Search for sections...'"
      (onSearch)="filteredSections = $event">
    </app-input-search>
  </div>

  <!-- Actions -->
  <div class="mt-5">
    <app-top-actions
      [rightActions]="sectionActions"
      (btnClicked)="doAction($event)">
    </app-top-actions>

    <span *ngIf="originalSections.length === 0" class="mt-16 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing to show yet.</span>
  </div>

  <!-- Sections and Rules -->
  <div *ngFor="let section of originalSections">
    <div class="justify-center flex">
      <div class="card w-full bg-base-100 shadow-xl mt-5">
        <div class="card-body">
          <!-- Header -->
          <div class="flex items-center">
            <app-header [title]="section.name" [icon] ="'jam-box'"></app-header>
          </div>

          <div class="w-full relative">
            <ng-container *ngIf="!loading.page">
              <div *ngFor="let section of filterSections(section)">

                <!-- Actions for rules -->
                <app-top-actions
                  [leftActions]="[{action: 'edit section', icon: 'jam-pencil-f'},
                            {action: 'remove section', icon: 'jam-trash-f'}]"
                  [rightActions]="[{action: 'Create rule', icon: 'tabler-clipboard-list', color: 'primary', outline: true},
                             {action: 'Import / Export', icon: 'tabler-arrows-up-down', color: 'primary', outline: true,  dropdown: [
                              {action: Action.IMPORT + ' rule', icon:'jam-download'},
                              {action: Action.EXPORT + ' all rules', icon:'jam-upload'}
                            ]}]"
                  (btnClicked)="doAction($event, section)">
                </app-top-actions>

                <!-- Section Table -->
                <app-table
                  [id] = "'rules-' + section.id"
                  [classList]="'mt-5'"
                  [headers] = "headers"
                  [data] = "data[section.id - 1]"
                  [options] = "tableOptions"
                  [loading] = "loading.table"
                  (btnClicked)="doActionOnTable(section, $event.type, $event.row, $event.col)"
                  (valueChanged)="doActionOnTable(section, 'value changed rule', $event.row, $event.col, $event.value)">
                </app-table>

                <!-- Loader -->
                <app-loader [loading]="loading.page"></app-loader>

                <span *ngIf="filterSections(section).length === 0" class="text-error px-4">No Sections</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New / Edit rule modal -->
<app-modal *ngIf="mode && ruleToManage"
           [id]="'manage-rule'"
           [templateRef]="MANAGE_RULE"
           [size]="'lg'"
           [header]="mode?.capitalize()"
           [headerMarginBottom] = "false"
           [submitBtnText]="mode?.capitalize()"
           [actionInProgress] = "loading.action"
           (submitBtnClicked)="r.onSubmit(null); mode === 'add rule' ? createRule() : editRule()"
           (onClose)="resetRuleManage()">
</app-modal>
<ng-template #MANAGE_RULE>
  <div class="border-b border-gray-200 mb-4">
    <span *ngIf="mode === 'add rule'" class="text-sm -mt-4">
      Into section '<strong>{{findSectionName(ruleToManage)}}</strong>'
    </span>
  </div>

  <form #r="ngForm">

    <div class="flex flex-wrap mt-3">

      <div class="w-full border-b-2 border-gray-300">
      <div class="w-full sm:pr-7">
        <!-- Name -->
        <app-input-text
          [id] = "'rule-name'"
          [form] = "r"
          [(value)] = "ruleToManage.name"
          [placeholder]="'e.g. Amphitheatre Lover, Lab Master ...'"
          [topLabel]="'Rule Name'"
          [pattern]="'(?!^\\d+$)^.+$'"
          [patternErrorMessage]="'Rule name can\'t be composed of only numbers'"
          [required]="true"
          [maxLength]="60"
          [maxLengthErrorMessage]="'Rule name is too long: maximum of 60 characters'">
        </app-input-text>
      </div>
      <div class="w-full sm:pr-7 mt-3">
        <!-- Description -->
        <app-input-textarea
          [id] = "'rule-description'"
          [form] = "r"
          [(value)] = "ruleToManage.description"
          [placeholder]="'Write here a small description for this rule ...'"
          [label] = "'Rule Description'"
          [required]="false"
          [maxLength]="100"
          [maxLengthErrorMessage]="'Rule description is too long: maximum of 100 characters'">
        </app-input-textarea>
      </div>

      <div class="w-full flex flex-wrap mt-3" style="align-items: flex-end">
        <div class="sm:w-10/12">
          <!-- Tags -->
          <app-input-select
            [id]="'rule-tags'"
            [form] = "r"
            [(value)] = "selectedTags"
            [options] = "getTagNames(tags)"
            [multiple] = "true"
            [search]="false"
            [placeholder]="'Select tags for rule'"
            [topLabel]="'Rule Tags'"
            [required]="false"
            (valueChange)="selectedTags = $event ?? []">
          </app-input-select>
        </div>

        <div class="sm:w-2/12 sm:pl-3">
          <button type="button" class="btn-md rounded-lg btn-primary" (click) = "doAction('add tag')">Add new tag</button>
        </div>

        <p class="pl-1 pb-16"><small> Tag colors will only show in table</small></p>

      </div>
      </div>

      <div class="w-full flex flex-wrap mt-16" style="align-items: flex-end">
        <!-- When clause -->
        <div class="sm:w-1/2">
          <app-input-code
            [id]="'rule-when'"
            [title]="'When'"
            [classList]="'expression form__input'"
            [placeholder]="'Rule When Clause'"
            [options]="{
              lineNumbers: false,
              styleActiveLine: true,
              autohint: true,
              lineWrapping: true,
              theme: 'default'
            }"
            [init]="ruleToManage.whenClause"
            (valueChange)="ruleToManage.whenClause = $event"
          ></app-input-code>
          <!--<app-input-text
            [id]="'rule-whenClause'"
            [form] = "r"
            [(value)] = "ruleToManage.whenClause"
            [placeholder]="'Rule When Clause'"
            [required]="true"
            [topLabel]="'When'">
          </app-input-text>-->
       </div>

        <!-- Then clause -->
        <div class="sm:w-1/2 sm:pl-3 sm:pr-5">
          <app-input-text
            [id]="'rule-thenClause'"
            [form] = "r"
            [(value)] = "ruleToManage.thenClause"
            [placeholder]="'Rule Then Clause'"
            [required]="true"
            [topLabel]="'Then'">
          </app-input-text>
       </div>
      </div>
    </div>
  </form>
</ng-template>

<!-- Delete rule Modal -->
<app-simple-modal *ngIf="mode === 'remove rule' && ruleToDelete"
                  [id]="'delete-rule'"
                  [title]="mode?.capitalize() + ' \'' + (ruleToDelete.name).capitalize() + '\'?'"

                  [text]="'Are you sure you want to remove rule \'' + ruleToDelete?.name +
                          '\' from this section? You won\'t be able to undo this action.'"
                  [submitBtnText]="'Remove'"
                  [submitBtnColor]="'error'"
                  [actionInProgress]="loading.action"
                  (submitBtnClicked)="deleteRule(ruleToDelete)"
                  (onClose)="ruleToDelete = null">
</app-simple-modal>

<!-- Tags Management -->
<app-rule-tags-management
  *ngIf="tagMode"
  [course] = "course"
  [mode] = "tagMode"
  [tags] = "tags"
  (newTags)="this.tags = $event; tagMode = null;"
  [rules] = "courseRules"
></app-rule-tags-management>

<!-- Sections Management -->
<app-rule-sections-management
  *ngIf = "sectionMode"
  [course] = "course"
  [mode] = "sectionMode"
  [sections] = "sections"
  [sectionActions]="sectionActions"
  [sectionToManage]="sectionToManage"
  (newSections)="closeSectionManagement($event)"
  (newSectionActions)="this.sectionActions = $event">
</app-rule-sections-management>
