<!-- Alert for section's priorities -->
<div *ngIf="arrangeSections" class="absolute z-10 justify-center flex flex-wrap mt-0.5">
  <div class="alert alert-warning shadow-md w-[90%]">
    <ng-icon name="tabler-alert-triangle" size="2rem"></ng-icon>
    <div><span>The designated order amongst sections <strong>specifies the priority</strong> of each of them. <strong>First sections will
           execute earlier</strong> than the rest, so check there's no type of <strong>dependency being ignored</strong>.</span></div>
  </div>
</div>

<div class="w-full relative">
  <!-- Header -->
  <app-header [classList]="'text-md'"
    [title]="'Rule Editor'"
    [icon]="'tabler-clipboard-list'"
    [loading]="loading.action">
  </app-header>

  <!-- Body -->
  <ng-container>

    <div class="flex flex-wrap justify-center">
      <span class="text-base-content text-xl font-semibold">Existing Sections</span>
    </div>

    <!-- Search -->
    <div class="w-[55%] mx-auto mt-5">
      <app-input-search
        [id] = "'sections-search'"
        [items] = "originalSections"
        [placeholder]="'Search for specific section...'"
        (valueChange)="filterSections($event)">
      </app-input-search>
    </div>

    <span *ngIf="originalSections.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing to show yet.</span>
    <span *ngIf="sectionsToShow.length === 0" class="p-32 text-base-content text-opacity-50 flex flex-wrap justify-center">Nothing found.</span>

    <div class="rounded-lg border border-base-content border-opacity-20 mt-6 p-2">
      <div cdkDropList [id]="'sections-list'" class="dd max-w-none h-96 overflow-y-auto" (cdkDropListDropped)="drop($event)" appScrollableDrag>
        <!-- Sections list -->
        <div class="dd-item" *ngFor="let section of sectionsToShow" [cdkDragDisabled]="section.name === 'Graveyard'" cdkDrag (cdkDragStarted)="showWarning()">
          <div class="justify-center flex {{(section.name === 'Graveyard' && nrRules[section.id] === 0) ? 'hidden' : ''}}">
            <!-- Move -->
            <div *ngIf="sectionsToShow.length > 1 && section.name !== 'Graveyard'" class="tooltip absolute -ml-[60%] mt-16" data-tip="Move">
              <button class="dd-handle btn btn-sm btn-ghost btn-circle hover:text-base-content m-0 relative cursor-grab">
                <ng-icon name="tabler-arrows-vertical" size="1.2rem">
                </ng-icon>
                <div class="dd-handle overlay h-[1.2rem] w-[1.2rem]"></div>
              </button>
            </div>

            <!-- Card -->
            <div class="dd-content {{!section.isActive ? 'border-gray-400': 'border-primary'}} border-opacity-75 card w-[55%] bg-base-100 shadow-xl mt-5">
              <div class="card-body">
                <ng-container *ngIf="!loading.page">

                  <div class="flex items-start mt-2 justify-between">

                    <div class="prose items-center flex gap-3 mb-3 flex-wrap items-start">
                      <ng-icon [name]="'jam-box'" [size]="'1.5rem'"
                               [classList]="section.isActive ? '' : 'text-base-content text-opacity-30'"></ng-icon>
                      <h3 class="mt-0 {{section.isActive ? '' : 'text-base-content text-opacity-50'}}">{{section.name}}</h3>
                      <app-spinner *ngIf="section.loading" [classList]="'ml-2'"></app-spinner>
                    </div>

                    <div>
                      <div class="tooltip align-middle mx-1.5" [attr.data-tip]="section.name === 'Graveyard' || !section.isActive ? null : 'Edit'">
                        <button class="{{section.name === 'Graveyard' || !section.isActive ? 'no-hover-effect': ''}} btn btn-sm btn-ghost btn-circle"
                                (click)="section.name !== 'Graveyard' && section.isActive ? prepareManagement('edit section', section) : ''">
                          <ng-icon name="jam-pencil-f" size="1.5rem"
                                   class="{{section.name === 'Graveyard' || !section.isActive ? 'text-gray-300' : 'text-warning'}}"></ng-icon>
                        </button>
                      </div>

                      <div class="tooltip align-middle mx-1.5" [attr.data-tip]="section.name === 'Graveyard' || !section.isActive ? null : 'Delete'">
                        <button class="{{section.name === 'Graveyard' || !section.isActive ? 'no-hover-effect': ''}} btn btn-sm btn-ghost btn-circle"
                                (click)="section.name !== 'Graveyard' && section.isActive ? prepareManagement('remove section', section) : ''">
                          <ng-icon name="jam-trash-f" size="1.5rem"
                                   class="{{section.name === 'Graveyard' || !section.isActive ? 'text-gray-300' : 'text-error'}}"></ng-icon>
                        </button>
                      </div>

                      <div class="tooltip align-middle mx-1.5" [attr.data-tip]="!section.isActive ? null : 'See more details'">
                        <button class="{{!section.isActive ? 'no-hover-effect': ''}} btn btn-sm btn-ghost btn-circle"
                                (click)="section.isActive ? prepareManagement('see section', section) : ''">
                          <ng-icon name="feather-arrow-right-circle" size="1.5rem"
                                   class="{{section.isActive ? 'text-primary' : 'text-gray-300'}}"></ng-icon>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-start justify-between">
                <span class="text-sm text-base-content text-opacity-50 ml-8 -mt-3">
                  ({{nrRules[section.id] > 0 ? nrRules[section.id] : 'No'}} rule{{(nrRules[section.id] && nrRules[section.id] === 1) ? '' : 's'}})
                </span>
                  </div>


                  <!-- Loader -->
                  <app-loader [loading]="loading.page"></app-loader>

                </ng-container>
              </div>
            </div>

            <!-- Status toggle -->
            <div class="absolute tooltip align-middle mt-16 ml-[60%]" [attr.data-tip]="section.isActive ? 'Disable' : 'Enable'">
              <div *ngIf="section.name !== 'Graveyard'" class="-rotate-90">
                <app-input-toggle
                  [id]="section.id + 'status'"
                  [(value)]="section.isActive"
                  [color]="'primary'"
                  (valueChange)="toggleStatus(section)">
                </app-input-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="justify-center flex flex-wrap">
      <div *ngFor="let action of sectionActions" class="flex flex-wrap items-center justify-center">
        <button class="flex items-center btn btn-{{action.color}} rounded rounded-lg mx-1.5 mt-5"
                (click)="prepareManagement(action.action)">
          <ng-icon name="{{action.icon}}" size="{{ action.action === 'add section' ? '1.2rem' : '1.5rem' }}" class="mr-0.5"></ng-icon>
          {{action.action}}
        </button>
      </div>
    </div>

  </ng-container>

</div>

<!-- Tags Management -->
<app-rule-tags-management
  *ngIf="tagMode"
  [course] = "course"
  [mode] = "tagMode"
  (tagMode)="tagMode = $event;"
></app-rule-tags-management>

<!-- New / Edit section modal -->
<app-modal *ngIf="sectionMode && sectionToManage"
           [id]="'manage-section'"
           [templateRef]="MANAGE_SECTION"
           [size]="'md'"
           [header]="sectionMode?.capitalize()"
           [submitBtnText]="sectionMode?.capitalize()"
           [actionInProgress] = "loading.action"
           (submitBtnClicked)="s.onSubmit(null); doAction(sectionMode)"
           (onClose)="resetSectionManage()">
</app-modal>
<ng-template #MANAGE_SECTION>
  <form #s="ngForm">
    <div class="w-full flex-wrap mt-3">
      <app-input-text
        [id] = "'section-name'"
        [form] = "s"
        [(value)] = "sectionToManage.name"
        [placeholder]="'Section Name'"
        [topLabel]="'Name'"
        [pattern]="'(?!^\\d+$)^.+$'"
        [patternErrorMessage]="'Section name can\'t be composed of only numbers'"
        [required]="true"
        [maxLength]="60"
        [maxLengthErrorMessage]="'Section name is too long: maximum of 60 characters'">
      </app-input-text>
    </div>
  </form>
</ng-template>

<!-- Manage Autogame Metadata -->
<app-modal *ngIf="sectionMode === 'metadata'"
           [id] = "'manage-metadata'"
           [templateRef]="MANAGE_METADATA"
           [size] = "'lg'"
           [header] = "sectionMode?.capitalize()"
           [submitBtnText]="'Save'"
           [closeBtnText]="'Discard changes'"
           [actionInProgress] = "loading.action"
           (submitBtnClicked)="saveMetadata()"
           (closeBtnClicked)="parsedMetadata = null;">
</app-modal>
<ng-template #MANAGE_METADATA>
  <!-- Description -->
  <div class="w-full flex flex-wrap -mt-1">
    <span>GameCourse's Rule System is arranged by a <strong>set of sections that have rules</strong> inside them. <br>
      Rules can make use of GameCourse's <strong>'Metadata'</strong> to make the act a specific way. This metadata is
      <strong>general for all rules</strong> and can be edited to simplify the rule creation in the system.</span>
  </div>

  <app-input-code *ngIf="parsedMetadata"
    [id]="'metadata'"
    [classList]="'mt-4'"
    [showTabs]="false"
    [tabs]="metadataCodeInput"
    [size]="'lg'"
    (valueChange)="parsedMetadata = $event"
  ></app-input-code>
</ng-template>

<!-- Remove section -->
<app-simple-modal *ngIf="sectionMode === 'remove section' && sectionToManage"
                  [id]="'remove section'"
                  [title]="sectionMode?.capitalize() + ' \'' + (sectionToManage.name)?.capitalize() + '\'?'"
                  [text]="'Are you sure you want to remove section \'' + sectionToManage?.name +
                          '\' and its current rules? You won\'t be able to undo this action.'"
                  [submitBtnText]="'Remove'"
                  [submitBtnColor]="'error'"
                  [actionInProgress]="loading.action"
                  (submitBtnClicked)="doAction(sectionMode)">
</app-simple-modal>
