<div class="form-control w-full {{classList}}">

  <!-- Label -->
  <label *ngIf="topLabel" class="label">
    <span class="label-text">{{topLabel}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <!-- Simple Input -->
  <ng-container *ngIf="!leftLabel && !rightLabel && !btnText && !btnIcon" [ngTemplateOutlet]="SIMPLE"></ng-container>

  <!-- Group Input -->
  <ng-container *ngIf="leftLabel || rightLabel || btnText || btnIcon" [ngTemplateOutlet]="GROUP"></ng-container>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && inputNumber.invalid" class="label">
    <span *ngIf="inputNumber.errors.inputNumber" class="label-text-alt">{{requiredErrorMessage}}</span>
    <span *ngIf="inputNumber.errors.min" class="label-text-alt">{{minValueErrorMessage}}</span>
    <span *ngIf="inputNumber.errors.max" class="label-text-alt">{{maxValueErrorMessage}}</span>
    <span *ngIf="inputNumber.errors.inputNumber" class="label-text-alt">{{incorrectErrorMessage}}</span>
  </label>

</div>

<ng-template #NUMBER>
  <input
    type="number"
    id="{{id}}"
    name="{{id}}"
    class="input input-bordered {{InputSize[size]}} {{InputColor[color]}} w-full"
    placeholder="{{placeholder}}"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value)"
    [required]="required"
    [min]="minValue"
    [max]="maxValue"
    [disabled]="disabled"
    #inputNumber="ngModel"
    [ngClass]="{'input-error': form && form.submitted && inputNumber.invalid}"
  />
</ng-template>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <ng-container [ngTemplateOutlet]="NUMBER"></ng-container>
</ng-template>

<ng-template #GROUP>
  <label class="input-group {{InputGroupSize[size]}}">
    <!-- Left label -->
    <span *ngIf="leftLabel" class="min-w-fit {{InputGroupLabelColor[color]}}">{{leftLabel}}</span>

    <!-- Number -->
    <ng-container [ngTemplateOutlet]="NUMBER"></ng-container>

    <!-- Right label -->
    <span *ngIf="rightLabel" class="min-w-fit {{InputGroupLabelColor[color]}}">{{rightLabel}}</span>

    <!-- Button -->
    <button *ngIf="btnText || btnIcon" class="btn {{btnIcon ? 'btn-square' : ''}} {{InputGroupBtnColor[color]}}" (click)="btnClicked.emit()">
      <span *ngIf="btnText" class="bg-transparent">{{btnText}}</span>
      <ng-icon *ngIf="btnIcon" [name]="btnIcon" size="1.5rem"></ng-icon>
    </button>
  </label>
</ng-template>
