<div *ngIf="mode === 'see section'" class="w-full relative">

  <ng-container *ngIf="!loading.page">

    <div class="flex flex-wrap items-center">
      <button type="button" class="btn btn-sm btn-ghost btn-circle">
        <ng-icon name="tabler-arrow-narrow-left" size="1.2rem" class="mr-0.5 text-base-content text-opacity-60"></ng-icon>
      </button>
      <span class="text-base-content mt-0.5 text-xs text-opacity-60">Back to <i>'Existing Sections'</i></span>
    </div>


    <div class="divider -mt-2">
      <div class="flex justify-center mx-2">
        <ng-icon name="jam-box" size="1.5rem" class="text-primary mr-2"></ng-icon>
        <span class="text-base-content text-xl font-semibold">{{section.name}}</span>
      </div>
    </div>
    <!--<app-header [subHeader]="true" [classList]="'prose flex flex-wrap items-start'" [title]="section.name" [icon] ="'jam-box'"></app-header>

   Actions for rules
     [leftActions]="[{action: 'edit section', icon: 'jam-pencil-f'},
                             {action: 'remove section', icon: 'jam-trash-f'}]"-->
    <app-top-actions
      [rightActions]="[{action: 'Create rule', icon: 'tabler-clipboard-list', color: 'primary', outline: true},
                               {action: 'Import / Export', icon: 'tabler-arrows-up-down', color: 'primary', outline: true,  dropdown: [
                                {action: Action.IMPORT + ' rule', icon:'jam-download'},
                                {action: Action.EXPORT + ' all rules', icon:'jam-upload'}
                              ]}]"
      (btnClicked)="prepareModal($event)">
    </app-top-actions>

    <!-- Section Table-->
    <app-table
      [id] = "'rules-' + section.id"
      [classList]="'mt-5'"
      [headers] = "section.headers"
      [data] = "section.data"
      [options] = "section.options"
      [loading] = "section.loadingTable"
      (btnClicked)="doActionOnTable(section, $event.type, $event.row, $event.col)"
      (valueChanged)="doActionOnTable(section, 'value changed rule', $event.row, $event.col, $event.value)">
    </app-table>

    <!-- Loader -->
    <app-loader [loading]="loading.page"></app-loader>
  </ng-container>
</div>

<!-- New / Edit rule modal -->
<app-modal *ngIf="ruleMode && ruleToManage"
           [id]="'manage-rule'"
           [templateRef]="MANAGE_RULE"
           [size]="'lg'"
           [header]="ruleMode?.capitalize()"
           [headerMarginBottom] = "false"
           [submitBtnText]="ruleMode?.capitalize()"
           [actionInProgress] = "loading.action"
           (submitBtnClicked)="r.onSubmit(null); doAction(ruleMode)"
           (onClose)="resetRuleManage()">
</app-modal>
<ng-template #MANAGE_RULE>
  <div class="border-b border-gray-200 mb-4">
    <span *ngIf="ruleMode === 'add rule'" class="text-sm -mt-4">
      Into section '<strong>{{section.name}}</strong>'
    </span>
  </div>

  <form #r="ngForm">

    <div class="flex flex-wrap mt-3">

      <div class="w-full border-b-2 border-gray-300">
        <div class="w-full sm:pr-7">
          <!-- Name -->
          <app-input-text
            [id] = "'rule-name'"
            [form] = "r"
            [(value)] = "ruleToManage.name"
            [placeholder]="'e.g. Amphitheatre Lover, Lab Master ...'"
            [topLabel]="'Rule Name'"
            [pattern]="'(?!^\\d+$)^.+$'"
            [patternErrorMessage]="'Rule name can\'t be composed of only numbers'"
            [required]="true"
            [maxLength]="60"
            [maxLengthErrorMessage]="'Rule name is too long: maximum of 60 characters'">
          </app-input-text>
        </div>
        <div class="w-full sm:pr-7 mt-3">
          <!-- Description -->
          <app-input-textarea
            [id] = "'rule-description'"
            [form] = "r"
            [(value)] = "ruleToManage.description"
            [placeholder]="'Write here a small description for this rule ...'"
            [label] = "'Rule Description'"
            [required]="false"
            [maxLength]="100"
            [maxLengthErrorMessage]="'Rule description is too long: maximum of 100 characters'">
          </app-input-textarea>
        </div>

        <div class="w-full flex flex-wrap mt-3" style="align-items: flex-end">
          <div class="sm:w-10/12">
            <!-- Tags -->
            <app-input-select
              [id]="'rule-tags'"
              [form] = "r"
              [(value)] = "ruleTags"
              [options] = "nameTags"
              [multiple] = "true"
              [search]="false"
              [placeholder]="'Select tags for rule'"
              [topLabel]="'Rule Tags'"
              [required]="false"
              (valueChange)="ruleTags = $event ?? []">
            </app-input-select>
          </div>

          <!--<div class="sm:w-2/12 sm:pl-3">
            <button type="button" class="btn-md rounded-lg btn-primary" (click) = "prepareManagement('add tag')">Add new tag</button>
          </div>-->

          <p class="pl-1 pb-16"><small> Tag colors will only show in table</small></p>

        </div>
      </div>

      <div class="w-full flex flex-wrap mt-16" style="align-items: flex-end">
        <!-- When clause -->
        <div class="sm:w-1/2">
          <!--<app-input-code
            [id]="'rule-when'"
            [title]="'When'"
            [classList]="'expression form__input'"
            [placeholder]="'Rule When Clause'"
            [options]="{
              lineNumbers: false,
              styleActiveLine: true,
              autohint: true,
              lineWrapping: true,
              theme: 'default'
            }"
            [init]="ruleToManage.whenClause"
            (valueChange)="ruleToManage.whenClause = $event"
          ></app-input-code>-->
          <app-input-text
            [id]="'rule-whenClause'"
            [form] = "r"
            [(value)] = "ruleToManage.whenClause"
            [placeholder]="'Rule When Clause'"
            [required]="true"
            [topLabel]="'When'">
          </app-input-text>
        </div>

        <!-- Then clause -->
        <div class="sm:w-1/2 sm:pl-3 sm:pr-5">
          <app-input-text
            [id]="'rule-thenClause'"
            [form] = "r"
            [(value)] = "ruleToManage.thenClause"
            [placeholder]="'Rule Then Clause'"
            [required]="true"
            [topLabel]="'Then'">
          </app-input-text>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<!-- Delete rule Modal -->
<app-simple-modal *ngIf="ruleMode === 'remove rule' && ruleToManage"
                  [id]="'delete-rule'"
                  [title]="ruleMode?.capitalize() + ' \'' + (ruleToManage.name)?.capitalize() + '\'?'"

                  [text]="'Are you sure you want to remove rule \'' + ruleToManage?.name +
                          '\' from this section? You won\'t be able to undo this action.'"
                  [submitBtnText]="'Remove'"
                  [submitBtnColor]="'error'"
                  [actionInProgress]="loading.action"
                  (submitBtnClicked)="doAction(ruleMode)"
                  (onClose)="ruleToManage = null">
</app-simple-modal>
