<div *ngIf="mode === 'see section'" class="w-full relative">

  <ng-container *ngIf="!loading.page">

    <div class="flex flex-wrap items-center">
      <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="closeManagement()">
        <ng-icon name="tabler-arrow-narrow-left" size="1.2rem" class="mr-0.5 text-base-content text-opacity-60"></ng-icon>
      </button>
      <span class="text-base-content mt-0.5 text-xs text-opacity-60">Back to <i>'Existing Sections'</i></span>
    </div>


    <div class="divider -mt-2">
      <div class="flex justify-center mx-2">
        <ng-icon name="jam-box" size="1.5rem" class="text-primary mr-2"></ng-icon>
        <span class="text-base-content text-xl font-semibold">{{section.name}}</span>
      </div>
    </div>

    <app-top-actions
      [rightActions]="[{action: 'Create rule', icon: 'tabler-clipboard-list', color: 'primary', outline: true},
                       {action: 'Import / Export', icon: 'tabler-arrows-up-down', color: 'primary', outline: true,  dropdown: [
                        {action: Action.IMPORT + ' rule(s)', icon:'jam-download'},
                        {action: Action.EXPORT + ' all rules', icon:'jam-upload'}
                      ]}]"
      (btnClicked)="prepareModal($event)">
    </app-top-actions>

    <!-- Section Table-->
    <app-table
      *ngIf="section.showTable"
      [id] = "'rules-' + section.id"
      [classList]="'mt-5'"
      [headers] = "section.headers"
      [data] = "section.data"
      [options] = "section.options"
      [loading] = "section.loadingTable"
      (btnClicked)="doActionOnTable(section, $event.type, $event.row, $event.col)"
      (valueChanged)="doActionOnTable(section, 'value changed rule', $event.row, $event.col)">
    </app-table>

    <!-- Spinner -->
    <div *ngIf="!section.showTable" class="flex justify-center items-center">
      <app-spinner></app-spinner>
    </div>

    <!-- Loader -->
    <app-loader [loading]="loading.page"></app-loader>
  </ng-container>
</div>

<!-- New / Edit rule modal -->
<app-modal *ngIf="ruleMode !== 'remove rule' && ruleToManage"
           [id]="'manage-rule'"
           [templateRef]="MANAGE_RULE"
           [size]="'xl'"
           [header]="ruleMode === 'edit rule' ? 'Edit rule: \'' + ruleEdit + '\'' : ruleMode?.capitalize()"
           [headerMarginBottom] = "false"
           [submitBtnText]="ruleMode?.capitalize()"
           [actionInProgress] = "loading.action"
           (submitBtnClicked)="r.onSubmit(null); doAction(ruleMode)"
           (onClose)="resetRuleManage()">
</app-modal>
<ng-template #MANAGE_RULE>
  <div class="border-b border-gray-200 mb-4 -mt-2">
    <span class="text-sm mb-2">Section: <strong>{{section.name}}</strong></span>
  </div>

  <form #r="ngForm">

    <div class="flex flex-wrap mt-3">

      <!-- border-b-2 border-gray-300 -->
      <div class="w-full">
        <div class="w-full sm:pr-7">
          <!-- Name -->
          <app-input-text
            [id] = "'rule-name'"
            [form] = "r"
            [(value)] = "ruleToManage.name"
            [placeholder]="'e.g. Amphitheatre Lover, Lab Master ...'"
            [topLabel]="'Rule Name'"
            [pattern]="'(?!^\\d+$)^.+$'"
            [patternErrorMessage]="'Rule name can\'t be composed of only numbers'"
            [required]="true"
            [maxLength]="60"
            [maxLengthErrorMessage]="'Rule name is too long: maximum of 60 characters'">
          </app-input-text>
        </div>

        <app-input-code
          [id]="'my-div'"
          [title]="'When'"
          [customKeywords]="options"
        ></app-input-code>

        <!--<div class="w-full flex flex-wrap" style="align-items: flex-end">
           When clause
          <div class="sm:w-1/2">-->



            <!--<app-input-text
              [id]="'rule-whenClause'"
              [form] = "r"
              [(value)] = "ruleToManage.whenClause"
              [placeholder]="'Rule When Clause'"
              [required]="true"
              [topLabel]="'When'">
            </app-input-text>
          </div>-->

          <!-- Then clause
          <div class="sm:w-1/2 sm:pl-3 sm:pr-5">
            <app-input-text
              [id]="'rule-thenClause'"
              [form] = "r"
              [(value)] = "ruleToManage.thenClause"
              [placeholder]="'Rule Then Clause'"
              [required]="true"
              [topLabel]="'Then'">
            </app-input-text>
          </div>-->
        </div>

        <!--
        <div class="w-full sm:pr-7 mt-3">
          Description
          <app-input-textarea
            [id] = "'rule-description'"
            [form] = "r"
            [(value)] = "ruleToManage.description"
            [placeholder]="'Write here a small description for this rule ...'"
            [label] = "'Rule Description'"
            [required]="false"
            [maxLength]="100"
            [maxLengthErrorMessage]="'Rule description is too long: maximum of 100 characters'">
          </app-input-textarea>
        </div>

        <div class="w-full flex flex-wrap mt-3" style="align-items: flex-end">
          <div class="sm:w-10/12">
            Tags
            <app-input-select
              [id]="'rule-tags'"
              [form] = "r"
              [(value)] = "ruleTags"
              [options] = "nameTags"
              [multiple] = "true"
              [search]="false"
              [placeholder]="'Select tags for rule'"
              [topLabel]="'Rule Tags'"
              [required]="false"
              [closeOnSelect]="false"
              (valueChange)="ruleTags = $event ?? []">
            </app-input-select>
          </div>

          <div class="sm:w-2/12 sm:pl-3">
            <button type="button" class="btn-md rounded-lg btn-primary" (click) = "prepareManagement('add tag')">Add new tag</button>
          </div>

          <span class="pl-1 pb-16"><small> Tag colors will only show in table</small></span>

        </div>
      </div>-->


    </div>
  </form>
</ng-template>

<!-- Delete rule Modal -->
<app-simple-modal *ngIf="ruleMode === 'remove rule' && ruleToManage"
  [id]="'delete-rule'"
  [title]="ruleMode?.capitalize() + ' \'' + (ruleToManage.name)?.capitalize() + '\'?'"

  [text]="'Are you sure you want to remove rule \'' + ruleToManage?.name +
          '\' from this section? You won\'t be able to undo this action.'"
  [submitBtnText]="'Remove'"
  [submitBtnColor]="'error'"
  [actionInProgress]="loading.action"
  (submitBtnClicked)="doAction(ruleMode)"
  (onClose)="ruleToManage = null">
</app-simple-modal>

<app-modal
  [id]="'import'"
  [templateRef]="IMPORT"
  [header]="'Import rules'"
  [submitBtnText]="'Import'"
  [actionInProgress]="loading.action"
  (submitBtnClicked)="fImport.onSubmit(null); importRules()"
  (onClose)="resetImport()"
></app-modal>
<ng-template #IMPORT>
  <div class="prose flex items-center gap-1 mb-3">
    <p class="mb-0">Upload a .CSV file containing user information</p>
    <app-import-helper
      [id]="'import-helper'"
      [format]="'.csv'"
      [requirements]="[
        'The separator must be comma.',
        'The encoding must be UTF-8.'
      ]"
      [csvHeaders]="['name', 'description', 'whenClause', 'thenClause', 'position', 'isActive', 'tags']"
      [csvRows]="[['Lab Master', 'Rule for assigning awards when student excels at the labs', '(TODO) when something', '(TODO) trigger something else', '0', 'true', '1,2']]">
    </app-import-helper>

  </div>

    <form #fImport="ngForm">
      <!-- File -->
      <app-input-file
        [id]="'import-file'"
        [form]="fImport"
        [accept]="['.csv', '.txt']"
        [size]="'sm'"
        [color]="'primary'"
        [required]="true"
        (valueChange)="onFileSelected($event, 'file')">
      </app-input-file>

      <!-- Replace -->
      <app-input-checkbox
        [id]="'import-replace'"
        [form]="fImport"
        [(value)]="importData.replace"
        [color]="'secondary'"
        [classList]="'mt-2'"
        [label]="'Replace duplicates'"
        [labelPosition]="'right'">
      </app-input-checkbox>

    </form>
</ng-template>
