<ng-container *ngIf="!loading">
  <!-- Render page -->
  <div *ngIf="pageView" class="page">
    <ng-container *ngIf="!skipPages.includes(page.id)"> <!-- FIXME: this is hard-coded -->
      <bb-any [view]="pageView"></bb-any>
    </ng-container>

    <!-- FIXME: this is hard-coded -->
    <ng-container *ngIf="page.id === skillTreePage"> <!-- Skill Tree -->
      <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body overflow-x-auto">

          <!-- Header -->
          <app-header [title]="'Skill Tree'" [color]="course.color" [icon]="'tabler-bulb'"></app-header>

          <!-- Skill Tree -->
          <div class="flex flex-col w-full lg:flex-row">
            <ng-container *ngFor="let tier of getSkillTreeInfo(skillTrees[0].id).tiers; let first = first; let last = last">
              <ng-container *ngIf="!tier.isActive"></ng-container>

              <ng-container *ngIf="tier.isActive">
                <!-- Divider -->
                <div *ngIf="!first" class="divider lg:divider-horizontal"></div>

                <!-- Tier -->
                <div class="grid flex-grow h-fit p-2 place-items-center">
                  <span class="text-center font-semibold mb-2" [style]="'color: ' + course.color">{{tier.name}}: {{tier.reward}} XP</span>

                  <!-- Skill -->
                  <div class="flex flex-wrap flex-row justify-start items-start w-full lg:flex-col">
                    <div *ngFor="let skill of filterSkillsByTier(getSkillTreeInfo(skillTrees[0].id).skills, tier.id)" class="flex flex-col justify-start m-2">

                      <div class="flex justify-start gap-2 {{tier.position === 0 ? 'items-center' : ''}}">
                        <div class="flex flex-col items-center">
                          <!-- Skill box -->
                          <div class="w-20 h-20 p-2 rounded-lg hover:cursor-pointer hover:outline hover:outline-offset-2 relative"
                               [ngStyle]="{'background-color': skill.color, 'outline-color': skill.color}" (click)="goToSkillPage(skill)">
                            <span class="block text-white font-semibold text-xs break-words">{{skill.name}}</span>
                            <ng-icon *ngIf="skill.isCollab" class="absolute bottom-0 left-0 mr-2 mb-2 text-base-100" name="tabler-users" size="1.1rem"></ng-icon>
                            <ng-icon *ngIf="skillsCompleted[skill.id]" class="absolute bottom-0 right-0 mr-2 mb-2 text-base-100" name="tabler-checks" size="1.1rem"></ng-icon>
                          </div>
                        </div>

                        <!-- VC -->
                        <div class="{{tier.position !== 0 ? 'mt-5' : ''}}">
                          <p class="font-medium text-sm">Nr. attempts:<span class="ml-1">{{attempts[skill.id] ?? 0}}</span></p>
                          <p class="font-medium text-sm flex items-center min-w-max">Cost to {{attempts[skill.id] > 0 ? 'retry' : 'try'}}:<span class="flex items-center gap-1 ml-1">{{cost[skill.id] ?? 0}}
                            <img class="h-4 w-4 inline-block" [src]="vcIcon" alt=""></span></p>
                        </div>
                      </div>

                      <!-- Skill dependencies -->
                      <div *ngIf="skill.dependencies.length > 0" class="mt-1 lg:mb-5">
                        <p *ngFor="let combo of skill.dependencies; let last = last" class="prose text-xs text-center" [ngClass]="{'mb-0.5': !last}">{{getComboText(combo)}}</p>
                      </div>
                    </div>
                  </div>

                  <!-- Used Wildcards -->
                  <p *ngIf="last" class="font-semibold mt-4">Wildcards available: {{availableWildcards}}</p>

                </div>
              </ng-container>

            </ng-container>
          </div>

        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="page.id === streaksPage"> <!-- Streaks -->
      <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">

          <!-- Header -->
          <app-header [title]="'Streaks'" [color]="course.color" [icon]="'tabler-flame'"></app-header>

          <!-- Streaks -->
          <div class="flex flex-col gap-3">
            <div *ngFor="let streak of streaksInfo" class="p-4 border-base-300 bg-base-200 border-2 rounded-xl">
              <div class="flex flex-wrap justify-between gap-6">
                <!-- Streak Info -->
                <div class="flex flex-wrap flex-col md:flex-row gap-6 md:items-center">
                  <div class="md:w-[20rem]">
                    <p class="font-semibold" style="font-size: 1.1rem">{{streak.name}}</p>
                    <p class="text-neutral/75">{{streak.description}}</p>
                    <p class="font-medium text-sm mt-2" [style]="'color: ' + course.color">[{{streak.nrCompletions || 0 }} so far]</p>
                  </div>

                  <!-- Streak Progression -->
                  <div class="flex flex-col items-center">
                    <div class="flex items-center gap-2">
                      <div *ngFor="let step of steps(streak.progress || 0)" class="w-9 h-9" [style]="'color: ' + streak.color" [innerHTML]="streak.image | sanitizeHTML"></div>
                      <div *ngFor="let step of steps(streak.goal - (streak.progress || 0))" class="w-9 h-9" [innerHTML]="streak.svg | sanitizeHTML"></div>
                      <div class="tooltip" data-tip="Can be earned multiple times">
                        <button class="btn btn-circle btn-sm btn-ghost">
                          <ng-icon name="feather-repeat" size="1.2rem"></ng-icon>
                        </button>
                      </div>
                    </div>
                    <span *ngIf="streak.deadline" class="text-sm text-error mt-2 font-medium">Deadline: {{streak.deadline.format('DD/MM/YYYY HH:mm')}}</span>
                  </div>
                </div>

                <!-- Streak Reward -->
                <div class="flex float-right items-center gap-3">
                  <div>
                    <p class="font-semibold text-lg">{{streak.reward}} XP</p>
                    <p *ngIf="streak.isExtra" class="font-medium text-error text-sm">extra credit</p>
                  </div>
                  <span *ngIf="streak.tokens">+</span>
                  <div *ngIf="streak.tokens" class="flex gap-1 items-center">
                    <p class="font-semibold text-lg">{{streak.tokens}}</p>
                    <img class="h-5 w-5" [src]="vcIcon" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-container>
  </div>

  <!-- Skill page -->
  <div *ngIf="skill" class="page skill-page">
    <!-- Close preview btn -->
    <div *ngIf="isPreview" class="tooltip float-right" data-tip="Close preview">
      <button class="btn btn-sm btn-circle btn-outline btn-error" (click)="closePreview()">
        <ng-icon name="feather-x" size="1.2rem"></ng-icon>
      </button>
    </div>

    <!-- Page -->
    <app-header [title]="skill.name"></app-header>
    <div class="prose max-w-[80ch]" [innerHTML]="skill.page | sanitizeHTML"></div>
  </div>

  <!-- QR participation page -->
  <div *ngIf="participationKey" class="page participation-page">
    <h1>In-class participation</h1>
    <h4 *ngIf="course">{{course.name}} - {{course.year}}</h4>

    <p>Fill-in the following form to register your participation in class:</p>

    <div class="row">
      <div class="input-wrapper" style="width: 230px; margin-bottom: 20px;">
        <span class="label">Lecture Nr.</span>
        <input type="number" id="lecture-nr" name="lecture-nr" min="1" class="input" [(ngModel)]="lectureNr">
      </div>

      <select class="form__input" id="type-of-class" style="width: 230px" [(ngModel)]="typeOfClass">
        <option disabled [value]="undefined">Select a type of class</option>
        <option *ngFor="let type of typesOfClass" [label]="type" [value]="type">{{type}}</option>
      </select>

      <button class="button" [disabled]="!isReadyToSubmitParticipation()" style="display: block; width: 230px" (click)="submitParticipation()">Submit</button>
      <p class="success_msg"></p>
    </div>
  </div>
</ng-container>

<!-- Spinner -->
<div *ngIf="loading" class="flex justify-center items-center">
  <app-spinner></app-spinner>
</div>
