<div class="title"><span>Part Settings</span><img title="Close" src="images/close.svg" ng-click="closeOverlay()"><a target="_blank" href="./docs/#ViewsPartSettings"><img title="Help" src="images/help.svg"></a></div>

<sb-menu sb-menu-title="DOM Manipulations" sb-menu-icon="images/gear.svg">
    <sb-expression ng-if="options.allowDataLoop" sb-expression="part.loopData" sb-expression-label="Data" sb-expression-link="./docs/#ViewsLoop" sb-expression-info="Data allows to repeat the element, for example to make lists."></sb-expression>
    <!--sb-checkbox ng-if="options.allowRepeat" sb-checkbox="part.loopData" sb-checkbox-label="Enable Loop" sb-checkbox-default="" sb-checkbox-info="Loop allows to repeat the element, for example to make lists." sb-checkbox-link="./docs/#ViewsDOMRepeat">
        <sb-expression sb-expression="part.loopData" sb-expression-label="Loop Data"></sb-expression>
        <!--sb-input sb-input="part.repeat.key" sb-input-label="Key"></sb-input>
        <sb-checkbox sb-checkbox="part.repeat.filter" sb-checkbox-label="Enable Filter" sb-checkbox-default="'{1 == 1}'" sb-checkbox-info="Filters the Elements according to the Filter expression.">
            <sb-expression sb-expression="part.repeat.filter" sb-expression-label="Filter"></sb-expression>
        </sb-checkbox>
        <sb-checkbox sb-checkbox="part.repeat.sort" sb-checkbox-label="Enable Sort" sb-checkbox-default="{value: '{0}', order: 'ASC'}" sb-checkbox-info="Sorts the Elements according to the their Value and the sorting Order.">
            <sb-expression sb-expression="part.repeat.sort.value" sb-expression-label="Value"></sb-expression>
            <div class="sb-component"><!--
                <label for="order-select">Order</label><!--
                    <select id="order-select" ng-model="part.repeat.sort.order">
                    <option value="ASC">Ascending</option>
                    <option value="DESC">Descending</option>
                </select><!--
            </div>
        </sb-checkbox-->
    <!--/sb-checkbox-->
</sb-menu>

<sb-menu sb-menu-title="Variables" sb-menu-icon="images/gear.svg">
    <div ng-if="options.allowVariables" ng-repeat="(key, variables) in part.variables">
        <sb-expression sb-expression="part.variables[key].value" sb-expression-label="%{{key}}" sb-expression-link="./docs/#ViewsVariables" sb-expression-info="Define the value of a variables for the element"><!--
            --><button ng-click="delete(part.variables, key)">Remove</button><!--
        --></sb-expression>
    </div>
    <sb-input ng-if="options.allowVariables" sb-input="variables.dataKey" sb-input-label="New Key:  %"><!--
        --><button ng-disabled="variables.dataKey == undefined" ng-click="addVariable()">Add</button><!--
    --></sb-input>
</sb-menu>
<div class="partSpecific"></div>
<sb-menu sb-menu-title="Visibility" sb-menu-icon="images/gear.svg">
    <input type="radio" name="visibility" ng-model="part.visibilityType" value="visible" ng-change="toggleVisCondition()"> Visible<br>
    <input type="radio" name="visibility" ng-model="part.visibilityType" value="invisible" ng-change="toggleVisCondition()"> Invisible<br>
    <input ng-if="options.allowIf" type="radio" name="visibility" ng-model="part.visibilityType" value="conditional" ng-change="toggleVisCondition()"> <span ng-if="options.allowIf"> Visible by condition </span>
    <sb-expression ng-if="options.allowIf" id="visCondition" sb-expression="part.visibilityCondition" sb-expression-label="Condition" sb-expression-link="./docs/#ViewsVisibility" sb-expression-info="Define a condition that needs to be true for the element to appear"></sb-expression>
    
</sb-menu>
<sb-menu sb-menu-title="Styling/Misc" sb-menu-icon="images/gear.svg">
    <sb-expression ng-if="options.allowStyle" sb-expression="part.style" sb-expression-label="Style" sb-expression-link="./docs/#ViewsStyleMiscStyle" sb-expression-info="Define CSS code for the element"></sb-expression>
    <sb-expression ng-if="options.allowClass" sb-expression="part.class" sb-expression-label="Class" sb-expression-link="./docs/#ViewsStyleMiscClass" sb-expression-info="Define the HTML class of the element"></sb-expression>
    <sb-expression sb-expression="part.label" sb-expression-label="Label" sb-expression-link="./docs/#ViewsStyleMiscLabel" sb-expression-info="Define a label for the part that can be used in events"></sb-expression>   
    <br>
    <div ng-if="options.allowEvents">
        <label>Events:</label>
        <div ng-repeat="(type, event) in part.events">
            <sb-expression sb-expression="part.events[type]" sb-expression-label="{{type}}" sb-expression-link="./docs/#ViewsStyleMiscEvents" sb-expression-info="Define the behaviour trigered by an event" ><!--
                --><button ng-click="delete(part.events, type); addEventToMissing(type)">Remove</button><!--
            --></sb-expression>
        </div>
        <div class="sb-component" ng-if="missingEvents.length > 0">
            <label for="events-missing">Add event</label>
            <select id="events-missing" ng-model="events.eventToAdd" ng-options="event for event in missingEvents"></select>
            <button ng-disabled="events.eventToAdd == undefined" ng-click="addEvent()">Add event</button>
        </div>
    </div>
</sb-menu>
