<div class="sb-component">
    <!--label for="value-type">Type</label>
    <select id="value-type" ng-model="part.valueType" ng-change="updateType()">
        <option value="text" ng-select>Text</option>
        <option value="field">Field</option>
        <option value="expression">Expression</option>
    </select-->
</div>
<!--sb-input ng-if="part.valueType == 'text'" sb-input="part.info" sb-input-label="Text"></sb-input>
<!--sb-input ng-if="part.valueType == 'field'" sb-input="part.info.field" sb-input-label="Field"></sb-input-->
<sb-expression sb-expression="part.info" sb-expression-label="Expression"></sb-expression>
<div class="value-filtered-fields" ng-if="part.valueType == 'field' && (filteredResults.length != 1 || filteredResults[0].field !== part.info.field)">
    <div ng-repeat="result in filteredResults" ng-click="part.info.field = result.field">
        <div class="field">{{result.field}}</div><div class="description">{{result.desc}}</div><div class="example">{{result.example}}</div>
    </div>
</div>
<div ng-repeat="(context, keys) in contexts">
    {{context}}
    <select ng-options="key for key in keys track by key" ng-model="part.info.context[context]"></select>
</div>
<sb-checkbox ng-if="part.valueType == 'field'" sb-checkbox="part.info.format" sb-checkbox-label="Enable Format" sb-checkbox-default="'%v'">
    <sb-input sb-input="part.info.format" sb-input-label="Format"></sb-input>
</sb-checkbox>
<sb-checkbox sb-checkbox="part.link" sb-checkbox-label="Enable Link" sb-checkbox-default="" sb-checkbox-info="Defines a link on the element for the reader to follow.">
    <sb-expression sb-expression="part.link" sb-expression-label="Link"></sb-expression>
</sb-checkbox>
<div class="preview"></div>