<div id="quest-level-selector">
    <div class="dd" id="quest-level-list" ng-init="initLevelList()">
        <ol class="dd-list">
            <li class="dd-item" ng-repeat="level in levels" data-nestable-item data-level="{{level}}" ng-click="editLevel(level)">
                <div class="dd-handle"></div>
                <div class="dd-content">
                    <span class="quest-number">{{$index+1}}</span> - <span>{{level.title}}</span> (<span>{{level.keyword}}</span>)
                </div>
            </li>
        </ol>
    </div>
    <button class="button big" ng-click="newLevel()">Create Level</button>
    <button class="button big" ng-click="saveQuest()">Save Quest</button>

    <div class="dd" id="quest-resource-list" ng-init="initResourceList()" data-file-uploader>
        <ol class="dd-list">
            <li class="dd-item dd-nodrag" ng-repeat="file in resources" data-nestable-item>
                <div class="dd-content">
                    {{file}}
                </div>
            </li>
        </ol>
        <input id="quest-resource-file" type="file"><button ng-click="uploadQuestResource()">Upload resource</button>
    </div>
</div>

<div id="quest-level-editor">
    <div class="keyword-container">
        <label class="label" for="quest-keyword">Keyword</label>
        <input class="input-text" id="quest-keyword" ng-model="editorLevel.keyword" type="text">
    </div>
    <div class="title-container">
        <label class="label" for="quest-title">Title</label>
        <input class="input-text" id="quest-title" ng-model="editorLevel.title" data-delayed-change="titleChange()" type="text">
    </div>
    <div class="validation-container">
        <input id="validation-required" class="input-checkbox" ng-model="editorLevel.requiresValidation" type="checkbox">
        <label class="label" for="validation-required">Requires Validation</label>
        <div class="validation-type-container" ng-if="editorLevel.requiresValidation" ng-init="initValidation()">
            <div>
                <label class="label" for="validation-type">Validation Type</label>
                <select id="validation-type" ng-model="editorLevel.validation.type" class="select">
                    <option value="png">PNG</option>
                </select>
            </div>

            <div class="validation-solution" ng-if="editorLevel.validation.type == 'png'">
                <label class="label" for="validation-solution">Solution</label>
                <select id="validation-solution" ng-options="file for file in resources" ng-model="editorLevel.validation.solution" ></select>
            </div>
        </div>
    </div>
    <div class="content-container">
        <label class="label" for="quest-title">Quest Body</label>
        <br>
        <textarea id="quest-page" ng-model="editorLevel.page" data-delayed-change="bodyChange()" class="input-textarea"></textarea>
    </div>
</div>

<div id="quest-level-preview">
    <h1 data-delayed-model="editorLevel.title"></h1>
    <div data-delayed-model="editorLevel.page"></div>
</div>
