<div>
    <label for="active-quest" class="label">Active Quest</label>
    <select id="active-quest" class="select" ng-options="quest.name for quest in questsPossible track by quest.id" ng-change="showActiveQuestChangeButton()" ng-model="questsControl.activeQuest"></select>
</div>
<div>
    Quests:
    <ul id="quest-quests-list">
        <li ng-repeat="quest in quests">Quest {{quest+1}} <img src="images/trashcan.svg" ng-click="deleteQuest(quest)"></li>
    </ul>
</div>
<div>
    <button ng-click="createQuest()">Create new</button>
</div>