<div>
    <label for="unlocked-level" class="label">Unlocked level</label>
    <select id="unlocked-level" class="select" ng-options="level.title for level in levels" ng-change="showCurrentLevelChangeButton()" ng-model="control.currentLevel"></select>
</div>
<div>
    <label for="rate-limit" class="label" title="Number of tries per hour">Rate limit</label>
    <input type="text" id="rate-limit" class="input-text" placeholder="(ex: 20)" ng-change="showRateLimitChangeButton()" ng-model="control.rateLimit">
</div>
<div>
    <label for="timeout" class="label" title="Number of seconds between levels">Timeout</label>
    <input type="text" id="timeout" class="input-text" placeholder="(ex: 3600)" ng-change="showTimeoutChangeButton()" ng-model="control.timeout">
</div>
<div>
    <label for="startTime" class="label">Start Time</label>
    <input type="text" id="startTime" class="input-text" placeholder="(ex: 1234567890)" ng-change="showStartTimeChangeButton()" ng-model="control.startTime">
</div>
<div>
    <label for="endTime" class="label">End Time</label>
    <input type="text" id="endTime" class="input-text" placeholder="(ex: 1234567890)" ng-change="showEndTimeChangeButton()" ng-model="control.endTime">
</div>

<button class="button big" ng-click="resetStats()" title="Timeout/Rate Limits/Quest Statistics">Reset Quest</button>