
<div class="relative card bg-base-300 shadow-xl w-48 mt-3 mb-4 mx-2
            {{selected && 'ring-2 ring-primary'}} {{editable && !selected && 'hover:ring-2 hover:ring-neutral'}} {{editable && 'hover:cursor-pointer'}}">

  <!-- Actions -->
  <div *ngIf="canEdit()" class="dropdown dropdown-bottom
              absolute right-2 top-2 rounded-full btn-ghost hover:cursor-pointer w-7 h-7 flex justify-center items-center transition">
    <ng-icon tabindex="0" name="tabler-dots-vertical" size="1.2rem" />
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box">
      <li (click)="editAction()"><a><ng-icon name="jam-pencil" size="1.5rem"/>Edit</a></li>
      <li *ngIf="editable" (click)="deleteAction()"><a><ng-icon name="feather-X" size="1.5rem" class="text-error"/>Delete</a></li>
    </ul>
  </div>

  <div class="card-body p-6 text-center">

    <p class="font-semibold">Viewer's Role:</p>
    <i *ngIf="!edit">{{aspect.viewerRole ?? "none"}}</i>
    <app-input-select
      *ngIf="edit"
      [id]="'viewerRole'"
      [form]="f"
      [(value)]="aspect.viewerRole"
      [options]="roles"
      [placeholder]="'Viewer Role'"
      [search]="false">
    </app-input-select>

    <div class="divider my-1"></div>

    <p class="font-semibold">User's Role:</p>
    <i *ngIf="!edit">{{aspect.userRole ?? "none"}}</i>
    <app-input-select
      *ngIf="edit"
      [id]="'userRole'"
      [form]="f"
      [(value)]="aspect.userRole"
      [options]="roles"
      [placeholder]="'User Role'"
      [search]="false">
    </app-input-select>

    <div class="flex flex-row mt-2 gap-2" *ngIf="edit === true">
      <button class="btn btn-sm btn-ghost" (click)="cancel()">
        Cancel
      </button>
      <button class="btn btn-sm btn-primary" (click)="save()">
        Save
      </button>
    </div>

  </div>
</div>
