body {
  margin: 0px;
  padding: 8px;
}
.docs {
  max-width: 800px;
  text-align: justify;
  line-height: 22px;
}
.docs .section .section {
  margin-left: 0px;
}
@media all and (min-width: 700px) {
  .docs .section .section {
    margin-left: 10px;
  }
}
code {
  background: #EEEEEE;
  border: 1px solid #AAAAAA;
  padding: 1px;
  border-radius: 2px;
}
pre.code {
  background: #EEEEEE;
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  white-space: pre-wrap;
  padding: 2px;
}
pre.code .highlight {
  background-color: rgba(0, 200, 0, 0.3);
  display: inline-block;
}
