/* only used on main doc page */

.page {
  width: 100%;
  height: calc(100vh - 75px);
}
/* Sidebar */
.page .sidebar {
  width: 200px;
  height: 100%;
  background-color: lightgrey;
  font-size: 14px;
  border-right: 2px solid grey;
  float: left;
}
.page .sidebar .tab {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}
.page .sidebar .tab.selected {
  background-color: white;
  border-right: 2px solid white;
  font-weight: bold;
}
.page .sidebar .tab:not(.selected):not(#find-tab):hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
.page .sidebar .search input[type=text] {
  width: 130px;
  border: 2px solid grey;
}
.page .sidebar #find-tab {
  margin-top: 25px;
}

/* Content section */
.page .content {
  height: 100%;
  overflow: auto;
  background-color: white;
  margin-left: 200px;
  padding-left: 40px;
  padding-right: 40px;
}
.page .content .section{
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
.page .content .visible{
  display: block;
}
code {
  background: #EEEEEE;
  border: 1px solid #AAAAAA;
  padding: 1px;
  border-radius: 2px;
}
pre.code {
  background: #EEEEEE;
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  white-space: pre-wrap;
  padding: 2px;
}
pre.code .highlight {
  background-color: rgba(0, 200, 0, 0.3);
  display: inline-block;
}
