.page {
  width: 100%;
  height: calc(100vh - 67px);
}

.tabs {
  display: flex;
  height: 100%;
}


/*main content*/

.tab-content-wrapper {
  padding: 80px 55px 35px 70px;
  position: relative;
  width: calc(100% - 305px);
  height: calc(100% - 115px - 20px);
  overflow: auto;
}

.tab-content {
  width: 100%;
  margin-bottom: 50px;
}

#themes {
  display: flex;
  flex-wrap: wrap;
}

#themes .theme {
  margin: 8px;
  padding: 8px;
  border: 1px solid #ffffff;
  text-align: center;
}

#themes .theme .preview {
  width: 120px;
  height: 80px;
}

#themes .theme.current {
  color: white;
  background-color: #1aa35b;
}

#themes .theme.pointer {
  cursor: pointer;
}
