#themes {
  display: flex;
  flex-wrap: wrap;

  .theme {
    margin: 8px;
    padding: 8px;
    border: 1px solid #ffffff;
    text-align: center;

    .preview {
      width: 120px;
      height: 80px;
    }

    &.current {
      color: white;
      background-color: #1aa35b;
    }

    &.pointer {
      cursor: pointer;
    }
  }
}
