<div *ngIf="!loading.page" class="w-full relative">

  <!-- Header -->
  <app-header [classList]="'text-md'"
              [title]="'Rule Editor'"
              [icon]="'tabler-clipboard-list'"
              [loading]="loading.action">
  </app-header>

  <ng-container>
    <div class="flex flex-wrap items-center">
      <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="closeManagement()">
        <ng-icon name="tabler-arrow-narrow-left" size="1.2rem" class="mr-0.5 text-base-content text-opacity-60"></ng-icon>
      </button>
      <span class="text-base-content mt-0.5 text-xs text-opacity-60">Back to <i>'Existing Sections'</i></span>
    </div>

    <div class="divider -mt-2">
      <div class="flex justify-center mx-2">
        <ng-icon name="jam-box" size="1.5rem" class="text-primary mr-2"></ng-icon>
        <span class="text-base-content text-xl font-semibold">{{section.name}}</span>
      </div>
    </div>

    <app-top-actions
      [rightActions]="[{action: 'Create rule', icon: 'tabler-clipboard-list', color: 'primary', outline: true},
                       {action: 'Import / Export', icon: 'tabler-arrows-up-down', color: 'primary', outline: true,  dropdown: [
                        {action: Action.IMPORT + ' rule(s)', icon:'jam-download'},
                        {action: Action.EXPORT + ' all rules', icon:'jam-upload'}
                      ]}]"
      (btnClicked)="prepareModal($event)">
    </app-top-actions>

    <!-- Section Table-->
    <app-table
      *ngIf="table.showTable"
      [id] = "'rules-' + section.id"
      [classList]="'mt-5'"
      [headers] = "table.headers"
      [data] = "table.data"
      [options] = "table.options"
      [loading] = "loading.table"
      (btnClicked)="doActionOnTable($event.type, $event.row, $event.col)"
      (valueChanged)="doActionOnTable('value changed rule', $event.row, $event.col)">
    </app-table>

    <!-- Spinner -->
    <div *ngIf="!table.showTable" class="flex justify-center items-center">
      <app-spinner></app-spinner>
    </div>

    <!-- Loader -->
    <app-loader [loading]="loading.page"></app-loader>
  </ng-container>
</div>

<!-- Delete rule Modal -->
<app-simple-modal *ngIf="removeMode && ruleToManage"
  [id]="'delete-rule'"
  [title]="'Remove rule \'' + (ruleToManage.name)?.capitalize() + '\'?'"

  [text]="'Are you sure you want to remove rule \'' + ruleToManage?.name +
          '\' from this section? You won\'t be able to undo this action.'"
  [submitBtnText]="'Remove'"
  [submitBtnColor]="'error'"
  [actionInProgress]="loading.action"
  (submitBtnClicked)="doAction('remove rule')"
  (onClose)="ruleToManage = null">
</app-simple-modal>

<!-- Import Modal -->
<app-modal
  [id]="'import'"
  [templateRef]="IMPORT"
  [header]="'Import rules'"
  [submitBtnText]="'Import'"
  [actionInProgress]="loading.action"
  (submitBtnClicked)="fImport.onSubmit(null); importRules()"
  (onClose)="resetImport()"
></app-modal>
<ng-template #IMPORT>
  <div class="prose flex items-center gap-1 mb-3">
    <p class="mb-0">Upload a .CSV file containing user information</p>
    <app-import-helper
      [id]="'import-helper'"
      [format]="'.csv'"
      [requirements]="[
        'The separator must be comma.',
        'The encoding must be UTF-8.'
      ]"
      [csvHeaders]="['name', 'description', 'whenClause', 'thenClause', 'position', 'isActive', 'tags']"
      [csvRows]="[['Lab Master', 'Rule for assigning awards when student excels at the labs', '(TODO) when something', '(TODO) trigger something else', '0', 'true', '1,2']]">
    </app-import-helper>

  </div>

    <form #fImport="ngForm">
      <!-- File -->
      <app-input-file
        [id]="'import-file'"
        [form]="fImport"
        [accept]="['.csv', '.txt']"
        [size]="'sm'"
        [color]="'primary'"
        [required]="true"
        (valueChange)="onFileSelected($event, 'file')">
      </app-input-file>

      <!-- Replace -->
      <app-input-checkbox
        [id]="'import-replace'"
        [form]="fImport"
        [(value)]="importData.replace"
        [color]="'secondary'"
        [classList]="'mt-2'"
        [label]="'Replace duplicates'"
        [labelPosition]="'right'">
      </app-input-checkbox>

    </form>
</ng-template>
