<div class="w-full min-h-full relative flex flex-col">
  <!-- Header -->
  <app-header
    [classList]="'text-md'"
    [title]="'Pages'"
    [icon]="'feather-file'"
    [loading]="loading.action">
  </app-header>

  <ng-container>
    <div class="flex flex-wrap items-center">
      <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="closeEditor()">
        <ng-icon name="tabler-arrow-narrow-left" size="1.2rem" class="mr-0.5 text-base-content text-opacity-60"></ng-icon>
      </button>
      <span class="text-base-content mt-0.5 text-xs text-opacity-60">Back to <i>'Pages'</i></span>
    </div>
  </ng-container>

  <div class="divider -mt-2">
    <div class="flex justify-center mx-2">
      <ng-icon name="jam-pencil-f" size="1.5rem" class="text-primary mr-2"></ng-icon>
      <span class="text-base-content text-xl font-semibold">{{page ? 'Page \'' + page.name + '\'' : 'Create new page'}}</span>
    </div>
  </div>

  <app-top-actions
    [leftActions]="[{action: 'Undo', icon: 'tabler-arrow-back-up'}, {action: 'Redo', icon: 'tabler-arrow-forward-up'}]"
    [rightActions]="[{action: 'Versions', icon: 'tabler-caret-down', color: 'primary', outline: true,  dropdown: [
                        {action: 'Create version'},
                        {action: 'Manage versions'}
                      ]},
                       {action: 'Preview', icon: 'tabler-caret-down', color: 'secondary', outline: false,  dropdown: [
                        {action: 'Raw (default)', icon: getIcon('raw')},
                        {action: 'Layout preview (mock data)', icon: getIcon('mock'), },
                        {action: 'Final preview (real data)', icon: getIcon('real')}
                      ]}]">
  </app-top-actions>

  <div *ngIf="!loading.page" class="flex grow space-x-4 mt-4">
    <!-- Menu of icons (for actions) -->
    <div class="w-24 shrink-0">
      <div class="card card-compact bg-base-100 shadow-xl flex flex-col items-center py-3">

        <div *ngFor="let option of options; let j = index" class="py-1 relative inline-block text-left">
          <div class="tooltip" [attr.data-tip]="option.description">
            <button class="btn btn-ghost btn-circle" (click)="selectOption(option)">
              <ng-icon name="{{option.isSelected ? option.iconSelected : option.icon }}" size="1.7rem"
                      class="tooltip tooltip-right hover:cursor-pointer
                    {{option.isSelected ? 'text-primary' : 'text-dark'}}">
              </ng-icon>
            </button>
          </div>

          <div [@dropdownAnimation] *ngIf="option.isSelected && option.description !== 'Rearrange'" class="z-50 border border-1 border-primary
            absolute left-12 -mt-12 w-48 rounded rounded-xl shadow-lg bg-base-300 card card-compact">
            <div class="p-4">
              <h2 class="text-xl font-semibold text-center text-base-content mb-2">{{option.subMenu.title}}</h2>
              <div class="bg-primary bg-opacity-60 rounded-xl flex">
                <ul>
                  <li *ngFor="let item of getItems(option), let i = index" (click)="triggerSubMenu(option.subMenu.items[item], j)"
                    class="my-1.5 ml-5 block {{option.subMenu.items[item].isSelected ? 'text-white' : 'text-gray-700' }} font-semibold hover:text-white hover:cursor-pointer">
                    <span>{{option.subMenu.items[item].title.capitalize()}}</span>
                  </li>
                </ul>
              </div>
            </div>

            <div [@dropdownAnimation] *ngIf="activeSubMenu" class="z-50 border border-1 border-primary absolute left-[12.5rem] w-[20rem]
              rounded rounded-xl shadow-lg bg-primary card card-compact">
              <div class="p-4">
                <div class="flex flex-row items-center justify-center mb-2">
                  <ng-icon name="feather-info" size="1.2rem" color="white" class="tooltip" [attr.data-tip]="activeSubMenu.helper"/>
                  <h2 class="ml-2 text-xl font-semibold text-center text-white">
                    {{activeSubMenu.title.capitalize()}}
                  </h2>
                </div>
                <div class="w-full bg-base-300 rounded-xl flex">
                  <div class="border-r border-1.5 border-gray-500 w-[calc(34% + 0.25rem)]">
                    <ul>
                      <li *ngFor="let item of getCategoryListItem(), let i = index">
                        <div class="mt-1 mb-1 mx-3 hover:cursor-pointer hover:badge-secondary text-semibold
                        badge badge-secondary badge-lg {{ item.isSelected ? '' : 'badge-outline' }}" (click)="selectCategory(i)">
                          <span class="hover:text-white">{{item?.type}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="overflow-y-auto overflow-x-auto mt-2 ml-2 gap-5">
                    <span *ngIf="getSelectedCategories().length == 0" class="text-base-content text-opacity-50 text-sm ml-3">Select category</span>
                    <div 
                      *ngFor="let item of getSelectedCategoriesItems()" 
                      class="hover:cursor-pointer"
                      (click)="addToPage(item)"
                    >
                      <bb-any [view]="item"></bb-any>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- Editor -->
    <div class="grow rounded-xl border-4 border-neutral border-opacity-10 p-2">
      <bb-any *ngIf="view" [view]="view"></bb-any>
    </div>
  </div>

  <div class="card-actions justify-end py-6">
    <button class="btn btn-primary">Discard</button>
    <button *ngIf="pageToManage" class="btn btn-primary">Save as Template</button>
    <button *ngIf="pageToManage" class="btn btn-primary" (click)="openSaveAsPageModal()">Save as Page</button>
    <button *ngIf="!pageToManage" class="btn btn-primary">Save Changes</button>
  </div>

  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>

</div>

<!-- Modals -->
<app-modal
  *ngIf="pageToManage"
  [id]="'save-page'"
  [templateRef]="SAVE_PAGE"
  [header]="'Save as Page'"
  [closeBtnText]="'Close'"
  [submitBtnText]="'Save'"
  (click)="$event.stopPropagation()"
  (submitBtnClicked)="savePage()"
/>

<ng-template #SAVE_PAGE>
  This page will be added to the course's page library.
  <app-input-text
    [id]="'new-page-name'"
    [(value)]="pageToManage.name"
    [topLabel]="'Page Name:'"
    [required]="true">
  </app-input-text>
</ng-template>