<div class="w-full min-h-full relative flex flex-col">
  <!-- Header -->
  <app-header
    [classList]="'text-md'"
    [title]="'Pages'"
    [icon]="'feather-file'"
    [loading]="loading.action">
  </app-header>

  <ng-container>
    <div class="flex flex-wrap items-center">
      <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="closeEditor()">
        <ng-icon name="tabler-arrow-narrow-left" size="1.2rem" class="mr-0.5 text-base-content text-opacity-60"></ng-icon>
      </button>
      <span class="text-base-content mt-0.5 text-xs text-opacity-60">Back to <i>'Pages'</i></span>
    </div>
  </ng-container>

  <div class="divider -mt-2">
    <div class="flex justify-center mx-2">
      <ng-icon name="jam-pencil-f" size="1.5rem" class="text-primary mr-2"></ng-icon>
      <span class="text-base-content text-xl font-semibold">{{page ? 'Page \'' + page.name + '\'' : 'Create new page'}}</span>
    </div>
  </div>

  <app-top-actions
    [leftActions]="[{action: 'Undo', icon: 'tabler-arrow-back-up'}, {action: 'Redo', icon: 'tabler-arrow-forward-up'}]"
    [rightActions]="[{action: 'Versions', icon: 'tabler-caret-down', color: 'primary', outline: true,  dropdown: [
                        {action: 'Create version'},
                        {action: 'Manage versions'}
                      ]},
                       {action: 'Preview', icon: 'tabler-caret-down', color: 'secondary', outline: false,  dropdown: [
                        {action: 'Raw (default)', icon: getIcon('raw')},
                        {action: 'Layout preview (mock data)', icon: getIcon('mock'), },
                        {action: 'Final preview (real data)', icon: getIcon('real')}
                      ]}]"
    (btnClicked)="doActionPreview($event)">
  </app-top-actions>

  <div *ngIf="!loading.page" class="flex grow space-x-4 mt-4">
    <!-- Menu of icons (for actions) -->
    <div class="w-24 shrink-0">
      <div class="card card-compact bg-base-100 shadow-xl flex flex-col items-center py-3">

        <div *ngFor="let option of options; let j = index" class="py-1 relative inline-block text-left">
          <div class="tooltip" [attr.data-tip]="option.description">
            <button class="btn btn-ghost btn-circle" (click)="selectOption(option)">
              <ng-icon name="{{option.isSelected ? option.iconSelected : option.icon }}" size="1.7rem"
                      class="tooltip tooltip-right hover:cursor-pointer
                    {{option.isSelected ? 'text-primary' : 'text-dark'}}">
              </ng-icon>
            </button>
          </div>

          <div [@dropdownAnimation] *ngIf="option.isSelected && option.description !== 'Rearrange'" 
                class="z-50 border border-1 border-primary absolute left-12 -mt-12 w-48 rounded-xl shadow-lg bg-base-300 card card-compact">
            <div class="p-4">
              <h2 class="text-xl font-semibold text-center text-base-content mb-2">{{option.subMenu.title}}</h2>
              <div class="bg-primary bg-opacity-60 rounded-xl flex">
                <ul>
                  <li *ngFor="let item of getItems(option), let i = index" (click)="triggerSubMenu(option.subMenu.items[item], j)"
                    class="my-1.5 ml-5 block {{option.subMenu.items[item].isSelected ? 'text-white' : 'text-gray-700' }} font-semibold hover:text-white hover:cursor-pointer">
                    <span>{{option.subMenu.items[item].title.capitalize()}}</span>
                  </li>
                </ul>
              </div>
            </div>

            <div [@dropdownAnimation] *ngIf="activeSubMenu" 
                  class="z-50 border border-1 border-primary absolute left-[12.5rem] w-96 rounded-xl shadow-lg bg-primary card card-compact">
              <div class="p-4">
                <div class="flex flex-row items-center justify-center mb-2">
                  <ng-icon name="feather-info" size="1.2rem" color="white" class="tooltip" [attr.data-tip]="activeSubMenu.helper"/>
                  <h2 class="ml-2 text-xl font-semibold text-center text-white">
                    {{activeSubMenu.title.capitalize()}}
                  </h2>
                </div>
                <div class="w-full bg-base-300 rounded-xl flex">
                  <div class="border-r border-1.5 border-gray-500 w-[calc(34% + 0.25rem)]">
                    <ul>
                      <li *ngFor="let item of getCategoryListItem(), let i = index">
                        <div class="mt-1 mb-1 mx-3 hover:cursor-pointer hover:badge-secondary text-semibold
                        badge badge-secondary badge-lg {{ item.isSelected ? '' : 'badge-outline' }}" (click)="selectCategory(i)">
                          <span class="hover:text-white">{{item?.type}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="overflow-y-auto overflow-x-auto my-2 mx-2 gap-5 max-h-72 w-full">
                    <span *ngIf="getSelectedCategories().length == 0" class="text-base-content text-opacity-50 text-sm ml-3">Select category</span>

                    <!-- Custom components list -->
                    <div *ngIf="getSelectedCategories().length > 0 && getSelectedCategories()[0]['type'] == 'Custom'" class="flex flex-col gap-2">
                      <div *ngFor="let item of getSelectedCategoriesItems()" class="flex flex-row w-full justify-between items-center">
                        <bb-any class="hover:cursor-pointer" [view]="item.view" (click)="addToPage(item.view)"></bb-any>
                        <div class="btn btn-ghost btn-circle" (click)="triggerComponentSettings($event, item.id)">
                          <ng-icon tabindex="0" name="tabler-dots-vertical" size="1.2rem" />
                        </div>
                      </div>
                    </div>

                    <!-- Shared components list -->
                    <div *ngIf="getSelectedCategories().length > 0 && getSelectedCategories()[0]['type'] == 'Shared'" class="flex flex-col gap-2">
                      <div *ngFor="let item of getSelectedCategoriesItems()" class="flex flex-col w-full">
                        <div class="flex flex-row justify-between items-center">
                          <bb-any class="hover:cursor-pointer" [view]="item.view" (click)="addToPage(item.view)"></bb-any>
                          <div *ngIf="item.user == user.id" class="btn btn-ghost btn-circle" (click)="triggerComponentSettings($event, item.id)">
                            <ng-icon tabindex="0" name="tabler-dots-vertical" size="1.2rem" />
                          </div>
                        </div>
                        <div class="text-xs mt-1">Shared: {{item.timestamp}}</div>
                      </div>
                    </div>

                    <!-- System components are divided into subcategories -->
                    <div *ngIf="getSelectedCategories().length > 0 && getSelectedCategories()[0]['type'] == 'System'" class="space-y-5">
                      <div *ngFor="let subcategory of getSubcategories()">
                        <span class="ml-1">{{subcategory}}</span>
                        <div class="divider -mt-1 -mb-[0rem]"></div>
                        <div class="flex flex-wrap">
                          <div 
                            *ngFor="let item of getComponentsOfSubcategory(subcategory)" 
                            class="hover:cursor-pointer p-1"
                            (click)="addToPage(item)"
                          >
                            <bb-any [view]="item"></bb-any>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            
            <!-- Custom and Shared Component Settings -->
            <div [@dropdownAnimation] *ngIf="componentSettings?.id" class="absolute z-50 left-[33rem]" [ngStyle]="{'top.px': componentSettings.top}">
              <ul tabindex="0" class="menu p-2 shadow bg-base-300 rounded-box w-48">
                <li *ngIf="getSelectedCategories()[0]['type'] == 'Shared'" (click)="makePrivateComponent()"><a><ng-icon name="jam-padlock-f" size="1.5rem"/>Make Private</a></li>
                <li *ngIf="getSelectedCategories()[0]['type'] == 'Custom'" (click)="shareComponent()"><a><ng-icon name="jam-padlock-open-f" size="1.5rem"/>Share</a></li>
                <li *ngIf="getSelectedCategories()[0]['type'] == 'Custom'" (click)="deleteComponent()"><a><ng-icon name="feather-X" size="1.5rem" color="red"/>Delete</a></li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- Editor -->
    <div class="grow rounded-xl border-4 border-neutral border-opacity-10 p-2">
      <bb-any *ngIf="view" [view]="view"></bb-any>
    </div>
  </div>

  <div class="card-actions justify-end py-6">
    <button class="btn btn-primary" (click)="closeEditor()">Discard</button>
    <button *ngIf="pageToManage" class="btn btn-primary">Save as Template</button>
    <button *ngIf="pageToManage" class="btn btn-primary" (click)="openSaveAsPageModal()">Save as Page</button>
    <button *ngIf="!pageToManage" class="btn btn-primary">Save Changes</button>
  </div>

  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>

</div>


<!--------------------------------------------------->
<!--------------------- MODALS ---------------------->
<!--------------------------------------------------->

<!-- Save Page Modal -->
<app-modal
  *ngIf="pageToManage"
  [id]="'save-page'"
  [templateRef]="SAVE_PAGE"
  [header]="'Save as Page'"
  [closeBtnText]="'Close'"
  [submitBtnText]="'Save'"
  (click)="$event.stopPropagation()"
  (submitBtnClicked)="savePage()"
/>
<ng-template #SAVE_PAGE>
  This page will be added to the course's page library.
  <app-input-text
    [id]="'new-page-name'"
    [(value)]="pageToManage.name"
    [topLabel]="'Page Name:'"
    [required]="true">
  </app-input-text>
</ng-template>

<!-- Save Component Modal -->
<app-modal
  [id]="'save-as-component'"
  [templateRef]="SAVE_COMPONENT"
  [header]="'Save Custom Component'"
  [closeBtnText]="'Close'"
  [submitBtnText]="'Save'"
  (click)="$event.stopPropagation()"
  (submitBtnClicked)="saveComponent()"
/>
<ng-template #SAVE_COMPONENT>
  Saved components can be reused later. They show up under the <i>Custom</i> tab of the component type.
  <app-input-text
    [id]="'new-component-name'"
    [(value)]="newComponentName"
    [topLabel]="'Component Name:'"
    [required]="true">
  </app-input-text>
</ng-template>

<!-- Manage Versions Modal -->
<app-modal
  *ngIf="view"
  [id]="'manage-versions'"
  [templateRef]="MANAGE_VERSIONS"
  [header]="'Manage Versions'"
  [closeBtnText]="'Discard'"
  [submitBtnText]="'Save Versions'"
  [size]="'lg'"
  [static]="true"
  (click)="$event.stopPropagation()"
  (onClose)="discardAspects()"
  (submitBtnClicked)="submitAspects()"
/>
<ng-template #MANAGE_VERSIONS>
  <div class="w-full overflow-hidden">
    If there are non-existing versions, a default version will be displayed with no restrictions whatsoever on who's accessing the page and from whom the information is about.
    <p class="text-md font-semibold my-4">Existing Versions</p>

    <div class="flex flex-row gap-4 w-full">
      <div>
        <p class="mb-5">Current Version:</p>
        <app-aspect-card [aspect]="getSelectedAspect()" [course]="course" />
      </div>
      <div class="bg-base-200 w-1"></div>
      <div class="w-full overflow-x-auto">
        <p class="mb-2">All Versions:</p>
        <div class="flex flex-row w-full overflow-x-auto">
          <div *ngFor="let aspect of aspectsToEdit; index as i" (click)="selectAspect(aspect)">
            <app-aspect-card [aspect]="aspect" [course]="course" [selected]="isAspectSelected(aspect)" [editable]="true" (deleteEvent)="removeAspect(i)"/>
          </div>
        </div>
      </div>
      <div class="self-center flex flex-col gap-6">
        <button class="btn btn-secondary" (click)="createNewAspect()">Create Version</button>
        <button class="btn btn-primary" (click)="switchToAspect()">Select</button>
      </div>
    </div>
  </div>
</ng-template>