<div class="w-full relative">
  <!-- Header -->
  <app-header
    [classList]="'text-md'"
    [title]="'Pages'"
    [icon]="'feather-file'"
    [loading]="loading.action">
  </app-header>

  <ng-container>
    <div class="flex flex-wrap items-center">
      <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="closeEditor()">
        <ng-icon name="tabler-arrow-narrow-left" size="1.2rem" class="mr-0.5 text-base-content text-opacity-60"></ng-icon>
      </button>
      <span class="text-base-content mt-0.5 text-xs text-opacity-60">Back to <i>'Pages'</i></span>
    </div>
  </ng-container>

  <div class="divider -mt-2">
    <div class="flex justify-center mx-2">
      <ng-icon name="jam-pencil-f" size="1.5rem" class="text-primary mr-2"></ng-icon>
      <span class="text-base-content text-xl font-semibold">{{page ? 'Rule \'' + page.name + '\'' : 'Create new page'}}</span>
    </div>
  </div>

  <app-top-actions
    [leftActions]="[{action: 'Undo', icon: 'tabler-arrow-back-up'}, {action: 'Redo', icon: 'tabler-arrow-forward-up'}]"
    [rightActions]="[{action: 'Versions', icon: 'tabler-caret-down', color: 'primary', outline: true,  dropdown: [
                        {action: 'Create version'},
                        {action: 'Manage versions'}
                      ]},
                       {action: 'Preview', icon: 'tabler-caret-down', color: 'secondary', outline: false,  dropdown: [
                        {action: 'Raw (default)', icon: getIcon('raw')},
                        {action: 'Layout preview (mock data)', icon: getIcon('mock'), },
                        {action: 'Final preview (real data)', icon: getIcon('real')}
                      ]}]">
  </app-top-actions>

  <div *ngIf="!loading.page" class="flex space-x-4 mt-4">
    <!-- Menu of icons (for actions) -->
    <div class="w-[8%]">
      <div class="card card-compact bg-base-100 h-96 shadow-xl flex flex-col items-center">

        <div *ngFor="let option of options; let j = index" class="relative inline-block text-left">
          <button class="btn btn-xs btn-ghost btn-circle mt-3 mb-3">
            <ng-icon name="{{option.isSelected ? option.iconSelected : option.icon }}" size="1.7rem"
                     class="tooltip tooltip-right hover:cursor-pointer
                   {{option.isSelected ? 'text-primary' : 'text-dark'}}"
                     (click)="selectOption(option)">
            </ng-icon>
          </button>
          <div *ngIf="option.isSelected && option.description !== 'Rearrange'" class="z-[1] border border-1 border-primary
            absolute left-8 -mt-10 w-48 rounded rounded-xl shadow-lg bg-base-300 card card-compact">
            <div class="p-4">
              <h2 class="text-xl font-semibold text-center text-base-content mb-2">{{option.subMenu.title}}</h2>
              <div class="bg-primary bg-opacity-60 rounded-xl flex">
                <ul>
                  <li *ngFor="let item of getItems(option), let i = index" (click)="triggerSubMenu(option.subMenu.items[item], j)"
                    class="my-1.5 ml-5 block {{option.subMenu.items[item].isSelected ? 'text-white' : 'text-gray-700' }} font-semibold hover:text-white hover:cursor-pointer">
                    <span>{{option.subMenu.items[item].title.capitalize()}}</span>
                  </li>
                </ul>
              </div>
            </div>

            <div *ngIf="activeSubMenu" class="z-[1] border border-1 border-primary absolute left-[12.5rem] w-[20rem]
              rounded rounded-xl shadow-lg bg-primary bg-opacity-60 card card-compact">
              <div class="p-4">
                <h2 class="text-xl font-semibold text-center text-white mb-2">{{activeSubMenu.title.capitalize()}}</h2>
                <div class="w-full bg-base-300 rounded-xl flex">
                  <div class="border-r border-1.5 border-gray-500 w-[calc(34% + 0.25rem)]">
                    <ul>
                      <li *ngFor="let item of getCategoryListItem(), let i = index">
                        <div class="mt-1 mb-1 mx-3 hover:cursor-pointer hover:badge-secondary text-semibold
                        badge badge-secondary badge-lg {{ item.isSelected ? '' : 'badge-outline' }}" (click)="selectCategory(i)">
                          <span class="hover:text-white">{{item?.type}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="overflow-y-auto overflow-x-auto mt-2">
                    <span class="text-base-content text-opacity-50 text-sm ml-3">Select category</span>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>

        <!--<div *ngFor="let option of options; let i = index">
          <button class="btn btn-xs btn-ghost btn-circle mt-4 mb-4">
            <ng-icon name="{{option.isSelected ? option.iconSelected : option.icon }}" size="1.7rem"
                     class="tooltip tooltip-right hover:cursor-pointer
                   {{option.isSelected ? 'text-primary' : 'text-dark'}}"
                     (click)="selectOption(option)">
            </ng-icon>
          </button>

          <div tabindex="0" class="dropdown-content z-[1] card card-compact w-52 p-3 shadow-xl bg-base-300 ml-5 border border-2 border-primary">
            <h2 class="text-xl font-semibold text-center text-base-content mb-2">
              Components
            </h2>
            <div class="bg-primary bg-opacity-40 rounded-lg flex">
              <ul>
                <li class="my-1.5 ml-5">
                  <span class="font-semibold">Block</span>
                </li>
                <li>
                  <span class="font-semibold">Button</span>
                </li>
                <li>
                  <span class="font-semibold">Chart</span>
                </li>
                <li>
                  <span class="font-semibold">Collapse</span>
                </li>
                <li>
                  <span class="font-semibold">Icon</span>
                </li>
                <li>
                  <span class="font-semibold">Image</span>
                </li>
                <li>
                  <span class="font-semibold">Table</span>
                </li>
                <li>
                  <span class="font-semibold">Text</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

          <ng-icon name="{{optionSelected === 'add-component' ? 'jam-plus-circle-f' : 'jam-plus-circle'}}" size="1.7rem"
                   data-tip="Add component" class="mt-4 mb-4 tooltip tooltip-right hover:cursor-pointer
                   {{optionSelected === 'add-component' ? 'text-primary' : 'text-dark'}}"
                   (click)="selectOption('add-component')">
          </ng-icon>
          <ng-icon name="{{optionSelected === 'add-section' ? 'jam-grid-f' : 'jam-grid'}}" size="1.7rem"
                   data-tip="Add section" class="text-dark mb-4 tooltip tooltip-right hover:cursor-pointer
                   {{optionSelected === 'add-section' ? 'text-primary' : 'text-dark'}}"
                   (click)="selectOption('add-section')">
          </ng-icon>
          <ng-icon name="{{optionSelected === 'choose-layout' ? 'jam-layout-f' : 'jam-layout'}}" size="1.7rem"
                   data-tip="Choose layout" class="text-dark mb-4 tooltip tooltip-right hover:cursor-pointer
                   {{optionSelected === 'choose-layout' ? 'text-primary' : 'text-dark'}}"
                   (click)="selectOption('choose-layout')">
          </ng-icon>
          <ng-icon name="feather-move" size="1.7rem" data-tip="Rerrange components"
                   class="text-dark mb-4 tooltip tooltip-right hover:cursor-pointer
                   {{optionSelected === 'rearrange' ? 'text-primary' : 'text-dark'}}"
                   (click)="selectOption('rearrange')">
          </ng-icon>-->
      </div>
    </div>

    <!-- Editor -->
    <div class="flex-grow">
      <div class="card card-compact bg-base-100 shadow-xl h-96">
        <!-- TODO -->
      </div>
    </div>
  </div>


  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>

</div>
