#viewEditor {
  position: relative;
  display: block;
  margin: 0;
  padding: 80px 55px 35px;
}

.side_helper {
  color: black;
  width: auto;
  position: fixed;
  top: 200px;
  left: 0;
  z-index: 3;
  font-size: 14px;

  #open_helper {
    background-color: lightgrey;
    width: 53px;
    display: flex;
    font-weight: bold;
    border: 2px solid grey;
    justify-content: space-evenly;
    align-items: center;

    .help {
      height: 35px;
      width: 25px;
      background-image: url('../../../../../../../../assets/icons/help_icon.svg');
      background-position: center;
    }

    .open {
      height: 20px;
      width: 20px;
      background-image: url('../../../../../../../../assets/icons/arrow_foward.svg');
      background-position: center;
      transform: rotate(0deg);
      transition: transform 1s;

      &.closed {
        transform: rotate(180deg);
      }
    }
  }

  #helper_content {
    position: absolute;
    left: -200px;
    display: flex;
    flex-direction: column;

    &.visible {
      display: flex;
      flex-direction: column;
      animation: slide 1s forwards;
    }

    &.invisible {
      animation: slide_inv 1s forwards;
    }

    span {
      background-color: lightgrey;
      border: 2px solid grey;
      text-align: center;
      margin-top: -2px;

      a {
        text-decoration: none;
        padding: 10px;
        color: inherit;
        display: block;
        white-space: nowrap;
      }
    }
  }

  @keyframes slide {
    0% {
      left: -200px;
    }

    100% {
      left: 0;
    }
  }

  @keyframes slide_inv {
    0% {
      left: 0;
    }

    100% {
      left: -200px;
    }
  }
}

#page_history {
  position: absolute;
  top: 20px;
  left: 55px;
  line-height: 35px;
  display: flex;
  align-items: center;

  span {
    font-size: 16px;
    text-transform: capitalize;

    &.role_type {
      font-size: 12px;
      position: relative;
      font-weight: bold;
      color: lightgray;
      /* align-self: end; */
      margin-left: 10px;
      line-height: 32px;
    }
  }

  .go_back {
    height: 18px;
    background-image: url('../../../../../../../../assets/icons/arrow_back.svg');
    width: 18px;
    cursor: auto;
    margin: 0 5px;
  }
}

#view_editor_actions {
  top: 20px;

  .undo_icon.disabled,
  .redo_icon.disabled {
    opacity: .3;
    pointer-events: none;
  }

  .editor-roles {
    display:flex;
    flex-direction: row;
    align-items: center;

    #viewer_role, #user_role {
      border: 2px solid lightgray;
      border-radius: 5px;
      margin-right: 8px;
    }

    select {
      padding: 5px 10px;
    }
  }
}

.warning {
  font-size: 12px !important;
  position: relative;
  font-weight: bold;
  color: rgb(211, 11, 11);
  margin-left: 10px;
}

.editor {
  margin: 10px;
  width: 100%;

  .no-view {
    font-size: 18px;
    font-weight: bold;
    color: rgb(211, 11, 11);
    text-align: center;
    margin-top: 20px;
  }

  .edit-toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 2;

    .tool.btn {
      width: 50px;
      height: 45px;
      border: 2px solid #868686;
      background-color: white;
      padding: 10px;
      display: flex;
      justify-content: center;
      border-radius: 5px;
      margin: 5px;
      cursor: pointer;

      img {
        height: 100%;
      }

      &:last-child {
        border-right: 2px solid #868686
      }

      &:hover {
        background-color: #cbcbcb;
      }

      &.red {
        background-color: rgba(255, 0, 0, 0.2);

        &:hover {
          background-color: rgba(128, 0, 0, 0.28);
        }
      }

      &.disabled {
        pointer-events: none;
      }
    }

    #editing_role {
      font-size: 12px;
      border-radius: 5px;
      border: 2px solid #868686;
      align-self: center;
      padding: 10px;
      margin: 5px;
      background-color: white;
      user-select: none;
    }
  }
}

.preview {
  margin: 20px;
}
