<!-- Tiers -->
<div class="section tiers-section">
  <div class="divider">
    <div class="title"><span>Tiers</span></div>
  </div>

  <div class="tiers content">
    <!-- Tiers List -->
    <div id="tiers-list">
      <div class="data-table">

        <table *ngIf="tiers?.length > 0" id="listing-table">
          <!-- Header -->
          <thead>
          <tr>
            <th>Tier</th>
            <th>XP</th>
            <th class="action-column"></th>
            <th class="action-column"></th>
            <th class="action-column"></th>
            <th class="action-column"></th>
          </tr>
          </thead>

          <!-- Body -->
          <tbody>
          <tr *ngFor="let tier of tiers">
            <td><span>{{tier.tier}}</span></td>
            <td><span>{{tier.reward}}</span></td>
            <td class="action-column">
              <div class="icon edit_icon" title="Edit" (click)="mode = 'edit'; initEditItem(tier, 'tier'); isTierModalOpen = true;"></div>
            </td>
            <td class="action-column">
              <div class="icon delete_icon" title="Remove" (click)="skillToDelete = null; tierToDelete = tier; isDeleteVerificationModalOpen = true"></div>
            </td>
            <td class="action-column">
              <div class="icon up_icon" title="Move up" (click)="moveItem(tier, 1, 'tier')"></div>
            </td>
            <td class="action-column">
              <div class="icon down_icon" title="Move down" (click)="moveItem(tier, -1, 'tier')"></div>
            </td>
          </tr>
          </tbody>
        </table>

        <div *ngIf="tiers.length === 0" class='error_box'>
          <div id='empty_table_tiers' class='error_msg'>No tiers found</div>
        </div>

      </div>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <div class="icon add_icon" title="New" (click)="mode = 'add'; isTierModalOpen = true;"></div>
    </div>
  </div>
</div>

<!-- Skills -->
<div class="section skills-section">
  <div class="divider">
    <div class="title"><span>Skills</span></div>
  </div>

  <div class="skills content">

    <!-- Skills List -->
    <div id="skills-list">
      <div class="data-table">

        <table *ngIf="skills?.length > 0" id="listing-table-skills">
          <!-- Header -->
          <thead>
          <tr>
            <th>Tier</th>
            <th>Name</th>
            <th>Dependencies</th>
            <th>Color</th>
            <th>XP</th>
            <th class="check-column">Active</th>
            <th class="action-column"></th>
            <th class="action-column"></th>
            <th class="action-column"></th>
            <th class="action-column"></th>
          </tr>
          </thead>

          <!-- Body -->
          <tbody>
          <tr *ngFor="let skill of skills" [ngClass]="{'notAllActive': !skill.allActive}">
            <td><span>{{skill.tier}}</span></td>
            <td><span>{{skill.name}}</span></td>
            <td><span>{{skill.dependencies}}</span></td>
            <td>
              <div class="color">
                <div class="color-sample">
                  <div class="box" [ngStyle]="{'backgroundColor': skill.color}"></div>
                </div>
                <div>{{skill.color}}</div>
              </div>
            </td>
            <td><span>{{skill.xp}}</span></td>
            <td class="check-column">
              <label class="switch">
                <input type="checkbox" [checked]="skill.isActive" (change)="toggleSkill(skill.id)">
                <span class="slider round"></span>
              </label>
            </td>
            <td class="action-column">
              <div class="icon edit_icon" title="Edit" (click)="mode = 'edit'; initEditItem(skill, 'skill'); isSkillModalOpen = true; initColorPicker()"></div>
            </td>
            <td class="action-column">
              <div class="icon delete_icon" title="Remove" (click)="tierToDelete = null; skillToDelete = skill; isDeleteVerificationModalOpen = true"></div>
            </td>
            <td class="action-column">
              <div class="icon up_icon" title="Move up" (click)="moveItem(skill, 1, 'skill')"></div>
            </td>
            <td class="action-column">
              <div class="icon down_icon" title="Move down" (click)="moveItem(skill, -1, 'skill')"></div>
            </td>
          </tr>
          </tbody>
        </table>

        <div *ngIf="skills.length === 0" class='error_box'>
          <div id='empty_table_skills' class='error_msg'>No skills found</div>
        </div>

      </div>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <div class="icon add_icon" title="New" (click)="mode = 'add'; isSkillModalOpen = true; initColorPicker()"></div>
      <div class="icon import_icon" title="Import" (click)="this.isImportModalOpen = true"></div>
      <div class="icon export_icon" title="Export All" (click)="exportAllSkills()"></div>
    </div>
  </div>
</div>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>


<!-- New / Edit Tier Modal -->
<ng-container *ngIf="isTierModalOpen">
  <app-modal
    [isModalOpen]="isTierModalOpen"
    [id]="mode === 'add' ? 'new-tier' : 'edit-tier'"
    [templateRef]="tierModal"
    (closeBtnClicked)="isTierModalOpen = false; clearObject(newTier)"
    [actionInProgress]="saving"
    [innerClickEvents]="false">
  </app-modal>
</ng-container>

<ng-template #tierModal>
  <!-- Title -->
  <div class="title">{{mode === 'add' ? 'New Tier:' : 'Edit Tier:'}}</div>

  <div class="content">
    <div class="inputs">

      <div class="row_inputs">
        <!-- Tier -->
        <div class="half">
          <input type="text" class="form__input" id="tier-input" placeholder="Name *" [(ngModel)]="newTier.tier" [required]="true">
          <label for="tier-input" class="form__label">Name</label>
        </div>

        <!-- Reward -->
        <div class="half">
          <input type="number" class="form__input" id="reward-input" placeholder="XP *" [(ngModel)]="newTier.reward" [required]="true">
          <label for="reward-input" class="form__label">XP</label>
        </div>
      </div>
    </div>

    <button *ngIf="mode === 'edit'" class="cancel" (click)="isTierModalOpen = false; clearObject(newTier)">Cancel</button>
    <button class="save_btn" [disabled]="!isReadyToSubmit('tier')" (click)="mode === 'add' ? createTier() : editTier()">Save</button>
  </div>
</ng-template>


<!-- New / Edit Skill Modal -->
<ng-container *ngIf="isSkillModalOpen">
  <app-modal
    [isModalOpen]="isSkillModalOpen"
    [id]="mode === 'add' ? 'new-skill' : 'edit-skill'"
    [templateRef]="skillModal"
    [large]="true"
    (closeBtnClicked)="isSkillModalOpen = false; clearObject(newSkill); selectedDependency1 = null; selectedDependency2 = null"
    [actionInProgress]="saving"
    [innerClickEvents]="false">
  </app-modal>
</ng-container>

<ng-template #skillModal>
  <!-- Title -->
  <div class="title">{{mode === 'add' ? 'New Skill:' : 'Edit Skill:'}}</div>

  <div class="content">
    <div class="inputs">

      <div class="row_inputs">
        <!-- Tier -->
        <div class="half">
          <select class="form__input" id="skill-tier" [(ngModel)]="newSkill.tier">
            <option [value]="null" disabled>Select a Tier</option>
            <option *ngFor="let tier of tiers" [value]="tier.tier">{{tier.tier}}</option>
          </select>
        </div>

        <!-- Name -->
        <div class="half">
          <input type="text" class="form__input" id="skill-name" placeholder="Name" [(ngModel)]="newSkill.name" [required]="true">
          <label for="skill-name" class="form__label">Name</label>
        </div>
      </div>

      <div class="row_inputs">
        <!-- Color -->
        <div class="color_picker half">
          <input type="text" class="form__input pickr" id="new_pickr" placeholder="Color" [(ngModel)]="newSkill.color" role="button" aria-label="toggle color picker dialog">
          <label for="new_pickr" class="form__label">Color</label>
          <div id="color-sample">
            <div class="box" [ngStyle]="{'backgroundColor': newSkill.color || 'white'}"></div>
            <div class="frame" [ngStyle]="{'borderColor': isWhite(newSkill.color) ? 'lightgrey' : newSkill.color}"></div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="newSkill.tier && newSkill.tier !== 'Wildcard' && newSkill.tier !== '1'">
        <!-- Add dependencies -->
        <div [id]="'add_dependencies'" class="full">
          <span style="margin-right: 10px; white-space: nowrap">New Dependency: </span>
          <select [id]="'skill1'" class="form__input" name="skill1" style="margin-bottom: 0; margin-right: 5px" [(ngModel)]="selectedDependency1">
            <option [value]="null" disabled selected>Select Skill 1</option>
            <option *ngFor="let skill of filterSkills(mode === 'add' ? null : skillToEdit.id)" [ngValue]="skill">{{skill.name}}</option>
          </select>
          <select [id]="'skill2'" class="form__input" name="skill2" style="margin-bottom: 0; margin-right: 5px" [(ngModel)]="selectedDependency2">
            <option [value]="null" disabled selected>Select Skill 2</option>
            <option *ngFor="let skill of filterSkills(mode === 'add' ? null : skillToEdit.id)" [ngValue]="skill">{{skill.name}}</option>
          </select>
          <button (click)="addSkillDependency(selectedDependency1, selectedDependency2)">Add</button>
        </div>

        <!-- Dependencies list -->
        <div class="full">
          <span style="margin-right: 10px;">Dependencies: </span>
          <ng-container *ngFor="let dependencyPair of newSkill.dependenciesList" >
            <div (click)="removeSkillDependency(dependencyPair)" class="role_tag">{{dependencyPair[0] + ' + ' + dependencyPair[1]}}</div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <button *ngIf="mode === 'edit'" class="cancel" (click)="isSkillModalOpen = false; clearObject(newSkill); selectedDependency1 = null; selectedDependency2 = null">Cancel</button>
    <button class="save_btn" [disabled]="!isReadyToSubmit('skill')" (click)="mode === 'add' ? createSkill() : editSkill()">Save</button>
    <button class="preview_btn" (click)="previewSkillPage(newSkill)">Preview</button>
  </div>
</ng-template>


<!-- Delete Verification Modal -->
<ng-container *ngIf="isDeleteVerificationModalOpen">
  <app-verification-modal
    [isModalOpen]="isDeleteVerificationModalOpen"
    [id]="'delete-verification'"
    [text]="'Are you sure you want to delete the ' + (tierToDelete !== null ? 'Tier' : 'Skill') + '?'"
    [target]="(tierToDelete !== null ? 'Tier: ' + tierToDelete.tier : 'Skill: ' + skillToDelete.tier)"
    [positiveBtnText]="'Delete'"
    (positiveBtnClicked)="(tierToDelete !== null ? deleteTier() : deleteSkill())"
    (negativeBtnClicked)="tierToDelete = null; skillToDelete = null; isDeleteVerificationModalOpen = false"
    (closeBtnClicked)="isDeleteVerificationModalOpen = false"
    [actionInProgress]="saving">
  </app-verification-modal>
</ng-container>
