<div *ngIf="!loading.page" class="w-full relative">

  <!-- Header -->
  <app-header [title]="'Course Settings'" [icon]="'tabler-settings'" [loading]="loading.action"></app-header>

  <ng-container [ngTemplateOutlet]="MANAGE"></ng-container>
</div>

<ng-template #MANAGE>
  <form #f="ngForm" (ngSubmit)="editCourse()">

    <div class="card bg-base-100 shadow-xl card-body mb-5">
      <h2 class="card-title">Information</h2>

      <div class="md:grid grid-cols-3 mt-3 gap-3 flex flex-col">
        <div class="col-span-2">
          <!-- Name -->
          <app-input-text
            [id]="'course-name'"
            [form]="f"
            [(value)]="courseToManage.name"
            [placeholder]="'Course name'"
            [topLabel]="'Name'"
            [pattern]="'^[x00-\\xFF\\w()&\\s-]+$'"
            [patternErrorMessage]="'Course name \'' + courseToManage.name + '\' is not allowed. Allowed characters: alphanumeric  _  (  )  -  &'"
            [required]="true"
            [maxLength]="100"
            [maxLengthErrorMessage]="'Course name is too long: maximum of 100 characters'">
          </app-input-text>
        </div>
        <!-- Short -->
        <app-input-text
          [id]="'course-short'"
          [form]="f"
          [(value)]="courseToManage.short"
          [placeholder]="'Course acronym'"
          [topLabel]="'Acronym'"
          [pattern]="'(?!^\\d+$)^.+$'"
          [patternErrorMessage]="'Course acronym can\'t be composed of only numbers.'"
          [maxLength]="20"
          [maxLengthErrorMessage]="'Course acronym is too long: maximum of 20 characters'">
        </app-input-text>
      </div>

      <div class="md:grid grid-cols-3 md:mt-3 gap-3 flex flex-col">
        <!-- Year -->
        <app-input-select
          [id]="'course-year'"
          [form]="f"
          [(value)]="courseToManage.year"
          [options]="editYearOptions"
          [placeholder]="'Select an academic year'"
          [search]="false"
          [classList]="'mt-3 sm:mt-0'"
          [topLabel]="'Academic year'"
          [required]="true">
        </app-input-select>

        <!-- Start date -->
        <div>
          <app-input-date
            [id]="'course-start'"
            [form]="f"
            [(value)]="courseToManage.startDate"
            [placeholder]="'Course start date'"
            [topLabel]="'Start date'"
            [required]="true">
          </app-input-date>
        </div>

        <!-- End date -->
        <div>
          <app-input-date
            [id]="'course-end'"
            [form]="f"
            [(value)]="courseToManage.endDate"
            [placeholder]="'Course end date'"
            [classList]="'mt-3 sm:mt-0'"
            [topLabel]="'End date'"
            [required]="true">
          </app-input-date>
        </div>

      </div>
    </div>

    <div class="card bg-base-100 shadow-xl card-body">
      <h2 class="card-title">Customization</h2>

      <!-- Themes -->
      <span class="font-semibold">Theme</span>

      <div class="alert alert-warning shadow-md mb-4 text-sm font-normal" *ngIf="courseToManage.theme != course.theme">
        <ng-icon name="feather-alert-triangle" size="1.5rem" color="fillCurrent"></ng-icon>
        <div class="flex flex-col items-start justify-start w-full">
          <p>You are just previewing the theme. It won't change for anyone else until you <b>save</b> at the bottom of this page.</p>
        </div>
      </div>

      <div class="rounded-box grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">

        <!-- Default theme switches between light and dark -->
        <div class="transition-all overflow-hidden rounded-lg outline outline-2 border-2
                      {{!courseToManage.theme ? 'border-primary outline-primary' : 'border-base-200 outline-transparent hover:border-transparent hover:outline-base-300'}}"
             [attr.data-set-theme]="'light'"
             (click)="selectTheme(null)">
          <div class="bg-base-100 text-base-content w-full cursor-pointer font-sans" data-theme="light">
            <div class="grid grid-cols-5 grid-rows-3">
              <div class="bg-base-200 col-start-1 row-span-2 row-start-1"></div>
              <div class="bg-base-300 col-start-1 row-start-3"></div>
              <div class="bg-base-100 col-span-4 col-start-2 row-span-3 row-start-1 flex flex-col gap-1 p-2">
                <div class="font-bold">default</div>
                <div class="flex flex-wrap gap-1">
                  <div class="bg-primary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                    <div class="text-primary-content text-sm font-bold">A</div>
                  </div>
                  <div class="bg-secondary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                    <div class="text-secondary-content text-sm font-bold">A</div>
                  </div>
                  <div class="bg-accent flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                    <div class="text-accent-content text-sm font-bold">A</div>
                  </div>
                  <div class="bg-neutral flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                    <div class="text-neutral-content text-sm font-bold">A</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- All other themes -->
        <div *ngFor="let theme of getThemes()" class="transition-all overflow-hidden rounded-lg outline outline-2 border-2
                      {{theme === courseToManage.theme ? 'border-primary outline-primary' : 'border-base-200 outline-transparent hover:border-transparent hover:outline-base-300'}}"
             [attr.data-set-theme]="theme"
             (click)="selectTheme(theme)">
          <div class="bg-base-100 text-base-content w-full cursor-pointer font-sans" [attr.data-theme]="theme">
            <div class="grid grid-cols-5 grid-rows-3">
              <div class="bg-base-200 col-start-1 row-span-2 row-start-1"></div>
              <div class="bg-base-300 col-start-1 row-start-3"></div>
              <div class="bg-base-100 col-span-4 col-start-2 row-span-3 row-start-1 flex flex-col gap-1 p-2">
                <div class="font-bold">{{ theme }}</div>
                <div class="flex flex-wrap gap-1">
                  <div class="bg-primary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                    <div class="text-primary-content text-sm font-bold">A</div>
                  </div>
                  <div class="bg-secondary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                    <div class="text-secondary-content text-sm font-bold">A</div>
                  </div>
                  <div class="bg-accent flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                    <div class="text-accent-content text-sm font-bold">A</div>
                  </div>
                  <div class="bg-neutral flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                    <div class="text-neutral-content text-sm font-bold">A</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="mt-3 md:grid grid-cols-2 items-start gap-3">
        <!-- Color -->
        <app-input-color
          [id]="'course-color'"
          [form]="f"
          [(value)]="courseToManage.color"
          [placeholder]="'Course color'"
          [topLabel]="'Color'"
          [helperText]="'This is the color that will appear on the main menu of GameCourse together with the initial of this course. If you are using the default theme, it\'s also the color of the header.'"
          [helperPosition]="'right'"
        ></app-input-color>

        <!-- Avatars -->
        <app-input-toggle
          [id]="'course-avatars'"
          [form]="f"
          [(value)]="courseToManage.avatars"
          [label]="'Allow Avatars'"
          [helperText]="'Enabling this lets the expression language access the user\'s avatars, allowing them to show up in pages.'"
          [helperPosition]="'right'"
          [color]="'primary'"
          [classList]="'mt-2'"
        ></app-input-toggle>
      </div>
    </div>

    <div class="w-full mt-6 flex">
      <button class="btn btn-primary ml-auto" type="submit" [disabled]="loading.action">
        <!-- Spinner -->
        <ng-container *ngIf="loading.action">
          <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
        </ng-container>
        Save Changes
      </button>
    </div>

  </form>
</ng-template>

<!-- Spinner -->
<div *ngIf="loading.page" class="flex justify-center items-center">
  <app-spinner></app-spinner>
</div>
