<div *ngIf="participationKey" class="page participation-page">
  <h1>In-class participation</h1>
  <h4 *ngIf="course">{{course.name}} - {{course.year}}</h4>

  <p>Fill-in the following form to register your participation in class:</p>

  <div class="row">
    <div class="input-wrapper" style="width: 230px; margin-bottom: 20px;">
      <span class="label">Lecture Nr.</span>
      <input type="number" id="lecture-nr" name="lecture-nr" min="1" class="input" [(ngModel)]="lectureNr">
    </div>

    <select class="form__input" id="type-of-class" style="width: 230px" [(ngModel)]="typeOfClass">
      <option disabled [value]="undefined">Select a type of class</option>
      <option *ngFor="let type of typesOfClass" [label]="type" [value]="type">{{type}}</option>
    </select>

    <button class="button" [disabled]="!isReadyToSubmitParticipation()" style="display: block; width: 230px" (click)="submitParticipation()">Submit</button>
    <p class="success_msg"></p>
  </div>
</div>
