<div class="container">

  <div class="background"></div>

  <div class="login_box">
    <div id="logo"></div>
    <div class="middle-box">
      <h3>Hello! Thank you for logging in.</h3>
      <div class="content">
        Apparently you do not have access to GameCourse.
        Please ask to the teacher of your course to add you to the user's list.
      </div>
    </div>
  </div>

  <div id="go_back">
    <form id="back_form" (click)="goBack()">
      <div class="icon arrow_back"></div>
      <input name="goBack" id="goBack" type="submit" class="button" value="back">
    </form>
  </div>

</div>
