.skill-tree {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px;
}

.profile .skill-tree {
  margin-top: 20px;
}

/*** ------------ Tiers ------------ ***/

.skill-tree .skill-tiers {
  width: 100%;
}

.skill-tree .skill-tiers > * {
  flex-direction: row !important;
}

.skill-tree .skill-tiers > * bb-any {
  width: 100%;
}

.skill-tree .skill-tiers .skill-tier {
  border-right: 2px dashed #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.skill-tree .skill-tiers > * bb-any:last-child .skill-tier {
  border-right: none;
}

.skill-tree .skill-tiers .skill-tier .skill-tier-reward {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.skill-tree .skill-tiers .skill-tier .skill-tier-used-wildcards {
  font-weight: bold;
  margin-top: 30px;
}

/*** ------------ Skills ------------ ***/

.skill-tree .skill-tiers .skill-tier .skill-container {
  margin-top: 40px;
}

.skill-tree .skill-tiers .skill-tier .skill-container > * {
  align-items: center;
}

.skill-tree .skill-tiers .skill-tier .skill-container > * > bb-any {
  width: fit-content;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill > * {
  flex-direction: row !important;
  align-items: center;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-left {
  position: relative;
  border-radius: 5px;
  width: 72px;
  height: 72px;
  color: white;
  font-size: 11px;
  padding: 5px;
  margin: auto;
  word-break: break-word;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-left .skill-name {
  color: white;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-left .skill-post {
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: white;
  font-size: 90%;
  background: rgba(102, 102, 102, 0.7);
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-left .skill-collab {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-right {
  width: 140px;
  margin-left: 10px;
  white-space: nowrap;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-right .skill-right-cost > *,
.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-right .skill-right-cost .skill-right-cost-token > * {
  flex-direction: row !important;
  align-items: center;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-right .skill-right-cost {
  margin-top: 10px;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-right .skill-right-cost .skill-right-cost-token {
  width: fit-content;
  margin-left: 5px;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill .skill-right .skill-right-cost .skill-right-cost-token .skill-right-cost-token-img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-top: 4px;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill-dependencies > * {
  align-items: center;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill-dependencies > * bb-any {
  width: fit-content;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill-dependencies .skill-dependency {
  font-size: 11px !important;
}

.skill-tree .skill-tiers .skill-tier .skill-container .skill-dependencies .skill-dependency.first {
  margin-top: 10px;
}