<div id="viewEditor">
  <ng-container *ngIf="!loading">

    <!-- Helper -->
    <div class="side_helper">
      <div id="open_helper" (click)="help = !help; clickedHelpOnce = true">
        <span class="help icon"></span>
        <span id="arrow" class="open icon"></span>
      </div>
      <div id="helper_content" [ngClass]="{'visible': help, 'invisible': !help && clickedHelpOnce}">
        <span><a target="_blank" [routerLink]="'/docs/views'">About Views</a></span>
        <span><a target="_blank" [routerLink]="'/docs/functions'">Available Functions</a></span>
      </div>
    </div>

    <!-- Breadcrumbs -->
    <div id="page_history">
      <span class="clickable" (click)="goToViews()">Views</span>
      <div class="go_back icon" (click)="goToViews()"></div>

      <span class="clickable" (click)="goToViews()">Templates</span>
      <div class="go_back icon"></div>

      <span>{{template.name}}</span>
      <span *ngIf="hasWarning" class="warning">{{warningMsg}}</span>
<!--      <span *ngIf="hasWarning" class="warning">The selected view is a reference for a template!</span> &lt;!&ndash; TODO &ndash;&gt;-->
    </div>

    <!-- Action buttons -->
    <div class="action-buttons" id="view_editor_actions"
         [ngStyle]="{'width': template.roleType === RoleTypeId.ROLE_SINGLE ? '450px' : '650px'}">

      <ng-container *ngIf="!isPreviewingView">
        <div class="editor-roles">
          <ng-container *ngIf="template.roleType === RoleTypeId.ROLE_INTERACTION">
            <div style="margin-right:5px;">User: </div>
            <select id="user_role" [(ngModel)]="selectedUserRole" (ngModelChange)="changeViewToShow()">
              <option *ngFor="let role of getRoles('user')" [ngValue]="role.name">{{role.name}}</option>
            </select>
          </ng-container>

          <div style="margin-right:5px;">View as: </div>
          <select id="viewer_role" [(ngModel)]="selectedViewerRole" (ngModelChange)="changeViewToShow()">
            <option *ngFor="let role of getRoles('viewer')" [ngValue]="role.name">{{role.name}}</option>
          </select>
        </div>

        <div id="undo_icon" class="icon undo_icon" [ngClass]="{'disabled': !canUndo()}" title="Redo"></div>
        <div id="redo_icon" class="icon redo_icon" [ngClass]="{'disabled': !canRedo()}" title="Redo"></div>

        <button [disabled]="!hasUnsavedChanges" (click)="saveChanges()">Save Changes</button>
        <button (click)="previewView()">Preview</button>
      </ng-container>

      <button *ngIf="isPreviewingView" (click)="isPreviewingView = false; hasWarning = false; warningMsg = null">Close<br> Preview</button>
    </div>

    <!-- Editor -->
    <div [ngClass]="{'editor': !isPreviewingView, 'preview': isPreviewingView}" clickedOutside (clickedOutside)="clearSelection()">

      <bb-any *ngIf="(!isPreviewingView && viewToShow) || (isPreviewingView && viewToPreview)" [view]="isPreviewingView ? viewToPreview : viewToShow"></bb-any>
      <div *ngIf="!isPreviewingView && !viewToShow" class="no-view">(Empty view)</div>

      <!-- Toolbar -->
      <div *ngIf="!isPreviewingView && selection.hasSelection()" class="edit-toolbar">
        <div class="tool btn" title="Edit part settings" (click)="toolbarBtnClicked('edit-settings')">
          <img src="assets/icons/edit_icon.svg" alt="">
        </div>
        <div *ngIf="selection.get().type === ViewType.BLOCK || selection.get().type === ViewType.TABLE"
             class="tool btn" title="Edit Layout" [ngClass]="{'red': (selection.get() | as : ViewBlock).isEditingLayout}"
             (click)="toolbarBtnClicked('edit-layout')">
          <img src="assets/icons/layout_editor_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Remove" (click)="toolbarBtnClicked('remove')">
          <img src="assets/icons/delete_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Switch part" (click)="toolbarBtnClicked('switch')">
          <img src="assets/icons/switch_part_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Duplicate" (click)="toolbarBtnClicked('duplicate')">
          <img src="assets/icons/duplicate_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Save as template" (click)="toolbarBtnClicked('save-as-template')">
          <img src="assets/icons/save_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Manage Aspects" (click)="toolbarBtnClicked('manage-aspects')">
          <img src="assets/icons/aspects_icon.svg" alt="">
        </div>
        <span id="editing_role">View Aspect: <br> {{selection.get().role}}</span>
      </div>
    </div>

  </ng-container>

  <!-- Loader -->
  <div *ngIf="loading" id="page-loading">
    <img src="../../../../../../../assets/loader/loader.gif" alt="loader">
  </div>
</div>


<!-- Edit Settings Modal -->
<ng-container *ngIf="isEditSettingsModalOpen">
  <app-modal
    [isModalOpen]="isEditSettingsModalOpen"
    [id]="'edit_part'"
    [templateRef]="editSettingsModal"
    (closeBtnClicked)="isEditSettingsModalOpen = false; hasModalOpen = false;"
    [actionInProgress]="saving">
  </app-modal>
</ng-container>

<ng-template #editSettingsModal>

  <div id="edit-container">

    <!-- Settings -->
    <div class="settings-overlay">
      <div class="title">Edit Part Settings:</div>

      <!-- Styling/Misc -->
      <ng-container [ngTemplateOutlet]="stylingAndMisc"></ng-container>

      <!-- Visibility -->
      <ng-container [ngTemplateOutlet]="visibility"></ng-container>

      <!-- Events -->
      <ng-container [ngTemplateOutlet]="events"></ng-container>
    </div>

    <!-- Helper -->
    <div class="help-right-box">

      <div class="help-box">
        <div style="margin-bottom: .5rem"><span style="font-size: 16px; font-weight: 500;">Helper</span></div>
        <div id="expression-functions">
          <!-- TODO -->
        </div>
      </div>

      <div class="preview-box">
        <button id="preview-exp-button" (click)="isPreviewExpressionModalOpen = true">Preview Expression</button>
      </div>
    </div>
  </div>

  <div class="confirmation_btns">
    <button class="cancel" (click)="isEditSettingsModalOpen = false; hasModalOpen = false;">Cancel</button>
    <button (click)="saveEdit()">Save</button>
  </div>

</ng-template>

<ng-template #stylingAndMisc>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Styling/Misc</span></div></div>

    <!-- Style -->
    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'style', title: 'Define CSS code for the element', viewParam: 'style'}">
    </ng-container>

    <!-- ID -->
    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'cssId', title: 'Define the HTML id of the element', viewParam: 'cssId'}">
    </ng-container>

    <!-- Class -->
    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'class', title: 'Define the HTML class of the element', viewParam: 'class'}">
    </ng-container>

    <!-- Label -->
    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'label', title: 'Define a label for the part that can be used in events', viewParam: 'label'}">
    </ng-container>

  </div>
</ng-template>

<ng-template #visibility>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Visibility</span></div></div>

    <!-- Options -->
    <div class="visibility-options">
      <div *ngFor="let option of getVisibilityTypes()" class="option">
        <input id="option-{{option}}" type="radio" name="visibility" class="clickable" [(ngModel)]="viewToEdit.visibilityType" (ngModelChange)="changeVisibility()" [value]="option">
        <label for="option-{{option}}" class="clickable">{{option != VisibilityType.CONDITIONAL ? capitalize(option) : 'Visible by condition'}}</label>
      </div>
    </div>

    <!-- Condition -->
    <div *ngIf="viewToEdit.visibilityType === VisibilityType.CONDITIONAL">
      <ng-container
        [ngTemplateOutlet]="expressionInput"
        [ngTemplateOutletContext]="{label: 'condition', title: 'Define a condition that needs to be true for the element to appear', viewParam: 'visibilityCondition'}">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #events>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Events</span></div></div>

    <!-- Events -->
    <div *ngIf="getEvents().length > 0">
      <div *ngFor="let type of getEvents()">
        <div class="content">
          <div class="sb-expression">
            <label [for]="type">{{type}}</label>
            <textarea [id]="type" [title]="'Define the behaviour triggered by an event'" class="expression form__input" placeholder="Expression" [(ngModel)]="viewToEditEvents[type]"></textarea>
            <div class="content"><div class="icon delete_icon" (click)="deleteEvent(type)"></div></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add event -->
    <div *ngIf="getEventsAvailableToAdd().length > 0" class="sb-component">
      <label for="events-missing">Add Event:</label>
      <select class="form__input" id="events-missing" [(ngModel)]="eventToAdd">
        <option *ngFor="let eventType of getEventsAvailableToAdd()" [label]="eventType" [value]="eventType">{{eventType}}</option>
      </select>
      <button [disabled]="!eventToAdd" (click)="addEvent()">Add</button>
    </div>
  </div>
</ng-template>

<ng-template #expressionInput let-label='label' let-title='title' let-param='viewParam'>
  <div class="content">
    <div class="sb-expression">
      <label [for]="label">{{capitalize(label)}}</label>
      <textarea [id]="label" [title]="title" class="expression form__input" placeholder="Expression" [(ngModel)]="viewToEdit[param]"></textarea>
    </div>
  </div>
</ng-template>


<!-- Preview Expression Modal -->
<ng-container *ngIf="isPreviewExpressionModalOpen">
  <app-modal
    [isModalOpen]="isPreviewExpressionModalOpen"
    [id]="'open-preview'"
    [templateRef]="previewExpressionModal"
    (closeBtnClicked)="isPreviewExpressionModalOpen = false"
    [actionInProgress]="saving">
  </app-modal>
</ng-container>

<ng-template #previewExpressionModal>

</ng-template>


<!-- Verification Modal -->
<app-modal
  [isModalOpen]="isVerificationModalOpen"
  [id]="'message-api-box'"
  [classList]="'verification'"
  [templateRef]="verificationModal"
  (closeBtnClicked)="isVerificationModalOpen = false">
</app-modal>

<ng-template #verificationModal>
  <div class="message_warning warning">{{verificationText}}</div>
  <div class="confirmation_btns">
    <button (click)="isVerificationModalOpen = false">Confirm</button>
  </div>
</ng-template>
