<div id="viewEditor">
  <ng-container *ngIf="!loading">

    <!-- Helper -->
    <div class="side_helper">
      <div id="open_helper" (click)="help = !help; clickedHelpOnce = true">
        <span class="help icon"></span>
        <span id="arrow" class="open icon"></span>
      </div>
      <div id="helper_content" [ngClass]="{'visible': help, 'invisible': !help && clickedHelpOnce}">
        <span><a target="_blank" [routerLink]="'/docs/views'">About Views</a></span>
        <span><a target="_blank" [routerLink]="'/docs/functions'">Available Functions</a></span>
      </div>
    </div>

    <!-- Breadcrumbs -->
    <div id="page_history">
      <span class="clickable" (click)="goToViews()">Views</span>
      <div class="go_back icon" (click)="goToViews()"></div>

      <span class="clickable" (click)="goToViews()">Templates</span>
      <div class="go_back icon"></div>

      <span>{{template.name}}</span>
      <span *ngIf="hasWarning" class="warning">{{warningMsg}}</span>
<!--      <span *ngIf="hasWarning" class="warning">The selected view is a reference for a template!</span> &lt;!&ndash; TODO &ndash;&gt;-->
    </div>

    <!-- Action buttons -->
    <div class="action-buttons" id="view_editor_actions"
         [ngStyle]="{'width': template.roleType === RoleTypeId.ROLE_SINGLE ? '450px' : '650px'}">

      <ng-container *ngIf="!isPreviewingView">
        <div class="editor-roles">
          <ng-container *ngIf="template.roleType === RoleTypeId.ROLE_INTERACTION">
            <div style="margin-right:5px;">User: </div>
            <select id="user_role" [(ngModel)]="selectedUserRole" (ngModelChange)="changeViewToShow()">
              <option *ngFor="let role of getRoles('user')" [ngValue]="role.name">{{role.name}}</option>
            </select>
          </ng-container>

          <div style="margin-right:5px;">View as: </div>
          <select id="viewer_role" [(ngModel)]="selectedViewerRole" (ngModelChange)="changeViewToShow()">
            <option *ngFor="let role of getRoles('viewer')" [ngValue]="role.name">{{role.name}}</option>
          </select>
        </div>

        <div id="undo_icon" class="icon undo_icon" [ngClass]="{'disabled': !canUndo()}" title="Redo"></div>
        <div id="redo_icon" class="icon redo_icon" [ngClass]="{'disabled': !canRedo()}" title="Redo"></div>

        <button [disabled]="!hasUnsavedChanges" (click)="saveChanges()">Save Changes</button>
        <button (click)="previewView()">Preview</button>
      </ng-container>

      <button *ngIf="isPreviewingView" (click)="isPreviewingView = false; hasWarning = false; warningMsg = null">Close<br> Preview</button>
    </div>

    <!-- Editor -->
    <div [ngClass]="{'editor': !isPreviewingView, 'preview': isPreviewingView}" clickedOutside (clickedOutside)="clearSelection()">

      <bb-any *ngIf="(!isPreviewingView && viewToShow) || (isPreviewingView && viewToPreview)" [view]="isPreviewingView ? viewToPreview : viewToShow"></bb-any>
      <div *ngIf="!isPreviewingView && !viewToShow" class="no-view">(Empty view)</div>

      <!-- Toolbar -->
      <div *ngIf="!isPreviewingView && selection.hasSelection()" class="edit-toolbar">
        <div class="tool btn" title="Edit part settings" (click)="toolbarBtnClicked('edit-settings')">
          <img src="assets/icons/edit_icon.svg" alt="">
        </div>
        <div *ngIf="selection.get().type === ViewType.BLOCK || selection.get().type === ViewType.TABLE"
             class="tool btn" title="Edit Layout" [ngClass]="{'red': (selection.get() | as : ViewBlock).isEditingLayout || (selection.get() | as : ViewTable).isEditingLayout}"
             (click)="toolbarBtnClicked('edit-layout')">
          <img src="assets/icons/layout_editor_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Remove" (click)="toolbarBtnClicked('remove')">
          <img src="assets/icons/delete_icon.svg" alt="">
        </div>
        <div *ngIf="selection.get().type !== ViewType.ROW" class="tool btn" title="Switch part" (click)="toolbarBtnClicked('switch')">
          <img src="assets/icons/switch_part_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Duplicate" (click)="toolbarBtnClicked('duplicate')">
          <img src="assets/icons/duplicate_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Save as template" (click)="toolbarBtnClicked('save-as-template')">
          <img src="assets/icons/save_icon.svg" alt="">
        </div>
        <div class="tool btn" title="Manage Aspects" (click)="toolbarBtnClicked('manage-aspects')">
          <img src="assets/icons/aspects_icon.svg" alt="">
        </div>
        <span id="editing_role">View Aspect: <br> {{selection.get().role}}</span>
      </div>
    </div>

  </ng-container>

  <!-- Loader -->
  <div *ngIf="loading" id="page-loading">
    <img src="../../../../../../../assets/loader/loader.gif" alt="loader">
  </div>
</div>


<!-- Edit Settings Modal -->
<ng-container *ngIf="isEditSettingsModalOpen">
  <app-modal
    [isModalOpen]="isEditSettingsModalOpen"
    [id]="'edit_part'"
    [templateRef]="editSettingsModal"
    (closeBtnClicked)="isEditSettingsModalOpen = false; hasModalOpen = false;"
    [actionInProgress]="saving">
  </app-modal>
</ng-container>

<ng-template #editSettingsModal>

  <div id="edit-container">

    <!-- Settings -->
    <div class="settings-overlay">
      <div class="title">Edit {{capitalize(viewToEdit.type)}} Settings:</div>

      <!-- Content -->
      <ng-container *ngIf="viewToEdit.type === ViewType.TEXT || viewToEdit.type === ViewType.IMAGE || viewToEdit.type === ViewType.HEADER"
                    [ngTemplateOutlet]="content"
                    [ngTemplateOutletContext]="{type: viewToEdit.type === ViewType.TEXT ? 'text' : viewToEdit.type === ViewType.IMAGE ? 'image' : 'header'}">
      </ng-container>

      <!-- Chart Options -->
      <ng-container *ngIf="viewToEdit.type === ViewType.CHART"
                    [ngTemplateOutlet]="chartOptions">
      </ng-container>

      <!-- Variables -->
      <ng-container [ngTemplateOutlet]="variables"></ng-container>

      <!-- Loop Data -->
      <ng-container
        [ngTemplateOutlet]="loopData">
      </ng-container>

      <!-- Styling/Misc -->
      <ng-container [ngTemplateOutlet]="stylingAndMisc"></ng-container>

      <!-- Visibility -->
      <ng-container [ngTemplateOutlet]="visibility"></ng-container>

      <!-- Events -->
      <ng-container [ngTemplateOutlet]="events"></ng-container>
    </div>

    <!-- Helper -->
    <div class="help-right-box">

      <div class="help-box">
        <div style="margin-bottom: .5rem"><span style="font-size: 16px; font-weight: 500;">Helper</span></div>
        <div id="expression-functions">
          <!-- TODO -->
        </div>
      </div>

      <div class="preview-box">
        <button id="preview-exp-button" (click)="isPreviewExpressionModalOpen = true">Preview Expression</button>
      </div>
    </div>
  </div>

  <div class="confirmation_btns">
    <button class="cancel" (click)="isEditSettingsModalOpen = false; hasModalOpen = false;">Cancel</button>
    <button (click)="saveEdit()">Save</button>
  </div>

</ng-template>

<ng-template #loopData>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Loop Data</span></div></div>

    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'data', title: 'Data allows to repeat the element, for example to make lists', viewParam: 'loopData'}">
    </ng-container>
  </div>
</ng-template>

<ng-template #variables>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Variables</span></div></div>

    <!-- Variables -->
    <div *ngIf="getVariables().length > 0">
      <div *ngFor="let name of getVariables()">
        <div class="content">
          <div class="sb-expression">
            <label [for]="name">%{{name}}</label>
            <textarea [id]="name" [title]="'Define the value of a variables for the element'" class="expression form__input" placeholder="Expression" [(ngModel)]="viewToEditVariables[name]"></textarea>
            <div class="content"><div class="icon delete_icon" (click)="deleteVariable(name)"></div></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add variable -->
    <div class="sb-input">
      <label for="new-variable">New Key: %</label>
      <input class="form__input" id="new-variable" type="text" [(ngModel)]="variableToAdd">
      <button [disabled]="!variableToAdd" (click)="addVariable()">Add</button>
    </div>
  </div>
</ng-template>

<ng-template #content let-type='type'>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Content</span></div></div>

    <ng-container *ngIf="type === 'text' || type === 'image'">
      <!-- Value -->
      <ng-container
        [ngTemplateOutlet]="expressionInput"
        [ngTemplateOutletContext]="{label: type === 'text' ? 'value' : 'source', title: 'Define the contents of the view using the expression language', viewParam: type === 'text' ? 'value' : 'src'}">
      </ng-container>

      <!-- Link -->
      <div class="sb-checkbox">
        <input id="cb-link" type="checkbox" [(ngModel)]="linkEnabled">
        <label for="cb-link">Enable Link</label>
        <ng-container *ngIf="linkEnabled"
                      [ngTemplateOutlet]="expressionInput"
                      [ngTemplateOutletContext]="{label: 'link', title: 'Define the link url', viewParam: 'link'}">
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="type === 'header'">
      <!-- Image -->
      <div class="sb-expression">
        <label [for]="'image'">Image</label>
        <textarea [id]="'image'" [title]="'Define the header image'" class="expression form__input" placeholder="Expression"
                  [(ngModel)]="viewToEdit['image'].src"></textarea>
      </div>

      <!-- Title -->
      <div class="sb-expression">
        <label [for]="'title'">Title</label>
        <textarea [id]="'title'" [title]="'Define the header title'" class="expression form__input" placeholder="Expression"
                  [(ngModel)]="viewToEdit['title'].value"></textarea>
      </div>
    </ng-container>

  </div>
</ng-template>

<ng-template #stylingAndMisc>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Styling/Misc</span></div></div>

    <!-- Style -->
    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'style', title: 'Define CSS code for the element', viewParam: 'style'}">
    </ng-container>

    <!-- ID -->
    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'ID', title: 'Define the HTML id of the element', viewParam: 'cssId'}">
    </ng-container>

    <!-- Class -->
    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'class', title: 'Define the HTML class of the element', viewParam: 'class'}">
    </ng-container>

    <!-- Label -->
    <ng-container
      [ngTemplateOutlet]="expressionInput"
      [ngTemplateOutletContext]="{label: 'label', title: 'Define a label for the part that can be used in events', viewParam: 'label'}">
    </ng-container>

  </div>
</ng-template>

<ng-template #visibility>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Visibility</span></div></div>

    <!-- Options -->
    <div class="visibility-options">
      <div *ngFor="let option of getVisibilityTypes()" class="option">
        <input id="option-{{option}}" type="radio" name="visibility" class="clickable" [(ngModel)]="viewToEdit.visibilityType" (ngModelChange)="changeVisibility()" [value]="option">
        <label for="option-{{option}}" class="clickable">{{option != VisibilityType.CONDITIONAL ? capitalize(option) : 'Visible by condition'}}</label>
      </div>
    </div>

    <!-- Condition -->
    <ng-template [ngIf]="viewToEdit.visibilityType === VisibilityType.CONDITIONAL">
      <ng-container
        [ngTemplateOutlet]="expressionInput"
        [ngTemplateOutletContext]="{label: 'condition', title: 'Define a condition that needs to be true for the element to appear', viewParam: 'visibilityCondition'}">
      </ng-container>
    </ng-template>
  </div>
</ng-template>

<ng-template #events>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Events</span></div></div>

    <!-- Events -->
    <div *ngIf="getEvents().length > 0">
      <div *ngFor="let type of getEvents()">
        <div class="content">
          <div class="sb-expression">
            <label [for]="type">{{type}}</label>
            <textarea [id]="type" [title]="'Define the behaviour triggered by an event'" class="expression form__input" placeholder="Expression" [(ngModel)]="viewToEditEvents[type]"></textarea>
            <div class="content"><div class="icon delete_icon" (click)="deleteEvent(type)"></div></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add event -->
    <div *ngIf="getEventsAvailableToAdd().length > 0" class="sb-component">
      <label for="events-missing">Add Event:</label>
      <select class="form__input" id="events-missing" [(ngModel)]="eventToAdd">
        <option *ngFor="let eventType of getEventsAvailableToAdd()" [label]="eventType" [value]="eventType">{{eventType}}</option>
      </select>
      <button [disabled]="!eventToAdd" (click)="addEvent()">Add</button>
    </div>
  </div>
</ng-template>

<ng-template #expressionInput let-label='label' let-title='title' let-param='viewParam'>
  <div class="content">
    <div class="sb-expression">
      <label [for]="label">{{capitalize(label)}}</label>
      <div id="expression-input" style="width: calc(100% - 90px)">
        <app-input-code
          [id]="label"
          [title]="title"
          [classList]="'expression form__input'"
          [placeholder]="'Expression'"
          [mode]="'gc/exp-lang'"
          [options]="{
            lineNumbers: false,
            styleActiveLine: true,
            autohint: true,
            lineWrapping: true,
            theme: 'default'
          }"
          [init]="viewToEdit[param]"
          [canInit]="viewLoaded"
          (valueChange)="viewToEdit[param] = $event">
        </app-input-code>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #chartOptions>
  <div class="sb-menu section">
    <div class="divider"><div class="title"><span>Chart Options</span></div></div>

    <!-- Chart type -->
    <div class="sb-component">
      <label for="chart-type">Chart Type</label>
      <select class="form__input" id="chart-type" [(ngModel)]="viewToEdit['chartType']">
        <option *ngFor="let type of getChartTypes()" [label]="capitalize(type)" [value]="type">{{capitalize(type)}}</option>
      </select>
    </div>

    <!-- Chart provider -->
    <div *ngIf="viewToEdit['chartType'] === ChartType.LINE || viewToEdit['chartType'] === ChartType.BAR" class="sb-expression">
      <label [for]="'chart-provider'">Chart Provider</label>
      <input id="chart-provider" type="text" class="form__input" style="width: 37.5%" [placeholder]="'Set a provider'"
             [(ngModel)]="viewToEdit['info']['provider']">
    </div>

    <!-- Progress chart -->
    <div *ngIf="viewToEdit['chartType'] === ChartType.PROGRESS" class="progress">
      <div class="content">
        <div class="sb-expression">
          <label [for]="'chart-value'">Value</label>
          <div style="width: calc(100% - 90px)">
            <input id="chart-value" type="text" class="expression form__input" [placeholder]="'Expression'"
                   [(ngModel)]="viewToEdit['info']['value']">
          </div>
        </div>
      </div>

      <div class="content">
        <div class="sb-expression">
          <label [for]="'chart-max'">Max</label>
          <div style="width: calc(100% - 90px)">
            <input id="chart-max" type="text" class="expression form__input" [placeholder]="'Expression'"
                   [(ngModel)]="viewToEdit['info']['max']">
          </div>
        </div>
      </div>
    </div>

    <!-- Sparkline -->
    <div *ngIf="viewToEdit['chartType'] === ChartType.LINE" class="sb-checkbox">
      <input id="cb-info" type="checkbox" [(ngModel)]="viewToEdit['info']['spark']">
      <label for="cb-info">Enable Sparkline</label>
    </div>

    <!-- Star plot -->
    <ng-container *ngIf="viewToEdit['chartType'] === ChartType.STAR">

      <!-- Params -->
      <div *ngIf="getEvents().length > 0">
        <div *ngFor="let type of getEvents()">
          <div class="content">
            <div class="sb-expression">
              <label [for]="type">{{type}}</label>
              <textarea [id]="type" [title]="'Define the behaviour triggered by an event'" class="expression form__input" placeholder="Expression" [(ngModel)]="viewToEditEvents[type]"></textarea>
              <div class="content"><div class="icon delete_icon" (click)="deleteEvent(type)"></div></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add event -->
      <div *ngIf="getEventsAvailableToAdd().length > 0" class="sb-component">
        <label for="events-missing">Add Event:</label>
        <select class="form__input" id="events-missing" [(ngModel)]="eventToAdd">
          <option *ngFor="let eventType of getEventsAvailableToAdd()" [label]="eventType" [value]="eventType">{{eventType}}</option>
        </select>
        <button [disabled]="!eventToAdd" (click)="addEvent()">Add</button>
      </div>
    </ng-container>
  </div>
</ng-template>


<!-- Preview Expression Modal -->
<ng-container *ngIf="isPreviewExpressionModalOpen">
  <app-modal
    [isModalOpen]="isPreviewExpressionModalOpen"
    [id]="'open-preview'"
    [templateRef]="previewExpressionModal"
    (closeBtnClicked)="isPreviewExpressionModalOpen = false"
    [actionInProgress]="saving">
  </app-modal>
</ng-container>

<ng-template #previewExpressionModal>

</ng-template>


<!-- Add Part Modal -->
<ng-container *ngIf="isAddingPartModalOpen">
  <app-modal
    [isModalOpen]="isAddingPartModalOpen"
    [id]="'add_part'"
    [templateRef]="addPartModal"
    (closeBtnClicked)="isAddingPartModalOpen = false; partToAdd = null">
  </app-modal>
</ng-container>

<ng-template #addPartModal>
  <div class="content">

    <!-- Parts selection -->
    <div id="parts_selection">
      <div class="part_option" (click)="partToAdd = 'text'" [ngStyle]="{'opacity': partToAdd === 'text' ? 1 : 0.5}">
        <img [src]="'assets/icons/text_part_icon.svg'">
        <div class="part_label">Text</div>
      </div>
      <div class="part_option" (click)="partToAdd = 'block'" [ngStyle]="{'opacity': partToAdd === 'block' ? 1 : 0.5}">
        <img [src]="'assets/icons/block_part_icon2.svg'">
        <div class="part_label">Block</div>
      </div>
      <div class="part_option" (click)="partToAdd = 'image'" [ngStyle]="{'opacity': partToAdd === 'image' ? 1 : 0.5}">
        <img [src]="'assets/icons/image_part_icon.svg'">
        <div class="part_label">Image</div>
      </div>
      <div class="part_option" (click)="partToAdd = 'header'" [ngStyle]="{'opacity': partToAdd === 'header' ? 1 : 0.5}">
        <img [src]="'assets/icons/header_part_icon.svg'">
        <div class="part_label">Header</div>
      </div>
      <div class="part_option" (click)="partToAdd = 'table'" [ngStyle]="{'opacity': partToAdd === 'table' ? 1 : 0.5}">
        <img [src]="'assets/icons/table_part_icon.svg'">
        <div class="part_label">Table</div>
      </div>
      <div class="part_option" (click)="partToAdd = 'chart'" [ngStyle]="{'opacity': partToAdd === 'chart' ? 1 : 0.5}">
        <img [src]="'assets/icons/chart_part_icon.svg'">
        <div class="part_label">Chart</div>
      </div>
      <div class="part_option" (click)="getMatchingTemplates(); this.partToAdd = 'template';" [ngStyle]="{'opacity': partToAdd === 'template' ? 1 : 0.5}">
        <img [src]="'assets/icons/template_part_icon.svg'">
        <div class="part_label">Template</div>
      </div>
    </div>

    <!-- Template selection -->
    <ng-container *ngIf="matchingTemplates && partToAdd === 'template'">
      <span *ngIf="!matchingTemplates.length" class="warning">There are no templates matching role type and roles.</span>
      <div *ngIf="matchingTemplates.length" id="template_selection">

        <select id="templateList" class="form__input" [(ngModel)]="templateToAdd">
          <option disabled [value]="undefined">Select a template</option>
          <option *ngFor="let template of matchingTemplates" [value]="template.id">{{template.name}}</option>
        </select>

        <div class="on_off">
          <span>Use Template by reference </span>
          <label class="switch">
            <input id="isRef" type="checkbox" [(ngModel)]="useByRef">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </ng-container>

    <button [disabled]="!partToAdd || (partToAdd === 'template' && !templateToAdd)" class="save_btn" (click)="editLayout(isSwitching ? 'switch' : 'block')">Add Item</button>
  </div>
</ng-template>


<!-- Save View As Template Modal -->
<ng-container *ngIf="isSavingPartAsTemplate">
  <app-modal
    [isModalOpen]="isSavingPartAsTemplate"
    [id]="'save_as_template'"
    [templateRef]="saveViewAsTemplateModal"
    (closeBtnClicked)="isSavingPartAsTemplate = false; viewToSave = null; templateName = null">
  </app-modal>
</ng-container>

<ng-template #saveViewAsTemplateModal>
  <div class="content">
    <div class="title">Save Part as Template: </div>

    <div class="content">

      <!-- Template name -->
      <div class="full">
        <input type="text" class="form__input" id="templateName" placeholder="Template Name *" [(ngModel)]="templateName">
        <label for="templateName" class="form__label">Template Name</label>
      </div>

      <!-- Save as ref -->
      <div class="on_off">
        <span>Save as reference </span>
        <label class="switch">
          <input id="isRef2" type="checkbox" [(ngModel)]="useByRef">
          <span class="slider round"></span>
        </label>
      </div>

      <button [disabled]="!templateName" class="save_btn" (click)="saveAsTemplate()">Save</button>
    </div>
  </div>
</ng-template>


<!-- Message Modal -->
<app-modal
  [isModalOpen]="isMessageModalOpen"
  [id]="'message-api-box'"
  [classList]="'verification'"
  [templateRef]="messageModal"
  (closeBtnClicked)="isMessageModalOpen = false">
</app-modal>

<ng-template #messageModal>
  <div class="message_warning warning">{{messageText}}</div>
  <div class="confirmation_btns">
    <button (click)="isMessageModalOpen = false">Confirm</button>
  </div>
</ng-template>


<!-- Verification Modal -->
<app-verification-modal
  [isModalOpen]="isVerificationModalOpen"
  [id]="'submit_delete_view'"
  [text]="verificationText"
  [positiveBtnText]="'Delete'"
  (positiveBtnClicked)="deleteView(viewToEdit)"
  (negativeBtnClicked)="verificationText = null; isVerificationModalOpen = false; hasModalOpen = false;"
  (closeBtnClicked)="verificationText = null; isVerificationModalOpen = false; hasModalOpen = false;"
>
</app-verification-modal>
