<div class="body">
  <div class="background"></div>
  <div class="login_box">
    <div id="logo"></div>
    <h3>Login using:</h3>
    <form>

      <div class="block">
        <div class="hovicon effect-1 sub-a">
          <input name="Fenix" id="Fenix" type="button" class="icon" value="Fenix">
        </div>
      </div>
      <div class="block">
        <div class="hovicon effect-1 sub-a">
          <input name="Google" id="Google" type="button" class="icon" value="Google">
        </div>
      </div>
      <div class="block">
        <div class="hovicon effect-1 sub-a">
          <input name="Facebook" id="Facebook" type="button" class="icon" value="Facebook">
        </div>
      </div>
      <div class="block">
        <div class="hovicon effect-1 sub-a">
          <input name="Linkedin" id="Linkedin" type="button" class="icon" value="Linkedin">
        </div>
      </div>

    </form>
  </div>

</div>
