<div class="data-table">
  <!-- Table -->
  <table [id]="id" class="hover order-column {{classList}}">

    <!-- Table: header -->
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{header}}</th>
        <th *ngIf="actions">actions</th>
      </tr>
    </thead>

    <!-- Table: body -->
    <tbody>
      <tr *ngFor="let tr of data; let i = index">
        <td *ngFor="let td of tr; let col = index">{{td}}</td>
        <td *ngIf="actions">
          <img *ngIf="actions.includes(TableAction.EDIT)" src="assets/icons/edit_icon.svg" title="Edit" class="icon" (click)="btnClicked.emit({action: TableAction.EDIT, row: i})">
          <img *ngIf="actions.includes(TableAction.DELETE)" src="assets/icons/delete_icon.svg" title="Delete" class="icon" (click)="btnClicked.emit({action: TableAction.DELETE, row: i})">
          <img *ngIf="actions.includes(TableAction.VIEW)" src="assets/icons/preview-icon.svg" title="View" class="icon" (click)="btnClicked.emit({action: TableAction.VIEW, row: i})">
        </td>
      </tr>
    </tbody>

    <!-- Table: footer -->
    <tfoot *ngIf="footers">
      <tr>
        <th *ngFor="let footer of footers">{{footer}}</th>
        <th *ngIf="actions">Actions</th>
      </tr>
    </tfoot>

  </table>
</div>
