<!-- Header -->
<app-header [title]="'About'" [icon]="'feather-info'"></app-header>

<div class="flex flex-col items-center gap-4">
  <!-- Logo -->
  <img class="w-96"
    [src]="getDefaultLogoImg()"
    alt="" />

  <div class="max-w-96 flex flex-col gap-4">

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">A Gamification System for Courses</h2>
        <p class="mt-2">Interface created with Angular 13 and <a href="https://daisyui.com/" class="link">DaisyUI</a></p>
        <p class="mt-2"><span class="font-semibold">Version </span>2.0.0</p>
        <a class="rounded-full btn btn-secondary mt-2 mx-auto tooltip tooltip-bottom font-normal text-base normal-case" data-tip="Visit our Github"
          href="https://github.com/GameCourseProject/gamecourse">
          <ng-icon name="feather-github" class="text-primary-content mt-3" size="1.5rem"/>
        </a>
      </div>
    </div>
    
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <p class="mx-auto">Since 2010 @ IST</p>
      </div>
    </div>

  </div>
</div>