<app-modal
  [isModalOpen]="isModalOpen"
  [id]="id"
  [classList]="'verification ' + classList"
  [templateRef]="verificationModal"
  (closeBtnClicked)="isModalOpen = false; closeBtnClicked.emit()"
  [actionInProgress]="actionInProgress"
  [innerClickEvents]="innerClickEvents">
</app-modal>

<ng-template #verificationModal>
  <div class="warning">{{text}}</div>
  <div class="target">{{target}}</div>
  <div class="confirmation_btns">
    <button class="cancel" (click)="negativeBtnClicked.emit()">{{negativeBtnText}}</button>
    <button class="continue" (click)="positiveBtnClicked.emit()">{{positiveBtnText}}</button>
  </div>
</ng-template>
