.table {
  position: relative;
  border-radius: 5px;
  overflow: auto;

  table {
    width: 100%;
    border-spacing: 2px;
    padding: 5px;
    background-color: #cfcfcf;

    tr {
      background-color: white;
      transition: all .3s ease;

      th {
        text-align: left;
      }

      th, td {
        padding: 20px 10px;
      }
    }
  }
}
