<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<main class="relative transition-all duration-200 ease-in-out px-5 sm:px-8 lg:pl-80 lg:pr-8 pt-16 pb-8 bg-base-200
      overflow-y-auto scrollbar-track-base-200"
      [ngClass]="isInsideCourse() ? 'h-[calc(100vh-7.5rem)] lg:h-[calc(100vh-5rem)]' : 'h-[calc(100vh-5rem)]'">

  <router-outlet></router-outlet>

  <!-- Overlay -->
  <div id="sidebar-overlay" (click)="sidebar.close()"
       class="hidden fixed top-0 left-0 h-screen w-screen overflow-hidden bg-black bg-opacity-40 transition-all z-30"></div>
</main>

<app-autogame-toast *ngIf="isInsideCourse()"></app-autogame-toast>
