<div class="w-full relative">
  <!-- Header -->
  <app-header [title] = "'Adaptation'" [icon] = "'tabler-puzzle'"
              [loading] = "loading.action" ></app-header>

  <ng-container *ngIf="!loading.page">
    <!-- Admin Template -->
    <ng-container *ngIf="false" [ngTemplateOutlet]="ADMIN"></ng-container>

    <!-- Non-Admin Template -->
    <ng-container *ngIf="true" [ngTemplateOutlet]="NON_ADMIN"></ng-container>
  </ng-container>

</div>

<!-- Admin Template -->
<ng-template #ADMIN>
  <div class="w-full">
    <app-table
      [id] = "'gameElements'"
      [classList]="'mt-5'"
      [headers] = "headersAdmin"
      [data] = "data"
      [options] = "tableOptionsAdmin"
      [loading] = "loading.table"
      (btnClicked)="doActionOnTable($event.type, $event.row, $event.col)"
      (valueChanged)="doActionOnTable('value changed game element', $event.row, $event.col, $event.value)">
    </app-table>

    <!-- Loader -->
    <app-loader [loading] = "loading.page"></app-loader>
  </div>
</ng-template>

<app-modal *ngIf="adminMode && gameElementToManage"
   [id] = "'manage-game-element'"
   [templateRef]="MANAGE_GAME_ELEMENT"
   [size] = "'md'"
   [header] = "adminMode?.capitalize() + ' ' + gameElementToManage.module + '?'"
   [submitBtnText]="adminMode?.capitalize()"
   [actionInProgress]="loading.action"
   (submitBtnClicked)="f.onSubmit(null); toggleActive()"
   (onClose)="resetGameElementManage(); buildTable()">
</app-modal>

<ng-template #MANAGE_GAME_ELEMENT>
  <form #f="ngForm">
    <div class="w-full flex flex-wrap mt-3">
      <span>By doing so:<br>- <i>{{gameElementToManage.module}} Preference Questionnaire </i> <strong>will
        <span *ngIf="gameElementToManage.isActive"> no longer</span> be available</strong> to students.<br>
        - {{gameElementToManage.module}} will be <strong *ngIf="!gameElementToManage.isActive">open</strong>
        <strong *ngIf="gameElementToManage.isActive">closed</strong> to customization.
      </span>
      <div *ngIf="!gameElementToManage.isActive">
        <!-- Notification -->
        <div class="sm:pr-7 w-full">
          <app-input-checkbox
            [id]="'notification'"
            [form] = "f"
            [(value)]="gameElementToManage.notify"
            [color]="'accent'"
            [classList]="'mt-2'"
            [label]="'Notify students'"
            [labelPosition]="'right'"
          ></app-input-checkbox>
        </div>
        <span class="flex text-xs justify-end mt-2 -mb-1">These changes will be removed once {{gameElementToManage.module}} is deactivated</span>
      </div>
    </div>

  </form>
</ng-template>

<!-- Non-Admin Template -->
<ng-template #NON_ADMIN>
  <div *ngIf="isQuestionnaire" class="w-full flex-wrap flex mb-6">
    <app-header class="w-full" [classList]="'mt-2'" [subHeader]="true" [title]="'Welcome to Adaptation page!'"></app-header>
    <span class="w-full">Here you will be able to <strong>custom</strong> different game elements in GameCourse.</span>
    <span class="w-full">But first... you have some unanswered questionnaires!</span>

    <app-table
      class="w-full"
      [id] = "'gameElements'"
      [classList]="'mt-5'"
      [headers] = "headers"
      [data] = "data"
      [options] = "tableOptions"
      [loading] = "loading.table"
      [hasColumnFiltering] = "false"
      [hasFooters]="false"
      (btnClicked)="doActionOnTable('answer questionnaire', $event.row, $event.col)">
    </app-table>
  </div>

    <div class="carousel w-full">
      <div id="item1" class="carousel-item">
        <img class="p-3 pt-5 rounded max-w-md" src="assets/imgs/no-image.png" alt="previous user preference"/>
      </div>
      <div id="item2" class="carousel-item">
        <img class="p-3 pt-5 rounded max-w-md" src="assets/imgs/no-image.png" alt="previous user preference"/>
      </div>
    </div>
    <div class="flex justify-center w-full py-2 gap-2">
      <a href="#item1" class="btn btn-xs">1</a>
      <a href="#item2" class="btn btn-xs">2</a>
    </div>

  <div *ngIf="isQuestionnaire === false">
    <div class="mt-6 sm:w-1/2">
      <app-input-select
        [id]="'game-elements'"
        [(value)] = "selectedGameElement"
        [options] = "availableGameElementsSelect"
        [multiple] = "false"
        [search] = "true"
        [placeholder]="'Select game element'"
        [topLabel]="'Choose a game element to adapt'"
        (valueChange)="selectedGameElement = $event ?? []; preparePreferences(selectedGameElement)"
      ></app-input-select>
    </div>

    <div *ngIf = "selectedGameElement" class="w-full flex flex-wrap mt-7">

      <div class="sm:w-5/12">
        <strong *ngIf="message">CURRENT</strong>
        <div *ngIf="!message">
          <strong>CURRENT - [OPTION {{previousPreference}}]</strong>
          <img class="p-3 pt-5 rounded max-w-md" src="assets/imgs/no-image.png" alt="previous user preference"/>
        </div>

        <div *ngIf="message && previousPreference">{{message}}
        </div>
      </div>

      <div class="divider divider-horizontal rounded bg-base-200"></div>

      <div class="sm:w-5/12">
        <div *ngIf="gameElementChildren">
          <div class="btn-group flex justify-start sm:mr-[6rem]">
            <strong class="mr-1">NEW -</strong>Options available:
            <div *ngFor="let option of gameElementChildren; let i = index" class="pl-2">
              <input type = "button"
                     class="btn-sm rounded-lg btn-{{getButtonColor(i)}} px-2 text-white"
                     value="{{option}}"
                     (click) = "setButtonActive(i); doAction('set option', option)"/>
            </div>
          </div>
        </div>

        <div *ngIf="!gameElementChildren"><strong>NEW</strong></div>

        <img *ngIf="gameElementChildren && activeButton !== null" class="p-3 rounded max-w-sm" src="assets/imgs/no-image.png" alt="previous user preference"/>
      </div>

    </div>

    <!-- Actions -->
    <div *ngIf="selectedGameElement" style="position:relative; bottom:0; right: 0;">
      <div class="flex items-center justify-end mt-6 sm:mr-[6rem]">
        <button type="button" class="btn btn-ghost mr-2" (click)="activeButton= null;">Discard</button>
        <button type="submit" class="btn btn-primary" (click)="updatePreference()">
          <!-- Spinner -->
          <ng-container *ngIf="loading.action">
            <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
          </ng-container>
          Save preferences
        </button>
      </div>
      <p class="flex text-xs justify-end mt-2 sm:mr-[6rem]">Above actions will only work on current game element</p>
    </div>
  </div>
</ng-template>


<app-preference-questionnaire
  *ngIf="mode"
  [course] = "course"
  [user] = "user"
  [gameElement]="gameElementToActOn"
  [questionnaires]="questionnaires"
  (questionnairesAfterSubmit)="this.questionnaires = $event; doAction('prepare non-admin page')">
</app-preference-questionnaire>

<app-modal
  [id] = "'all-questionnaires-submitted'"
  [templateRef]="ALL_QUESTIONNAIRES_SUBMITTED"
  [size] = "'md'"
  [header]="'You answered all questionnaires!'"
  [actionInProgress] = "loading.action"
  (submitBtnClicked)="doAction('show game elements')"
  [submitBtnText]="'Ok'"
  [headerMarginBottom]="true"
  [closeBtn]="false"
  [xButton]="false"
></app-modal>

<ng-template #ALL_QUESTIONNAIRES_SUBMITTED>
  <div class="w-full flex flex-wrap">
    <!--<div class="w-full flex flex-wrap border-b border-gray-200 mb-4">
      <span class="text-sm mb-2">Thank you for your feedback!</span>
    </div>-->
    <span>Thank you for your feedback!</span>
    <span>You can now customize your own game elements below. Have fun!</span>
    <!--<span class="text-sm"> Note: Beware, this option might not always be available</span>-->
  </div>
</ng-template>








