<div class="w-full relative">
  <!-- Header -->
  <app-header [title] = "'Adaptation'" [icon] = "'tabler-puzzle'"
              [loading] = "loading.action" ></app-header>

  <ng-container *ngIf="!loading.page">
    <!-- Admin Template -->
    <ng-container *ngIf="true" [ngTemplateOutlet]="ADMIN"></ng-container>

    <!-- Non-Admin Template -->
    <ng-container *ngIf="false" [ngTemplateOutlet]="NON_ADMIN"></ng-container>
  </ng-container>

</div>

<!-- Admin Template -->
<ng-template #ADMIN>
  <div class="w-full relative">
    <app-table
      [id] = "'gameElements'"
      [classList]="'mt-5'"
      [headers] = "headers"
      [data] = "data"
      [options] = "tableOptions"
      [loading] = "loading.table"
      (btnClicked)="doActionOnTable($event.type, $event.row, $event.col)"
      (valueChanged)="doActionOnTable('value changed game element', $event.row, $event.col, $event.value)">
    </app-table>

    <!-- Loader -->
    <app-loader [loading] = "loading.page"></app-loader>
  </div>
</ng-template>

<app-modal *ngIf="mode && gameElementToManage"
   [id] = "'manage-game-element'"
   [templateRef]="MANAGE_GAME_ELEMENT"
   [size] = "'md'"
   [header] = "mode?.capitalize() + ' ' + gameElementToManage.module"
   [submitBtnText]="mode?.capitalize()"
   [actionInProgress]="loading.action"
   (submitBtnClicked)="c.onSubmit(null); updateGameElement()"
   (onClose)="resetGameElementManage()">
</app-modal>

<ng-template #MANAGE_GAME_ELEMENT>
  <form #c="ngForm">
    <div class="w-full flex flex-wrap mt-3">

      <!-- Users -->
      <div class="w-full flex flex-wrap pb-4">
        <p class="w-full font-semibold">Users who can customize {{gameElementToManage.module}}</p>
        <div class="sm:w-3/12">
          <app-input-radio
            [id]="'all-users'"
            [group] = "'users'"
            [form] = "c"
            [(value)]="usersMode"
            [optionValue] = "'all-users'"
            [color]="'secondary'"
            [classList]="'mt-2'"
            [label]="' All students'"
            [labelPosition]="'right'"
            (valueChange)="manageUsersMode()"
          ></app-input-radio>
        </div>

        <div class="sm:w-4/12">
          <app-input-radio
            [id]="'all-except-users'"
            [group] = "'users'"
            [form] = "c"
            [(value)]="usersMode"
            [optionValue] = "'all-except-users'"
            [color]="'secondary'"
            [classList]="'mt-2'"
            [label]="'All students except...'"
            [labelPosition]="'right'"
            (valueChange)="manageUsersMode()"
          ></app-input-radio>
        </div>
        <div class="sm:w-5/12 px-1">
          <app-input-radio
            [id]="'only-some-users'"
            [group] = "'users'"
            [form] = "c"
            [(value)]="usersMode"
            [optionValue]="'only-some-users'"
            [color]="'secondary'"
            [classList]="'mt-2'"
            [label]="'Only some students...'"
            [labelPosition]="'right'"
            (valueChange)="manageUsersMode()"
          ></app-input-radio>
        </div>

        <!-- FIXME: incomplete ? -->
        <app-input-select
          class="w-full sm:pr-7 mt-3"
          *ngIf="usersMode === 'all-except-users' || usersMode === 'only-some-users'"
          [id]="'users-select'"
          [(value)] = "gameElementToManage.users"
          [options] = "courseUsersSelect"
          [multiple] = "true"
          [search] = "true"
          [placeholder]="'Select users'"
          [closeOnSelect]="false"
          (valueChange)="gameElementToManage.users = $event ?? []"
        ></app-input-select>
      </div>

      <!-- NDays -->
      <div class="w-full flex-wrap mt-3 pb-4">
        <p class="pb-3 font-semibold">Nº days '{{gameElementToManage.module}}' is customizable after made editable</p>
        <div class="sm:w-1/2 sm:pr-7">
          <app-input-periodicity
            [id]="'n-days'"
            [form] = "c"
            [(value)]="periodicity"
            [filterOptions]="['second', 'minute', 'hour', 'week', 'month', 'year']">
          </app-input-periodicity>
        </div>
      </div>

      <!-- Notification -->
      <div class="sm:pr-7 w-full">
        <app-input-checkbox
          [id]="'notification'"
          [form] = "c"
          [(value)]="gameElementToManage.notify"
          [color]="'accent'"
          [classList]="'mt-2'"
          [label]="'Send notification to students'"
          [labelPosition]="'right'"
        ></app-input-checkbox>
      </div>
    </div>
  </form>
</ng-template>

<!-- Non-Admin Template -->
<ng-template #NON_ADMIN>

  <div class="sm:w-1/2">
    <app-input-select
      [id]="'game-elements'"
      [(value)] = "selectedGameElement"
      [options] = "availableGameElementsSelect"
      [multiple] = "false"
      [search] = "true"
      [placeholder]="'Select game element'"
      [topLabel]="'Choose a game element to adapt'"
      (valueChange)="selectedGameElement = $event ?? []; preparePreferences(selectedGameElement)"
    ></app-input-select>
  </div>

  <div *ngIf = "selectedGameElement" class="w-full flex flex-wrap mt-7">

    <div class="sm:w-5/12">
      <strong *ngIf="message">CURRENT</strong>
      <strong *ngIf="!message">CURRENT - [OPTION {{previousPreference}}]</strong>

      <div *ngIf="message && previousPreference">{{message}}</div>
    </div>

    <div class="divider divider-horizontal rounded bg-base-200"></div>

    <div class="sm:w-5/12">
      <strong>NEW</strong>

      <div *ngIf="gameElementChildren" class="btn-group flex justify-start sm:mr-[6rem] mt-2">Options available:
        <div *ngFor="let option of gameElementChildren; let i = index" class="pl-2">
          <input type = "button"
                 class="btn-sm rounded-lg btn-{{getButtonColor(i)}} px-2 text-white"
                 value="Option {{i+1}}"
                 (click) = "setButtonActive(i); doAction(option)"/>
        </div>
      </div>
      <strong *ngIf="activeButton != null">{{option.capitalize()}}</strong>
    </div>

  </div>

  <!-- Actions -->
  <div *ngIf="selectedGameElement">
    <div class="flex items-center justify-end mt-6 sm:mr-[6rem]">
      <button type="button" class="btn btn-ghost mr-2" (click)="activeButton= null;">Discard</button>
      <button type="submit" class="btn btn-primary" (click)="save()">
        <!-- Spinner -->
        <ng-container *ngIf="loading.action">
          <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
        </ng-container>
        Save preferences
      </button>
    </div>
    <p class="flex text-xs justify-end mt-2 sm:mr-[6rem]">Above actions will only work on current game element</p>
  </div>

</ng-template>




