<div class="w-full relative">
  <!-- Header -->
  <app-header [title] = "'Adaptation'" [icon] = "'tabler-puzzle'"
              [loading] = "loading.action" ></app-header>

  <ng-container *ngIf="!loading.page">
    <!-- Admin Template -->
    <ng-container *ngIf="false" [ngTemplateOutlet]="ADMIN"></ng-container>

    <!-- Non-Admin Template -->
    <ng-container *ngIf="true" [ngTemplateOutlet]="NON_ADMIN"></ng-container>
  </ng-container>

</div>

<!-- Admin Template -->
<ng-template #ADMIN>
  <div class="w-full relative">
    <app-table
      [id] = "'gameElements'"
      [classList]="'mt-5'"
      [headers] = "headers"
      [data] = "data"
      [options] = "tableOptions"
      [loading] = "loading.table"
      (btnClicked)="doActionOnTable($event.type, $event.row, $event.col)"
      (valueChanged)="doActionOnTable('value changed game element', $event.row, $event.col, $event.value)">
    </app-table>

    <!-- Loader -->
    <app-loader [loading] = "loading.page"></app-loader>
  </div>
</ng-template>

<app-modal *ngIf="mode && gameElementToManage"
   [id] = "'manage-game-element'"
   [templateRef]="MANAGE_GAME_ELEMENT"
   [size] = "'md'"
   [header] = "mode?.capitalize() + ' \'' + gameElementToManage.module + '\''"
   [submitBtnText]="mode?.capitalize()"
   [actionInProgress]="loading.action"
   (submitBtnClicked)="c.onSubmit(null); updateGameElement()"
   (onClose)="resetGameElementManage()">
</app-modal>

<ng-template #MANAGE_GAME_ELEMENT>
  <form #c="ngForm">
    <div class="w-full flex-wrap mt-3">
      <div class="w-full sm:pr-7">
        <!-- NDays -->
        <app-input-number
          [id]="'n-days'"
          [form] = "c"
          [(value)]="gameElementToManage.nDays"
          [placeholder]="'Number of days'"
          [topLabel]="'Number of days is editable'"
          [helperPosition]="'right'"
          [helperText]="'Number of days students can customize this game element after it is made editable.'"
          [maxValue]="10">
        </app-input-number>

        <!-- Notification -->
        <app-input-checkbox
          [id]="'notification'"
          [form] = "c"
          [(value)]="gameElementToManage.notify"
          [color]="'secondary'"
          [classList]="'mt-2'"
          [label]="'Send notification students once is made editable.'"
          [labelPosition]="'right'"
        ></app-input-checkbox>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #NON_ADMIN>

  <div class="sm:w-1/2">
    <app-input-select
      [id]="'game-elements'"
      [(value)] = "selectedGameElement"
      [options] = "availableGameElementsSelect"
      [multiple] = "false"
      [search] = "true"
      [placeholder]="'Select game element'"
      [topLabel]="'Choose a game element to adapt'"
      (valueChange)="selectedGameElement = $event ?? []; preparePreferences(selectedGameElement)"
    ></app-input-select>
  </div>

  <div *ngIf = "selectedGameElement" class="w-full flex flex-wrap mt-7">

    <div class="sm:w-5/12">
      <strong *ngIf="message">CURRENT</strong>
      <strong *ngIf="!message">CURRENT - [OPTION {{previousPreference}}]</strong>

      <div *ngIf="message && previousPreference !== null">{{message}}</div>
    </div>

    <div class="divider divider-horizontal rounded bg-base-200"></div>

    <div class="sm:w-5/12">
      <strong>NEW</strong>

      <div *ngIf="gameElementChildren" class="btn-group flex justify-start sm:mr-[6rem] mt-2">Options available:
        <div *ngFor="let option of gameElementChildren; let i = index" class="pl-2">
          <input type = "button"
                 class="btn-sm rounded-lg btn-{{getButtonColor(i)}} px-2 text-white"
                 value="Option {{i+1}}"
                 (click) = "setButtonActive(i); doAction(option)"/>
        </div>
      </div>
      <strong *ngIf="activeButton != null">{{option.capitalize()}}</strong>
    </div>

  </div>

  <!-- Actions -->
  <div class="flex items-center justify-end mt-6 sm:mr-[6rem]">
    <button type="button" class="btn btn-ghost mr-2" (click)="discard()">Discard changes</button>
    <button type="submit" class="btn btn-primary" (click)="save()">
      <!-- Spinner -->
      <ng-container *ngIf="loading.action">
        <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
      </ng-container>
      Save preferences
    </button>
  </div>
</ng-template>




