<div class="form-control w-fit {{classList}}">

  <!-- Only Checkbox -->
  <ng-container *ngIf="!label" [ngTemplateOutlet]="ONLY_TOGGLE"></ng-container>

  <!-- With Left Label -->
  <ng-container *ngIf="label" [ngTemplateOutlet]="WITH_LABEL"></ng-container>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && toggle.invalid" class="label">
    <span *ngIf="toggle.errors.required" class="label-text-alt">{{requiredErrorMessage}}</span>
  </label>

</div>

<ng-template #TOGGLE>
  <input
    type="checkbox"
    id="{{id}}"
    name="{{id}}"
    class="toggle {{ToggleSize[size]}} {{ToggleColor[color]}}"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value)"
    [checked]="value"
    [required]="required"
    [disabled]="disabled"
    #toggle="ngModel"
    [ngClass]="{'checkbox-error': form && form.submitted && toggle.invalid}"
  />
</ng-template>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #ONLY_TOGGLE>
  <ng-container [ngTemplateOutlet]="TOGGLE"></ng-container>
</ng-template>

<ng-template #WITH_LABEL>
  <div class="flex items-center justify-start cursor-pointer gap-2">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <label class="label cursor-pointer">
      <span *ngIf="labelPosition === 'left'" class="label-text mr-3">{{label}} <span *ngIf="required" class="text-secondary">*</span></span>
      <ng-container [ngTemplateOutlet]="TOGGLE"></ng-container>
      <span *ngIf="labelPosition === 'right'" class="label-text mr-3">{{label}} <span *ngIf="required" class="text-secondary">*</span></span>
    </label>
  </div>
</ng-template>
