/**
 * ----------------------------
 * DISPLAY VERSION
 * ----------------------------
 */

.gc-view.gc-row {
  .gc-row_children {
    display: flex;

    & > * {
      margin-right: 20px;
    }

    & > *:last-child {
      margin-right: 0;
    }
  }
}


/**
 * ----------------------------
 * EDITOR VERSION
 * ----------------------------
 */

.editor {
  .gc-view.gc-row {
    border-radius: 5px;

    .gc-row_children {
      & > * {
        margin-right: initial !important;
      }
    }

    &.gc-row_empty {
      padding: 20px;
    }

    .add-child {
      height: 40px;
      border: 2px solid gray;
      border-radius: 5px;
      margin: 15px;
      display: flex;
      justify-content: center;
      background-image: url("~src/assets/icons/add_icon_no_outline.svg");
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
