<div class="form-control w-fit {{classList}}">

  <!-- Only Radio -->
  <ng-container *ngIf="!label" [ngTemplateOutlet]="ONLY_RADIO"></ng-container>

  <!-- With Left Label -->
  <ng-container *ngIf="label" [ngTemplateOutlet]="WITH_LABEL"></ng-container>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && radio.invalid" class="label">
    <span *ngIf="radio.errors.required" class="label-text-alt">{{requiredErrorMessage}}</span>
  </label>

</div>

<ng-template #RADIO>
  <input
    type="radio"
    id="{{id}}"
    name="{{group}}"
    [value]="optionValue"
    class="radio {{RadioSize[size]}} {{RadioColor[color]}}"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value)"
    [required]="required"
    [disabled]="disabled"
    #radio="ngModel"
    [ngClass]="{'radio-error': form && form.submitted && radio.invalid}"
  />
</ng-template>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #ONLY_RADIO>
  <ng-container [ngTemplateOutlet]="RADIO"></ng-container>
</ng-template>

<ng-template #WITH_LABEL>
  <div class="flex items-center justify-start cursor-pointer gap-1">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <label class="label cursor-pointer">
      <span *ngIf="labelPosition === 'left'" [ngClass]="{'opacity-50': disabled}" class="mr-3">{{label}} <span *ngIf="required" class="text-secondary">*</span></span>
      <ng-container [ngTemplateOutlet]="RADIO"></ng-container>
      <span *ngIf="labelPosition === 'right'" [ngClass]="{'opacity-50': disabled}" class="mr-3">{{label}} <span *ngIf="required" class="text-secondary">*</span></span>
    </label>
  </div>
</ng-template>
