<div class="section">
  <div class="divider">
    <div class="title"><span>Import Students</span></div>
  </div>

  <div class="content">
    <div class="row">
      <app-input-file
        [id]="'fenix-vars'"
        [accept]="'.csv, .txt'"
        [label]="'Students File'"
        [classList]="'config_input'"
        (valueChange)="onFileSelected($event)">
      </app-input-file>
    </div>

    <div class="action-buttons">
      <button id="save-button" class="button" [disabled]="!hasUnsavedChanges" (click)="importFenixStudents()">Import</button>
    </div>
  </div>

  <div class="success_box">
    <div id="action_completed" class="success_msg"></div>
  </div>
</div>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="../../../../../../../../../../assets/loader/loader.gif" alt="loader">
</div>
