<div class="card bg-base-200 shadow-md flex flex-row items-end gap-2 {{new || edit ? 'pb-2.5 px-5' : 'p-5'}}">
  <app-input-text
    *ngIf="edit || new"
    [id]="'aux-var-name'"
    [(value)]="newName"
    [topLabel]="'Name:'"
    [placeholder]="'courseColor'"
    [size]="'sm'"
  ></app-input-text>
  <div *ngIf="!edit && !new" class="w-52 mr-4">
    <span class="block font-semibold text-md">Name:</span>{{newName}}
  </div>
  <div class="w-full">
    <app-input-text
      *ngIf="edit || new"
      [id]="'aux-var-expression'"
      [(value)]="newValue"
      [topLabel]="'Expression:'"
      [helperText]="'This will compute the variable\'s value. To write expressions encapsulate them with curvy brackets: {}.
        See the \'Additional Tools\' box for more information.'"
      [placeholder]="'{courses.getCourseById{%course}.color}'"
      [size]="'sm'"
    ></app-input-text>
    <div *ngIf="!edit && !new">
      <span class="block font-semibold text-md">Expression:</span>{{newValue}}
    </div>
  </div>
  <button *ngIf="new" class="btn btn-secondary" (click)="addNewAction()">Add</button>
  <div *ngIf="edit" class="flex flex-col">
    <button class="btn btn-sm btn-ghost px-0.5" (click)="cancelAction()">Cancel</button>
    <button class="btn btn-sm btn-secondary px-0.5" (click)="saveAction()">Save</button>
  </div>
  <div *ngIf="!edit && !new" class="ml-auto flex flex-row gap-2">
    <button class="btn btn-ghost p-0 m-0"><ng-icon name="jam-pencil" size="1.5rem" (click)="editAction()"/></button>
    <button class="btn btn-ghost p-0 m-0"><ng-icon name="feather-X" size="1.5rem" class="text-error" (click)="deleteAction()"/></button>
  </div>
</div>
