.divider .title:after {
  width: calc(100% - 140px);
}

.header {
  margin-bottom: 30px;

  #name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  #description {
    font-size: 14px;
  }
}

.multiple_inputs {
  column-count: 2;
  column-gap: 100px;
  margin-top: 40px;

  .row {
    break-inside: avoid-column;
  }

  .action-buttons {
    width: fit-content;
  }
}

@media only screen and (min-width: 1500px) {
  .multiple_inputs {
    column-count: 3;
  }
}

.allItems {
  margin-top: 40px;

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.action-buttons {
  position: absolute;
  top: -5px;
  right: 0;
}

.config-item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#new_box {
  padding-bottom: 30px;
}

.on_off {
  margin-right: 0;
  margin-bottom: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  width: 100%;

  .label {
    min-width: 150px;
    margin-right: 20px;
    white-space: nowrap;
  }

  .input {
    width: 100%;
    padding: 7px;
    color: #333;
    background-color: white;
    border-radius: 5px;
    border: 2px solid lightgray;
  }


  &.toggle {
    margin-bottom: unset;
    font-size: unset;
    width: unset;

    .label {
      min-width: unset;
      margin-right: unset;
      padding-right: 10px;
    }
  }
}

.tiers {
  .divider .title:after {
    width: calc(100% - 50px);
  }

  .action-buttons {
    width: unset;
  }
}

.color {
  display: flex;
  justify-content: center;

  .color-sample {
    margin-right: 8px;
  }

  .box {
    border: none;
    width: 20px;
    height: 20px;
    opacity: 1;
  }
}


/* SEARCH */
.modal_content {
  position: relative;
  width: 530px;
  margin: auto;
  padding: 40px 60px;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}
.modal_content .content {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 3px;
}

.modal_content .content .search_box {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 8px;
  font-size: 14px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal_content .content .search_box .user_tag {
  margin: 2px 5px 2px 0;
}

.modal_content .content .search_box #select_system_user {
  border: none;
  flex-grow: 1;
}

.modal_content .content .select_box {
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0;
  max-height: 220px;
  overflow: auto;
  min-height: 120px;
  font-size: 14px;
}

.modal_content .content .select_box .line {
  position: relative;
  height: 35px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 10px;
}

.modal_content .content .select_box .line:hover {
  background-color: #f5f5f5;
}

.modal_content .content .select_box .line .add_icon_no_outline {
  background-image: url("~src/assets/icons/add_icon_no_outline.svg");
  height: 20px;
  width: 20px;
  margin-right: 5px;
  opacity: 0.8;
}

.modal_content .save_btn {
  position: absolute;
  bottom: 0;
  right: 0;
}


