.arrow_right{
    background-image: url(/gamecourse/images/arrow_right_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    height: 12px;
    width: 12px;
}

.button .cancel{
    position: absolute;
    right: 200;
    background-color: tomato;
}

.save{
    position: absolute;
    right: 0;
}

#csv {
	display: none;
}

.other{
    background-color: white;
}

.profiling_button {
    margin-right: 10;
    opacity: 0.8;
}


.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 1000px;
    margin: 1em auto;
}

.triangle-up {
    background-image: url(/gamecourse/images/arrow_top_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 18px;
    width: 21px;
    opacity: 0.5;
}

.triangle-down {
    background-image: url(/gamecourse/images/arrow_bottom_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 18px;
    width: 21px;
    opacity: 0.5;
}

.cluster_row {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.cluster_input input {
    width: 150px;
}

.cluster_column{
    grid-template-columns: repeat(auto-fill, 460px);
    display: grid;
    justify-content: space-between;
}

.checked_arrow{
    opacity: 1;
}

.disabled_arrow{
    opacity: 0; /* css standard */
}

th:hover .disabled_arrow{
    opacity: 0.5; /* css standard */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
