.view .chart {
  position: relative;
}
.chart-line .axis {
  font-size: 70%;
}
.chart-line .axis path,
.chart-line .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.chart-line .axis path.rule,
.chart-line .axis line.rule {
  stroke: #aaa;
}
.chart-line .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.chart-bar rect {
  shape-rendering: crispEdges;
  fill: #a33c30;
}
.chart-bar rect.highlighted {
  fill: steelblue;
}
.chart-bar .axis {
  font-size: 70%;
}
.chart-bar .axis path,
.chart-bar .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.chart-bar .axis path.rule,
.chart-bar .axis line.rule {
  stroke: #aaa;
}
.chart-star g.user .star-path {
  stroke: #00BB00;
  stroke-width: 2px;
  fill: #00BB00;
  fill-opacity: 0.6;
}
.chart-star g.average .star-path {
  stroke: #0000BB;
  stroke-width: 2px;
  fill: #0000BB;
  fill-opacity: 0.6;
}
.chart-star .star-axis {
  stroke: #000;
  stroke-width: 2px;
  stroke-dasharray: 6 2;
  stroke-opacity: 0.4;
}
