<ng-container
  [ngTemplateOutlet]="view.children.length === 0 ? EMPTY : SIMPLE">
</ng-container>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <div [attr.id]="view.cssId"
       [classList]="view.class"
       [attr.style]="view.style"
       [attr.data-id]="view.id"
       [attr.data-viewId]="view.viewId"
       [attr.data-role]="edit ? view.role : null"
       [goToPage]="getEvent(EventAction.GO_TO_PAGE) | as : EventGoToPage"
       [hideView]="getEvent(EventAction.HIDE_VIEW) | as : EventHideView"
       [showView]="getEvent(EventAction.SHOW_VIEW) | as : EventShowView"
       [toggleView]="getEvent(EventAction.TOGGLE_VIEW) | as : EventToggleView">

    <div [classList]="ViewBlock.BLOCK_CHILDREN_CLASS">
      <bb-any *ngFor="let child of view.children" [view]="child"></bb-any>
    </div>

    <div *ngIf="edit && view.isEditingLayout" [classList]="'add-child ' + ViewSelectionService.IGNORE_SELECTION_CLASS"></div>
  </div>
</ng-template>

<ng-template #EMPTY>
  <div [attr.id]="view.cssId"
       [classList]="view.class + ' ' + ViewBlock.BLOCK_EMPTY_CLASS"
       [attr.style]="view.style"
       [attr.data-id]="view.id"
       [attr.data-viewId]="view.viewId"
       [attr.data-role]="edit ? view.role : null"
       [goToPage]="getEvent(EventAction.GO_TO_PAGE) | as : EventGoToPage"
       [hideView]="getEvent(EventAction.HIDE_VIEW) | as : EventHideView"
       [showView]="getEvent(EventAction.SHOW_VIEW) | as : EventShowView"
       [toggleView]="getEvent(EventAction.TOGGLE_VIEW) | as : EventToggleView">

    {{DEFAULT}}
    <div *ngIf="edit && view.isEditingLayout" [classList]="'add-child ' + ViewSelectionService.IGNORE_SELECTION_CLASS"></div>
  </div>
</ng-template>
