<!-- Display version -->
<ng-container *ngIf="view.mode === ViewMode.DISPLAY">
  <ng-container [ngTemplateOutlet]="DISPLAY_DEFAULT"></ng-container>
</ng-container>

<!-- Preview version -->
<ng-container *ngIf="view.mode === ViewMode.PREVIEW">
  <ng-container [ngTemplateOutlet]="EDIT_EMPTY"></ng-container>
</ng-container>

<!-- Edit version -->
<ng-container *ngIf="view.mode === ViewMode.EDIT">
  <ng-container [ngTemplateOutlet]="view.children.length === 0 ? EDIT_EMPTY : EDIT_DEFAULT"></ng-container>
</ng-container>


<!------------------------------------------------>
<!-------------- DISPLAY VARIATIONS -------------->
<!------------------------------------------------>

<ng-template #DISPLAY_DEFAULT>
  <div [attr.id]="view.cssId"
       [classList]="classes">

    <div [classList]="children + ' ' + view.classList" [attr.style]="view.styles">
      <bb-any *ngFor="let child of view.children" [view]="child"></bb-any>
    </div>
  </div>
</ng-template>


<!------------------------------------------------>
<!---------------- EDIT VARIATIONS --------------->
<!------------------------------------------------>

<ng-template #EDIT_DEFAULT>
  <div [attr.id]="view.cssId"
       [classList]="classes"
       cdkDropList [id]="String(view.id)"
       [cdkDropListData]="view.children"
       [cdkDropListConnectedTo]="connectedTo"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListOrientation]="view.direction">

    <div [classList]="children + ' ' + view.classList" [attr.style]="view.styles">
      <bb-any *ngFor="let child of view.children" [view]="child"></bb-any>
    </div>
  </div>
</ng-template>

<ng-template #EDIT_EMPTY>
  <div [attr.id]="view.cssId"
       [classList]="view.classList + ' p-20'"
       cdkDropList [id]="String(view.id)"
       [cdkDropListData]="view.children"
       [cdkDropListConnectedTo]="connectedTo"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListOrientation]="view.direction">

      (Empty {{view.direction}} block)
  </div>
</ng-template>
