<!-- Display version -->
<ng-container *ngIf="view.mode === ViewMode.DISPLAY">
  <ng-container [ngTemplateOutlet]="DISPLAY_DEFAULT"></ng-container>
</ng-container>

<!-- Preview version -->
<ng-container *ngIf="view.mode === ViewMode.PREVIEW">
  <ng-container [ngTemplateOutlet]="EDIT_EMPTY"></ng-container>
</ng-container>

<!-- Edit version -->
<ng-container *ngIf="view.mode === ViewMode.EDIT">
  <ng-container [ngTemplateOutlet]="view.children.length === 0 ? EDIT_EMPTY : EDIT_DEFAULT"></ng-container>
</ng-container>


<!------------------------------------------------>
<!-------------- DISPLAY VARIATIONS -------------->
<!------------------------------------------------>

<ng-template #DISPLAY_DEFAULT>
  <div [attr.id]="view.cssId"
       [classList]="classes">

    <div [classList]="children + ' ' + view.classList" [attr.style]="view.styles">
      <bb-any *ngFor="let child of view.children" [view]="child"></bb-any>
    </div>
  </div>
</ng-template>


<!------------------------------------------------>
<!---------------- EDIT VARIATIONS --------------->
<!------------------------------------------------>

<ng-template #EDIT_DEFAULT>
  <div [attr.id]="view.cssId"
       [classList]="classes"
       cdkDropList [id]="String(view.id)"
       [cdkDropListData]="view.children"
       [cdkDropListConnectedTo]="connectedTo"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListOrientation]="view.direction">

    <div [classList]="children + ' ' + view.classList" [attr.style]="view.styles">
      <bb-any *ngFor="let child of view.children" [view]="child"></bb-any>
    </div>
  </div>
</ng-template>

<ng-template #EDIT_EMPTY>
  <div [attr.id]="view.cssId"
       class="{{view.classList}} flex {{view.direction === BlockDirection.HORIZONTAL ? 'flex-row space-x-2' : 'flex-col space-y-2'}} text-base-content/50"
       cdkDropList [id]="String(view.id)"
       [cdkDropListData]="view.children"
       [cdkDropListConnectedTo]="connectedTo"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListOrientation]="view.direction">

    <ng-container *ngIf="view.direction === BlockDirection.HORIZONTAL && !view.columns">
      <div class="border-dashed border-2 border-base-content/50 flex flex-row items-center justify-center flex-1 rounded-xl p-4">
        Block with content displayed horizontally
      </div>
      <div class="border-dashed border-2 border-base-content/50 flex flex-row items-center justify-center rounded-xl p-4">
        <span class="mb-2">...</span>
      </div>
    </ng-container>

    <ng-container *ngIf="view.direction === BlockDirection.HORIZONTAL && view.columns">
      <div *ngFor="let col of [].constructor(view.columns); let i = index"
           class="border-dashed border-2 border-base-content/50 flex flex-row items-center justify-center flex-1 rounded-xl p-4">
        Column {{i + 1}}
      </div>
    </ng-container>

    <ng-container *ngIf="view.direction == BlockDirection.VERTICAL">
      <div class="border-dashed border-2 border-base-content/50 flex flex-row items-center justify-center h-full w-full rounded-xl p-4">
        Block with content displayed vertically
      </div>
      <div class="border-dashed border-2 border-base-content/50 flex flex-row items-center justify-center h-full w-full rounded-xl">
        <span class="mb-2">...</span>
      </div>
    </ng-container>
  </div>
</ng-template>
