<div class="form-control w-full {{classList}}">

  <!-- Label -->
  <label *ngIf="topLabel" class="label cursor-pointer justify-start gap-2">
    <app-simple-helper *ngIf="helperText" [text]="helperText" [position]="helperPosition"></app-simple-helper>
    <span class="label-text">{{topLabel}} <span *ngIf="required" class="text-secondary">*</span></span>
  </label>

  <!-- Simple Input -->
  <ng-container *ngIf="!leftLabel && !rightLabel && !btnText && !btnIcon" [ngTemplateOutlet]="SIMPLE"></ng-container>

  <!-- Group Input -->
  <ng-container *ngIf="leftLabel || rightLabel || btnText || btnIcon" [ngTemplateOutlet]="GROUP"></ng-container>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && inputSelect.invalid" class="label">
    <span *ngIf="inputSelect.errors.required" class="label-text-alt">{{requiredErrorMessage}}</span>
  </label>

</div>

<ng-template #SELECT>
  <select
    id="{{id}}"
    name="{{id}}"
    [multiple]="multiple"
    class="{{size}} {{color}}"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(Value)"
    [required]="required"
    [disabled]="disabled"
    #inputSelect="ngModel"
    [ngClass]="{'select-error': form && form.submitted && inputSelect.invalid,
    'rounded-none': leftLabel && (rightLabel || btnText || btnIcon)}">

    <option *ngFor="let option of options" [value]="option.value">{{option.text}}</option>
  </select>
</ng-template>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <ng-container [ngTemplateOutlet]="SELECT"></ng-container>
</ng-template>

<ng-template #GROUP>
  <label class="input-group {{InputGroupSize[size]}}">

    <!-- Left label -->
    <span *ngIf="leftLabel" class="min-w-fit {{InputGroupLabelColor[color]}}">{{leftLabel}}</span>

    <!-- Select -->
    <ng-container [ngTemplateOutlet]="SELECT"></ng-container>

    <!-- Right label -->
    <span *ngIf="rightLabel" class="min-w-fit {{InputGroupLabelColor[color]}}">{{rightLabel}}</span>

    <!-- Button -->
    <button type="button" *ngIf="btnText || btnIcon" class="btn {{btnIcon ? 'btn-square' : ''}} {{InputGroupBtnColor[color]}}" (click)="btnClicked.emit(value)">
      <span *ngIf="btnText" class="bg-transparent">{{btnText}}</span>
      <ng-icon *ngIf="btnIcon" [name]="btnIcon" size="1.5rem"></ng-icon>
    </button>

  </label>
</ng-template>
