<div class="w-full relative">

  <!-- Header -->
  <app-header [title]="'System Users'" [icon]="'feather-users'" [loading]="loading.action"></app-header>

  <!-- Top Actions -->
  <app-top-actions
    [leftActions]="[
      {action: Action.IMPORT, icon: 'jam-download'},
      {action: Action.EXPORT, icon: 'jam-upload'}
    ]"
    [rightActions]="[{action: 'Add user', icon: 'feather-plus-circle', color: 'primary'}]"
    (btnClicked)="doAction($event)">
  </app-top-actions>

  <!-- Users Table -->
  <app-table
    [id]="'users'"
    [classList]="'mt-5'"
    [headers]="headers"
    [data]="data"
    [options]="tableOptions"
    [loading]="loading.table"
    (btnClicked)="doActionOnTable($event.type, $event.row, $event.col)"
    (valueChanged)="doActionOnTable('value changed', $event.row, $event.col, $event.value)">
  </app-table>

  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>

</div>


<!-- New / Edit Modal -->
<app-modal *ngIf="mode && userToManage"
   [id]="'manage'"
   [templateRef]="MANAGE"
   [size]="'lg'"
   [header]="mode?.capitalize() + ' user'"
   [closeBtnText]="'Discard ' + (mode === 'add' ? 'user' : 'changes')"
   [submitBtnText]="mode?.capitalize() + ' user'"
   [actionInProgress]="loading.action"
   (submitBtnClicked)="f.onSubmit(null); mode === 'add' ? createUser() : editUser()"
   (onClose)="initUserToManage(); mode = null;">
</app-modal>

<ng-template #MANAGE>
  <form #f="ngForm">

    <div class="flex flex-wrap">

      <div class="w-full sm:w-1/3 sm:pr-12">
        <!-- Profile picture -->
        <h4 class="font-semibold mb-2">Profile picture</h4>
        <div class="flex items-center justify-center">
          <img class="mask mask-circle object-cover h-40 w-40" [src]="userToManage.photo?.get('SafeUrl') ?? DefaultProfileImg" [alt]="userToManage.name + ' profile photo'" />
        </div>

        <!-- Upload profile picture -->
        <app-input-file
          [id]="'user-photo'"
          [form]="f"
          [accept]="'.png, .jpg, .jpeg'"
          [camera]="true"
          [size]="'xs'"
          [color]="'primary'"
          [classList]="'mt-3 mb-3 sm:mb-0'"
          [label]="'Update profile picture'"
          (valueChange)="onFileSelected($event, 'image')">
        </app-input-file>
      </div>

      <div class="w-full sm:w-2/3">
        <!-- Name -->
        <app-input-text
          [id]="'user-name'"
          [form]="f"
          [(value)]="userToManage.name"
          [placeholder]="'User name'"
          [topLabel]="'Name'"
          [pattern]="'(?!^\\d+$)^.+$'"
          [patternErrorMessage]="'User name can\'t be composed of only numbers.'"
          [required]="true"
          [maxLength]="60"
          [maxLengthErrorMessage]="'User name is too long: maximum of 60 characters'">
        </app-input-text>

        <!-- Nickname -->
        <app-input-text
          [id]="'user-nickname'"
          [form]="f"
          [(value)]="userToManage.nickname"
          [placeholder]="'User nickname'"
          [classList]="'mt-3'"
          [topLabel]="'Nickname'"
          [maxLength]="50"
          [maxLengthErrorMessage]="'User nickname is too long: maximum of 50 characters'">
        </app-input-text>

        <!-- Email -->
        <app-input-email
          [id]="'user-email'"
          [form]="f"
          [(value)]="userToManage.email"
          [placeholder]="'User email'"
          [classList]="'mt-3'"
          [topLabel]="'Email'"
          [required]="true"
          [maxLength]="60"
          [maxLengthErrorMessage]="'User email is too long: maximum of 60 characters'">
        </app-input-email>

        <div class="flex flex-wrap mt-3">
          <!-- Student nr. -->
          <div class="w-full sm:w-1/2 sm:pr-3">
            <app-input-number
              [id]="'user-number'"
              [form]="f"
              [(value)]="userToManage.studentNr"
              [placeholder]="'User student number'"
              [topLabel]="'Student Number'"
              [required]="true"
              [minValue]="0">
            </app-input-number>
          </div>

          <!-- Major -->
          <div class="w-full sm:w-1/2">
            <app-input-text
              [id]="'user-major'"
              [form]="f"
              [(value)]="userToManage.major"
              [placeholder]="'User major'"
              [topLabel]="'Major'"
              [maxLength]="8"
              [maxLengthErrorMessage]="'User major is too long: maximum of 8 characters'">
            </app-input-text>
          </div>
        </div>

        <div class="flex flex-wrap mt-3">
          <!-- Auth Method -->
          <div class="w-full sm:w-1/2 sm:pr-3">
            <app-input-select
              [id]="'user-auth'"
              [form]="f"
              [(value)]="userToManage.authService"
              [options]="authMethods"
              [placeholder]="'Select an authentication method'"
              [topLabel]="'Authentication method'"
              [required]="true">
            </app-input-select>
          </div>

          <!-- Username -->
          <div class="w-full sm:w-1/2">
            <app-input-text
              [id]="'user-username'"
              [form]="f"
              [(value)]="userToManage.username"
              [placeholder]="'User username'"
              [topLabel]="'Username'"
              [required]="true"
              [maxLength]="50"
              [maxLengthErrorMessage]="'User username is too long: maximum of 50 characters'">
            </app-input-text>
          </div>
        </div>

      </div>

    </div>

  </form>
</ng-template>


<!-- Delete Verification Modal -->
<app-simple-modal *ngIf="userToDelete"
  [id]="'delete-verification'"
  [title]="'Delete user'"
  [text]="'Are you sure you want to delete user \'' + userToDelete?.name + '\'? You won\'t be able to undo this action.'"
  [submitBtnText]="'Delete'"
  [submitBtnColor]="'error'"
  [actionInProgress]="loading.action"
  (submitBtnClicked)="deleteUser(userToDelete)"
  (onClose)="userToDelete = null">
</app-simple-modal>


<!-- Import Modal -->
<!--<ng-container *ngIf="isImportModalOpen">-->
<!--  <app-modal-->
<!--    [isOpen]="isImportModalOpen"-->
<!--    [id]="'import-user'"-->
<!--    [templateRef]="importModal"-->
<!--    (closeBtnClicked)="isImportModalOpen = false"-->
<!--    [actionInProgress]="saving"-->
<!--    [innerClickEvents]="false"-->
<!--    [classList]="'verification'">-->
<!--  </app-modal>-->
<!--</ng-container>-->

<!--<ng-template #importModal>-->

<!--  <div class="warning">Please select a .csv or .txt file to be imported</div>-->
<!--  <div class="target">The separator must be comma <br>The encoding must be UTF-8</div>-->
<!--  <app-input-file-->
<!--    [id]="'import_user'"-->
<!--    [accept]="'.csv, .txt'"-->
<!--    [classList]="'config_input'"-->
<!--    (valueChange)="onFileSelected($event, 'file')">-->
<!--  </app-input-file>-->

<!--  <div class="confirmation_btns">-->
<!--    <button (click)="importUsers(true)">Import Users (Replace Duplicates)</button>-->
<!--    <button (click)="importUsers(false)">Import Users (Ignore Duplicates)</button>-->
<!--  </div>-->

<!--</ng-template>-->
