.auth {
  margin-bottom: 50px;

  .divider .title:after {
    width: calc(100% - 150px);
  }

  .content {
    column-count: 2;
    column-gap: 100px;
    margin-top: 30px;

    .action-buttons {
      width: fit-content;
      position: absolute;
      top: -5px;
      right: 0;
    }
  }
}

.variables {
  .divider .title:after {
    width: calc(100% - 80px);
  }

  .content {
    margin-top: 30px;

    .action-buttons {
      width: fit-content;
      position: absolute;
      top: -5px;
      right: 0;
    }

    .input-wrapper {
      display: flex;
      align-items: center;
      font-size: 14px;
      width: 100%;

      .label {
        margin-right: 20px;
        white-space: nowrap;
      }

      .input {
        width: 100%;
        padding: 7px;
        color: #333;
        background-color: white;
        border-radius: 5px;
        border: 2px solid lightgray;

        &#periodicity-nr {
          margin-right: 5px;
        }
      }
    }
  }
}

.sheet {
  display: flex;
  align-items: center;
}
