<div *ngIf="!loading">
  <ng-container *ngIf="page.name !== 'Skill Tree' && page.name !== 'Streaks'"> <!-- FIXME: this is hard-coded -->
    <bb-any [view]="pageView"></bb-any>
  </ng-container>


  <!-- FIXME: this is hard-coded -->
  <ng-container *ngIf="page.name === 'Skill Tree'"> <!-- Skill Tree -->
    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body overflow-x-auto">

        <!-- Header -->
        <div class="flex justify-between">
          <div class="prose flex items-center gap-3 mb-4">
            <ng-icon [name]="'tabler-bulb'" [color]="course.color" [size]="'1.8rem'" class="{{'text-primary'}}"></ng-icon>
            <h2 class="m-0">Skill Tree</h2>
          </div>
          <span class="font-semibold gap-1">Total: <span [style]="'color: ' + course.color">{{info['total']}} XP</span></span>
        </div>

        <!-- Skill Tree -->
        <h4 *ngIf="skillTrees[0].name" class="text-center font-semibold text-xl mb-2">{{skillTrees[0].name}}</h4>
        <div class="flex flex-col w-full lg:flex-row">
          <ng-container *ngFor="let tier of getSkillTreeInfo(skillTrees[0].id).tiers; let first = first; let last = last">
            <ng-container *ngIf="!tier.isActive"></ng-container>

            <ng-container *ngIf="tier.isActive">
              <!-- Divider -->
              <div *ngIf="!first" class="divider lg:divider-horizontal"></div>

              <!-- Tier -->
              <div class="grid flex-grow h-fit p-2 place-items-center">
                <span class="text-center font-semibold mb-2" [style]="'color: ' + course.color">{{tier.name}}: {{tier.reward}} XP</span>

                <!-- Skill -->
                <div class="flex flex-wrap flex-row justify-center items-start w-full lg:flex-col">
                  <div *ngFor="let skill of filterSkillsByTier(getSkillTreeInfo(skillTrees[0].id).skills, tier.id)" class="flex flex-col justify-start"
                    [ngClass]="{'items-center w-full my-2': !info[skill.id].available, 'm-2': info[skill.id].available}">

                    <div class="flex justify-center gap-2" [ngClass]="{'items-center': !info[skill.id].available}">
                      <div class="flex flex-col items-center">
                        <!-- Skill box -->
                        <div class="w-20 h-20 p-2 rounded-lg hover:cursor-pointer hover:outline hover:outline-offset-2 relative"
                             [ngStyle]="{'background-color': info[skill.id].available ? skill.color : '#607D8B',
                                        'outline-color': info[skill.id].available ? skill.color : '#607D8B',
                                        'opacity': info[skill.id].available ? 1 : 0.75}" (click)="goToSkillPage(skill)">
                          <span class="block text-white font-semibold text-xs break-words">{{skill.name}}</span>
                          <ng-icon *ngIf="skill.isCollab" class="absolute bottom-0 left-0 ml-2 mb-2 text-white" name="tabler-users" size="1.1rem"></ng-icon>
                          <ng-icon *ngIf="info[skill.id].completed" class="absolute bottom-0 right-0 mr-2 mb-2 text-white" name="tabler-checks" size="1.1rem"></ng-icon>
                        </div>
                      </div>

                      <!-- VC -->
                      <div *ngIf="info[skill.id].available" class="mt-5">
                        <p class="font-medium text-sm">Nr. attempts:<span class="ml-1">{{info[skill.id].attempts}}</span></p>
                        <p class="font-medium text-sm flex items-center min-w-max">Cost to {{info[skill.id].attempts > 0 ? 'retry' : 'try'}}:<span class="flex items-center gap-1 ml-1">{{info[skill.id].cost}}
                          <img class="h-4 w-4 inline-block" [src]="vcIcon" alt=""></span></p>
                      </div>
                    </div>

                    <!-- Wildcard usage -->
                    <p *ngIf="info[skill.id].wildcardsUsed > 0" class="prose font-semibold text-sm text-center text-error mt-1">{{info[skill.id].wildcardsUsed}} wilcard{{info[skill.id].wildcardsUsed !== 1 ? 's' : ''}} used</p>

                    <!-- Skill dependencies -->
                    <div *ngIf="skill.dependencies.length > 0" class="mt-1 lg:mb-5">
                      <p *ngFor="let combo of skill.dependencies; let last = last" class="prose text-xs text-center" [ngClass]="{'mb-0.5': !last}">{{getComboText(combo)}}</p>
                    </div>
                  </div>
                </div>

                <!-- Used Wildcards -->
                <p *ngIf="last" class="font-semibold mt-4">Wildcards available: {{availableWildcards}}</p>

              </div>
            </ng-container>

          </ng-container>
        </div>

      </div>
    </div>
  </ng-container>

  <!-- FIXME: this is hard-coded -->
  <ng-container *ngIf="page.name === 'Streaks'"> <!-- Streaks -->
    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">

        <!-- Header -->
        <div class="flex justify-between">
          <div class="prose flex items-center gap-3 mb-4">
            <ng-icon [name]="'tabler-flame'" [color]="course.color" [size]="'1.8rem'" class="{{'text-primary'}}"></ng-icon>
            <h2 class="m-0">Streaks</h2>
          </div>
          <span class="font-semibold gap-1">Total: <span [style]="'color: ' + course.color">{{streaksTotal}} XP</span></span>
        </div>

        <!-- Streaks -->
        <div class="flex flex-col gap-3">
          <div *ngFor="let streak of streaks; let i = index" class="p-4 border-base-300 bg-base-200 border-2 rounded-xl">
            <div class="flex flex-wrap justify-between gap-6">
              <!-- Streak Info -->
              <div class="flex flex-wrap flex-col md:flex-row gap-6 md:items-center">
                <div class="md:w-[20rem]">
                  <p class="font-semibold" [style.font-size]="'1.1rem'" [style.color]="streak.color">{{streak.name}}</p>
                  <p class="text-neutral/75">{{streak.description}}</p>
                  <p class="font-medium text-sm mt-2" [style]="'color: ' + streak.color">Reached {{userStreaksInfo[i]?.nrCompletions || 0 }} time{{(userStreaksInfo[i]?.nrCompletions || 0) !== 1 ? 's' : ''}}</p>
                </div>

                <!-- Streak Progression -->
                <div class="flex flex-col items-center">
                  <div class="flex items-center gap-2">
                    <div *ngFor="let step of steps(userStreaksInfo[i]?.progress || 0)" class="w-9 h-9" [style]="'color: ' + streak.color" [innerHTML]="streak.svg | sanitizeHTML"></div>
                    <div *ngFor="let step of steps(streak.goal - (userStreaksInfo[i]?.progress || 0))" class="w-9 h-9 text-neutral/30" [innerHTML]="streak.svg | sanitizeHTML"></div>
                    <div class="tooltip" data-tip="Can be earned multiple times">
                      <button class="btn btn-circle btn-sm btn-ghost">
                        <ng-icon name="feather-repeat" size="1.2rem"></ng-icon>
                      </button>
                    </div>
                  </div>
                  <span *ngIf="userStreaksInfo[i]?.deadline" class="text-sm text-error mt-2 font-medium">Deadline: {{userStreaksInfo[i]?.deadline.format('DD/MM/YYYY HH:mm')}}</span>
                </div>
              </div>

              <!-- Streak Reward -->
              <div class="flex float-right items-center gap-3">
                <div class="flex flex-col items-center">
                  <p class="font-semibold text-lg">{{streak.reward}} XP</p>
                  <p *ngIf="streak.isExtra" class="font-medium text-error text-sm">extra credit</p>
                </div>
                <span *ngIf="streak.tokens">+</span>
                <div *ngIf="streak.tokens" class="flex gap-1 items-center">
                  <p class="font-semibold text-lg">{{streak.tokens}}</p>
                  <img class="h-5 w-5" [src]="vcIcon" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-container>

  <!-- FIXME: this is hard-coded -->
  <ng-container *ngIf="page.name === 'Gold Exchange'"> <!-- Gold Exchange -->
    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body overflow-x-auto">

        <!-- Header -->
        <app-header [title]="'Gold Exchange'" [color]="course.color" [icon]="'tabler-coin'"></app-header>

        <!-- Gold Exchange -->
        <div class="prose">
          <p>You can exchange your beloved Gold for some XP. You have a total of <span class="font-semibold" [style]="'color: ' + course.color">{{wallet}} Gold</span>.</p>
          <p>Here's the current exchange ratio: <span class="font-semibold text-success">1 Gold = 1 XP.</span></p>
          <div class="flex">
            <ng-icon class="text-warning mt-1 mr-2" name="feather-alert-triangle" size="1.1rem"></ng-icon>
            <p class="my-0"><span class="text-warning">But beware!</span> You can only exchange Gold once and up to 1000 Gold and no more.</p>
          </div>
          <button class="btn btn-success btn-block mt-4" [disabled]="hasExchanged" (click)="exchange()">
            <!-- Spinner -->
            <ng-container *ngIf="exchanging">
              <app-spinner [size]="'sm'" [color]="'success-content'" [classList]="'mr-3'"></app-spinner>
            </ng-container>
            Exchange Gold
          </button>
          <p *ngIf="hasExchanged" class="text-sm text-error text-center mt-2">You have already exchanged your Gold</p>
          <!--<p class="text-error text-sm mt-5"><span>Deadline:</span> 27/04/2023 23:59:59</p>-->
        </div>

      </div>
    </div>
  </ng-container>
</div>

<!-- Spinner -->
<div *ngIf="loading" class="flex justify-center items-center">
  <app-spinner></app-spinner>
</div>
