<div class="form-control w-fit {{classList}}">

  <!-- Only Checkbox -->
  <ng-container *ngIf="!label">
    <input
      type="checkbox"
      id="{{id}}"
      name="{{id}}"
      class="checkbox {{CheckboxSize[size]}} {{color ? 'checkbox-' + color : ''}}"
      [(ngModel)]="value"
      (ngModelChange)="valueChange.emit(value)"
      [checked]="value"
      [required]="required"
      [disabled]="disabled"
      #checkbox="ngModel"
      [ngClass]="{'checkbox-error': form && form.submitted && checkbox.invalid}"
    />
  </ng-container>

  <!-- With Left Label -->
  <ng-container *ngIf="label">
    <label class="label cursor-pointer">
        <span class="label-text mr-3">{{label}} <span *ngIf="required" class="text-secondary">*</span></span>
        <input
          type="checkbox"
          id="{{id}}"
          name="{{id}}"
          class="checkbox {{CheckboxSize[size]}} {{color ? 'checkbox-' + color : ''}}"
          [(ngModel)]="value"
          (ngModelChange)="valueChange.emit(value)"
          [checked]="value"
          [required]="required"
          [disabled]="disabled"
          #checkbox="ngModel"
          [ngClass]="{'checkbox-error': form && form.submitted && checkbox.invalid}"
        />
      </label>
  </ng-container>

  <!-- Error Messages -->
  <label *ngIf="form && form.submitted && checkbox.invalid" class="label">
    <span *ngIf="checkbox.errors.required" class="label-text-alt">{{requiredErrorMessage}}</span>
  </label>

</div>
