<!-- Header -->
<app-header [title] = "'Notifications'" [icon] = "'tabler-bell'" ></app-header>

  <!-- Loader -->
<app-loader [loading] = "loading.page"></app-loader>

<ng-container *ngIf="!loading.page">
  <!-- Admin Template -->
  <ng-container *ngIf="isAdminOrTeacher" [ngTemplateOutlet]="ADMIN"></ng-container>

  <!-- Non-Admin Template -->
  <ng-container *ngIf="!isAdminOrTeacher" [ngTemplateOutlet]="NON_ADMIN"></ng-container>
</ng-container>



<ng-template #ADMIN>
  <!-- Modules -->
  <div *ngIf="modulesToManage.length > 0 || progressReportEnabled" class="card w-full bg-base-100 shadow-xl mt-5">
    <form #fModules="ngForm" class="card-body">
      <div class="flex items-center">
        <h2 class="card-title">Modules</h2>
      </div>
      <span class="mb-4">Configure the frequency and text of notifications that are sent by active modules.</span>
      <!-- Progress Report -->
      <div class="flex flex-col md:flex-row md:items-center" *ngIf="progressReportEnabled">
        <app-input-toggle
          [id]="'progress-report-enabled'"
          [form]="fReport"
          [(value)]="reportsConfig.isEnabled"
          [label]="'Progress Report'"
          [color]="'primary'"
          [helperText]="'Define when progress reports should be sent to students. These are sent by email.'"
          [helperPosition]="'right'"
        ></app-input-toggle>
        <div class="ml-auto flex items-center">
          <app-input-schedule
            [id]="'progress-report-schedule'"
            [form]="fReport"
            [(value)]="reportsConfig.frequency"
            [disabled]="!reportsConfig.isEnabled"
            [leftLabel]="'Frequency'"
          ></app-input-schedule>
        </div>
      </div>
      <div *ngIf="modulesToManage.length > 0 && progressReportEnabled" class="divider"></div>
      <!-- Others -->
      <div *ngFor="let module of modulesToManage; last as isLast">
        <div class="flex flex-col md:flex-row md:items-center" id="module.id">
          <app-input-toggle
            [id]="module.id + 'Enabled'"
            [form]="fModules"
            [(value)]="module.isEnabled"
            [color]="'primary'"
            [label]="module.name"
            [helperText]="module.description"
            [helperPosition]="'right'"
          ></app-input-toggle>
          <div class="ml-auto flex items-center">
            <app-input-schedule
              [id]="module.id + 'Frequency'"
              [form]="fModules"
              [(value)]="module.frequency"
              [disabled]="!module.isEnabled"
              [leftLabel]="'Frequency'"
            ></app-input-schedule>
          </div>
        </div>
        <app-input-notification-text
          [id]="module.id + 'Format'"
          [form]="fModules"
          [(value)]="module.format"
          [label]="'Text of the notification to be sent'"
          [required]="module.isEnabled"
          [itemsToSuggest]="module.variables"
        ></app-input-notification-text>
        <div *ngIf="!isLast" class="divider"></div>
      </div>
      <div class="ml-auto mt-4">
        <button class="btn btn-primary btn-block" (click)="saveModuleConfig()" [disabled]="!fModules.valid">
          <!-- Spinner -->
          <ng-container *ngIf="loading.modules">
            <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
          </ng-container>
          Save
        </button>
      </div>
    </form>
  </div>

  <!-- Custom Messages -->
  <div class="card w-full bg-base-100 shadow-xl mt-5">
    <form #fSend="ngForm" (ngSubmit)="sendNotification()" class="card-body">

      <div class="flex items-center">
        <h2 class="card-title mb-0">Custom Notification</h2>
        <app-spinner *ngIf="loading.table" [size]="'sm'" [color]="'primary'" [classList]="'ml-3'"></app-spinner>
      </div>
      Send a custom message to users.
      <!-- Roles -->
      <app-input-select-role
        [courseId]="course.id"
        [id]="'roles-receivers'"
        [form]="fSend"
        [(value)]="receiverRoles"
        [placeholder]="'Select roles'"
        [multiple]="true"
        [closeOnSelect]="false"
        [topLabel]="'Send to'"
        [classList]="'mt-2'"
        [required]="true"
        [helperText]="'Users with at least one of these roles will receive the notification'"
        [helperPosition]="'right'"
        [search]="true"
      ></app-input-select-role>

      <!-- Message -->
      <app-input-textarea
        [id]="'announcement'"
        [maxLength]="150"
        [maxLengthErrorMessage]="'Your message is too long: maximum of 150 characters'"
        [(value)]="notificationToSend"
        [form]="fSend"
        [placeholder]="'Write the message you want to send here (maximum of 150 characters)'"
        [label]="'Message'"
        [required]="true"
        [classList]="'mt-2'"
      ></app-input-textarea>

      <div class="grid md:grid-cols-2 gap-4 mt-10">
        <!-- Schedule -->
        <app-input-schedule
          [id]="'schedule'"
          [form]="fSend"
          [(value)]="schedule"
        ></app-input-schedule>

        <button class="btn btn-primary btn-block" [disabled]="!fSend.valid || !schedule" type="button" (click)="scheduleNotification()">
          <ng-container *ngIf="loading.schedule">
            <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
          </ng-container>
          Schedule
        </button>
      </div>
      <div class="flex flex-row justify-center items-center my-2 text-xl font-semibold">
        or
      </div>
      <button class="btn btn-primary btn-block" [disabled]="!fSend.valid" type="button" (click)="sendNotification()">
        <!-- Send Now -->
        <ng-container *ngIf="loading.send">
          <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
        </ng-container>
        Send Now
      </button>

    </form>
  </div>

  <!-- Scheduled -->
  <div class="card w-full bg-base-100 shadow-xl mt-5">
    <div class="card-body">
      <div class="flex items-center">
        <h2 class="card-title mb-0">Scheduled</h2>
        <app-spinner *ngIf="loading.table" [size]="'sm'" [color]="'primary'" [classList]="'ml-3'"></app-spinner>
      </div>
      <app-table
        *ngIf = "!loading.table"
        [id] = "'scheduled-notifications'"
        [classList]="'mt-5'"
        [headers] = "headersSchedule"
        [data] = "dataSchedule"
        [options] = "tableOptionsSchedule"
        [loading] = "loading.table"
        (btnClicked) = "doActionOnTable('scheduled', $event.type, $event.row, $event.col)"
        (valueChanged) = "doActionOnTable('scheduled', 'value changed', $event.row, $event.col, $event.value)"
      ></app-table>
    </div>
  </div>

  <!-- History -->
  <div class="card w-full bg-base-100 shadow-xl mt-5">
    <div class="card-body">
      <div class="flex items-center">
        <h2 class="card-title mb-0">History</h2>
        <app-spinner *ngIf="loading.table" [size]="'sm'" [color]="'primary'" [classList]="'ml-3'"></app-spinner>
      </div>
      <app-table
        *ngIf="!loading.table"
        [id] = "'history'"
        [classList]="'mt-5'"
        [headers] = "headers"
        [data] = "data"
        [options] = "tableOptions"
        [loading] = "loading.table"
        (btnClicked)="doActionOnTable('history', $event.type, $event.row, $event.col)"
      ></app-table>
    </div>
  </div>
</ng-template>



<ng-template #NON_ADMIN>
</ng-template>



<!-- Notification Content Modal -->
<app-modal
  *ngIf="notificationToRead"
  [id] = "'full-notification'"
  [templateRef]="FULL_NOTIFICATION"
  [header]="'Full Message'"
  [size] = "'sm'"
  [closeBtn] = "false"
  [xButton] = "false"
  [submitBtnText] = "'Close'"
  (submitBtnClicked) = "closeFullNotificationModal()"
></app-modal>

<ng-template #FULL_NOTIFICATION>
  <div class="prose">
    {{notificationToRead}}
  </div>
</ng-template>
