<ng-container
  [ngTemplateOutlet]="view.link ? LINK : SIMPLE">
</ng-container>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <span [attr.id]="view.cssId"
        [classList]="view.class" [ngClass]="{'red': isEmpty}"
        [attr.style]="view.style"
        [attr.data-id]="view.id"
        [attr.data-viewId]="view.viewId"
        [attr.data-role]="edit ? view.role : null"
        [goToPage]="getEvent(EventAction.GO_TO_PAGE) | as : EventGoToPage"
        [hideView]="getEvent(EventAction.HIDE_VIEW) | as : EventHideView"
        [showView]="getEvent(EventAction.SHOW_VIEW) | as : EventShowView"
        [toggleView]="getEvent(EventAction.TOGGLE_VIEW) | as : EventToggleView"
        [mode]="view.mode">
    {{view.value}}
  </span>
</ng-template>

<ng-template #LINK>
  <a href="{{view.link}}"
     [attr.id]="view.cssId"
     [classList]="view.class" [ngClass]="{'red': isEmpty}"
     [attr.style]="view.style"
     [attr.data-id]="view.id"
     [attr.data-viewId]="view.viewId"
     [attr.data-role]="edit ? view.role : null"
     [goToPage]="getEvent(EventAction.GO_TO_PAGE) | as : EventGoToPage"
     [hideView]="getEvent(EventAction.HIDE_VIEW) | as : EventHideView"
     [showView]="getEvent(EventAction.SHOW_VIEW) | as : EventShowView"
     [toggleView]="getEvent(EventAction.TOGGLE_VIEW) | as : EventToggleView"
     [mode]="view.mode">
    {{view.value}}
  </a>
</ng-template>
