<ng-container
  [ngTemplateOutlet]="view.link ? LINK : BARE">
</ng-container>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>
<!-- TODO: missing view commom settings -->
<!-- TODO: missing aspect & editing -->
<!-- FIXME: rethink naming BARE to DEFAULT or SIMPLE -->

<ng-template #BARE>
  <span [classList]="view.class" [ngClass]="{'red': isEmpty}"
    [attr.data-role]="edit ? view.role : null" [attr.data-viewId]="view.viewId">{{view.value}}</span>
</ng-template>

<ng-template #LINK>
  <a [classList]="view.class" [ngClass]="{'red': isEmpty}" href="{{view.link}}"
     [attr.data-role]="edit ? view.role : null" [attr.data-viewId]="view.viewId">{{view.value}}</a>
</ng-template>
