.sidebar {
  width: 200px;
  height: 100%;
  background-color: lightgrey;
  font-size: 14px;
  border-right: 2px solid grey;
  float: left;
}
.sidebar .tabgroup{
  display: flex;
  flex-direction: column;
  height: calc(100% - 87px);
}
.sidebar .tabgroup.course-related{
  height: calc(100% - 156px);
}
.sidebar .tabgroup .tab{
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0;
}
.sidebar .tab {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  color: black;
  position: relative;
  text-transform: capitalize;
}
/*section for the course selection and title Libraries on Functions*/
.sidebar .tab.title{
  border-bottom: none;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0;
}
.sidebar .tab.course-selector{
  border-bottom: none;
  font-size: 12px;
  padding-bottom: 0;
  padding-top: 10px;
}


.sidebar .tab.selected {
  background-color: white !important;
  border-right: 2px solid white;
  font-weight: bold;
  color: black !important;
}
.sidebar .tab:not(.selected):not(#find-tab):not(.title):not(.course-selector):hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
.sidebar .search input[type=text] {
  width: 130px;
  border: 2px solid grey;
}
.sidebar #find-tab {
  margin-top: 10px;
  float: initial;
  background-color: initial;
  height: initial;
}
