.notification-outside {
  width: 49.5%;
  border-bottom: 1px solid #cccccc;
}
.notification-outside > .content {
  margin: 0px;
  padding: 0px;
}
.notification {
  flex-grow: 1 !important;
}
.notification > .header {
  border-bottom: none;
  margin-right: 30px;
}
.notification > .content {
  margin: 0px;
  padding: 0px;
}
.notification > .content > .close {
  position: absolute;
  top: 2px;
  right: 8px;
}
.notification > .content > .close > img {
  width: 32px;
  height: 32px;
}
