@layer components {
  .form-control {
    .input, .textarea, .select {
      @apply border-2;
    }

    .label-text {
      @apply font-semibold text-base;
    }

    .label-text-alt {
      @apply text-error font-semibold;
    }

    .error-messages {
      @apply label p-0;

      .label-text-alt {
        @apply mt-2;
      }
    }

    .dropzone .btn-ghost:hover {
      &.btn-primary {
        background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
      }

      &.btn-secondary {
        background-color: hsl(var(--sf, var(--s)) / var(--tw-bg-opacity));
      }

      &.btn-accent {
        background-color: hsl(var(--af, var(--a)) / var(--tw-bg-opacity));
      }

      &.btn-neutral {
        background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
      }

      &.btn-info, &.btn-success, &.btn-warning, &.btn-error {
        background-color: transparent #{!important};
      }
    }

    .dropzone-active .btn-ghost {
      &.btn-primary {
        @apply bg-primary/20
      }

      &.btn-secondary {
        @apply bg-secondary/20
      }

      &.btn-accent {
        @apply bg-accent/20
      }

      &.btn-neutral {
        @apply bg-neutral/20
      }

      &.btn-info, &.btn-success, &.btn-warning, &.btn-error {
        background-color: transparent #{!important};
      }
    }

    #color-picker {
      .pcr-app {
        @apply w-52;
      }

      .pcr-swatches {
        @apply h-28 overflow-y-auto;
      }
    }
  }

  [data-theme="dark"] input[type=date],
  [data-theme="dark"] input[type=time],
  [data-theme="dark"] input[type=datetime-local] {
    color-scheme: dark;
  }
}

.ss-main {
  .ss-single-selected, .ss-multi-selected {
    @apply select select-bordered text-base-content border-2 w-full input-md h-auto #{!important};

    &.ss-open-below {
      outline: 2px solid hsla(var(--bc) / 0.2);
      outline-offset: 2px;
    }
  }

  .ss-multi-selected {
    .ss-values {
      @apply flex flex-wrap items-center text-base-content/75 #{!important};

      .ss-value {
        @apply badge badge-outline #{!important};
      }
    }
  }

  .ss-value-text, .ss-value-delete {
    @apply bg-transparent px-0 #{!important};

    & > * {
      @apply bg-transparent px-0 #{!important};
    }
  }

  .ss-value-text span {
    @apply pl-0 #{!important};
  }

  .placeholder span {
    @apply h-4 #{!important};
  }

  .ss-arrow, .ss-add {
    @apply hidden #{!important};
  }

  .ss-deselect {
    @apply text-xs mr-6 #{!important};
  }

  &.rounded-r {
    .ss-single-selected, .ss-multi-selected {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }

  &.rounded-l {
    .ss-single-selected, .ss-multi-selected {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
}

.ss-content {
  &.ss-open {
    @apply menu menu-compact shadow bg-base-100 text-sm text-base-content rounded-box border-neutral border-opacity-20 #{!important};
  }

  .ss-option:last-child {
    @apply rounded-b-xl #{!important};
  }

  .ss-option:first-child,
  .ss-option:nth-child(2) {
    @apply rounded-t-xl #{!important};
  }

  .ss-search:not(.ss-hide) + .ss-list .ss-option:first-child,
  .ss-search:not(.ss-hide) + .ss-list .ss-option:nth-child(2) {
    @apply rounded-none #{!important};
  }

  .ss-option:hover {
    @apply bg-base-300 text-base-content #{!important};
  }

  .ss-search {
    input {
      @apply input input-bordered input-sm focus:shadow-sm #{!important};
    }

    &.ss-hide {
      @apply hidden;
    }
  }

  .ss-list {
    @apply overflow-y-auto #{!important};
  }
}

select.select-primary + .ss-main .ss-single-selected,
select.select-primary + .ss-main .ss-multi-selected {
  @apply border-primary #{!important};

  &:focus, &.ss-open-below {
    @apply outline-primary #{!important};
  }
}

select.select-secondary + .ss-main .ss-single-selected,
select.select-secondary + .ss-main .ss-multi-selected {
  @apply border-secondary #{!important};

  &:focus, &.ss-open-below {
    @apply outline-secondary #{!important};
  }
}

select.select-accent + .ss-main .ss-single-selected,
select.select-accent + .ss-main .ss-multi-selected {
  @apply border-accent #{!important};

  &:focus, &.ss-open-below {
    @apply outline-accent #{!important};
  }
}

select.select-info + .ss-main .ss-single-selected,
select.select-info + .ss-main .ss-multi-selected {
  @apply border-info #{!important};

  &:focus, &.ss-open-below {
    @apply outline-info #{!important};
  }
}

select.select-success + .ss-main .ss-single-selected,
select.select-success + .ss-main .ss-multi-selected {
  @apply border-success #{!important};

  &:focus, &.ss-open-below {
    @apply outline-success #{!important};
  }
}

select.select-warning + .ss-main .ss-single-selected,
select.select-warning + .ss-main .ss-multi-selected {
  @apply border-warning #{!important};

  &:focus, &.ss-open-below {
    @apply outline-warning #{!important};
  }
}

select.select-error + .ss-main .ss-single-selected,
select.select-error + .ss-main .ss-multi-selected {
  @apply border-error #{!important};

  &:focus, &.ss-open-below {
    @apply outline-error #{!important};
  }
}

.ss-disabled {
  @apply bg-transparent text-neutral/60 font-normal px-0 #{!important};

  &.ss-option{
    @apply bg-transparent px-3 #{!important};

    &:not(.ss-option-selected) {
      @apply text-error #{!important};
    }

    &.ss-option-selected {
      @apply line-through text-neutral/30 hover:text-neutral/30 #{!important};

      & > * {
        @apply line-through;
      }
    }
  }
}

select + .ss-main .ss-single-selected.ss-disabled,
select + .ss-main .ss-multi-selected.ss-disabled {
  @apply input-disabled #{!important};
}

select:disabled + .ss-main .ss-disabled {
  @apply px-2 #{!important};
}

.input-period {
  .input-period-number input {
    @apply rounded-r-none pr-0 #{!important};
  }

  .input-period-time .ss-main .ss-single-selected {
    @apply font-normal rounded-l-none #{!important};
  }
}

.input-schedule input {
  @apply cursor-pointer #{!important};
}
