@layer components {
  .form-control {
    .input, .textarea, .select {
      @apply border-2;
    }

    .label-text {
      @apply font-semibold text-base;
    }

    .label-text-alt {
      @apply text-error font-semibold;
    }

    .error-messages {
      @apply label p-0;

      .label-text-alt {
        @apply mt-2;
      }
    }

    .dropzone .btn-ghost:hover {
      &.btn-primary {
        background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
      }

      &.btn-secondary {
        background-color: hsl(var(--sf, var(--s)) / var(--tw-bg-opacity));
      }

      &.btn-accent {
        background-color: hsl(var(--af, var(--a)) / var(--tw-bg-opacity));
      }

      &.btn-neutral {
        background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
      }

      &.btn-info, &.btn-success, &.btn-warning, &.btn-error {
        background-color: transparent #{!important};
      }
    }

    .dropzone-active .btn-ghost {
      &.btn-primary {
        @apply bg-primary/20
      }

      &.btn-secondary {
        @apply bg-secondary/20
      }

      &.btn-accent {
        @apply bg-accent/20
      }

      &.btn-neutral {
        @apply bg-neutral/20
      }

      &.btn-info, &.btn-success, &.btn-warning, &.btn-error {
        background-color: transparent #{!important};
      }
    }

    #color-picker {
      .pcr-app {
        @apply w-52;
      }

      .pcr-swatches {
        @apply h-28 overflow-y-auto;
      }
    }
  }

  [data-theme="dark"] input[type=date],
  [data-theme="dark"] input[type=time],
  [data-theme="dark"] input[type=datetime-local] {
    color-scheme: dark;
  }
}

.ss-main {
  @apply input input-bordered text-base-content border-2 w-full my-0 py-0 #{!important};

  &.sm {
    @apply input-sm #{!important};
  }
  &.xs {
    @apply input-xs #{!important};
  }
  &.md {
    @apply input-md #{!important};
  }
  &.lg {
    @apply input-lg #{!important};
  }

  .ss-deselect {
    @apply ml-auto hover:cursor-pointer #{!important};
    svg path {
      @apply stroke-secondary #{!important};
    }
  }

  svg path {
    @apply stroke-base-content #{!important};
  }

  .ss-values {
    @apply flex flex-wrap items-center text-base-content/75 #{!important};

    .ss-single {
      @apply text-sm text-base-content #{!important};
    }

    .ss-value {
      @apply badge badge-outline border-base-content/75 px-1 #{!important};

      .ss-value-text {
        @apply text-sm text-base-content/75 #{!important};
      }
      .ss-value-delete {
        @apply border-l-0 -ml-1 ;
        svg path {
          @apply stroke-base-content/75 #{!important};
        }
      }
    }
  }

  .ss-placeholder {
    @apply h-4 font-normal -ml-1 text-neutral/60 #{!important};
  }

}

.ss-main:focus {
  @apply shadow-none #{!important};
}

.ss-content {
  @apply shadow bg-base-100 text-sm text-base-content rounded-box border-neutral border-opacity-20 #{!important};

  .ss-list {
    @apply overflow-y-auto #{!important};

    .ss-option {
      @apply text-base-content #{!important};
    }

    .ss-option:last-child {
      @apply rounded-b-xl #{!important};
    }

    .ss-option:first-child,
    .ss-option:nth-child(2) {
      @apply rounded-t-xl #{!important};
    }

    .ss-option:hover, .ss-highlighted {
      @apply bg-base-300 text-base-content #{!important};
    }

    .ss-selected {
      @apply line-through text-base-content/50 bg-inherit hover:bg-inherit hover:text-base-content/50 #{!important};
    }
  }

  .ss-search:not(.ss-hide) + .ss-list .ss-option:first-child,
  .ss-search:not(.ss-hide) + .ss-list .ss-option:nth-child(2) {
    @apply rounded-none #{!important};
  }

  .ss-search {
    @apply w-full #{!important};

    input {
      @apply input input-bordered input-sm focus:shadow-sm #{!important};
    }

    &.ss-hide {
      @apply hidden;
    }
  }
}

.ss-optgroup-label-text {
  @apply text-base-content #{!important};
}

select.select-primary + .ss-main {
  @apply border-primary #{!important};

  &:focus, &.ss-open-below {
    @apply outline-primary #{!important};
  }
}

select.select-secondary + .ss-main {
  @apply border-secondary #{!important};

  &:focus, &.ss-open-below {
    @apply outline-secondary #{!important};
  }
}

select.select-accent + .ss-main {
  @apply border-accent #{!important};

  &:focus, &.ss-open-below {
    @apply outline-accent #{!important};
  }
}

select.select-info + .ss-main {
  @apply border-info #{!important};

  &:focus, &.ss-open-below {
    @apply outline-info #{!important};
  }
}

select.select-success + .ss-main {
  @apply border-success #{!important};

  &:focus, &.ss-open-below {
    @apply outline-success #{!important};
  }
}

select.select-warning + .ss-main {
  @apply border-warning #{!important};

  &:focus, &.ss-open-below {
    @apply outline-warning #{!important};
  }
}

select.select-error + .ss-main {
  @apply border-error #{!important};

  &:focus, &.ss-open-below {
    @apply outline-error #{!important};
  }
}

.ss-disabled {
  @apply input-disabled #{!important};

  .ss-placeholder {
    @apply text-neutral/20 #{!important};
  }
}

.ss-disabled:focus {
  @apply outline-0 #{!important};
}

select:disabled + .ss-main .ss-disabled {
  @apply px-2 #{!important};
}

.input-period {
  .input-period-number input {
    @apply rounded-r-none pr-0 #{!important};
  }

  .input-period-time .ss-main .ss-single-selected {
    @apply font-normal rounded-l-none #{!important};
  }
}

.input-schedule input {
  @apply cursor-pointer #{!important};
}
