@layer components {
  .form-control {
    .input, .textarea, .select {
      @apply border-2;
    }

    .label-text {
      @apply font-semibold text-base;
    }

    .label-text-alt {
      @apply text-error font-semibold;
    }

    .dropzone .btn-ghost:hover {
      &.btn-primary {
        background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
      }

      &.btn-secondary {
        background-color: hsl(var(--sf, var(--s)) / var(--tw-bg-opacity));
      }

      &.btn-accent {
        background-color: hsl(var(--af, var(--a)) / var(--tw-bg-opacity));
      }

      &.btn-neutral {
        background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
      }

      &.btn-info, &.btn-success, &.btn-warning, &.btn-error {
        background-color: transparent #{!important};
      }
    }

    #color-picker {
      .pcr-app {
        @apply w-52;
      }

      .pcr-swatches {
        @apply h-28 overflow-y-auto;
      }
    }
  }

  [data-theme="dark"] input[type=date],
  [data-theme="dark"] input[type=time],
  [data-theme="dark"] input[type=datetime-local] {
    color-scheme: dark;
  }
}

.ss-main {
  .ss-single-selected, .ss-multi-selected {
    @apply select select-bordered text-base-content border-2 w-full input-md h-auto #{!important};

    &.ss-open-below {
      outline: 2px solid hsla(var(--bc) / 0.2);
      outline-offset: 2px;
    }
  }

  .ss-multi-selected {
    .ss-values {
      @apply flex flex-wrap items-center text-base-content/75 #{!important};

      .ss-value {
        @apply badge badge-outline #{!important};
      }
    }
  }

  .ss-value-text, .ss-value-delete {
    @apply bg-transparent px-0 #{!important};

    & > * {
      @apply bg-transparent px-0 #{!important};
    }
  }

  .ss-value-text span {
    @apply pl-0 #{!important};
  }

  .placeholder span {
    @apply h-4 #{!important};
  }

  .ss-arrow, .ss-add {
    @apply hidden #{!important};
  }

  .ss-deselect {
    @apply text-xs mr-6 #{!important};
  }

  &.rounded-r {
    .ss-single-selected, .ss-multi-selected {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }

  &.rounded-l {
    .ss-single-selected, .ss-multi-selected {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
}

.ss-content {
  &.ss-open {
    @apply menu menu-compact shadow bg-base-100 text-sm text-base-content rounded-box border-neutral border-opacity-20 #{!important};
  }

  .ss-option:last-child {
    @apply rounded-b-xl #{!important};
  }

  .ss-option:first-child,
  .ss-option:nth-child(2) {
    @apply rounded-t-xl #{!important};
  }

  .ss-option:hover {
    @apply bg-base-300 text-base-content #{!important};
  }

  .ss-search {
    input {
      @apply input input-bordered input-sm focus:shadow-sm #{!important};
    }

    &.ss-hide {
      @apply hidden;
    }
  }

  .ss-list {
    @apply overflow-y-auto #{!important};
  }
}

.ss-disabled {
  @apply bg-transparent text-neutral/60 font-normal px-0 #{!important};

  &.ss-option{
    @apply bg-transparent px-3 #{!important};

    &:not(.ss-option-selected) {
      @apply text-error #{!important};
    }

    &.ss-option-selected {
      @apply line-through text-neutral/30 hover:text-neutral/30 #{!important};

      & > * {
        @apply line-through;
      }
    }
  }
}

select.select-error + .ss-main .ss-single-selected,
select.select-error + .ss-main .ss-multi-selected {
  @apply border-error #{!important};
}

select:disabled + .ss-main .ss-disabled {
  @apply px-2 #{!important};
}
