.dataTables_wrapper {
  @apply bg-base-200 overflow-x-auto;

  .dataTables_empty {
    @apply text-error;
  }

  .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    @apply py-4 text-xs font-semibold tracking-wide uppercase text-base-content text-opacity-80;
  }

  .dataTables_length, .dataTables_info {
    @apply sm:pl-4;
  }

  .dataTables_filter, .dataTables_paginate {
    @apply sm:pr-4;
  }

  .dataTables_filter input, .filters input {
    @apply input input-bordered input-sm focus:input-primary #{!important};

    &::-webkit-input-placeholder, &::placeholder {
      @apply text-neutral/75 font-semibold;
    }
  }

  .dataTables_length select, .filters select {
    @apply select select-bordered select-sm focus:select-primary #{!important};
    padding: unset;
  }

  .dataTables_length select {
    @apply mx-1.5;
  }

  .dataTables_filter input {
    @apply ml-1.5;
  }

  .filters select, .filters input {
    @apply w-full min-w-[6rem];
  }

  .dataTables_paginate {
    @apply px-2 pt-2 pb-4 flex justify-center items-center;

    .paginate_button {
      @apply btn btn-sm btn-ghost #{!important};
    }

    .paginate_button.disabled {
      @apply text-base-content text-opacity-30 #{!important};
    }

    .paginate_button, .paginate_button.previous:hover, .paginate_button.next:hover {
      @apply text-base-content #{!important};
    }

    .paginate_button.previous:hover, .paginate_button.next:hover {
      @apply border-none bg-none bg-base-content bg-opacity-20 focus:outline-none #{!important};
    }

    .paginate_button.current, .paginate_button:not(.previous):not(.next):hover, .paginate_button.current:hover {
      @apply border border-r-0 bg-none focus:outline-none #{!important};
    }

    .paginate_button:not(.previous):not(.next):hover {
      @apply btn-ghost #{!important};
    }

    .paginate_button.current, .paginate_button.current:hover {
      @apply btn-primary text-primary-content #{!important};
    }
  }

  .sorting::before,
  .sorting::after {
    font-size: 1rem !important;
  }

  .sorting_disabled {
    padding-right: 10px !important;

    &::before,
    &::after {
      display: none !important;
    }
  }

}
