<app-modal
  [id]="'component-editor'"
  [templateRef]="COMPONENT_EDITOR"
  [header]="'Edit component'"
  [closeBtnText]="'Close'"
  [submitBtnText]="'Save'"
  [size]="'lg'"
  [static]="true"
  (click)="$event.stopPropagation()"
  (submitBtnClicked)="q.onSubmit(null); saveView()"
/>

<ng-template #COMPONENT_EDITOR>
  <form #q="ngForm">
    <app-input-select
      [id]="'type'"
      [form]="q"
      [(value)]="viewToEdit.type"
      [options]="getComponentTypes()"
      [placeholder]="'Select component type'"
      [topLabel]="'Component Type'"
      [required]="true"
      [classList]="'mb-4'">
    </app-input-select>
    <ng-container *ngIf="viewToEdit.type !== ViewType.TABLE" [ngTemplateOutlet]="GENERIC_EDITOR"></ng-container>
    <ng-container *ngIf="viewToEdit.type === ViewType.TABLE" [ngTemplateOutlet]="TABLE_EDITOR"></ng-container>
  </form>
</ng-template>


<!--------------------------------------------------->
<!----- EDITOR FOR TEXT, BUTTONS, BLOCKS, ETC. ------>
<!--------------------------------------------------->

<ng-template #GENERIC_EDITOR>
  <!--------------------- Button options --------------------->
  <ng-container *ngIf="viewToEdit.type === ViewType.BUTTON">
    <div class="flex flex-row mt-2 justify-start items-center gap-2">
      <app-simple-helper [position]="'right'" [text]="'Text that will be displayed'"></app-simple-helper>
      <span class="block font-semibold text-mg">Text</span>
    </div>
    <div class="text-xs pl-1 pb-2">
      You can either write ordinary text or write expressions to define the following field.<br>
      To write expressions, make sure you encapsulate them with curly brackets: {{ '{' }} {{ '}' }}
      For more information check the 'Additional Tools' box.
    </div>
    <app-input-text
      [id]="'visibility-condition-expression'"
      [form]="q"
      [(value)]="viewToEdit.text"
      [placeholder]="'e.g. { courses.getCourseById(%course).name }, \'click to see badges\', ...'"
      [required]="false">
    </app-input-text>
    <div class="flex md:flex-row flex-col mt-2">
      <div class="md:w-1/2">
        <div class="flex flex-row mt-2 justify-start items-center gap-2">
          <app-simple-helper [position]="'right'" [text]="'Icon that will be displayed in button alongside the text'"></app-simple-helper>
          <span class="block font-semibold text-mg">Want to Add an Icon?</span>
        </div>
        <div class="flex flex-wrap">
          <div *ngFor="let icon of getIcons()" class="btn btn-ghost -py-2 px-1" (click)="selectIcon(icon, false)" [ngClass]="{'outline outline-2 outline-primary': this.viewToEdit.icon == icon}">
            <ng-icon [name]="icon" [size]="'1.8rem'"></ng-icon>
          </div>
        </div>
      </div>
    
      <div class="grow">
        <app-input-color
          [id]="'button-color'"
          [form]="q"
          [(value)]="viewToEdit.color"
          [placeholder]="'Button Color'"
          [topLabel]="'Color'"
          [helperText]="'Choose color for the button'"
          [helperPosition]="'right'">
        </app-input-color>
      </div>
    </div>
  </ng-container>

  <!--------------------- Text options --------------------->
  <ng-container *ngIf="viewToEdit.type === ViewType.TEXT">
    <div class="text-xs pl-1 pb-2">
      You can either write ordinary text or write expressions to define the following fields.<br>
      To write expressions, make sure you encapsulate them with curly brackets: {{ '{' }} {{ '}' }}
      For more information check the 'Additional Tools' box.
    </div>
    <div class="flex flex-row gap-10">
      <div class="flex flex-col grow">
        <div class="flex flex-row mt-2 justify-start items-center gap-2">
          <app-simple-helper [position]="'right'" [text]="'Text that will be displayed'"></app-simple-helper>
          <span class="block font-semibold text-lg">Text</span>
        </div>
        <app-input-text
          [id]="'component-text'"
          [form]="q"
          [(value)]="viewToEdit.text"
          [required]="false">
        </app-input-text>
      </div>
      <div class="flex flex-col grow">
        <div class="flex flex-row mt-2 justify-start items-center gap-2">
          <app-simple-helper [position]="'right'" [text]="'Enables link when clicked'"></app-simple-helper>
          <span class="block font-semibold text-lg">Link</span>
        </div>
        <app-input-text
          [id]="'component-link'"
          [form]="q"
          [(value)]="viewToEdit.link"
          [required]="false">
        </app-input-text>
      </div>
    </div>
  </ng-container>

  <!--------------------- Image options --------------------->
  <ng-container *ngIf="viewToEdit.type === ViewType.IMAGE">
    <div class="text-xs pl-1 pb-2">
      You can either write ordinary text or write expressions to define the following fields.<br>
      To write expressions, make sure you encapsulate them with curly brackets: {{ '{' }} {{ '}' }}
      For more information check the 'Additional Tools' box.
    </div>
    <div class="flex flex-row gap-10">
      <div class="flex flex-col grow">
        <div class="flex flex-row mt-2 justify-start items-center gap-2">
          <app-simple-helper [position]="'right'" [text]="'Source of the image that will be displayed'"></app-simple-helper>
          <span class="block font-semibold text-lg">Source</span>
        </div>
        <app-input-text
          [id]="'component-source'"
          [form]="q"
          [(value)]="viewToEdit.src"
          [required]="true">
        </app-input-text>
      </div>
      <div class="flex flex-col grow">
        <div class="flex flex-row mt-2 justify-start items-center gap-2">
          <app-simple-helper [position]="'right'" [text]="'Enables link when clicked'"></app-simple-helper>
          <span class="block font-semibold text-lg">Link</span>
        </div>
        <app-input-text
          [id]="'component-link'"
          [form]="q"
          [(value)]="viewToEdit.link"
          [required]="false">
        </app-input-text>
      </div>
    </div>
  </ng-container>

  <!--------------------- Icon options --------------------->
  <ng-container *ngIf="viewToEdit.type === ViewType.ICON">
    <div class="flex flex-row mt-2 justify-start items-center gap-2">
      <span class="block font-semibold text-mg">Choose Icon <span class="text-secondary">*</span></span>
    </div>
    <div class="flex flex-wrap">
      <div *ngFor="let icon of getIcons()" class="btn btn-ghost -py-2 px-1" (click)="selectIcon(icon, true)" [ngClass]="{'outline outline-2 outline-primary': this.viewToEdit.icon == icon}">
        <ng-icon [name]="icon" [size]="'1.8rem'"></ng-icon>
      </div>
    </div>
    <app-input-select
      [id]="'component-icon'"
      [form]="q"
      [(value)]="viewToEdit.size"
      [options]="getIconSizeOptions()"
      [placeholder]="'Select component type'"
      [topLabel]="'Select size for your icon'"
      [helperText]="'Will display the icon bigger or smaller. Default is medium size.'"
      [helperPosition]="'right'"
      [required]="true"
      [search]="false">
    </app-input-select>
  </ng-container>

  <!--------------------- Block options --------------------->
  <ng-container *ngIf="viewToEdit.type === ViewType.BLOCK">
    <div class="flex flex-row">
      <div>
        <div class="flex flex-row mt-2 justify-start items-center gap-2">
          <app-simple-helper [position]="'right'" [text]="'Choose whether the components inside will be displayed horizontal or vertically.'"></app-simple-helper>
          <span class="block font-semibold text-md">Direction</span>
        </div>
        <div class="flex flex-wrap">
          <app-input-radio
            [id]="'block-direction-horizontal'"
            [group]="'direction'"
            [form]="q"
            [optionValue]="'horizontal'"
            [(value)]="viewToEdit.direction"
            [color]="'primary'"
            [classList]="'mr-8'"
            [label]="'Horizontal'">
          </app-input-radio>
          <app-input-radio
            [id]="'block-direction-horizontal'"
            [group]="'direction'"
            [form]="q"
            [optionValue]="'vertical'"
            [(value)]="viewToEdit.direction"
            [color]="'primary'"
            [classList]="'mr-8'"
            [label]="'Vertical'">
          </app-input-radio>
        </div>
      </div>
      <app-input-number
        *ngIf="viewToEdit.direction == 'horizontal'"
        [id]="'block-columns'"
        [form]="q"
        [(value)]="viewToEdit.columns"
        [placeholder]="'Select number of columns'"
        [topLabel]="'Columns'"
        [minValue]="1"
        [helperText]="'Chose in how many columns you want to divide the block.'"
        [helperPosition]="'right'">
      </app-input-number>
      <div class="ml-8">
        <div class="flex flex-row my-2 justify-start items-center gap-2">
          <app-simple-helper [position]="'right'" [text]="'Make it adjust automatically to the width and height of the rendering device.'"></app-simple-helper>
          <span class="block font-semibold text-md">Responsiveness</span>
        </div>
        <app-input-checkbox
          [id]="'block-responsive'"
          [(value)]="viewToEdit.responsive"
          [color]="'primary'"
          (valueChange)="viewToEdit.responsive = !viewToEdit.responsive"
          [label]="'Make it responsive'"
          [labelPosition]="'right'">
        </app-input-checkbox>
      </div>
    </div>
  </ng-container>

  <!--------------------- Collapse options --------------------->
  <ng-container *ngIf="viewToEdit.type === ViewType.COLLAPSE">
    <app-input-select
      [id]="'collapse-icon'"
      [form]="q"
      [(value)]="viewToEdit.collapseIcon"
      [options]="getCollapseIconOptions()"
      [topLabel]="'Icon'"
      [helperText]="'Icon that will be displayed in collapse when opened/closed.'"
      [helperPosition]="'right'"
      [required]="true"
      [search]="false">
    </app-input-select>
    <div class="flex flex-row gap-10">
      <div class="grow">
        <app-input-select
          [id]="'collapse-header-type'"
          [form]="q"
          [(value)]="viewToEdit.header.type"
          [options]="getComponentTypes()"
          [placeholder]="'Select component type'"
          [topLabel]="'Header Component Type'"
          [helperText]="'Select the type of component you want to be showing.'"
          [helperPosition]="'right'"
          [required]="true">
        </app-input-select>
      </div>
      <div class="grow">
        <app-input-select
          [id]="'collapse-content-type'"
          [form]="q"
          [(value)]="viewToEdit.content.type"
          [options]="getComponentTypes()"
          [placeholder]="'Select component type'"
          [topLabel]="'Content Component Type'"
          [helperText]="'Select the type of component you want as content.'"
          [helperPosition]="'right'"
          [required]="true">
        </app-input-select>
      </div>
    </div>
  </ng-container>

  <!--------------------------------------------------->
  <!--------------------- GENERAL --------------------->
  <!--------------------------------------------------->
  <div class="divider"></div>
  <div class="prose">
    <h3 class="flex gap-2 items-center"><ng-icon name="tabler-settings" size="1.5rem"/>General Configuration</h3>
  </div>
  <div class="flex flex-row gap-10">
    <div class="mt-2">
      <div class="flex flex-row justify-start items-center gap-2">
        <app-simple-helper 
        [position]="'right'" 
        [text]="'Define auxiliary variables to simplify the writing of expressions. They will also be available for any children of this component.'"></app-simple-helper>
        <span class="block font-semibold text-md">Auxiliary Variables</span>
      </div>
      
      <!-- Variables -->
      <div class="flex flex-col gap-2 mb-2">
        <!-- Existing -->
        <div *ngFor="let variable of viewToEdit.variables" class="card bg-base-200 shadow-md flex flex-row p-5 items-end gap-2">
          <div class="w-28">
            <span class="block font-semibold text-md">Name:</span>{{variable.name}}
          </div>
          <div class="w-80">
            <span class="block font-semibold text-md">Expression:</span>{{variable.value}}
          </div>
        </div>
        <!-- New -->
        <div class="card bg-base-200 shadow-md flex flex-row pb-5 pt-1 px-5 items-end gap-2">
          <div class="w-28">
            <app-input-text
            [id]="'aux-var-name'"
            [form]="q"
            [(value)]="variableToAdd.name"
            [topLabel]="'Name:'"
            [placeholder]="'courseColor'"
            [size]="'sm'"
            ></app-input-text>
          </div>
          <div class="w-80">
            <app-input-text
            [id]="'aux-var-expression'"
            [form]="q"
            [(value)]="variableToAdd.value"
            [topLabel]="'Expression:'"
            [helperText]="'This will compute the variable\'s value. To write expressions encapsulate them with curvy brackets: {}.
            See the \'Additional Tools\' box for more information.'"
            [placeholder]="'{ courses.getCourseById{%course}.color }'"
            [size]="'sm'"
            ></app-input-text>
          </div>
          <button class="btn btn-secondary" (click)="addAuxVar()">Add</button>
        </div>
      </div>

      <!-- Data Iteration -->
      <app-input-text
        [id]="'design-id'"
        [form]="q"
        [(value)]="viewToEdit.loopData"
        [topLabel]="'Data Iteration'"
        [helperText]="'Determines how many times this component will be repeated.
          \n E.g. {skillTrees.trees} Means that this component will be repeated the number of skill trees available in this 
          course. If there are 3 kill strees in the course, the text will be repeated 3 times.'"
        [helperPosition]="'right'"
        [placeholder]="'e.g. { skillTrees.trees }'"
      ></app-input-text>
    </div>

    <!-- Additional Tools -->
    <div class="h-full w-full">
      <app-input-code
        [id]="'component-tools'"
        [title]="'Additional Tools'"
        [tabs]="additionalToolsTabs"
        [classList]="'grow'"
      ></app-input-code>
    </div>
  </div>

  <!-- Events -->
  <div class="flex flex-row mt-2 justify-start items-center gap-2">
    <app-simple-helper 
      [position]="'right'" 
      [text]="'Determine actions that will be triggered whenever an event happens.'"></app-simple-helper>
    <span class="block font-semibold text-md">Events</span>
  </div>
  <div class="flex flex-col gap-2 mb-2">
    <!-- Existing -->
    <div *ngFor="let event of viewToEdit.events" class="card bg-base-200 shadow-md flex flex-row p-5 items-end gap-2">
      <div class="w-36">
        <span class="block font-semibold text-md">When:</span>{{event.type}}
      </div>
      <div class="grow">
        <span class="block font-semibold text-md">Do:</span>{{event.action}}
      </div>
    </div>
    <!-- New -->
    <div class="card bg-base-200 shadow-md flex flex-row pb-5 pt-1 px-5 items-end gap-2">
      <div class="w-36">
        <app-input-select
          [id]="'event-when'"
          [form]="q"
          [(value)]="eventToAdd.type"
          [options]="getEventTypes()"
          [placeholder]="'Select event'"
          [topLabel]="'When:'"
          [search]="false">
        </app-input-select>
      </div>
      <div class="grow">
        <app-input-text
          [id]="'event-do'"
          [form]="q"
          [(value)]="eventToAdd.action"
          [topLabel]="'Do:'"
          [placeholder]="'{ actions.goToPage(pages.getPageByName(\'Awards\').id, %user) }'"
        ></app-input-text>
      </div>
      <button class="btn btn-secondary" (click)="addEvent()">Add</button>
    </div>
  </div>


  <!--------------------------------------------------->
  <!--------------------- STYLING --------------------->
  <!--------------------------------------------------->
  <div class="divider"></div>
  <div class="prose">
    <h3 class="flex gap-2 items-center"><ng-icon name="tabler-brush" size="1.5rem"/>Styling</h3>
  </div>
  <!-- Visibility -->
  <div class="flex flex-row mt-2 justify-start items-center gap-2">
    <app-simple-helper [position]="'right'" [text]="'Make this component visible/invisible/visible under condition'"></app-simple-helper>
    <span class="block font-semibold text-lg">Visibility</span>
  </div>
  <div class="flex flex-wrap">
    <app-input-radio
      [id]="'visibility-yes'"
      [group]="'visibility'"
      [form]="q"
      [optionValue]="'visible'"
      [(value)]="viewToEdit.visibilityType"
      [color]="'primary'"
      [classList]="'mr-8'"
      [label]="'Visible'">
    </app-input-radio>

    <app-input-radio
      [id]="'visibility-no'"
      [group]="'visibility'"
      [form]="q"
      [optionValue]="'invisible'"
      [(value)]="viewToEdit.visibilityType"
      [color]="'primary'"
      [classList]="'mr-8'"
      [label]="'Not visible'">
    </app-input-radio>

    <app-input-radio
      [id]="'visibility-condition'"
      [group]="'visibility'"
      [form]="q"
      [optionValue]="'conditional'"
      [(value)]="viewToEdit.visibilityType"
      [color]="'primary'"
      [classList]="'mr-8'"
      [label]="'Visible under condition'">
    </app-input-radio>
  </div>
  <div *ngIf="viewToEdit.visibilityType == 'conditional'" class="mb-5">
    <span class="text-xs pl-1">
      Write an expression that makes this component visible.
      Don't forget that expressions only work when encapsulated with curvy brackets: {{ '{' }} {{ '}' }}
    </span>
    <app-input-text
      [id]="'visibility-condition-expression'"
      [form]="q"
      [(value)]="viewToEdit.visibilityCondition"
      [placeholder]="'e.g. { %userLevel.number < %nrLevels-1 }'"
      [required]="false">
    </app-input-text>
  </div>
  
  <!-- Interface Design -->
  <div class="flex flex-row mt-2 justify-start items-center gap-2">
    <app-simple-helper [position]="'right'" [text]="'Use this section to style how the component should look like'"></app-simple-helper>
    <span class="block font-semibold text-lg">Interface Design</span>
  </div>
  <div class="w-full flex flex-col md:flex-row gap-10">
    <div class="md:w-1/2">
      <app-input-text
        [id]="'design-id'"
        [form]="q"
        [(value)]="viewToEdit.cssId"
        [topLabel]="'ID'"
        [helperText]="'Html\'s ID tag'"
        [helperPosition]="'right'"
      ></app-input-text>
      <app-input-text
        [id]="'design-class'"
        [form]="q"
        [(value)]="viewToEdit.classList"
        [topLabel]="'Class'"
        [helperText]="'Html\'s Class tag'"
        [helperPosition]="'right'"
      ></app-input-text>
      <app-input-text
        [id]="'design-style'"
        [form]="q"
        [(value)]="viewToEdit.style"
        [topLabel]="'Style'"
        [helperText]="'Html\'s Style tag'"
        [helperPosition]="'right'"
      ></app-input-text>
    </div>
    <div class="grow flex flex-col">
      <div class="flex flex-row items-center mb-2">
        <span class="block font-semibold pl-1 py-1">Preview</span>
        <button class="ml-auto btn btn-sm btn-secondary" (click)="reloadPreview()">
          Reload
          <ng-icon name="feather-refresh-ccw" size="1rem" color="white" class="ml-2" />
        </button>
      </div>
      <div class="flex grow p-5 border-2 border-base-content overflow-y-auto rounded-xl items-center justify-center">
        <bb-any *ngIf="show" [view]="viewToPreview"></bb-any>
        <app-spinner *ngIf="!show" [size]="'lg'"></app-spinner>
      </div>
    </div>
  </div>

  <!-- Table Layout Settings -->
  <div *ngIf="viewToEdit.type === ViewType.TABLE">
    <div class="flex flex-row mt-2 justify-start items-center gap-2">
      <app-simple-helper [position]="'right'" [text]="'Customize table layout'"></app-simple-helper>
      <span class="block font-semibold text-lg">Table Layout Settings</span>
    </div>
    <app-input-checkbox
      [id]="'table-footers'"
      [(value)]="viewToEdit.footers"
      [color]="'primary'"
      (valueChange)="viewToEdit.footers = !viewToEdit.footers"
      [label]="'Add footers'"
      [labelPosition]="'right'">
    </app-input-checkbox>
    <app-input-checkbox
      [id]="'table-searching'"
      [(value)]="viewToEdit.searching"
      [color]="'primary'"
      (valueChange)="this.viewToEdit.searching = !this.viewToEdit.searching"
      [label]="'Allow overall searching'"
      [labelPosition]="'right'">
    </app-input-checkbox>
  </div>
</ng-template>


<!--------------------------------------------------->
<!---------------- EDITOR FOR TABLES ---------------->
<!--------------------------------------------------->
<ng-template #TABLE_EDITOR>
  <div class="flex flex-row">
    <button class="btn rounded-b-none border-none text-base-content {{tableSelectedTab == 'Overall' ? 'bg-base-300 hover:bg-base-300' : 'bg-base-100 hover:bg-base-200'}}" 
            (click)="tableSelectedTab = 'Overall'">Overall</button>
    <button class="btn rounded-b-none border-none text-base-content {{tableSelectedTab == 'Rows' ? 'bg-base-300 hover:bg-base-300' : 'bg-base-100 hover:bg-base-200'}}" 
            (click)="tableSelectedTab = 'Rows'">Rows</button>
    <button class="btn rounded-b-none border-none text-base-content {{tableSelectedTab == 'Cells' ? 'bg-base-300 hover:bg-base-300' : 'bg-base-100 hover:bg-base-200'}}" 
            (click)="tableSelectedTab = 'Cells'">Cells</button>
  </div>
  <div class="bg-base-300 rounded-md p-4 {{tableSelectedTab == 'Overall' && 'rounded-tl-none'}}">
    <ng-container *ngIf="tableSelectedTab == 'Overall'">
        Table Structure
    </ng-container>

    <!--------------------- Rows Tab --------------------->
    <ng-container *ngIf="tableSelectedTab == 'Rows'">
      <span class="block font-semibold text-lg mb-2">Current Rows:</span>
      <span>Header Rows</span>
      <div class="flex flex-col gap-2">
        <div *ngFor="let row of this.viewToEdit.headerRows; index as i" class="flex flex-row items-center">
          <div class="w-full rounded-md border border-dashed border-neutral/50 p-2 text-center mr-4">Row {{row.uniqueId}}</div>
          <button class="btn btn-ghost rounded-full px-2" (click)="moveHeaderRow(i, i-1)"><ng-icon [name]="'tabler-arrow-narrow-up'" [size]="'1.8rem'"/></button>
          <button class="btn btn-ghost rounded-full px-2" (click)="moveHeaderRow(i, i+1)"><ng-icon [name]="'tabler-arrow-narrow-down'" [size]="'1.8rem'"/></button>
          <button class="btn btn-ghost rounded-full px-2" (click)="addHeaderRow(i)"><ng-icon [name]="'tabler-row-insert-top'" [size]="'1.8rem'"/></button>
          <button class="btn btn-ghost rounded-full px-2" (click)="addHeaderRow(i+1)"><ng-icon [name]="'tabler-row-insert-bottom'" [size]="'1.8rem'"/></button>
          <button class="btn btn-ghost rounded-full px-2" (click)="removeHeaderRow(i)"><ng-icon name="feather-X" size="1.8rem" color="red"/></button>
        </div>
        <button *ngIf="this.viewToEdit.headerRows.length <= 0" class="btn btn-secondary" (click)="addHeaderRow(0)">Add Header Row</button>
        <div class="divider"></div>
        <span>Body Rows</span>
        <div *ngFor="let row of this.viewToEdit.bodyRows; index as i" class="flex flex-row items-center">
          <div class="w-full rounded-md border border-dashed border-neutral/50 p-2 text-center mr-4">Row {{row.uniqueId}}</div>
          <button class="btn btn-ghost rounded-full px-2" (click)="moveBodyRow(i, i-1)"><ng-icon [name]="'tabler-arrow-narrow-up'" [size]="'1.8rem'"/></button>
          <button class="btn btn-ghost rounded-full px-2" (click)="moveBodyRow(i, i+1)"><ng-icon [name]="'tabler-arrow-narrow-down'" [size]="'1.8rem'"/></button>
          <button class="btn btn-ghost rounded-full px-2" (click)="addBodyRow(i)"><ng-icon [name]="'tabler-row-insert-top'" [size]="'1.8rem'"/></button>
          <button class="btn btn-ghost rounded-full px-2" (click)="addBodyRow(i+1)"><ng-icon [name]="'tabler-row-insert-bottom'" [size]="'1.8rem'"/></button>
          <button class="btn btn-ghost rounded-full px-2" (click)="removeBodyRow(i)"><ng-icon name="feather-X" size="1.8rem" color="red"/></button>
        </div>
        <button *ngIf="this.viewToEdit.bodyRows.length <= 0" class="btn btn-secondary" (click)="addBodyRow(0)" >Add Body Row</button>
      </div>
    </ng-container>

  </div>
</ng-template>