<ng-container *ngIf="!loading">
  <!-- Themes FIXME: legacy, can remove (also remove themes folder from backend) -->
  <div class="section">
    <div class="divider">
      <div class="title"><span>Themes</span></div>
    </div>
    <div class="content" id="themes">
      <div *ngFor="let theme of themes" class="theme pointer" [ngClass]="{'current': theme === default}">
        <div>{{theme}}</div>
        <img class="preview" [src]="'assets/imgs/theme-preview.png'" alt="">
      </div>
    </div>
  </div>

  <!-- Authentication  FIXME: legacy -->
  <div class="section">
    <div class="divider">
      <div class="title"><span>Authentication</span></div>
    </div>
    <div class="content"></div>
  </div>
</ng-container>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>
