<app-modal
  [id]="'file-picker-' + id"
  [templateRef]="FILE_PICKER"
  [header]="'Choose file'"
  [submitBtnText]="positiveBtnText"
  [closeBtnText]="negativeBtnText"
  [actionInProgress]="actionInProgress"
  [static]="innerClickEvents"
  [classList]="classList"
  [submitBtnDisabled]="isSelected()"
  (submitBtnClicked)="submit()"
  (onClose)="reset()"
  [size]="'lg'"
></app-modal>

<ng-template #FILE_PICKER>
  <div class="flex flex-col md:flex-row w-full h-80 gap-5">
    <div *ngIf="root && !loading" class="w-full mt-4">

      <div class="flex justify-center">
        <div class="btn btn-sm btn-ghost btn-circle tooltip ml-4" data-tip="Back" (click)="calculatePath()">
          <ng-icon name="tabler-arrow-back-up" size="1.5rem" color="primary"></ng-icon>
        </div>
        <div class="btn btn-sm btn-ghost btn-circle tooltip ml-1" data-tip="Home" (click)="reset(true)">
          <ng-icon name="feather-home" size="1.5rem" color="primary"></ng-icon>
        </div>
        <div class="border-2 rounded-box ml-1.5 whitespace-nowrap overflow-x-auto">
          <span class="text-sm px-3">{{path}}</span>
        </div>
      </div>

      <span *ngIf="root.contents.length === 0" class="text-base-content text-opacity-50 justify-center flex mt-10">
        Nothing to display.
      </span>

      <div *ngIf="root.contents.length > 0" class="mt-4">
        <div class="grid grid-cols-4 gap-4">
          <ng-container *ngFor="let content of root.contents, let i = index">
            <div class="flex flex-col items-center whitespace-normal">
              <div class="group relative btn btn-ghost btn-lg {{content.type === ContentType.FILE && content.selected ? 'border border-5 border-base-content' : ''}}"
                    (click)="toggleItems(root.contents, i)"
                    (dblclick)="content.type === ContentType.FOLDER ? getFolderContents(content) : submit()">

                <button *ngIf="content.type === ContentType.FILE"
                        class="hidden group-hover:block absolute top-0 right-0 btn btn-error btn-sm py-1 px-2 rounded-full"
                        (click)="delete(content.name)">
                  <ng-icon name="jamTrashF"/>
                </button>

                <ng-icon *ngIf="content.type === ContentType.FOLDER" name="tabler-folder" size="4rem"></ng-icon>

                <img *ngIf="content.type === ContentType.FILE && isImage(content)"
                      class="w-[3.75rem] h-[4rem]"
                    [src]="content.previewPhoto?.get('SafeUrl')" alt="image-file-preview" />

                <ng-icon *ngIf="content.type === ContentType.FILE && isVideo(content)"
                        name="tabler-movie" size="4rem"></ng-icon>

                <ng-icon *ngIf="content.type === ContentType.FILE && isAudio(content)"
                        name="feather-volume2" size="4rem"></ng-icon>
              </div>

              <div class="justify-center">
                <span class="whitespace-normal w-[5rem] font-semibold text-sm text-base-content mt-1">{{content.name}}</span>
              </div>

            </div>
          </ng-container>
        </div>
      </div>

    </div>

    <!-- File -->
    <div class="md:w-96 w-full h-full flex flex-col gap-5">
      <app-input-file
        [id]="'input-file'"
        [color]="'primary'"
        [accept]="type.split(', ')"
        [helperPosition]="'right'"
        [helperText]="'File to upload'"
        [required]="false"
        (valueChange)="onFileSelected($event)"
      ></app-input-file>
      <button class="btn btn-primary" (click)="upload()" [disabled]="!fileToUpload">Upload</button>
    </div>

  </div>

  <!-- Loader -->
  <div class="w-full flex justify-center">
    <app-spinner *ngIf="loading" [size]="'md'" [color]="'primary'"></app-spinner>
  </div>

</ng-template>