<app-modal
  [isModalOpen]="isModalOpen"
  [id]="id"
  [classList]="'file-picker ' + classList"
  [templateRef]="filePickerModal"
  (closeBtnClicked)="isModalOpen = false; closeBtnClicked.emit()"
  [actionInProgress]="actionInProgress"
  [innerClickEvents]="innerClickEvents">
</app-modal>

<ng-template #filePickerModal>
  <div class="wrapper">
    <div class="tab">
      <button class="tablinks" [ngClass]="{'active': mode === 'upload'}" (click)="mode = 'upload'">Upload file</button>
      <button class="tablinks" [ngClass]="{'active': mode === 'browse'}" (click)="mode = 'browse'">Browse file</button>
    </div>

    <div class="tabcontent">
      <ng-container *ngIf="mode === 'upload'">
        <div class="full" style="margin-top: 20px">
          <app-input-file
            [id]="'input-file'"
            [accept]="type"
            (valueChange)="onFileSelected($event)">
          </app-input-file>

          <div class="name full">
            <input type="text" id="name" placeholder="File name *" class="form__input" required [(ngModel)]="fileToUploadName">
              <label for="name" class="form__label">Name</label>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="mode === 'browse'">
        <div class="top_browser">
          <div id="back" (click)="goOutside()"></div>
          <div class="path">
            <span id="browse-path">{{path}}</span>
          </div>
        </div>

        <div class="grid">
          <ng-container *ngFor="let item of getFolderContents(contents, path)">
            <div class="square" [ngClass]="{'folder': item.filetype === ContentType.FOLDER, 'image': item.filetype === ContentType.FILE}"
              (click)="goInside(item)">
              <img style="width: 60px; height: 60px;" [ngClass]="{'selected': path + '/' + item.name === this.file}"
                   [src]="getItemIcon(item)">
              <span>{{item.name}}</span>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <button class="cancel_btn" (click)="isModalOpen = false; negativeBtnClicked.emit()">Cancel</button>
  <button class="save_btn" [disabled]="!isReadyToSubmit()" (click)="isModalOpen = false; submit()">Select</button>

  <!-- Loader -->
  <div *ngIf="loading" id="page-loading">
    <img src="assets/loader/loader.gif" alt="loader">
  </div>
</ng-template>
