<ng-container
  [ngTemplateOutlet]="isEmpty ? EMPTY : view.link ? LINK : SIMPLE">
</ng-container>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <span [classList]="view.class"
        [attr.data-viewId]="view.viewId"
        [attr.data-role]="edit ? view.role : null">
    <img class="img" [src]="image.get()" alt=""> <!-- FIXME: should have alt (accessibility) -->
  </span>
</ng-template>

<ng-template #LINK> <!-- FIXME: target should be an option -->
  <a href="{{view.link}}" target="_blank"
     [classList]="view.class"
     [attr.data-viewId]="view.viewId"
     [attr.data-role]="edit ? view.role : null">
    <img class="img" [src]="image.get()" alt=""> <!-- FIXME: should have alt (accessibility) -->
  </a>
</ng-template>

<ng-template #EMPTY>
  <div [classList]="view.class + ' placeholder red'"
       [attr.data-viewId]="view.viewId"
       [attr.data-role]="edit ? view.role : null"></div>
</ng-template>
