<ng-container
  [ngTemplateOutlet]="isEmpty ? EMPTY : view.link ? LINK : BARE">
</ng-container>


<!------------------------------------------------->
<!------------------- TEMPLATES ------------------->
<!------------------------------------------------->
<!-- TODO: missing view commom settings -->
<!-- TODO: missing aspect & editing -->

<ng-template #BARE>
  <img class="image" [src]="image.get()" alt="">
</ng-template>

<ng-template #LINK>
  <a class="image" href="{{view.link}}">
    <img [src]="image.get()" alt="">
  </a>
</ng-template>

<ng-template #EMPTY>
  <div class="image placeholder red"></div>
</ng-template>
