.image {
  padding: 10px 20px;
  display: inline-block;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.placeholder {
    vertical-align: middle;
    display: inline-block;
    background-color: lightskyblue;
    width: 100px;
    height: 100px;
    opacity: 0.5;

    &.red {
      background-color: red;
    }
  }
}
