<ng-container
  [ngTemplateOutlet]="isEmpty ? EMPTY : view.link ? LINK : SIMPLE">
</ng-container>


<!------------------------------------------------>
<!------------------ VARIATIONS ------------------>
<!------------------------------------------------>

<ng-template #SIMPLE>
  <span [attr.id]="view.cssId"
        [classList]="view.class"
        [attr.style]="view.style"
        [attr.data-id]="view.id"
        [attr.data-viewId]="view.viewId"
        [attr.data-role]="edit ? view.role : null"
        [goToPage]="getEvent(EventAction.GO_TO_PAGE) | as : EventGoToPage"
        [hideView]="getEvent(EventAction.HIDE_VIEW) | as : EventHideView"
        [showView]="getEvent(EventAction.SHOW_VIEW) | as : EventShowView"
        [toggleView]="getEvent(EventAction.TOGGLE_VIEW) | as : EventToggleView"
        [mode]="view.mode">
    <img class="img" [src]="image.get()" alt=""> <!-- FIXME: should have alt (accessibility) -->
  </span>
</ng-template>

<ng-template #LINK> <!-- FIXME: target should be an option -->
  <a href="{{view.link}}" target="_blank"
     [attr.id]="view.cssId"
     [classList]="view.class"
     [attr.style]="view.style"
     [attr.data-id]="view.id"
     [attr.data-viewId]="view.viewId"
     [attr.data-role]="edit ? view.role : null"
     [goToPage]="getEvent(EventAction.GO_TO_PAGE) | as : EventGoToPage"
     [hideView]="getEvent(EventAction.HIDE_VIEW) | as : EventHideView"
     [showView]="getEvent(EventAction.SHOW_VIEW) | as : EventShowView"
     [toggleView]="getEvent(EventAction.TOGGLE_VIEW) | as : EventToggleView"
     [mode]="view.mode">
    <img class="img" [src]="image.get()" alt=""> <!-- FIXME: should have alt (accessibility) -->
  </a>
</ng-template>

<ng-template #EMPTY>
  <div [attr.id]="view.cssId"
       [classList]="view.class + ' placeholder red'"
       [attr.style]="view.style"
       [attr.data-id]="view.id"
       [attr.data-viewId]="view.viewId"
       [attr.data-role]="edit ? view.role : null"
       [goToPage]="getEvent(EventAction.GO_TO_PAGE) | as : EventGoToPage"
       [hideView]="getEvent(EventAction.HIDE_VIEW) | as : EventHideView"
       [showView]="getEvent(EventAction.SHOW_VIEW) | as : EventShowView"
       [toggleView]="getEvent(EventAction.TOGGLE_VIEW) | as : EventToggleView"
       [mode]="view.mode"></div>
</ng-template>
