<!-- Type: TEXT -->
<ng-container *ngIf="type === DataType.TEXT">
  <p *ngIf="!subtitle" class="prose text-sm {{Align}} {{classList}}">{{text ?? ''}}</p>

  <div *ngIf="subtitle" class="prose text-sm {{Align}} {{classList}}">
    <h4>{{text ?? ''}}</h4>
    <p class="opacity-50">{{subtitle ?? ''}}</p>
  </div>
</ng-container>

<!-- Type: NUMBER -->
<ng-container *ngIf="type === DataType.NUMBER">
  <p class="prose text-sm {{Align}} {{classList}}">{{value !== null && value !== undefined ? value.format(valueFormat) : ''}}</p>
</ng-container>

<!-- Type: DATE -->
<ng-container *ngIf="type === DataType.DATE">
  <p class="prose text-sm {{Align}} {{classList}}">{{date ? date.format(dateFormat) : 'Never'}}</p>
</ng-container>

<!-- Type: TIME -->
<ng-container *ngIf="type === DataType.TIME">
  <p class="prose text-sm {{Align}} {{classList}}">{{time ? time.format(timeFormat) : 'Never'}}</p>
</ng-container>

<!-- Type: DATETIME -->
<ng-container *ngIf="type === DataType.DATETIME">
  <p class="prose text-sm {{Align}} {{classList}}">{{datetime ? datetime.format(datetimeFormat) : 'Never'}}</p>
</ng-container>

<!-- Type: COLOR -->
<ng-container *ngIf="type === DataType.COLOR">
  <div class="flex {{Align}} items-center gap-2 {{classList}}">
    <div class="w-5 h-5 rounded border border-gray-400 shadow-sm {{Align}}" [ngStyle]="{backgroundColor: color}"></div>

    <div *ngIf="colorLabel" class="prose text-sm">
      <span>{{colorLabel}}</span>
    </div>
  </div>
</ng-container>

<!-- Type: IMAGE -->
<ng-container *ngIf="type === DataType.IMAGE">
  <div class="avatar flex {{Align}} items-center">
    <div class="w-9 {{imgShape === 'round' ? 'rounded-full' : imgShape === 'square' ? 'rounded-xl' : ''}}">
      <img class="object-cover {{classList}}" [src]="img?.get('SafeUrl')" alt="" />
    </div>
  </div>
</ng-container>

<!-- Type: PILL -->
<ng-container *ngIf="type === DataType.PILL">
  <div class="{{Align}} items-center">
    <div class="badge badge-sm {{pillColor ? pills[pillColor] : ''}} {{classList}}">{{pillText}}</div>
  </div>
</ng-container>

<!-- Type: BUTTON -->
<ng-container *ngIf="type === DataType.BUTTON">
  <button class="btn btn-sm flex-nowrap {{buttonColor ? buttons[buttonColor] : ''}} {{buttonStyle === 'outline' ? 'btn-outline' : ''}}
          {{classList}}" [ngClass]="{'gap-2': buttonIcon}" (click)="btnClicked.emit('single')">
    <ng-icon *ngIf="buttonIcon" [name]="buttonIcon" size="1.2rem"></ng-icon>
    {{buttonText}}
  </button>
</ng-container>

<!-- Type: AVATAR -->
<ng-container *ngIf="type === DataType.AVATAR">
  <div class="{{Align}}">

    <div class="flex items-center space-x-3 {{classList}}">
      <div class="avatar">
        <div class="mask mask-circle w-9 h-9">
          <img class="object-cover" [src]="avatar?.get('SafeUrl') ?? DefaultProfileImg" [alt]="avatarTitle" />
        </div>
      </div>

      <div class="prose text-sm">
        <h4 class="!mb-0.5">{{avatarTitle ?? ''}}</h4>
        <span *ngIf="avatarSubtitle" class="opacity-50">{{avatarSubtitle}}</span>
      </div>
    </div>

  </div>
</ng-container>

<!-- Type: CHECKBOX -->
<ng-container *ngIf="type === DataType.CHECKBOX">
  <div class="flex items-center {{Align}}">
    <app-input-checkbox
      [id]="checkboxId"
      [(value)]="checkboxValue"
      [color]="checkboxColor"
      [classList]="classList"
      [disabled]="checkboxDisabled"
      (valueChange)="valueChanged.emit($event)">
    </app-input-checkbox>
    <span class="hidden">{{toggleValue ? 'true' : 'false'}}</span> <!-- NOTE: needed for searching -->
  </div>
</ng-container>

<!-- Type: RADIO -->
<ng-container *ngIf="type === DataType.RADIO">
  <div class="flex items-center {{Align}}">
    <app-input-radio
      [id]="radioId"
      [group]="radioGroup"
      [optionValue]="radioOptionValue"
      [(value)]="radioOptionValue"
      [color]="radioColor"
      [classList]="classList"
      [disabled]="radioDisabled"
      (valueChange)="valueChanged.emit($event)">
    </app-input-radio>
    <span class="hidden">{{toggleValue ? 'true' : 'false'}}</span> <!-- NOTE: needed for searching -->
  </div>
</ng-container>

<!-- Type: TOGGLE -->
<ng-container *ngIf="type === DataType.TOGGLE">
  <div class="flex items-center {{Align}}">
    <app-input-toggle
      [id]="toggleId"
      [(value)]="toggleValue"
      [color]="toggleColor"
      [classList]="classList"
      [disabled]="toggleDisabled"
      (valueChange)="valueChanged.emit($event)">
    </app-input-toggle>
    <span class="hidden">{{toggleValue ? 'true' : 'false'}}</span> <!-- NOTE: needed for searching -->
  </div>
</ng-container>

<!-- Type: ACTIONS -->
<ng-container *ngIf="type === DataType.ACTIONS">
  <div class="flex {{Align}} items-center text-sm">
    <ng-container *ngFor="let action of actions">

      <div *ngIf="action === Action.DUPLICATE || $any(action).action === Action.DUPLICATE" class="tooltip" data-tip="Copy" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.DUPLICATE)">
          <ng-icon name="jam-files-f" size="1.5rem" class="text-primary"></ng-icon>
        </button>
      </div>

      <div *ngIf="action === Action.EDIT || $any(action).action === Action.EDIT" class="tooltip" data-tip="Edit" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.EDIT)">
          <ng-icon name="jam-pencil-f" size="1.5rem" class="text-warning"></ng-icon>
        </button>
      </div>

      <div *ngIf="action === Action.DELETE || $any(action).action === Action.DELETE" class="tooltip" data-tip="Delete" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.DELETE)">
          <ng-icon name="jam-trash-f" size="1.5rem" class="text-error"></ng-icon>
        </button>
      </div>

      <div *ngIf="action === Action.REMOVE || $any(action).action === Action.REMOVE" class="tooltip" data-tip="Remove" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.REMOVE)">
          <ng-icon name="feather-x" size="1.5rem" class="text-error"></ng-icon>
        </button>
      </div>

      <div *ngIf="action === Action.VIEW || $any(action).action === Action.VIEW" class="tooltip" data-tip="View" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.VIEW)">
          <ng-icon name="jam-eye-f" size="1.5rem" class="text-base-content text-opacity-75"></ng-icon>
        </button>
      </div>

      <div table-data *ngIf="action === Action.VIEW_RULE || $any(action).action === Action.VIEW_RULE"
        [type]="DataType.BUTTON"
        [data]="{buttonText: 'Rule', buttonColor: 'secondary', buttonStyle: 'outline', buttonIcon: 'tabler-clipboard-list'}"
        (btnClicked)="btnClicked.emit(Action.VIEW_RULE)">
      </div>

      <div *ngIf="action === Action.MOVE_UP || $any(action).action === Action.MOVE_UP" class="tooltip" data-tip="Move up" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.MOVE_UP)">
          <ng-icon name="tabler-arrow-narrow-up" size="1.5rem" class="text-base-content text-opacity-75"></ng-icon>
        </button>
      </div>

      <div *ngIf="action === Action.MOVE_DOWN || $any(action).action === Action.MOVE_DOWN" class="tooltip" data-tip="Move down" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.MOVE_DOWN)">
          <ng-icon name="tabler-arrow-narrow-down" size="1.5rem" class="text-base-content text-opacity-75"></ng-icon>
        </button>
      </div>

      <div *ngIf="action  === Action.IMPORT || $any(action).action === Action.IMPORT" class="tooltip" data-tip="Import" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.IMPORT)">
          <ng-icon name="jam-download" size="1.5rem" class="text-base-content text-opacity-75"></ng-icon>
        </button>
      </div>

      <div *ngIf="action  === Action.EXPORT || $any(action).action === Action.EXPORT" class="tooltip" data-tip="Export" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit(Action.EXPORT)">
          <ng-icon name="jam-upload" size="1.5rem" class="text-base-content text-opacity-75"></ng-icon>
        </button>
      </div>

      <div *ngIf="isCustomAction(action)" class="tooltip" [attr.data-tip]="$any(action).action.capitalize()" [ngClass]="{'cursor-not-allowed': $any(action).disabled}">
        <button type="button" class="btn btn-sm btn-ghost btn-circle h-10 w-10" [disabled]="$any(action).disabled" (click)="btnClicked.emit($any(action).action)">
          <ng-icon name="{{$any(action).icon}}" size="1.5rem" class="{{textColors[$any(action).color]}}"></ng-icon>
        </button>
      </div>

    </ng-container>
  </div>
</ng-container>

<!-- Type: CUSTOM -->
<ng-container *ngIf="type === DataType.CUSTOM">
  <div [innerHTML]="html | sanitizeHTML"></div>
</ng-container>
