<div class="w-full relative">

  <!-- Header -->
  <app-header [title]="'Roles'" [icon]="'tabler-id-badge-2'" [loading]="loading.action"></app-header>

  <div *ngIf="showAlert" class="alert alert-warning shadow-md mb-6">
    <div>
      <ng-icon name="tabler-alert-triangle" size="1rem"></ng-icon>
      <span><strong>'Adaptation'</strong> role must be <strong>inside 'Student'</strong> role in order to work!</span>
    </div>
  </div>

  <!-- Roles list -->
  <div *ngIf="!loading.page" [id]="'roles-list'" class="dd max-w-none ml-10 mt-8">
    <ng-container
      [ngTemplateOutlet]="LIST"
      [ngTemplateOutletContext]="{rolesHierarchy: course.roleHierarchy}">
    </ng-container>

    <!-- Add button -->
    <button class="btn btn-wide w-[calc(100%-6rem)] gap-2"
            (click)="mode = 'add'; roleToManage = initRoleToManage(); ModalService.openModal('manage')">
      <ng-icon name="feather-plus-circle" size="1.5rem" class="text-neutral-content"></ng-icon>
      Add role
    </button>
  </div>

  <!-- Actions -->
  <div class="flex items-center justify-end mt-6 sm:mr-[6rem]">
    <button type="button" class="btn btn-ghost mr-2" (click)="discard()">Discard changes</button>
    <button type="submit" class="btn btn-primary" (click)="save()">

      <!-- Spinner -->
      <ng-container *ngIf="loading.action">
        <app-spinner [size]="'sm'" [color]="'primary-content'" [classList]="'mr-3'"></app-spinner>
      </ng-container>

      Save
    </button>
  </div>

  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>

</div>

<!-- Roles List -->
<ng-template #LIST let-rolesHierarchy='rolesHierarchy'>

  <ol class="dd-list">
    <li *ngFor="let role of rolesHierarchy" class="dd-item" [ngClass]="{'dd-nodrag': isDefaultRole(role.name) || isAdaptationRole(role.name)}"
        [attr.data-id]="role.id ?? null" [attr.data-name]="role.name" [attr.data-landingpage]="role.landingPage ?? null">

      <div class="flex items-center mb-3">

        <div class="flex items-center w-[calc(100%-6rem)]">
            <!-- Move -->
            <div *ngIf="!isDefaultRole(role.name) && !isAdaptationRole(role.name)"
                 class="tooltip align-middle absolute -left-10" data-tip="Move">
              <button class="dd-handle btn btn-sm btn-ghost btn-circle hover:text-base-content m-0 relative cursor-grab">
                <ng-icon name="feather-move" size="1.2rem">
                </ng-icon>
                <div class="dd-handle overlay h-[1.2rem] w-[1.2rem]"></div>
              </button>
            </div>

          <!-- Role -->
          <div class="dd-content flex flex-row" [ngClass]="{'!border-primary !border-opacity-75 text-primary font-semibold': isDefaultRole(role.name) || isAdaptationRole(role.name)}">
            <span>{{role.name}}</span>
            <span class="ml-auto" *ngIf="getPageTitle(role.landingPage)">Landing Page: {{getPageTitle(role.landingPage)}}</span>
            <span class="ml-auto font-normal italic text-base-content/30" *ngIf="!getPageTitle(role.landingPage)">No Landing Page Set</span>
          </div>
        </div>

        <!-- Actions -->
        <div class="flex items-center">
          <div *ngIf="!isAdaptationRole(role.name) && !isAdaptationTitle(role.name)" class="tooltip align-middle" data-tip="Add child"
               (click)="mode = 'add'; roleToManage = initRoleToManage(null, role); ModalService.openModal('manage')">

            <button class="btn btn-sm btn-ghost btn-circle">
              <ng-icon name="jam-plus" size="1.5rem"></ng-icon>
            </button>
          </div>

          <div *ngIf="visiblePages.length > 0"
               class="tooltip align-middle" data-tip="Edit"
               (click)="mode = 'edit'; roleToManage = initRoleToManage(role); ModalService.openModal('manage')">

            <button class="btn btn-sm btn-ghost btn-circle">
              <ng-icon name="jam-pencil-f" size="1.5rem" class="text-warning"></ng-icon>
            </button>
          </div>

          <div *ngIf="!isDefaultRole(role.name) && !isAdaptationRole(role.name) && !isAdaptationTitle(role.name)"
               class="tooltip align-middle" data-tip="Delete"
               (click)="removeRole(role)">

            <button class="btn btn-sm btn-ghost btn-circle">
              <ng-icon name="jam-trash-f" size="1.5rem" class="text-error"></ng-icon>
            </button>
          </div>
        </div>

      </div>

      <ng-container *ngIf="role.children"
                    [ngTemplateOutlet]="LIST"
                    [ngTemplateOutletContext]="{rolesHierarchy: role.children}">
      </ng-container>
    </li>
  </ol>

</ng-template>


<!-- New / Edit Modal -->
<app-modal *ngIf="mode && roleToManage"
           [id]="'manage'"
           [templateRef]="MANAGE"
           [header]="mode?.capitalize() + ' role'"
           [closeBtnText]="'Discard'"
           [submitBtnText]="mode === 'add' ? mode?.capitalize() + ' role' : 'Keep Changes'"
           [actionInProgress]="loading.action"
           (submitBtnClicked)="f.onSubmit(null); mode === 'add' ? addRole() : editRole()"
           (onClose)="resetManage()">
</app-modal>

<ng-template #MANAGE>
  <form #f="ngForm">

    <!-- Name -->
    <app-input-text *ngIf="!isDefaultRole(roleToManage.name) && !isAdaptationRole(roleToManage.name) && !isAdaptationTitle(roleToManage.name)"
      [id]="'role-name'"
      [form]="f"
      [(value)]="roleToManage.name"
      [placeholder]="'Role name'"
      [topLabel]="'Name'"
      [pattern]="'^[^\\s]+$'"
      [patternErrorMessage]="'Role name can\'t have white spaces'"
      [required]="true"
      [maxLength]="50"
      [maxLengthErrorMessage]="'Role name is too long: maximum of 50 characters'">
    </app-input-text>

    <!-- Landing Page -->
    <app-input-select *ngIf="visiblePages.length > 0"
      [id]="'role-page'"
      [form]="f"
      [(value)]="roleToManage.landingPage"
      [options]="visiblePages"
      [placeholder]="'Select a landing page'"
      [classList]="'mt-3'"
      [topLabel]="'Landing Page'">
    </app-input-select>

  </form>
</ng-template>
