<ng-container *ngIf="!loading">
  <div class="content" id="roles_page">

    <!-- Roles -->
    <div class="dd" id="roles-config">
      <div class="header">
        <span class="role_sections">Roles</span>
        <span class="page_sections">Landing Page</span>
      </div>

      <ng-container
        [ngTemplateOutlet]="roleList"
        [ngTemplateOutletContext]="{roles: rolesHierarchy}">
      </ng-container>
    </div>

    <!-- Add btn -->
    <div id="add_role_button_box">
      <button title="New" (click)="isNewRoleModalOpen = true; newRole.parent = null" class="add_button icon"></button>
    </div>

    <!-- Action buttons -->
    <div class="action-buttons">
      <div id="undo_icon" class="icon undo_icon disabled" title="Undo" (click)="undo()"></div>
      <div id="redo_icon" class="icon redo_icon disabled" title="Redo" (click)="redo()"></div>
      <button id="role-change-button" class="button" [disabled]="!hasChanges" (click)="saveRoles()">Save Changes</button>
    </div>
  </div>

  <div class="success_box">
    <div id="action_completed" class="success_msg"></div>
  </div>
</ng-container>

<!-- Loader -->
<div *ngIf="loading" id="page-loading">
  <img src="assets/loader/loader.gif" alt="loader">
</div>


<!-- Role List -->
<ng-template #roleList let-roles='roles'>

  <ol class="dd-list">
    <li *ngFor="let role of roles" class="dd-item" [ngClass]="{'dd-nodrag': defaultRoles.includes(role.name)}"
        [attr.data-name]="role.name">

      <div class="handle icon" [ngClass]="{'dd-handle': !defaultRoles.includes(role.name)}"></div>
      <div class="dd-content">{{role.name}}</div>

      <select class="dd-content" [(ngModel)]="selectedPage[role.name]" (ngModelChange)="saveLandingPage(role)">
        <option [ngValue]="null" [selected]="role.landingPage === null">Default Course Page</option>
        <option *ngFor="let page of pages" [ngValue]="page.id" [selected]="role.landingPage === page.id">{{page.name}}</option>
      </select>

      <img class="dd-add icon" (click)="isNewRoleModalOpen = true; newRole.parent = role" src="assets/icons/add_icon_no_outline.svg" title="New">
      <img class="dd-remove icon" (click)="removeRole(role)" src="assets/icons/delete_icon.svg" title="Remove">

      <ng-container *ngIf="role.children"
        [ngTemplateOutlet]="roleList"
        [ngTemplateOutletContext]="{roles: role.children}">
      </ng-container>
    </li>
  </ol>

</ng-template>


<ng-container *ngIf="isNewRoleModalOpen">
  <app-modal
    [isModalOpen]="isNewRoleModalOpen"
    [id]="'new-role'"
    [classList]="'little_modal'"
    [templateRef]="newRoleModal"
    (closeBtnClicked)="isNewRoleModalOpen = false; clearObject(newRole)">
  </app-modal>
</ng-container>

<ng-template #newRoleModal>
  <div class="title">New Role:</div>
  <div class="content">
    <div class="inputs">
      <div class="name full">
        <input type="text" class="form__input" id="role_name" placeholder="Name *" [(ngModel)]="newRole.name" [required]="true">
        <label for="role_name" class="form__label">Name</label>
      </div>
    </div>
    <button class="save_btn" id="submit_role" [disabled]="!isReadyToSubmit()" (click)="addRole()">Continue</button>
  </div>
</ng-template>
