.modules {
  margin-left: -35px;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 219px);
  width: calc(100% + 35px);
  justify-content: space-between;
}

.module_card {
  width: 180px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 35px;
  position: relative;
  height: 177px;
  cursor: pointer;

  .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    left: -30px;
    top: -15px;
    z-index: 1;
    background-color: white;
    background-size: 45px;
    background-position: center;
  }

  .header {
    font-size: 14px;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: center;
    border: 1px solid grey;
    background-color: #e6e6e6;
  }

  .text {
    width: calc(100% - 40px);
    font-size: 12px;
    padding: 15px 20px;
    height: 100px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    color: #484848;
  }

  .text.no-status {
    border-bottom: 1px solid grey;
  }
}

.content {
  #description {
    margin-bottom: 20px;
  }

  .label {
    font-weight: 500;
    margin-right: 10px;
  }

  .row {
    margin: 5px 0;

    .details {
      color: gray;
    }
  }
}

/*status bar also used on the views page*/

.status {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 1;
}

.status.disable {
  border: 1px solid red;
}

.status.enable {
  border: 1px solid green;
}

.status .background {
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.status.disable .background {
  background-color: red;
}

.status.enable .background {
  background-color: green;
}

.search {
  width: 50%;
  justify-content: flex-start;
  margin-bottom: 20px;
  max-width: 470px;
  position: absolute;
  top: 30px;
}

#seach_input {
  flex-grow: 1;
}
