<div class="w-full relative">

  <!-- Header -->
  <app-header [title]="'Courses'" [icon]="'tabler-books'" [loading]="loading.action"></app-header>

  <!-- Admin Template -->
  <ng-container *ngIf="user?.isAdmin" [ngTemplateOutlet]="ADMIN"></ng-container>

  <!-- Non-Admin Template -->
  <ng-container *ngIf="!user?.isAdmin" [ngTemplateOutlet]="NON_ADMIN"></ng-container>

</div>


<!-- Admin Template -->
<ng-template #ADMIN>

  <!-- Top Actions -->
  <app-top-actions
    [leftActions]="[
      {action: Action.IMPORT, icon: 'jam-download'},
      {action: Action.EXPORT, icon: 'jam-upload'}
    ]"
    [rightActions]="[{action: 'Create course', icon: 'feather-plus-circle', color: 'primary'}]"
    (btnClicked)="doAction($event)">
  </app-top-actions>

  <!-- Courses Table -->
  <app-table
    [id]="'courses'"
    [classList]="'mt-5'"
    [headers]="headers"
    [data]="data"
    [options]="tableOptions"
    [loading]="loading.table"
    (btnClicked)="doActionOnTable($event.type, $event.row, $event.col)"
    (valueChanged)="doActionOnTable('value changed', $event.row, $event.col, $event.value)">
  </app-table>

  <!-- Loader -->
  <app-loader [loading]="loading.page"></app-loader>

</ng-template>


<!-- Non-Admin Template -->
<ng-template #NON_ADMIN>

  <!-- Active courses -->
  <div class="flex flex-wrap -mx-4">

    <ng-container *ngIf="!loading.page">
      <div *ngFor="let course of filterCourses(true)" class="sm:w-1/2 xl:w-1/3 2xl:w-1/4 w-full p-4">
        <app-course-card [course]="course" [user]="user"></app-course-card>
      </div>
    </ng-container>

    <!-- Courses Skeleton -->
    <ng-container *ngIf="loading.page">
      <div *ngFor="let placeholder of [1, 2, 3, 4, 5]" class="lg:w-1/3 sm:w-1/2 w-full p-4">
        <app-course-skeleton></app-course-skeleton>
      </div>
    </ng-container>

  </div>

  <!-- Inactive courses -->
  <app-header [subHeader]="true" [title]="'Archive'" [icon]="'tabler-archive'" [classList]="'mt-10'"></app-header>
  <div class="flex flex-wrap -mx-4">

    <ng-container *ngIf="!loading.page">
      <div *ngFor="let course of filterCourses(false)" class="sm:w-1/2 xl:w-1/3 2xl:w-1/4 w-full p-4">
        <app-course-card [course]="course" [user]="user"></app-course-card>
      </div>
    </ng-container>

    <!-- Courses Skeleton -->
    <ng-container *ngIf="loading.page">
      <div *ngFor="let placeholder of [1, 2, 3, 4, 5]" class="lg:w-1/3 sm:w-1/2 w-full p-4">
        <app-course-skeleton></app-course-skeleton>
      </div>
    </ng-container>

  </div>

</ng-template>


<!-- New / Edit Modal -->
<app-modal *ngIf="mode && courseToManage"
  [id]="'manage'"
  [templateRef]="MANAGE"
  [size]="'md'"
  [header]="mode?.capitalize() + ' course'"
  [closeBtnText]="'Discard ' + (mode === 'create' ? 'course' : 'changes')"
  [submitBtnText]="mode?.capitalize() + ' course'"
  [actionInProgress]="loading.action"
  (submitBtnClicked)="f.onSubmit(null); mode === 'create' ? createCourse() : editCourse()"
  (onClose)="resetManage()">
</app-modal>

<ng-template #MANAGE>
  <form #f="ngForm">

    <!-- Name -->
    <app-input-text
      [id]="'course-name'"
      [form]="f"
      [(value)]="courseToManage.name"
      [placeholder]="'Course name'"
      [topLabel]="'Name'"
      [pattern]="'^[x00-\\xFF\\w()&\\s-]+$'"
      [patternErrorMessage]="'Course name \'' + courseToManage.name + '\' is not allowed. Allowed characters: alphanumeric  _  (  )  -  &'"
      [required]="true"
      [maxLength]="100"
      [maxLengthErrorMessage]="'Course name is too long: maximum of 100 characters'">
    </app-input-text>

    <div class="flex flex-wrap mt-3">
      <!-- Short -->
      <div class="w-full sm:w-1/3 sm:pr-3">
        <app-input-text
          [id]="'course-short'"
          [form]="f"
          [(value)]="courseToManage.short"
          [placeholder]="'Course acronym'"
          [topLabel]="'Acronym'"
          [pattern]="'(?!^\\d+$)^.+$'"
          [patternErrorMessage]="'Course acronym can\'t be composed of only numbers.'"
          [maxLength]="20"
          [maxLengthErrorMessage]="'Course acronym is too long: maximum of 20 characters'">
        </app-input-text>
      </div>

      <!-- Year -->
      <div class="w-full sm:w-1/3 sm:pr-3">
        <app-input-select
          [id]="'course-year'"
          [form]="f"
          [(value)]="courseToManage.year"
          [options]="yearOptions"
          [placeholder]="'Select an academic year'"
          [search]="false"
          [classList]="'mt-3 sm:mt-0'"
          [topLabel]="'Academic year'"
          [required]="true">
        </app-input-select>
      </div>

      <!-- Color -->
      <div class="w-full sm:w-1/3">
        <app-input-color
          [id]="'course-color'"
          [form]="f"
          [(value)]="courseToManage.color"
          [placeholder]="'Course color'"
          [classList]="'mt-3 sm:mt-0'"
          [topLabel]="'Color'">
        </app-input-color>
      </div>
    </div>

    <div class="flex flex-wrap mt-3">

      <!-- Start date -->
      <div class="w-full sm:w-1/2 sm:pr-3">
        <app-input-date
          [id]="'course-start'"
          [form]="f"
          [(value)]="courseToManage.startDate"
          [placeholder]="'Course start date'"
          [topLabel]="'Start date'">
        </app-input-date>
      </div>

      <!-- End date -->
      <div class="w-full sm:w-1/2 sm:pr-3">
        <app-input-date
          [id]="'course-end'"
          [form]="f"
          [(value)]="courseToManage.endDate"
          [placeholder]="'Course end date'"
          [classList]="'mt-3 sm:mt-0'"
          [topLabel]="'End date'">
        </app-input-date>
      </div>

    </div>

  </form>
</ng-template>


<!-- Delete Verification Modal -->
<app-simple-modal *ngIf="courseToDelete"
  [id]="'delete-verification'"
  [title]="'Delete course'"
  [text]="'Are you sure you want to delete course \'' + courseToDelete?.name + '\'? You won\'t be able to undo this action.'"
  [submitBtnText]="'Delete'"
  [submitBtnColor]="'error'"
  [actionInProgress]="loading.action"
  (submitBtnClicked)="deleteCourse(courseToDelete)"
  (onClose)="courseToDelete = null">
</app-simple-modal>


<!-- Import Modal -->
<!--<ng-container *ngIf="isImportModalOpen">-->
<!--  <app-modal-->
<!--    [isOpen]="isImportModalOpen"-->
<!--    [id]="'import-course'"-->
<!--    [templateRef]="importModal"-->
<!--    (closeBtnClicked)="isImportModalOpen = false"-->
<!--    [actionInProgress]="saving"-->
<!--    [innerClickEvents]="false"-->
<!--    [classList]="'verification'">-->
<!--  </app-modal>-->
<!--</ng-container>-->

<ng-template #importModal>

  <div class="warning">Please select a .zip file to be imported</div>
  <app-input-file
    [id]="'import_course'"
    [accept]="'.zip'"
    [classList]="'config_input'"
    (valueChange)="onFileSelected($event)">
  </app-input-file>

  <div class="confirmation_btns">
    <button (click)="importCourses(true)">Import Courses (Replace Duplicates)</button>
    <button (click)="importCourses(false)">Import Courses (Ignore Duplicates)</button>
  </div>

</ng-template>
