<!-- Tabs -->
<div *ngIf="!loading.page && skillTrees?.length > 1" class="tabs tabs-boxed w-full justify-center mt-10 mb-5">
  <a *ngFor="let info of skillTreesInfo; let i = index" class="tab tab-lg" [ngClass]="{'tab-active': info.skillTreeId === skillTreeInView?.id}"
    (click)="skillTreeInView = skillTrees[i]">
    {{this.skillTrees[i].name ?? ('Skill Tree #' + (i+1))}}
  </a>
</div>

<!-- Tiers -->
<div *ngIf="skillTreeInView" class="card w-full bg-base-100 shadow-xl">
  <div class="card-body">

    <!-- Header -->
    <div class="flex items-center mb-3">
      <h2 class="card-title mb-0">Tiers</h2>
        <app-spinner *ngIf="getSkillTreeInfo(skillTreeInView.id).loading.tiers" [size]="'sm'" [color]="'primary'" [classList]="'ml-3'"></app-spinner>
    </div>

    <!-- Top Actions -->
    <app-top-actions
      [leftActions]="[
        {action: Action.IMPORT, icon: 'jam-download'},
        {action: Action.EXPORT, icon: 'jam-upload'}
      ]"
      [rightActions]="[{action: 'Create tier', icon: 'feather-plus-circle', color: 'primary'}]"
      (btnClicked)="doAction('tiers', $event)">
    </app-top-actions>

    <!-- Tiers Table -->
    <app-table
      [id]="skillTreeInView.id + '-tiers'"
      [classList]="'mt-5'"
      [headers]="tablesInfo.tiers.headers"
      [data]="getSkillTreeInfo(skillTreeInView.id).data.tiers"
      [options]="tablesInfo.tiers.tableOptions"
      [loading]="loading.page"
      (btnClicked)="doActionOnTable('tiers', $event.type, $event.row, $event.col)"
      (valueChanged)="doActionOnTable('tiers', 'value changed', $event.row, $event.col, $event.value)">
    </app-table>

  </div>

  <!-- New / Edit Modal -->
  <app-modal *ngIf="tierMode && tierToManage"
     [id]="'tier-manage'"
     [templateRef]="TIER_MANAGE"
     [size]="'md'"
     [header]="tierMode?.capitalize() + ' tier'"
     [closeBtnText]="'Discard ' + (tierMode === 'create' ? 'tier' : 'changes')"
     [submitBtnText]="tierMode === 'create' ? tierMode?.capitalize() + ' tier' : 'Save'"
     [actionInProgress]="getSkillTreeInfo(skillTreeInView.id).loading.tiers"
     (submitBtnClicked)="fTier.onSubmit(null); tierMode === 'create' ? createTier() : editTier()"
     (onClose)="resetTierToManage()">
  </app-modal>

  <ng-template #TIER_MANAGE>
    <form #fTier="ngForm">

      <div class="flex flex-wrap">

        <!-- Name -->
        <div class="w-full sm:w-1/2 sm:pr-3">
          <app-input-text
            [id]="'tier-name'"
            [form]="fTier"
            [(value)]="tierToManage.name"
            [placeholder]="'Tier name'"
            [disabled]="tierToManage.name === 'Wildcard'"
            [topLabel]="'Name'"
            [required]="true"
            [maxLength]="50"
            [maxLengthErrorMessage]="'Tier name is too long: maximum of 50 characters'"
            [helperText]="'Name for tier'"
            [helperPosition]="'right'">
          </app-input-text>
        </div>

        <!-- Reward -->
        <div class="w-full sm:w-1/2 mt-3 sm:mt-0">
          <app-input-number
            [id]="'tier-reward'"
            [form]="fTier"
            [(value)]="tierToManage.reward"
            [placeholder]="'Tier reward'"
            [topLabel]="'Reward (XP)'"
            [required]="true"
            [minValue]="0"
            [helperText]="'XP earned on each skill of tier'"
            [helperPosition]="'left'">
          </app-input-number>
        </div>

      </div>

      <!-- Skills cost -->
      <ng-container *ngIf="VCEnabled">
        <span class="block font-semibold pl-1 pt-2 mt-10">Skills cost ({{VCName}})</span>

        <!-- Cost Type -->
        <div class="flex flex-wrap">
          <app-input-radio
            [id]="'cost-type-fixed'"
            [group]="'cost-type'"
            [form]="fTier"
            [optionValue]="'fixed'"
            [(value)]="tierToManage.costType"
            [color]="'primary'"
            [classList]="'mr-8'"
            [label]="'Fixed'"
            [helperText]="'All skill attempts in this tier cost the same fixed amount of ' + VCName"
            [helperPosition]="'right'">
          </app-input-radio>

          <app-input-radio
            [id]="'cost-type-incremental'"
            [group]="'cost-type'"
            [form]="fTier"
            [optionValue]="'incremental'"
            [(value)]="tierToManage.costType"
            [color]="'primary'"
            [classList]="'mr-8'"
            [label]="'Incremental'"
            [helperText]="'Cost in ' + VCName + ' of skill attempts in this tier is increased by \'increment\' for each prior attempt with a rating higher than \'min. rating\'. Formula: base + increment x #attempts w/ rating >= min.rating'">
          </app-input-radio>
          
          <app-input-radio
            [id]="'cost-type-exponential'"
            [group]="'cost-type'"
            [form]="fTier"
            [optionValue]="'exponential'"
            [(value)]="tierToManage.costType"
            [color]="'primary'"
            [label]="'Exponential'"
            [helperText]="'Cost in ' + VCName + ' of skill attempts in this tier is increased exponentially for each prior attempt with a rating higher than \'min. rating\'. Formula: base + (if first attempt: 0, else: increment x 2 ^ #attempts w/ rating >= min.rating - 1)'">
          </app-input-radio>
        </div>

        <div class="flex flex-wrap">

          <!-- Base Cost -->
          <div class="w-full sm:w-1/3 sm:pr-3">
            <app-input-number
              [id]="'tier-cost'"
              [form]="fTier"
              [(value)]="tierToManage.cost"
              [placeholder]="'Skill base cost'"
              [topLabel]="'Base cost (' + VCName + ')'"
              [helperText]="'Baseline cost for skills in this tier'"
              [helperPosition]="'right'"
              [required]="true"
              [minValue]="0">
            </app-input-number>
          </div>

          <!-- Increment Cost -->
          <div class="w-full sm:w-1/3 sm:pr-3">
            <app-input-number
              [id]="'tier-increment'"
              [form]="fTier"
              [(value)]="tierToManage.increment"
              [placeholder]="'Increment on each attempt'"
              [disabled]="tierToManage.costType === 'fixed'"
              [topLabel]="'Increment (' + VCName + ')'"
              [helperText]="'Cost increment on each attempt of skills in this tier'"
              [helperPosition]="'right'"
              [required]="true"
              [minValue]="0">
            </app-input-number>
          </div>

          <!-- Min. Rating -->
          <div class="w-full sm:w-1/3 self-end">
            <app-input-number
              [id]="'tier-min-rating'"
              [form]="fTier"
              [(value)]="tierToManage.minRating"
              [placeholder]="'Min. rating'"
              [disabled]="tierToManage.costType === 'fixed'"
              [topLabel]="'Min. attempt rating'"
              [helperText]="'Min. skill rating to start incrementing cost'"
              [helperPosition]="'left'"
              [required]="true"
              [minValue]="0">
            </app-input-number>
          </div>

        </div>
      </ng-container>

    </form>
  </ng-template>

  <!-- Delete Verification Modal -->
  <app-simple-modal *ngIf="tierToDelete"
    [id]="'tier-delete-verification'"
    [title]="'Delete tier'"
    [text]="'Are you sure you want to delete tier \'' + tierToDelete?.name + '\'? You won\'t be able to undo this action.'"
    [submitBtnText]="'Delete'"
    [submitBtnColor]="'error'"
    [actionInProgress]="getSkillTreeInfo(skillTreeInView.id).loading.tiers"
    (submitBtnClicked)="deleteTier(tierToDelete)"
    (onClose)="tierToDelete = null">
  </app-simple-modal>

  <!-- Import Modal -->
  <app-modal
    [id]="'tier-import'"
    [templateRef]="TIER_IMPORT"
    [header]="'Import Tiers'"
    [submitBtnText]="'Import'"
    [actionInProgress]="getSkillTreeInfo(skillTreeInView.id).loading.tiers"
    (submitBtnClicked)="fSkillsImport.onSubmit(null); importTiers()"
    (onClose)="resetImport()">
  </app-modal>

  <ng-template #TIER_IMPORT>
    <div class="prose flex items-center gap-1 mb-3">
      <p class="mb-0">Upload a .ZIP file containing tier information</p>
      <app-import-helper
        [id]="'import-helper-tiers'"
        [format]="'.zip'"
        [requirements]="[]"
      >
      </app-import-helper>
    </div>

    <form #fSkillsImport="ngForm">

      <!-- File -->
      <app-input-file
        [id]="'import-file-tiers'"
        [form]="fSkillsImport"
        [accept]="['.zip']"
        [size]="'sm'"
        [color]="'primary'"
        [required]="true"
        (valueChange)="this.skillsImportData.file = $event.item(0)">
      </app-input-file>

      <!-- Replace -->
      <app-input-checkbox
        [id]="'import-replace-tiers'"
        [form]="fSkillsImport"
        [(value)]="skillsImportData.replace"
        [color]="'secondary'"
        [classList]="'mt-2'"
        [label]="'Replace duplicates'"
        [labelPosition]="'right'">
      </app-input-checkbox>

    </form>
  </ng-template>
</div>

<!-- Skills -->
<div *ngIf="skillTreeInView" class="card w-full bg-base-100 shadow-xl mt-5">
    <div class="card-body">

      <!-- Header -->
      <div class="flex items-center mb-3">
        <h2 class="card-title mb-0">Skills</h2>
        <app-spinner *ngIf="getSkillTreeInfo(skillTreeInView.id).loading.skills" [size]="'sm'" [color]="'primary'" [classList]="'ml-3'"></app-spinner>
      </div>

      <!-- Top Actions -->
      <app-top-actions
        [leftActions]="[
          {action: Action.IMPORT, icon: 'jam-download'},
          {action: Action.EXPORT, icon: 'jam-upload'}
        ]"
        [rightActions]="[{action: 'Create skill', icon: 'feather-plus-circle', color: 'primary'}]"
        (btnClicked)="doAction('skills', $event)">
      </app-top-actions>

      <!-- Skills Table -->
      <app-table
        [id]="skillTreeInView.id + '-skills'"
        [classList]="'mt-5'"
        [headers]="tablesInfo.skills.headers"
        [data]="getSkillTreeInfo(skillTreeInView.id).data.skills"
        [options]="tablesInfo.skills.tableOptions"
        [loading]="loading.page"
        (btnClicked)="doActionOnTable('skills', $event.type, $event.row, $event.col)"
        (valueChanged)="doActionOnTable('skills', 'value changed', $event.row, $event.col, $event.value)">
      </app-table>

    </div>

  <!-- New / Edit Modal -->
  <app-modal *ngIf="skillMode && skillToManage"
     [id]="'skill-manage'"
     [templateRef]="SKILL_MANAGE"
     [size]="'lg'"
     [header]="skillMode?.capitalize() + ' skill'"
     [closeBtnText]="'Discard ' + (skillMode === 'create' ? 'skill' : 'changes')"
     [extraBtnText]="skillPageMode === 'editor' ? 'Preview' : 'Close Preview'"
     [extraBtnColor]="'secondary'"
     [extraBtnOutline]="true"
     [extraBtnDisabled]="!skillToManage.page"
     [submitBtnText]="skillMode === 'create' ? skillMode?.capitalize() + ' skill' : 'Save'"
     [actionInProgress]="getSkillTreeInfo(skillTreeInView.id).loading.skills"
     (submitBtnClicked)="fSkill.onSubmit(null); skillMode === 'create' ? createSkill() : editSkill()"
     (extraBtnClicked)="skillPageMode = skillPageMode === 'preview' ? 'editor' : 'preview'"
     (onClose)="resetSkillToManage()">
  </app-modal>

  <ng-template #SKILL_MANAGE>
    <form #fSkill="ngForm">

      <div class="flex flex-wrap">

        <!-- Tier -->
        <div class="w-full sm:w-1/3 sm:pr-3">
          <app-input-select
            [id]="'skill-tier'"
            [form]="fSkill"
            [(value)]="skillToManage.tierID"
            [options]="getTierOptions()"
            [placeholder]="'Select a tier'"
            [topLabel]="'Tier'"
            [required]="true"
            [helperText]="'Tier skill belongs'"
            [helperPosition]="'right'">
          </app-input-select>
        </div>

        <!-- Name -->
        <div class="w-full sm:w-1/3 sm:pr-3 mt-3 sm:mt-0">
          <app-input-text
            [id]="'skill-name'"
            [form]="fSkill"
            [(value)]="skillToManage.name"
            [placeholder]="'Skill name'"
            [topLabel]="'Name'"
            [required]="true"
            [helperText]="'Name for skill'"
            [helperPosition]="'right'">
          </app-input-text>
        </div>

        <!-- Color -->
        <div class="w-full sm:w-1/3 mt-3 sm:mt-0">
          <app-input-color
            [id]="'skill-color'"
            [form]="fSkill"
            [(value)]="skillToManage.color"
            [placeholder]="'Skill color'"
            [topLabel]="'Color'"
            [helperText]="'Color to differentiate skills'"
            [helperPosition]="'left'">
          </app-input-color>
        </div>

      </div>

      <div class="w-full pt-2 mt-3">
        <app-input-rich-text *ngIf="skillPageMode === 'editor'"
          [id]="'skill-description'"
          [classList]="'h-96'"
          [title]="'Skill page description'"
          [helperText]="'Detailed description for this skill'"
          [helperPosition]="'right'"
          [placeholder]="'Write here the future page for this skill\'s description...'"
          [container]="'editor'"
          [courseFolder]="courseFolder + '/skills'"
          [subfolderToOpen]="skillToManage.name ? skillToManage.name.swapNonENChars().noWhiteSpace('') : null"
          [moduleId]="'skills'"
          [init]="skillToManage.page"
          (valueChange)="skillToManage.page = $event">
        </app-input-rich-text>

        <div *ngIf="skillPageMode === 'preview'">
          <span class="label-text text-lg font-semibold">Description preview</span>
          <div class="prose max-w-[95ch] mt-3 p-4" [innerHTML]="skillToManage.page | sanitizeHTML"></div>

        </div>

      </div>

      <div *ngIf="skillToManage.tierID && showDependencies()">
        <!-- Add dependency -->
        <div class="w-full md:w-2/3 mt-5">
          <form #fDependency="ngForm">
            <app-input-select
              [id]="'skill-dependencies'"
              [form]="fDependency"
              [(value)]="dependency"
              [options]="getDependencyOptions()"
              [placeholder]="'Select skills for dependency'"
              [multiple]="true"
              [closeOnSelect]="false"
              [topLabel]="'Dependencies'"
              [btnText]="'Add'"
              [required]="true"
              [helperText]="'Combination of skills that need to be earned first'"
              [helperPosition]="'right'"
              (valueChange)="dependency = $event ?? []"
              (btnClicked)="addDependency()">
            </app-input-select>
          </form>
        </div>

        <!-- Dependencies -->
        <div class="w-full mt-3">
          <div *ngFor="let dep of skillToManage.dependencies; let i = index" class="prose flex items-center">
            <div class="tooltip tooltip-right" data-tip="Remove">
              <button type="button" class="btn btn-sm btn-ghost btn-circle h-8 w-8" (click)="removeDependency(i)">
                <ng-icon name="feather-x" size="1.3rem" class="text-error"></ng-icon>
              </button>
            </div>
            {{getComboText(dep)}}
          </div>
          <span *ngIf="skillToManage.dependencies.length === 0" class="italic text-sm text-info">No dependencies added</span>
        </div>
      </div>

    </form>
  </ng-template>

  <!-- Delete Verification Modal -->
  <app-simple-modal *ngIf="skillToDelete"
    [id]="'skill-delete-verification'"
    [title]="'Delete skill'"
    [text]="'Are you sure you want to delete skill \'' + skillToDelete?.name + '\' ? You won\'t be able to undo this action.'"
    [submitBtnText]="'Delete'"
    [submitBtnColor]="'error'"
    [actionInProgress]="getSkillTreeInfo(skillTreeInView.id).loading.skills"
    (submitBtnClicked)="deleteSkill(skillToDelete)"
    (onClose)="closeDiscardModal()">
  </app-simple-modal>

  <!-- Import Modal -->
  <app-modal
    [id]="'skill-import'"
    [templateRef]="SKILL_IMPORT"
    [header]="'Import Skills'"
    [submitBtnText]="'Import'"
    [actionInProgress]="getSkillTreeInfo(skillTreeInView.id).loading.skills"
    (submitBtnClicked)="fSkillsImport.onSubmit(null); importSkills()"
    (onClose)="resetImport()">
  </app-modal>

  <ng-template #SKILL_IMPORT>
    <div class="prose flex items-center gap-1 mb-3">
      <p class="mb-0">Upload a .ZIP file containing skill information</p>
      <app-import-helper
        [id]="'import-helper-skills'"
        [format]="'.zip'"
        [requirements]="[]"
      >
      </app-import-helper>
    </div>

    <form #fSkillsImport="ngForm">

      <!-- File -->
      <app-input-file
        [id]="'import-file-skills'"
        [form]="fSkillsImport"
        [accept]="['.zip']"
        [size]="'sm'"
        [color]="'primary'"
        [required]="true"
        (valueChange)="this.skillsImportData.file = $event.item(0)">
      </app-input-file>

      <!-- Replace -->
      <app-input-checkbox
        [id]="'import-replace-skills'"
        [form]="fSkillsImport"
        [(value)]="skillsImportData.replace"
        [color]="'secondary'"
        [classList]="'mt-2'"
        [label]="'Replace duplicates'"
        [labelPosition]="'right'">
      </app-input-checkbox>

    </form>
  </ng-template>

</div>

<!-- Skill Tree Preview -->
<div *ngIf="skillTreeInView"  class="card w-full bg-base-100 shadow-xl mt-5">
  <div class="card-body overflow-x-auto">

    <!-- Header -->
    <div class="flex items-center mb-3">
      <h2 class="card-title mb-0">Preview</h2>
    </div>

    <!-- Skill Tree -->
    <div class="flex flex-col w-full lg:flex-row">
      <ng-container *ngFor="let tier of getSkillTreeInfo(skillTreeInView.id).tiers; let first = first">
        <ng-container *ngIf="!tier.isActive"></ng-container>

        <ng-container *ngIf="tier.isActive">
          <!-- Divider -->
          <div *ngIf="!first" class="divider lg:divider-horizontal"></div>

          <!-- Tier -->
          <div class="grid flex-grow h-fit p-2 place-items-center">
            <span class="text-center text-primary font-semibold mb-2">{{tier.name}}: {{tier.reward}} XP</span>

            <!-- Skill -->
            <div class="flex flex-wrap flex-row justify-center items-start lg:items-center w-full lg:flex-col">
              <div *ngFor="let skill of filterSkillsByTier(getSkillTreeInfo(skillTreeInView.id).skills, tier.id)" class="flex flex-col justify-center m-2">

                <!-- Skill box -->
                <div class="flex justify-center">
                  <div class="w-20 h-20 p-2 rounded-lg hover:cursor-pointer hover:outline hover:outline-offset-2"
                       [ngStyle]="{'background-color': skill.color, 'outline-color': skill.color}" (click)="goToSkillPage(skill)">
                    <span class="block text-white font-semibold text-xs break-words">{{skill.name}}</span>
                    <ng-icon *ngIf="skill.isCollab" class="absolute bottom-0 right-0 mr-2 mb-2 text-base-100" name="tabler-users" size="1.1rem"></ng-icon>
                  </div>
                </div>

                <!-- Skill dependencies -->
                <div *ngIf="skill.dependencies.length > 0" class="mt-1 lg:mb-5">
                  <p *ngFor="let combo of skill.dependencies; let last = last" class="prose text-xs text-center" [ngClass]="{'mb-0.5': !last}">{{getComboText(combo)}}</p>
                </div>

              </div>
            </div>

          </div>
        </ng-container>

      </ng-container>
    </div>

  </div>
</div>

<!-- Loader -->
<div class="w-full flex justify-center">
  <app-spinner *ngIf="loading.page" [size]="'md'" [color]="'primary'"></app-spinner>
</div>



<!--<ng-container *ngFor="let info of getSkillTreeInfo()">-->
<!--  &lt;!&ndash; Skills &ndash;&gt;-->
<!--  <div *ngIf="info.tiers?.length > 0" class="section skills-section">-->
<!--    <div class="divider">-->
<!--      <div class="title"><span>Skills</span></div>-->
<!--    </div>-->

<!--    <div class="skills content">-->

<!--      &lt;!&ndash; Skills List &ndash;&gt;-->
<!--      <div id="skills-list">-->
<!--        <div class="data-table">-->

<!--          <table *ngIf="info.skills?.length > 0" id="listing-table-skills">-->
<!--            &lt;!&ndash; Header &ndash;&gt;-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>Tier</th>-->
<!--              <th>Name</th>-->
<!--              <th>Dependencies</th>-->
<!--              <th>Color</th>-->
<!--              <th>XP</th>-->
<!--              <th class="check-column">Collab</th>-->
<!--              <th class="check-column">Extra</th>-->
<!--              <th class="check-column">Active</th>-->
<!--              <th class="action-column"></th>-->
<!--              <th class="action-column"></th>-->
<!--              <th class="action-column"></th>-->
<!--              <th class="action-column"></th>-->
<!--              <th class="action-column"></th>-->
<!--            </tr>-->
<!--            </thead>-->

<!--            &lt;!&ndash; Body &ndash;&gt;-->
<!--            <tbody>-->
<!--            <tr *ngFor="let skill of info.skills">-->
<!--              <td><span>{{getTier(skill.tierID).name}}</span></td>-->
<!--              <td><span>{{skill.name}}</span></td>-->
<!--              <td><span>{{getDependenciesText(skill.dependencies)}}</span></td>-->
<!--              <td>-->
<!--                <div class="color">-->
<!--                  <div class="color-sample">-->
<!--                    <div class="box" [ngStyle]="{'backgroundColor': skill.color}"></div>-->
<!--                  </div>-->
<!--                  <div>{{skill.color}}</div>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td><span>{{getTier(skill.tierID).reward}}</span></td>-->
<!--              <td class="check-column">-->
<!--                <label class="switch">-->
<!--                  <input type="checkbox" [checked]="skill.isCollab" (change)="toggleSkill(skill.id, 'isCollab')">-->
<!--                  <span class="slider round"></span>-->
<!--                </label>-->
<!--              </td>-->
<!--              <td class="check-column">-->
<!--                <label class="switch">-->
<!--                  <input type="checkbox" [checked]="skill.isExtra" (change)="toggleSkill(skill.id, 'isExtra')">-->
<!--                  <span class="slider round"></span>-->
<!--                </label>-->
<!--              </td>-->
<!--              <td class="check-column">-->
<!--                <label class="switch">-->
<!--                  <input type="checkbox" [checked]="skill.isActive" (change)="toggleSkill(skill.id, 'isActive')">-->
<!--                  <span class="slider round"></span>-->
<!--                </label>-->
<!--              </td>-->
<!--              <td class="action-column">-->
<!--                <div *ngIf="skill.page" class="icon preview_icon" title="Preview" (click)="goToSkillPage(skill.id)"></div>-->
<!--              </td>-->
<!--              <td class="action-column">-->
<!--                <div class="icon edit_icon" title="Edit" (click)="mode = 'edit'; infoSelected = info; initEditSkill(skill); isSkillModalOpen = true; initTextEditor()"></div>-->
<!--              </td>-->
<!--              <td class="action-column">-->
<!--                <div class="icon delete_icon" title="Remove" (click)="infoSelected = info; skillToDelete = skill; isDeleteVerificationModalOpen = true"></div>-->
<!--              </td>-->
<!--              <td class="action-column">-->
<!--                <div *ngIf="skill.position != 0" class="icon up_icon" title="Move up" (click)="moveSkill(skill, 1)"></div>-->
<!--              </td>-->
<!--              <td class="action-column">-->
<!--                <div *ngIf="skill.position != getSkillsOfTier(skill.tierID).length - 1" class="icon down_icon" title="Move down" (click)="moveSkill(skill, -1)"></div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->

<!--          <div *ngIf="info.skills.length === 0" class='error_box'>-->
<!--            <div id='empty_table_skills' class='error_msg'>No skills found</div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; Action Buttons &ndash;&gt;-->
<!--      <div class="action-buttons">-->
<!--        <div class="icon add_icon" title="New" (click)="mode = 'add'; isSkillModalOpen = true; infoSelected = info; initTextEditor()"></div>-->
<!--        <div class="icon import_icon" title="Import" (click)="this.isImportModalOpen = true"></div>-->
<!--        <div class="icon export_icon" title="Export All" (click)="exportAllSkills()"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Skill Tree &ndash;&gt;-->
<!--  <div *ngIf="info.tiers?.length > 0 && info.skills?.length > 0" class="section skills-tree-section">-->
<!--    <div class="divider">-->
<!--      <div class="title"><span>Skill Tree</span></div>-->
<!--    </div>-->

<!--    <div class="content">-->
<!--      <div class="row">-->
<!--        <div class="row" style="float: left; width: 100%">-->
<!--          <div *ngFor="let tier of info.tiers" class="block tier column" style="float: left" [ngStyle]="{'width': 100 / info.tiers.length + '%'}">-->
<!--            {{tier.name}}: {{tier.reward}} XP-->
<!--            <div *ngFor="let skill of filterSkillsByTier(info.skills, tier.id)" class="block skill" style="color: #ffffff; width: 60px; height:60px"-->
<!--                 [ngStyle]="{'backgroundColor': skill.color}">-->
<!--              <span style="font-size: 80%; overflow-wrap:anywhere;">{{skill.name}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->

<!--&lt;!&ndash; Loader &ndash;&gt;-->
<!--<div *ngIf="loading" id="page-loading">-->
<!--  <img src="../../../../../../../../../../assets/loader/loader.gif" alt="loader">-->
<!--</div>-->


<!--&lt;!&ndash; New / Edit Skill Modal &ndash;&gt;-->
<!--<ng-container *ngIf="isSkillModalOpen">-->
<!--&lt;!&ndash;  <app-modal&ndash;&gt;-->
<!--&lt;!&ndash;    [isOpen]="isSkillModalOpen"&ndash;&gt;-->
<!--&lt;!&ndash;    [id]="mode === 'add' ? 'new-skill' : 'edit-skill'"&ndash;&gt;-->
<!--&lt;!&ndash;    [templateRef]="skillModal"&ndash;&gt;-->
<!--&lt;!&ndash;    [width]="'calc(100% - 200px)'"&ndash;&gt;-->
<!--&lt;!&ndash;    (closeBtnClicked)="isSkillModalOpen = false; clearObject(newSkill); selectedDependency1 = null; selectedDependency2 = null; infoSelected = null"&ndash;&gt;-->
<!--&lt;!&ndash;    [actionInProgress]="saving"&ndash;&gt;-->
<!--&lt;!&ndash;    [innerClickEvents]="false">&ndash;&gt;-->
<!--&lt;!&ndash;  </app-modal>&ndash;&gt;-->
<!--</ng-container>-->

<!--<ng-template #skillModal>-->
<!--  &lt;!&ndash; Title &ndash;&gt;-->
<!--  <div class="title">{{mode === 'add' ? 'New Skill:' : 'Edit Skill:'}}</div>-->

<!--  <div class="content">-->
<!--    <div class="inputs">-->

<!--      <div class="row_inputs">-->
<!--        &lt;!&ndash; Tier &ndash;&gt;-->
<!--        <div class="third">-->
<!--          <select class="form__input" id="skill-tier" [(ngModel)]="newSkill.tierID">-->
<!--            <option [value]="null" disabled>Select a Tier</option>-->
<!--            <option *ngFor="let tier of infoSelected.tiers" [value]="tier.id">{{tier.name}}</option>-->
<!--          </select>-->
<!--        </div>-->

<!--        &lt;!&ndash; Name &ndash;&gt;-->
<!--        <div class="third">-->
<!--          <input type="text" class="form__input" id="skill-name" placeholder="Name" [(ngModel)]="newSkill.name" [required]="true">-->
<!--          <label for="skill-name" class="form__label">Name</label>-->
<!--        </div>-->

<!--        &lt;!&ndash; Color &ndash;&gt;-->
<!--        <app-input-color-->
<!--          [id]="'color-picker'"-->
<!--          [(value)]="newSkill.color">-->
<!--        </app-input-color>-->
<!--      </div>-->

<!--      <ng-container *ngIf="newSkill.tierID && !getTier(newSkill.tierID).isWildcard() && getTier(newSkill.tierID).position > 0">-->
<!--        &lt;!&ndash; Add dependencies &ndash;&gt;-->
<!--        <div [id]="'add_dependencies'" class="full">-->
<!--          <span style="margin-right: 30px; white-space: nowrap">New Dependency: </span>-->
<!--          <select [id]="'skill1'" class="form__input" name="skill1" style="margin-bottom: 0; margin-right: 30px" [(ngModel)]="selectedDependency1">-->
<!--            <option [value]="null" disabled selected>Select Skill 1</option>-->
<!--            <option *ngFor="let skill of filterSkillsForDependencies(mode === 'add' ? null : skillToEdit.id, getTier(newSkill.tierID))" [ngValue]="skill">{{skill.name}}</option>-->
<!--          </select>-->
<!--          <select [id]="'skill2'" class="form__input" name="skill2" style="margin-bottom: 0; margin-right: 20px" [(ngModel)]="selectedDependency2">-->
<!--            <option [value]="null" disabled selected>Select Skill 2</option>-->
<!--            <option *ngFor="let skill of filterSkillsForDependencies(mode === 'add' ? null : skillToEdit.id, getTier(newSkill.tierID))" [ngValue]="skill">{{skill.name}}</option>-->
<!--          </select>-->
<!--          <button (click)="addSkillDependency(selectedDependency1, selectedDependency2)">Add</button>-->
<!--        </div>-->

<!--        &lt;!&ndash; Dependencies list &ndash;&gt;-->
<!--        <div class="full" style="margin-bottom: 30px">-->
<!--          <span style="margin-right: 10px;">Dependencies: </span>-->
<!--          <ng-container *ngFor="let combo of newSkill.dependencies">-->
<!--            <div (click)="removeSkillDependency(combo)" class="role_tag">{{getComboText(combo)}}</div>-->
<!--          </ng-container>-->
<!--        </div>-->
<!--      </ng-container>-->

<!--      <div id="editor" style="height: 400px">-->
<!--        <app-input-rich-text-->
<!--          [id]="'skill-description'"-->
<!--          [placeholder]="'Add the skill page here...'"-->
<!--          [container]="'editor'"-->
<!--          [courseFolder]="courseFolder"-->
<!--          [whereToStore]="'skills/' + (newSkill.name ? newSkill.name.swapNonENChars().noWhiteSpace('_') : '')"-->
<!--          [init]="newSkill.page"-->
<!--          [canInit]="skillModalRendered"-->
<!--          (valueChange)="newSkill.page = $event">-->
<!--        </app-input-rich-text>-->
<!--      </div>-->
<!--    </div>-->

<!--    <button *ngIf="mode === 'edit'" class="cancel" (click)="isSkillModalOpen = false; clearObject(newSkill); selectedDependency1 = null; selectedDependency2 = null; infoSelected = null;">Cancel</button>-->
<!--    <button class="save_btn" [disabled]="!isReadyToSubmit()" (click)="mode === 'add' ? createSkill() : editSkill()">Save</button>-->
<!--    <button class="preview_btn" (click)="isSkillPreviewModalOpen = true">Preview</button>-->
<!--  </div>-->
<!--</ng-template>-->


<!--&lt;!&ndash; Delete Verification Modal &ndash;&gt;-->
<!--<ng-container *ngIf="isDeleteVerificationModalOpen">-->
<!--&lt;!&ndash;  <app-verification-modal&ndash;&gt;-->
<!--&lt;!&ndash;    [isModalOpen]="isDeleteVerificationModalOpen"&ndash;&gt;-->
<!--&lt;!&ndash;    [id]="'delete-verification'"&ndash;&gt;-->
<!--&lt;!&ndash;    [text]="'Are you sure you want to delete the Skill?'"&ndash;&gt;-->
<!--&lt;!&ndash;    [target]="'Skill: ' + skillToDelete.name"&ndash;&gt;-->
<!--&lt;!&ndash;    [positiveBtnText]="'Delete'"&ndash;&gt;-->
<!--&lt;!&ndash;    (positiveBtnClicked)="deleteSkill()"&ndash;&gt;-->
<!--&lt;!&ndash;    (negativeBtnClicked)="skillToDelete = null; isDeleteVerificationModalOpen = false"&ndash;&gt;-->
<!--&lt;!&ndash;    (closeBtnClicked)="isDeleteVerificationModalOpen = false"&ndash;&gt;-->
<!--&lt;!&ndash;    [actionInProgress]="saving">&ndash;&gt;-->
<!--&lt;!&ndash;  </app-verification-modal>&ndash;&gt;-->
<!--</ng-container>-->


<!--&lt;!&ndash; Skill Preview Modal &ndash;&gt;-->
<!--<ng-container *ngIf="isSkillPreviewModalOpen">-->
<!--&lt;!&ndash;  <app-modal&ndash;&gt;-->
<!--&lt;!&ndash;    [isOpen]="isSkillPreviewModalOpen"&ndash;&gt;-->
<!--&lt;!&ndash;    [id]="'skill-preview'"&ndash;&gt;-->
<!--&lt;!&ndash;    [templateRef]="skillPreview"&ndash;&gt;-->
<!--&lt;!&ndash;    [width]="'calc(100% - 200px)'"&ndash;&gt;-->
<!--&lt;!&ndash;    (closeBtnClicked)="isSkillPreviewModalOpen = false"&ndash;&gt;-->
<!--&lt;!&ndash;    [innerClickEvents]="false">&ndash;&gt;-->
<!--&lt;!&ndash;  </app-modal>&ndash;&gt;-->
<!--</ng-container>-->

<!--<ng-template #skillPreview>-->
<!--  <div [innerHTML]="newSkill.page"></div>-->
<!--</ng-template>-->
