# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/vendor

# IDEs and editors
/.idea
/autogame/.idea/
/modules/profiling/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/nbproject
/nbproject/private/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
npm-debug.log
yarn-error.log
/logs/
/cache/
/.phpunit.result.cache
/temp/
config.php
config.production.php
setup.done
/crontab.txt
/modules/composer.json
/models/GameCourse/Views/Dictionary/libraries/ProvidersLibrary.php

# System Files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Course & User data
/course_data/
/user_data/

# AutoGame
autogame/imported-functions/*/
!/autogame/config/
/autogame/config/**
!/autogame/config/samples
!/autogame/config/samples/**
/inc/config_testing.php
