<div class="navbar">

  <!-- Logo -->
  <a class="logo" [routerLink]="'/'"></a>

  <!-- User Info -->
  <div *ngIf="!isDocs" class="user_info">

    <!-- Configurable Area FIXME: make configurable in modules -->
    <div *ngIf="course && hasTokensEnabled && isStudent" class="user_tokens">
      <span>{{tokens}}</span>
      <img src="{{tokensImg}}" alt="token image">
    </div>

    <ng-container *ngIf="user">
      <div class="user_id">{{user.username}}</div>
      <a class="icon" id="user_icon" [routerLink]="'/my-info'"><img [src]="photo.get()" alt=""></a>
      <a class="icon" id="user_exit" (click)="logout()"></a>
    </ng-container>
  </div>

  <!-- Navigation -->
  <ul class="menu" [ngClass]="{'documentation': isDocs}">
    <li *ngFor="let nav of navigation" [ngClass]="{'dropdown': nav.children?.length > 0}">
      <a *ngIf="nav.link" [routerLink]="nav.link" [routerLinkActive]="'active focused'">{{nav.name}}</a>
      <a *ngIf="!nav.link">{{nav.name}}</a>
      <div *ngIf="nav.children" class="dropdown-content">
        <a *ngFor="let subNav of nav.children" [routerLink]="subNav.link">{{subNav.name}}</a>
      </div>
    </li>
  </ul>

</div>

<!-- Course Banner -->
<div *ngIf="course" id="course_name" [ngStyle]="{'background-color': course.color}">{{course.name}}</div>
