<div class="navbar">

  <!-- Logo -->
  <a class="logo" [routerLink]="'/'"></a>

  <!-- User Info -->
  <div *ngIf="user" class="user_info">
    <div class="user_id">{{user.username}}</div>
    <a class="icon" id="user_icon" [ngStyle]="{'background-image': 'url(' + user.photoUrl + ')'}" [routerLink]="'myInfo'"></a>
    <a class="icon" id="user_exit" (click)="logout()"></a>
  </div>

  <!-- Menu -->
  <ul class="menu">
    <li *ngFor="let link of mainNavigation" class="{{link.class}}">
      <a *ngIf="link.sref" [routerLink]="link.sref" [routerLinkActive]="'active focused'">{{link.text}}</a>
      <a *ngIf="!link.sref">{{link.text}}</a>
      <div *ngIf="link.children" class="dropdown-content">
        <a *ngFor="let sublink of link.children" [routerLink]="sublink.sref">{{sublink.text}}</a>
      </div>
    </li>
  </ul>

</div>
